@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir.woff2') format('woff2'),
  url('../fonts/Avenir.woff') format('woff');
}

.myh1, .myh2, .myh3, .myh4 {
  color: #0062A0;
  font-family: 'Avenir', arial, sans-serif;
}

p, span {
  color: black;
  font-family: 'Avenir', arial, sans-serif;
  font-size: 11pt;
}

li {
  font-size: 11pt;
}

html, body {
  height: 100%;
  background: #ffffff !important;
  font-family: 'Avenir', arial, sans-serif;
}

/* placeholder hyperlinks */
a:not([href]) {
  cursor: pointer;
}

a:link {
  color: #0062A0;

}

a:visited {
  color: #535486;
}

a:hover {
  color: #00A3E0;
}

.bbtop {
  margin-left: 5%;
  margin-right: 5%;
}

/*top bar and horizontal navigation*/

.topbar {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  padding-top: 7px;
  background: #1e5aab;
  background: -webkit-linear-gradient(top, #1e5aab 0%, #2888c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e5aab), to(#2888c6));
  background: linear-gradient(to bottom, #1e5aab 0%, #2888c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5aab', endColorstr='#2888c6', GradientType=0);
  width: 100%;
}

@media (min-width: 701px) {
  .topbar {
    height: 46px;
  }
}

.topmenu {
  font-family: 'Avenir', arial, sans-serif;
  font-size: 12pt;
  font-weight: bolder;
  text-decoration: none !important;
  width: 100%;
  position: relative;
  float: left;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: #92d1fa !important;
  font-size: 12pt;
  clear: left;
  position: relative;
  display: inline-block;

}

.topmenu li {
  float: left;
}

.topmenu li a {
  font-family: 'Avenir', arial, sans-serif;
  display: block;
  color: #92d1fa;
  text-align: center;
  padding: 14px 16px;
  font-size: 12pt;
  text-decoration: none !important;
  position: relative;
}

/* Change the link color to white with blue top on hover */
.topmenu li a:hover {
  background-color: white !important;
  color: #1d449c !important;
  font-size: 12pt;
  border-top: 4px solid #1d449c !important;
}

/* Change the link color to white with blue top on hover */
.topmenu a:active,
.topmenu a:focus {
  background-color: white !important;
  color: #1d449c !important;
  font-size: 12pt;
  border-top: 4px solid #1d449c !important;
}

.topbartitle {
  position: relative;
  font-family: 'Avenir', arial, sans-serif;
  top: 0;
  left: 0;
  float: left;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: lighter;
  text-align: left;
  font-size: 26px;
  color: black;
  line-height: 120%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 430px) {
  .topbartitle {
    font-size: 20px;
    line-height: 2.5em;
    margin-left: 2%;
    margin-right: 2%;
  }
}

/* headers and underlines */
hr {
  display: block;
  margin: 0.5em auto;
  border: 1px #0062A0;
  border-bottom-style: dotted;
}

/*headers*/
.myh1 {
  font-family: 'Avenir', arial, sans-serif;
  text-align: left;
  font-size: 22px;
  color: #1e428a;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 110%;
}

.myh2 {
  font-family: 'Avenir', arial, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  color: #1e428a;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 110%;
}

.myh3 {
  font-family: 'Avenir', arial, sans-serif;
  text-align: left;
  font-size: 18px;
  color: #1e428a;
  line-height: 120%;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 14px;
}

.myh4 {
  font-family: 'Avenir', arial, sans-serif;
  text-align: left;
  font-size: 16px;
  color: #1e428a;
  line-height: 160%;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 14px;
  text-decoration: none;
  font-weight: bolder;
}

.doctitle {
  font-family: 'Avenir', arial, sans-serif;
  font-style: italic;
  font-size: 11pt !important;
  text-decoration: underline;

}

.myh3bold {
  font-family: 'Avenir', arial, sans-serif;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  letter-spacing: 2px;
  color: #1D428A;
  line-height: 110%;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-top: 14px;
}

/* source of information style */
.source {
  font-style: italic;
  font-size: 10pt;
  color: #444444;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Avenir', arial, sans-serif;
}

.caption {
  font-family: 'Avenir', arial, sans-serif;
  color: #444444;
  font-size: 11px;
}

/* image title style */
.imgtitle {
  font-family: 'Avenir', arial, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  color: #444444;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5%;
}

/* quote box and text style */
.pquote {
  font-family: 'Avenir', arial, sans-serif;
  float: left;
  font-size: 12pt !important;
  color: #444444;
  width: 100%;
  background: #eeeeee;
  font-weight: lighter;
  font-style: italic;
  padding: 13px;
  margin: 0 23px 23px 0;
  line-height: 170% !important;
}

blockquote {
  margin: 0; /* gets rid of the default blockquote margin */
}

/* custom indent for lists */
.mylist {
  margin-left: 7px;
  list-style: disc inside;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 160% !important;

}

.mylist2 {
  margin-left: 7px;
  list-style-position: outside;
  line-height: 160% !important;
  font-size: 11pt;
}

/* image style */
.whiteimg {
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 730px;
  text-align: center;
}

.transimg {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 700px;
  text-align: center;
}

.myimage {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 600px;
}

.myimagesm {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

/*table formatting*/

.tuneTable {
  border: 1px solid white;
  border-collapse: collapse;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  line-height: 110% !important;
  font-size: 11pt;
  padding: 7px;
  margin-left: 5px;
}

.tuneTable td {
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 5px;
  line-height: 140% !important;
}

table, td {
  border: 1px solid white;
  border-collapse: collapse;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  line-height: 110% !important;
  font-size: 11pt;
  padding-top: 7px;
  padding-bottom: 7px;
}

th {
  background-color: #e2e2e2;
  text-align: center;
  padding: 7px 2px;
  border: 1px solid white;
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bolder !important;
}

th, td {
  font-family: 'PT Sans Narrow', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

td li {
  margin-left: 0 !important;
}

/*flexbox formatting*/

.sidebar {
  padding-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;

}

@media (max-width: 430px) {
  .sidebar {
    display: none;
  }
}

.content-secondary {
  padding-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
}

@media (max-width: 430px) {
  .content-secondary {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.flexcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0 5%;
  line-height: 140%;
}

@media (max-width: 500px) {
  .flexcontainer, .subflex {
    padding: 0 2%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.flexfoot {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.subflex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

.content-main {
  -webkit-flex-basis: 80%;
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.navcontainer {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  flex: 0 0 200px;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
}

.flexnav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

/*container for the sub-page text and fade in*/

.infocontainer {
  height: 100%;
  min-height: calc(100vh - 380px);
  padding-left: 10px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-flex-basis: 74%;
  -ms-flex-preferred-size: 74%;
  flex-basis: 74%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.fadein {
  -webkit-transition: opacity .5s linear,
  visibility .5s linear;
  transition: opacity .5s linear,
  visibility .5s linear;
}

.fadein.ng-enter {
  opacity: 0;
  visibility: hidden;
}

.fadein.ng-enter.ng-enter-active {
  opacity: 1;
  visibility: visible;
}

.fadein.ng-leave {
  opacity: 1;
  visibility: visible;
}

.fadein.ng-leave.ng-leave-active {
  opacity: 0;
  visibility: hidden;
}

/*container for hvac diagram*/
#diagram {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex-basis: 26%;
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
  border: 1px solid #dddddd !important;
  overflow: hidden;
  /*flex: 1 0 350px;
  -webkit-flex: 1 0 350px;
  -ms-flex: 1 0 350px;*/
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.mybtn {
  background-color: #C7C9C7;
  font-size: 12px;
  letter-spacing: 1px;
  color: white !important;
}

.mybtn a:hover {
  background-color: #ddd;
  color: white;
  font-weight: 500;
}

.mybtn a:active,
.mybtn a:focus {
  background-color: yellow;
  color: #1D428A !important;
  font-weight: 500;
}

/*style for the right links on homepage*/
.homeright {
  background-color: #eeeeee;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 340px;
}

.homeright img {
  float: left;
  margin: 0 10px 0 0;
}

/*mynav on left side*/

.leftnavt {
  font-size: 14px;
  color: #0062A0 !important;
  background-color: #eeeeee;
  width: 200px;
  text-decoration: none !important;

}

.leftnav {
  font-size: 14px;
  color: #0062A0 !important;
  background-color: #eeeeee;
  width: 200px;
  font-weight: 300;
  text-decoration: none !important;
}

.menu-list ul, .rtnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  text-decoration: none !important;
}

.menu-list li a, .rtnav li a {
  display: block;
  padding: 6px 0 10px 10px;
  text-decoration: none !important;

}

/* Change the link color on hover */
.menu-list li a:hover, .rtnav li a:hover {
  background-color: #00A3E0 !important;
  color: white !important;
  /*border-left-style: solid;
  border-left: solid #4b625e;
  border-left-width: 4px;*/
}

.menu-list li a:active,
.leftnav a:focus, .rtnav a:focus {
  text-decoration: none !important;
  background-color: #00A3E0 !important;
  color: white !important;
}

.menu-list li, .rtnav li {
  text-align: left;
  border-bottom: 1px solid #eeeeee;
  text-decoration: none !important;
}

.menu-list li:last-child, .rtnav li:last-child {
  border-bottom: none;
  text-decoration: none !important;
}

.nav-side-menu {
  width: 200px;
}

.nav-side-menu .toggle-btn {
  display: block;
  cursor: pointer;
  z-index: 10 !important;
  padding: 3px;
  color: #dddddd;
  width: 40px;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .navcontainer {
    z-index: 10;
  }

  .brand {
    display: none;
  }

  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  .pquote {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  #diagram {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .pquote {
    width: 100%;
  }
}

/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */

/*keeps the footer at the bottom*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  background: #ededed;
  padding: 10px;
}

#content {
  padding-bottom: 130px; /* Height of the footer element */
}

/*bb footers*/
#bluebottom {
  background: #1e5aab;
  background: -webkit-linear-gradient(top, #1e5aab 0%, #2888c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#1e5aab), to(#2888c6));
  background: linear-gradient(to bottom, #1e5aab 0%, #2888c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5aab', endColorstr='#2888c6', GradientType=0);
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 150%;
  color: white;
  text-align: center;
  font-size: 10px;
  letter-spacing: 4px;
  padding-top: 15px;
}

#footer {
  background: #eeeeee;
  width: 70%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: #1d449c;
  font-size: 10px;
  letter-spacing: 4px;
  padding-top: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.doelogo {
  float: left;
  width: 95%;

}

.bottomlinks {
  float: right;
  color: #1d449c;
  font-size: 9pt;
  font-weight: normal;
  text-decoration: none !important;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: right;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottomlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none !important;
}

.bottomlinks li {
  float: right;
}

.bottomlinks li a {
  display: block;
  color: #1d449c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

/* Change the link color to white with blue top on hover */
.bottomlinks li a:hover {
  color: #1d449c !important;
}

/*Right Navigation Settings*/
.rtnav {
  color: #0062A0;
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  border-left: 1px solid #dddddd;
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid #dddddd;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rtnav li {
  font-size: 12px;
  font-family: 'Avenir', arial, sans-serif;
}

.rtnav a {
  display: block;
  color: #0062A0;
  padding: 10px 6px;
  text-decoration: none;
}

/* Change the link color on hover */
.rtnav a:hover {
  background-color: #00A3E0;
  color: white;
  font-weight: 100;
}

.rtnav a:active,
.rtnav a:focus {
  text-decoration: none;
  background-color: #0062A0;
  color: white !important;
  font-weight: 100;
}

/* Rollovers on the Central PlantDiagram*/

#chiller:hover, #boiler:hover, #cp-pump:hover, #d-pump1:hover, #d-pump2:hover, #fan1:hover, #fan2:hover, #cp-valve:hover, #cp-valve-control:hover, #d-valve:hover, #duct1-outline:hover, #duct2-outline:hover, #diffuser1:hover, #diffuser2:hover, #terminal1:hover, #terminal2:hover, #vav:hover, #t-outline:hover, #ahu-back:hover, #cp-valve:hover, #cp-valve2:hover, #hottherm:hover, #hottherm:hover, #blrcont:hover, #ahucont:hover, #controlcont:hover, #zone1cont:hover, #zone2cont:hover, #zone3cont:hover, #zone4cont:hover {
  fill: #00A3E0 !important;
  stroke: #444444 !important;
}

#chiller:active, #boiler:active, #cp-pump:active, #d-pump1:active, #d-pump2:active, #fan1:active, #fan2:active, #cp-valve:active, #cp-valve-control:active, #d-valve:active, #duct1-outline:active, #duct2-outline:active, #diffuser1:active, #diffuser2:active, #terminal1:active, #terminal2:active, #vav:active, #t-outline:active, #ahu-back:active, #cp-valve1:active, #cp-valve2:active, #hottherm:active, #cooltherm:active, #blrcont:active, #ahucont:active, #controlcont:active, #zone1cont:active, #zone2cont:active, #zone3cont:active, #zone4cont:active {
  fill: #71C5E8 !important;
  stroke: #444444 !important;
}

#pipes:hover {
  stroke: #00A3E0 !important;
  stroke-width: 3px;
}

#pipes:active {
  stroke: #71C5E8 !important;
  fill: #71C5E8 !important;
  stroke-width: 1px;
}

.cpoff {
  fill: black !important;
  stroke: #4a9 !important;
}

.cpover {
  fill: #4a9 !important;
  stroke: black !important;
}

.cpon {
  fill: #14332e !important;
  stroke: black !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
