.leftnavt {
  font-size: 16px;
  color: #44aa99 !important;
  background-color: black;
  width: 180px;
  letter-spacing: 2px;
  padding: 10px 0 10px 10px;
}

.leftnavs {
  font-size: 14px;
  color: #44aa99 !important;
  background-color: black;
  width: 180px;
  letter-spacing: 2px;
  padding: 10px 0 10px 15px;
}

.leftnav {
  font-size: 14px;
  color: white !important;
  background-color: #282828;
  width: 180px;
  font-weight: 200;
  letter-spacing: 3px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  color: white;
}

li a {
  display: block;
  color: white;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #44aa99;
  color: white;
}

li a:active,
.leftnav a:focus {
  text-decoration: none;
  background-color: teal;
  color: black !important;
  font-weight: 500;
}

li {
  text-align: left;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

/* Central Plant Navigation */
.leftnavtcp {
  font-size: 18px;
  color: #44aa99 !important;
  background-color: black;
  width: 225px;
  letter-spacing: 2px;
  padding: 10px 0 10px 10px;
}

.leftnavscp {
  font-size: 16px;
  color: #44aa99 !important;
  background-color: black;
  width: 225px;
  letter-spacing: 2px;
  padding: 10px 0 10px 15px;
}

.leftnavcp {
  font-size: 14px;
  color: white !important;
  background-color: #282828;
  width: 225px;
  font-weight: 200;
  letter-spacing: 3px;
}

.leftnavcp {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 225px;
  color: white;
}

.leftnavcp a {
  display: block;
  color: white;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

/* Change the link color on hover */
.leftnavcp a:hover {
  background-color: #44aa99;
  color: white;
}

.leftnavcp a:active,
.leftnavcp a:focus {
  text-decoration: none;
  background-color: #44aa99;
  color: black !important;
  font-weight: 500;
}

.leftnavcp {
  text-align: left;
  border-bottom: 1px solid #555;
}

.leftnavcp:last-child {
  border-bottom: none;
}

/* Distribution Nav */
.leftnavtd {
  font-size: 18px;
  color: #ddcc77 !important;
  background-color: black;
  width: 225px;
  letter-spacing: 2px;
  padding: 10px 0 10px 10px;
  font-weight: 200;
}

.leftnavsd {
  font-size: 16px;
  color: #ddcc77 !important;
  background-color: black;
  width: 225px;
  letter-spacing: 2px;
  padding: 10px 0 10px 15px;
  font-weight: 200;
}

.leftnavd {
  font-size: 14px;
  color: white !important;
  background-color: #282828;
  width: 225px;
  font-weight: 200;
  letter-spacing: 3px;
}

.leftnavd {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 225px;
  color: white;
}

.leftnavd a {
  display: block;
  color: white;
  padding: 10px 0 10px 20px;
  text-decoration: none;
}

/* Change the link color on hover */
.leftnavd a:hover {
  background-color: #ddcc77;
  color: black;
  font-weight: 500;
}

.leftnavd a:active,
.leftnavd a:focus {
  text-decoration: none;
  background-color: #ddcc77;
  color: black !important;
  font-weight: 500;
}

.leftnavd {
  text-align: left;
  border-bottom: 1px solid #555;
}

.leftnavd:last-child {
  border-bottom: none;
}