@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype'),
        url('../fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype'),
        url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype'),
        url('../fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/DroidSerif-Regular.eot');
    src: url('../fonts/DroidSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSerif-Regular.woff2') format('woff2'),
        url('../fonts/DroidSerif-Regular.woff') format('woff'),
        url('../fonts/DroidSerif-Regular.ttf') format('truetype'),
        url('../fonts/DroidSerif-Regular.svg#DroidSerif-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/DroidSerif-Italic.eot');
    src: url('../fonts/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSerif-Italic.woff2') format('woff2'),
        url('../fonts/DroidSerif-Italic.woff') format('woff'),
        url('../fonts/DroidSerif-Italic.ttf') format('truetype'),
        url('../fonts/DroidSerif-Italic.svg#DroidSerif-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('../fonts/DroidSerif-BoldItalic.eot');
    src: url('../fonts/DroidSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSerif-BoldItalic.woff2') format('woff2'),
        url('../fonts/DroidSerif-BoldItalic.woff') format('woff'),
        url('../fonts/DroidSerif-BoldItalic.ttf') format('truetype'),
        url('../fonts/DroidSerif-BoldItalic.svg#DroidSerif-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Pt Sans Narrow';
    src: url('../fonts/PTSans-NarrowBold.eot');
    src: url('../fonts/PTSans-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-NarrowBold.woff2') format('woff2'),
        url('../fonts/PTSans-NarrowBold.woff') format('woff'),
        url('../fonts/PTSans-NarrowBold.ttf') format('truetype'),
        url('../fonts/PTSans-NarrowBold.svg#PTSans-NarrowBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pt Sans Narrow';
    src: url('../fonts/PTSans-Narrow.eot');
    src: url('../fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSans-Narrow.woff2') format('woff2'),
        url('../fonts/PTSans-Narrow.woff') format('woff'),
        url('../fonts/PTSans-Narrow.ttf') format('truetype'),
        url('../fonts/PTSans-Narrow.svg#PTSans-Narrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

.myh1,
.myh2 {
    color: #333333;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}

.myh3,
.myh4 {
    color: #CC6600;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}

.myh4 {
    color: #CC6600;
    font-family: 'Pt Sans Narrow';
}

p,
span {
    color: #333;
    font-family: 'Droid Serif';
}

.largertx {
    color: #333;
    font-family: 'Droid Serif';
    font-size: 14pt;
    line-height: 1.35;
}

body {
    color: #333;
    font-family: 'Droid Serif';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.65;
    padding: 0;
}

/* placeholder hyperlinks */
a:not([href]) {
    cursor: pointer;
}

a:link {
    color: #0062A0;

}

a:visited {
    color: #535486;
}

a:hover {
    color: #00A3E0;
}

.nreltop {
    padding-left: 3%;
    padding-right: 5%;
    background-color: #0079C5;
    height: 60px;
    border-bottom: 4px solid #005D92 !important;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.nreltitle {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none !important;
    font-size: 24pt;
    line-height: 70px;
    text-transform: uppercase !important;
    padding-left: 5px;
}

/*top bar and horizontal navigation*/

.topbar {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    padding-top: 0;
    background: #000000;
    width: 100%;
}

@media (min-width: 701px) {
    .topbar {
        height: 46px;
        background-color: #000000 !important;
    }
}

.topmenu {
    font-family: 'Pt Sans Narrow', sans-serif;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none !important;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    text-transform: uppercase !important;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 10pt;
    clear: left;
    position: relative;
    display: inline-block;

}

.topmenu li {
    float: left;
}

.topmenu li a {
    display: block;
    color: #ffffff !important;
    text-align: center;
    padding: 10px 10px;
    font-size: 10pt;
    text-decoration: none !important;
    position: relative;
}

/* Change the link color to white with blue top on hover */
.topmenu li a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 10pt;
    border-top: 4px solid #1d449c !important;
}

/* Change the link color to white with blue top on hover */
.topmenu a:active,
.topmenu a:focus {
    background-color: #ffffff !important;
    color: #000000 !important;
    font-size: 10pt;
    border-top: 4px solid #62D2FF !important;
}

.topbartitle {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: lighter;
    text-align: left;
    font-size: 26pt;
    color: #0079C5;
    line-height: 120%;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 430px) {
    .nreltitle {
        font-family: 'Pt Sans Narrow';
        font-size: 10pt;
        line-height: 110%;
        word-wrap: break-word;
    }

    .topbar {
        position: relative;
        top: 0;
        left: 0;
        float: left;
        padding-top: 0;
        background: #000000;
        width: 100%;
    }

    .hvacimage {
        display: none;
    }
}


/* headers and underlines */
hr {
    display: block;
    margin: 0.5em auto;
    border: 1px #0062A0;
    border-bottom-style: dotted;
}

/*headers*/
.myh1 {
    text-align: left;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 110%;
}

.myh2 {
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 110%;
}

.myh3 {
    text-align: left;
    font-size: 18px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 14px;
}

.myh4 {
    text-align: left;
    font-size: 18px;
    line-height: 160%;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 14px;
    text-decoration: none;
    font-weight: normal;
}

.myhome {
    font-family: 'Roboto';
    text-align: left;
    font-size: 14px;
    line-height: 160%;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 14px;
    text-decoration: none;
    font-weight: 100;
    font-style: normal;
    color: #CC6600;
}

.doctitle {
    font-family: 'Droid Serif';
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.myh3bold {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2px;
    color: #1D428A;
    line-height: 110%;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 14px;
}

/* source of information style */
.source {
    font-style: italic;
    font-size: 10pt;
    line-height: 150% !important;
    font-weight: 100;
    color: #666666;
    padding-top: 3px;
    padding-bottom: 4px;
    font-family: 'Pt Sans Narrow', sans-serif;
}

.caption {
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 11px;
}

/* image title style */
.imgtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    color: #000000;
    padding-top: 0;
    padding-bottom: 5px;
    text-align: center;
}

/* quote box and text style */
.pquote {
    font-family: 'Roboto', sans-serif;
    float: left;
    font-size: 12pt !important;
    font-style: italic;
    color: #666666;
    width: 95%;
    background: #eeeeee;
    padding: 13px;
    margin: 0 23px 23px 0;
    line-height: 150% !important;
}

/* quote box and text style */
.pquoteright {
    font-family: 'Roboto', sans-serif;
    float: right;
    font-size: 12pt !important;
    font-style: italic;
    color: #666666;
    width: 50%;
    background: #eeeeee;
    padding: 13px;
    margin: 20px 23px 23px 20px;
    line-height: 150% !important;
}

blockquote {
    margin: 5px;
    /* gets rid of the default blockquote margin */
}

/* custom indent for lists */
.mylist {
    margin-left: 7px;
    list-style: disc inside;
    text-indent: -1em;
    padding-left: 1em;
    line-height: 170% !important;
    font-size: 13px;

}

.mylist2 {
    margin-left: 7px;
    padding-left: 1em;
    line-height: 170% !important;
    font-size: 13pt !important;
    font-family: 'Droid Serif';
}

.footnote {
    margin-left: 7px;
    list-style: disc inside;
    text-indent: -1em;
    padding-left: 1em;
    line-height: 170% !important;
    font-size: 13px;

}

/* image style */
.whiteimg {
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 730px;
    text-align: center;
}

.transimg {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 700px;
    text-align: center;
}

.myimage {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    max-width: 600px;
}

.myimagesm {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

/*table formatting*/

.tuneTable {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: 'Pt Sans Narrow', sans-serif;
    font-weight: normal;
    line-height: 115% !important;
    font-size: 11pt;
    padding: 7px;
    margin-left: 5px;
}

.tuneTable td {
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 5px;
    line-height: 140% !important;
}

table,
td {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: 'Pt Sans Narrow', sans-serif;
    font-weight: normal;
    line-height: 110% !important;
    font-size: 11pt;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

th {
    background-color: #e2e2e2;
    text-align: center;
    padding: 7px 2px;
    border: 1px solid white;
    color: black;
    font-family: 'Pt Sans Narrow', sans-serif;
}

th,
td {
    font-family: 'Pt Sans Narrow', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

td li {
    margin-left: 0 !important;
}

.subtable {
    background-color: #eeeeee !important;
    text-align: left !important;
    padding: 10px !important;
    border: 20px solid white !important;
    color: black !important;
    font-family: 'Pt Sans Narrow', sans-serif !important;
}

/*flexbox formatting*/

.sidebar {
    padding-left: 10px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;

}

@media (max-width: 430px) {
    .sidebar {
        display: none;
    }
}

.content-secondary {
    padding-left: 10px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;
}

@media (max-width: 430px) {
    .content-secondary {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.flexcontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0 5%;
    line-height: 140%;
}

@media (max-width: 500px) {

    .flexcontainer,
    .subflex {
        padding: 0 2%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.flexfoot {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    width: 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.subflex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
}

.content-main {
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
}

.navcontainer {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    flex: 0 0 200px;
    -webkit-flex: 0 0 200px;
    -ms-flex: 0 0 200px;
}

.flexnav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}

/*container for the sub-page text and fade in*/

.infocontainer {
    height: 100%;
    min-height: calc(100vh - 380px);
    padding-left: 10px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex-basis: 74%;
    -ms-flex-preferred-size: 74%;
    flex-basis: 74%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.fadein {
    -webkit-transition: opacity .5s linear,
        visibility .5s linear;
    transition: opacity .5s linear,
        visibility .5s linear;
}

.fadein.ng-enter {
    opacity: 0;
    visibility: hidden;
}

.fadein.ng-enter.ng-enter-active {
    opacity: 1;
    visibility: visible;
}

.fadein.ng-leave {
    opacity: 1;
    visibility: visible;
}

.fadein.ng-leave.ng-leave-active {
    opacity: 0;
    visibility: hidden;
}

/*container for hvac diagram*/
#diagram {
    min-height: calc(100vh - 250px);
    max-height: 100vh;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex-basis: 26%;
    -ms-flex-preferred-size: 26%;
    flex-basis: 26%;
    border: 1px solid #eeeeee !important;
    overflow: hidden;
    /*flex: 1 0 350px;
  -webkit-flex: 1 0 350px;
  -ms-flex: 1 0 350px;*/
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

#svg {
    position: relative;
    transform-origin: top left;
    transition: all 1s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#svg *:focus {
    outline: none;
}


/*Contact form button and formatting*/
.mybtn {
    background-color: #0062A0;
    font-size: 18px;
    letter-spacing: 1px;
    color: white !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 40%;
}

.mybtn a:hover {
    background-color: #00A3E0;
    color: white;
    font-weight: 500;
}

.mybtn a:active,
.mybtn a:focus {
    background-color: darkgray;
    color: white !important;
    font-weight: 500;
}

input[type=text],
select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Pt Sans Narrow';
    font-size: 12pt;
}

input[type=email],
select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Pt Sans Narrow';
    font-size: 12pt;
}

input[type=text]:focus {
    background-color: gainsboro;
    font-family: 'Pt Sans Narrow';
}

input[type=email]:focus {
    background-color: gainsboro;
    font-family: 'Pt Sans Narrow';
}

input[type=textarea]:focus {
    background-color: gainsboro;
    font-family: 'Pt Sans Narrow';
}

textarea {
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Pt Sans Narrow';
}

label {
    font-family: 'Droid Serif';
    color: #333333;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
}

label:after {
    content: ": "
}


/*style for the right links on homepage*/
.homeright {
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    max-width: 340px;
}

.homeright img {
    float: left;
    margin: 0 10px 0 0;
}

/*mynav on left side*/

.leftnavt {
    font-size: 14px;
    color: #0062A0 !important;
    background-color: #eeeeee;
    width: 200px;
    text-decoration: none !important;

}

.leftnav {
    font-size: 14px;
    color: #0062A0 !important;
    background-color: #eeeeee;
    width: 200px;
    font-weight: 300;
    text-decoration: none !important;
}

.rtnavsubtitle {
    color: dimgray;
    background-color: #eeeeee;
    padding-left: 3px;
}

.menu-list ul,
.rtnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-decoration: none !important;
}

.menu-list li a,
.rtnav li a {
    display: block;
    padding: 6px 0 3px 3px;
    text-decoration: none !important;

}

/* Change the link color on hover */
.menu-list li a:hover,
.rtnav li a:hover {
    background-color: #00A3E0 !important;
    color: white !important;
    /*border-left-style: solid;
  border-left: solid #4b625e;
  border-left-width: 4px;*/
}

.menu-list li a:active,
.leftnav a:focus,
.rtnav a:focus {
    text-decoration: none !important;
    background-color: #00A3E0 !important;
    color: white !important;
}

.menu-list li,
.rtnav li {
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    text-decoration: none !important;
}

.menu-list li:last-child,
.rtnav li:last-child {
    border-bottom: none;
    text-decoration: none !important;
}

.nav-side-menu {
    width: 200px;
}

.nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    z-index: 10 !important;
    padding: 3px;
    color: #dddddd;
    width: 40px;
    text-align: center;
}

@media only screen and (min-width: 767px) {
    .navcontainer {
        z-index: 10;
    }

    .brand {
        display: none;
    }

    #diagram {
        flex-basis: 26% !important;
    }

    .nav-side-menu .menu-list .menu-content {
        display: block;
    }

    .pquote {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    #diagram {
        /*        display: none;*/
        flex-basis: 90% !important;

    }
}

@media only screen and (max-width: 1200px) {
    .pquote {
        width: 100%;
    }
}

/**
 * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
 *
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 * License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
 *
 * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
 */

/*keeps the footer at the bottom*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    margin-bottom: -115px;
    min-height: 100%;
    position: relative;
    width: 100%;
}

#header {
    background: #ededed;
    padding: 10px;
}

#content {
    padding-bottom: 120px;
    /* Height of the footer element */
    width: 100%;
}


#footer {
    background-color: #000000;
    width: 100%;
    height: 100px;
    line-height: 170%;
    color: white;
    text-align: center;
    font-size: 10px;
    letter-spacing: 4px;
    padding-top: 15px;
    overflow: hidden;
}

.doelogo {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
}

.bottomtext {
    font-family: 'Pt Sans Narrow';
    font-size: 9pt !important;
    line-height: 140%;
    padding-top: 0;
    float: left;
    color: #ffffff;
    text-align: left;
    padding-left: 50px;
    width: 70%;
    font-weight: normal;
    font-style: normal;
}


/*Right Navigation Settings*/
.rtnav {
    font-family: 'Pt Sans Narrow';
    color: #0062A0;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #dddddd;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rtnav li {
    font-size: 13px;
    font-family: 'Pt Sans Narrow';
}

.rtnav a {
    display: block;
    color: #0062A0;
    padding: 10px 6px;
    text-decoration: none;
}

/* Change the link color on hover */
.rtnav a:hover {
    background-color: #00A3E0;
    color: white;
    font-weight: 100;
}

.rtnav a:active,
.rtnav a:focus {
    text-decoration: none;
    background-color: #0062A0;
    color: white !important;
    font-weight: 100;
}

/* Rollovers on the Central PlantDiagram*/

#steamtrapht:hover,
#steamtrap:hover,
#chiller:hover,
#boiler:hover,
#cp-pump:hover,
#d-pump1:hover,
#d-pump2:hover,
#fan1:hover,
#fan2:hover,
#cp-valve:hover,
#cp-valve-control:hover,
#d-valve:hover,
#duct1-outline:hover,
#duct2-outline:hover,
#diffuser1:hover,
#diffuser2:hover,
#terminal1:hover,
#terminal2:hover,
#vav:hover,
#t-outline:hover,
#ahu_back:hover,
#ahu:hover,
#cp-valve:hover,
#cp-valve2:hover,
#hottherm:hover,
#cooltherm:hover,
#blrcont:hover,
#ahucont:hover,
#controlcont:hover,
#zone1cont:hover,
#zone2cont:hover,
#zone3cont:hover,
#zone4cont:hover,
#duct1-outline_1_:hover,
#duct1_1_:hover,
#hoodoutline:hover,
#demand_control_box:hover,
#lab_outline:hover,
#exhaust_stack:hover,
#vav_2_:hover,
#vav_1_:hover,
#occ_sensor_back:hover,
#vav_systems-outline:hover {
    fill: #F98E2D !important;
    stroke: #444444 !important;
}

#steamtrapht:active,
#steamtrap:active,
#chiller:active,
#boiler:active,
#cp-pump:active,
#d-pump1:active,
#d-pump2:active,
#fan1:active,
#fan2:active,
#cp-valve:active,
#cp-valve-control:active,
#d-valve:active,
#duct1-outline:active,
#duct2-outline:active,
#diffuser1:active,
#diffuser2:active,
#terminal1:active,
#terminal2:active,
#vav:active,
#t-outline:active,
#ahu-back:active,
#ahu:active,
#cp-valve1:active,
#cp-valve2:active,
#hottherm:active,
#cooltherm:active,
#blrcont:active,
#ahucont:active,
#controlcont:active,
#zone1cont:active,
#zone2cont:active,
#zone3cont:active,
#zone4cont:active,
#duct1-outline_1_:active,
#duct1_1_:active,
#hoodoutline:active,
#demand_control_box:active,
#lab_outline:active,
#exhaust_stack:active,
#vav_2_:active,
#vav_1_:active,
#occ_sensor_back:active,
#vav_systems-outline:active {
    fill: #00A3E0 !important;
    stroke: #444444 !important;
}

#pipes:hover {
    stroke: #F98E2D !important;
    stroke-width: 3px;
}

#pipes:active {
    stroke: #00A3E0 !important;
    fill: #00A3E0 !important;
    stroke-width: 1px;
}

#energyrecovery_x5F_pipe:hover {
    fill: #F98E2D !important;
    stroke-width: 1px;
    stroke: #F98E2D !important;
}

#energyrecovery_x5F_pipe:active {
    fill: #00A3E0 !important;
    stroke-width: 1px;
    stroke: #00A3E0 !important;
}

#er_rec_top:hover,
#er_rec_bttm:hover {
    fill: #F98E2D !important;
}

#er_rec_top:active,
#er_rec_bttm:active {
    fill: #00A3E0 !important;
}

.cpoff {
    fill: black !important;
    stroke: #4a9 !important;
}

.cpover {
    fill: #4a9 !important;
    stroke: black !important;
}

.cpon {
    fill: #14332e !important;
    stroke: black !important;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-animate {
    transition: none !important;
}

.diagram-ahu #svg {
    transform: scale(1.1);
    left: -7%;
    top: -22%;
}

.diagram-coolthermal #svg {
    transform: scale(1.7);
    left: -70%;
}

.diagram-diffuser #svg {
    transform: scale(1.2);
    left: -2%;
    top: -54%;
}

.diagram-duct #svg {
    transform: scale(1.05);
    left: -2%;
    top: -13.5%;
}

.diagram-exchanger #svg {
    transform: scale(1.05);
    left: -2%;
    top: -13.5%;
}

.diagram-expansion #svg {
    transform: scale(1.05);
    left: -2%;
    top: -13.5%;
}


.diagram-hotthermal #svg {
    transform: scale(1.7);
    left: -42%;
    top: -14%;
}

.diagram-pipe #svg {
    transform: scale(1.2);
    left: -14%;
    top: -6%;
}

.diagram-terminal #svg {
    transform: scale(1.2);
    left: -16%;
    top: -54%;
}


.diagram-valve #svg {
    transform: scale(1.2);
    left: -4px;
}

.diagram-vav #svg {
    transform: scale(1.2);
    left: -14%;
    top: -48%;
}

.diagram-laboratories-demand_vent_basics #svg {
    transform: scale(1.2);
    left: -16%;
    top: -54%;
}

.diagram-laboratories-energy_recovery_basics #svg {
    transform: scale(1.8);
    left: -16%;
    top: -56%;
}

.diagram-laboratories-exhaust_stack_basics #svg {
    transform: scale(1.2);
    top: -36%;
}

.diagram-laboratories-lab_vav_basics #svg,
.diagram-laboratories-lab_vavsystems_basics #svg {
    transform: scale(1.1);
    left: -1%;
    top: -35%;
}

.diagram-laboratories-occupancy_sensor_basics #svg {
    transform: scale(1.6);
    left: -60%;
    top: -90%;
}

.diagram-boiler #svg,
.diagram-laboratories-boiler_basics #svg,
.diagram-laboratories-codes #svg,
.diagram-laboratories-design #svg,
.diagram-laboratories-tools #svg,
.diagram-laboratories-operation #svg,
.diagram-laboratories-procure #svg,
.diagram-laboratories-cases #svg {
    transform: scale(1.7);
    top: -6%;
}

.diagram-chiller #svg,
.diagram-laboratories-chiller_basics #svg,
.diagram-laboratories-chiller_codes #svg,
.diagram-laboratories-chiller_design #svg,
.diagram-laboratories-chiller_tools #svg,
.diagram-laboratories-chiller_operation #svg,
.diagram-laboratories-chiller_procure #svg,
.diagram-laboratories-chiller_cases #svg {
    transform: scale(1.7);
    left: -70%;
    top: -7%;
}

.diagram-laboratories-ahu_basics #svg,
.diagram-laboratories-ahu_alt_hvac #svg,
.diagram-laboratories-ahu_codes #svg,
.diagram-laboratories-ahu_design_lab #svg,
.diagram-laboratories-ahu_operation_lab #svg {
    transform: scale(1.1);
    left: -7%;
    top: -22%;
}

.diagram-laboratories-cool_basics #svg {
    transform: scale(1.7);
    left: -70%;
}

.diagram-pump #svg,
.diagram-laboratories-pump_basics #svg,
.diagram-laboratories-pump_codes #svg,
.diagram-laboratories-pump_design #svg,
.diagram-laboratories-pump_tools #svg,
.diagram-laboratories-pump_operation #svg,
.diagram-laboratories-pump_procure #svg,
.diagram-laboratories-pump_cases #svg {
    transform: scale(1.6);
    left: -66%;
}

.diagram-laboratories-lab_diffuser_basics #svg {
    transform: scale(1.6);
    left: -60%;
    top: -50%;
}

.diagram-laboratories-exposure_control_basics #svg,
.diagram-laboratories-exposure_control_types #svg,
.diagram-laboratories-exposure_control_eems #svg,
.diagram-laboratories-exposure_control_tools #svg,
.diagram-laboratories-exposure_control_operations #svg {
    transform: scale(1.6);

    top: -80%;
}

.diagram-laboratories-hot_basics #svg {
    transform: scale(1.7);
    left: -42%;
    top: -14%;
}

.diagram-fan #svg,
.diagram-laboratories-fan_basics #svg,
.diagram-laboratories-fan_design #svg,
.diagram-laboratories-fan_tools #svg,
.diagram-laboratories-fan_operation #svg,
.diagram-laboratories-fan_procure #svg,
.diagram-laboratories-fan_cases #svg,
.diagram-laboratories-fan_tuneup #svg {
    transform: scale(1.8);
    left: -48%;
    top: -56%;
}

.diagram-laboratories-valve_basics #svg,
.diagram-laboratories-valve_types #svg,
.diagram-laboratories-valve_codes #svg,
.diagram-laboratories-valve_design #svg,
.diagram-laboratories-valve_tools #svg,
.diagram-laboratories-valve_operation #svg,
.diagram-laboratories-valve_cases #svg {
    transform: scale(1.2);
    left: -4px;
}

.diagram-laboratories-steamtrap_basics #svg,
.diagram-laboratories-steamtrap_tools #svg,
.diagram-steamtrap #svg {
    transform: scale(1.7);
    left: -21%;
    top: -14%;
}

.diagram-tower #svg,
.diagram-laboratories-tower_basics #svg,
.diagram-laboratories-tower_types #svg,
.diagram-laboratories-tower_codes #svg,
.diagram-laboratories-tower_design #svg,
.diagram-laboratories-tower_tools #svg,
.diagram-laboratories-tower_operation #svg,
.diagram-laboratories-tower_procure #svg,
.diagram-laboratories-tower_cases #svg {
    transform: scale(1.8);
    left: -80%;
    top: 8%;
}
