/*        body {
            font-family: 'Open Sans', sans-serif;
            }
            body, h1, h2, h3, h4, h5, h6, p, div {
            font-family: 'Open Sans', sans-serif;
            }*/

            body, .tooltip, .popover {
            font-family: 'Open Sans', sans-serif;
            }

            body {
                background: black!important;
            }
        .wrapper {
          .make-row();
        }
        .content-main {
          .make-lg-column(8);
        }
        .content-secondary {
          .make-lg-column(3);
          .make-lg-column-offset(1);
        }
        #photolayer{
            z-index: 1; 
            left: 5px; 
            top: 0px;
            max-width: 50%;
            visibility: visible;
            min-width: 30%;
            min-height: 30%;
             
        }
        .infocontainer{
            background-color: #eeeeee; 
            padding: 15px;
            margin-right: 10px;
            border-radius: 10px;
            max-width: 100%;
        }
        
        .leftnavt{
            font-size: 20px;
            color: teal!important;
            background-color: black;
            width : 225px;
            letter-spacing:2px;
            padding: 10px 0 10px 10px;
            }
            

        .leftnav{
            font-size: 16px;
            letter-spacing:1px;
            color: white!important;
            background-color: #282828;
            width : 225px;
            font-weight: 100;
            letter-spacing:3px;
            }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            color: white;
         }

        li a {
            display: block;
            color: white;
            padding: 10px 0 10px 20px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        li a:hover {
            background-color: teal;
            color: white;
        }
        li a:active,
            .leftnav a:focus {
             text-decoration: none;
                background-color: teal;
                color: white;
            }

        li {
        text-align: left;
        border-bottom: 1px solid #555;
        }

        li:last-child {
            border-bottom: none;
        }

        .topbar {
            width : 100%;
            height: 85px;
            background-color: #3d3d3d;
            border-bottom: 10px solid black;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            text-align: left;
            font-size: 48px;
            letter-spacing:4px;
            color: White;
            font-weight: 100;
            float: left;
            padding : 10px;
            line-height: 50px;
            position: relative;
        }

        .footer {
            width : 100%;
            height: 120px;
            background-color: #3d3d3d;
            position: absolute;
            text-align: center;
            font-size: 20px;
            letter-spacing:2px;
            color: White;
            font-weight: 100;
            float: left;
            padding : 50 px;
            line-height: 50px;
            position: relative;
        }

       

