/*        body {
            font-family: 'Open Sans', sans-serif;
            }
            body, h1, h2, h3, h4, h5, h6, p, div {
            font-family: 'Open Sans', sans-serif;
            }*/

            body, .tooltip, .popover {
            font-family: 'Open Sans', sans-serif;
            }

            body {
                background: black!important;
            }
/*        .wrapper {
          .make-row();
        }
        .content-main {
          .make-lg-column(3);
        }
        .content-secondary {
          .make-lg-column(2);
          .make-lg-column-offset(1);
        }*/

        .flexcontainer{
           display: flex;
            flex-flow: wrap;
            justify-content:space-between;
            flex-direction: row;
        }
        .subflexcontainer{
           display: flex;
            justify-content:space-between;
            flex-direction: row;
        }
        .content-main{
            flex-grow: 0;     
        }

        .content-secondary{
            flex-grow: 0;
        }
        .diagram{
            left: 5px; 
            top: 0px;
            max-width: 35%;
            order: 2;    
        }
        .infocontainer{
            background-color: #eeeeee; 
            padding: 20px;
            margin-right: 5px;
            order: 3;
            border-radius: 10px;
            max-width: 50%;
        }
        .navcontainer{
          order: 1;
            flex-grow: 0;
            max-width: 15%;
        }
        .leftnavt{
            font-size: 18px;
            color: #44aa99!important;
            background-color: black;
            width : 200px;
            letter-spacing:2px;
            padding: 10px 0 10px 10px;
            }
         .leftnavs{
            font-size: 16px;
            color: #44aa99 !important;
            background-color: black;
            width : 200px;
            letter-spacing:2px;
            padding: 10px 0 10px 15px;
            }

        .leftnav{
            font-size: 14px;
            letter-spacing:1px;
            color: white!important;
            background-color: #282828;
            width : 200px;
            font-weight: 200;
            letter-spacing:3px;
            }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            color: white;
         }

        li a {
            display: block;
            color: white;
            padding: 10px 0 10px 20px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        li a:hover {
            background-color: #44aa99 ;
            color: white;
        }
        li a:active,
            .leftnav a:focus {
             text-decoration: none;
                background-color: teal;
                color: black!important;
                font-weight: 500;
            }

        li {
        text-align: left;
        border-bottom: 1px solid #555;
        }

        li:last-child {
            border-bottom: none;
        }

        .topbar {
            width : 100%;
            height: 15%;
            background-color: #3d3d3d;
            border-bottom: 10px solid black;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            text-align: left;
            font-size: 38px;
            letter-spacing:4px;
            color: White;
            font-weight: 100;
            float: left;
            padding : 10px;
            line-height: 50px;
            position: relative;
        }

        .footer {
            width : 100%;
            height: 120px;
            background-color: #3d3d3d;
            position: absolute;
            text-align: center;
            font-size: 20px;
            letter-spacing:2px;
            color: White;
            font-weight: 100;
            float: left;
            padding : 50 px;
            line-height: 50px;
            position: relative;
        }
 /* Central Plant Navigation */
       .leftnavtcp{
            font-size: 18px;
            color: #44aa99!important;
            background-color: black;
            width : 225px;
            letter-spacing:2px;
            padding: 10px 0 10px 10px;
            }
         .leftnavscp{
            font-size: 16px;
            color: #44aa99!important;
            background-color: black;
            width : 225px;
            letter-spacing:2px;
            padding: 10px 0 10px 15px;
            }

        .leftnavcp{
            font-size: 14px;
            letter-spacing:1px;
            color: white!important;
            background-color: #282828;
            width : 225px;
            font-weight: 200;
            letter-spacing:3px;
            }

        .leftnavcp {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 225px;
            color: white;
         }

        .leftnavcp a {
            display: block;
            color: white;
            padding: 10px 0 10px 20px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        .leftnavcp a:hover {
            background-color: #44aa99;
            color: white;
        }
        .leftnavcp a:active,
            .leftnavcp a:focus {
             text-decoration: none;
                background-color: #44aa99;
                color: black!important;
                font-weight: 500;
            }

        .leftnavcp {
        text-align: left;
        border-bottom: 1px solid #555;
        }

        .leftnavcp:last-child {
            border-bottom: none;
        }
 /* Distribution Nav */
       .leftnavtd{
            font-size: 18px;
            color: #ddcc77!important;
            background-color: black;
            width : 225px;
            letter-spacing:2px;
            padding: 10px 0 10px 10px;
           font-weight: 200;
            }
         .leftnavsd{
            font-size: 16px;
            color: #ddcc77!important;
            background-color: black;
            width : 225px;
            letter-spacing:2px;
            padding: 10px 0 10px 15px;
            font-weight: 200;
            }

        .leftnavd{
            font-size: 14px;
            letter-spacing:1px;
            color: white!important;
            background-color: #282828;
            width : 225px;
            font-weight: 200;
            letter-spacing:3px;
            }

        .leftnavd {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 225px;
            color: white;
         }

        .leftnavd a {
            display: block;
            color: white;
            padding: 10px 0 10px 20px;
            text-decoration: none;
        }

        /* Change the link color on hover */
        .leftnavd a:hover {
            background-color: #ddcc77;
            color: black;
            font-weight: 500;
        }
        .leftnavd a:active,
            .leftnavd a:focus {
             text-decoration: none;
            background-color: #ddcc77;
            color: black!important;
            font-weight: 500;
            }

        .leftnavd {
        text-align: left;
        border-bottom: 1px solid #555;
        }

        .leftnavd:last-child {
            border-bottom: none;
        }




