.v2-tooltip {
    position:absolute;
    text-align: center;
    background:#333;
    color:rgba(255,255,255,0.7);
    padding: 5px 8px;
    font-size: 12px;
    max-width: 216px;
    box-sizing:border-box;
}
.v2-tooltip.top:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-top-color: #333;
    border-width: 5px;
    margin-left: -5px;
}
.v2-tooltip.bottom:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 5px;
    margin-left: -5px;
}