<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HVAC Resources</title>
    <link rel="shortcut icon" href="img/hvac_icon2.ico">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,greek,greek-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,600italic,700,700italic,300italic&subset=latin,greek,greek-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bbstyle.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/v2Tooltip.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-ui-router.stateHelper/statehelper.min.js"></script>
    <script src="bower_components/GreenSock-JS/src/minified/TweenMax.min.js"></script>
    <script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="controllers/app.js"></script>
</head>

<body ng-app="routerApp">
    <div id="wrapper">
        <div id="content">
            <div class="bbtop"><img src="img/logo.png" alt="Better Buildings Logo" height="122"></div>
            <div class="topbar">
                <div class="topmenu">
                    <ul>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/partnerships">Partnerships</a></li>
                        <li><a href="ttps://betterbuildingssolutioncenter.energy.gov/partner-list-program">Meet Partners</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/solutions">Solutions</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/webinars-list">Webinars</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/better-buildings-newsroom">Newsroom</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/get-involved">Get Involved</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/swap">SWAP</a></li>
                        <li><a href="https://betterbuildingssolutioncenter.energy.gov/about-better-buildings-initiative">About</a></li>

                    </ul>
                </div>
            </div>
            <div class="flexfoot">
                <div class="topbartitle">
                    HVAC Resources
                </div>
            </div>

            <div class="flexcontainer">
                <!-- COLUMN ONE NAMED VIEW -->
                <div class="navcontainer noselect">
                    <div class="nav-side-menu">
                        <div class="brand">
                            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                        </div>
                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li>
                                    <a href="#/" class="leftnavt">HVAC HOME</a>
                                </li>

                                <li data-toggle="collapse" data-target="#centralplant" class="collapsed">
                                    <a href="#/central_plant" class="leftnavt"> CENTRAL PLANT <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></a>
                                </li>

                                <li>
                                    <ul class="sub-menu collapse" id="centralplant">
                                        <li class="leftnav"><a href="#/chiller/basics">Chiller</a></li>
                                        <li class="leftnav"><a href="#/boiler/basics">Boiler</a></li>
                                        <li class="leftnav"><a href="#/tower/basics">Cooling Tower</a></li>
                                        <li class="leftnav"><a href="#/pump/basics">Pump</a></li>
                                        <li class="leftnav"><a href="#/cool_thermal/basics">Cool Thermal Energy Storage</a></li>
                                        <li class="leftnav"><a href="#/hot_thermal/basics">Hot Thermal Energy Storage</a></li>
                                        <li class="leftnav"><a href="#/exchanger/basics">Heat Exchanger</a></li>
                                        <li class="leftnav"><a href="#/expansion_tank/basics">Expansion Tank</a></li>
                                        <li class="leftnav"><a href="#/sensors_controls/basics">Sensors & Controls</a></li>
                                        <li class="leftnav"><a href="#">Cogeneration Design</a></li>
                                    </ul>
                                </li>

                                <li data-toggle="collapse" data-target="#distributions" class="collapsed">
                                    <a href="#/distribution_system" class="leftnavt"> DISTRIBUTION SYSTEM <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i> <span class="arrow"></span></a>
                                </li>

                                <li>
                                    <ul class="sub-menu collapse" id="distributions">
                                        <li class="leftnav"><a href="#/pipe/basics">Piping</a></li>
                                        <li class="leftnav"><a href="#/valve/basics">Valves</a></li>
                                        <li class="leftnav"><a href="#/ahu/basics">Air Handling Unit</a></li>
                                        <li class="leftnav"><a href="#/fan/basics">Fans</a></li>
                                        <li class="leftnav"><a href="#/duct/basics">Ducting</a></li>
                                        <li class="leftnav"><a href="#/vav/basics">VAV Boxes</a></li>
                                        <li class="leftnav"><a href="#/terminal/basics">Terminal Units</a></li>
                                        <li class="leftnav"><a href="#/diffuser/basics">Diffusers</a></li>
                                        <li class="leftnav"><a href="#">Steam Traps</a></li>
                                    </ul>
                                </li>

                                <li data-toggle="collapse" data-target="#loads" class="collapsed" ng-click="toggle()">
                                    <a href="#/space_loads" class="leftnavt"> SPACE LOADS <span class="arrow"></span></a>
                                </li>

                                <li data-toggle="collapse" data-target="#contributors" class="collapsed" ng-click="toggle()">
                                    <a href="#/contributors" class="leftnavt"> CONTRIBUTORS <span class="arrow"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- COLUMN TWO NAMED VIEW -->
                <!-- SVG Content Here ============================== -->
                <div id="diagram" class="noselect" alt="Diagram of HVAC system showing the heating and cooling loop as part of the central plant and the distribution system." ng-include="'img/labdiagram2.svg'"></div>

                <!-- COLUMN Three NAMED VIEW -->
                <div class="infocontainer">
                    <!-- Page Content Here ============================== -->
                    <div ui-view class="fadein"></div>
                </div>
            </div>
        </div>


        <div id="footer">
            <img src="img/doe-logo.png" alt="Department of Energy Logo" height="43">
            <span align="right">ABOUT CONTACT US</span>
        </div>

    </div>
</body>

</html>
