<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rtcodes,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #ahu_back {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.1, 1.1);
        transform-origin: 70% 240%;
        transition: all 1.7s ease-in-out;
    }

</style>

<div class="myh2">Air Handling Units: Alternative HVAC</div>

<span class="myh3">Minimizing Reheat in Laboratories</span>

<p>
    Reheating air that has been overcooled to meet the sensible and latent cooling needs of other spaces in a laboratory building can consume large amounts of energy. For this reason, there are alternative, more energy efficient HVAC systems available to minimize or eliminate reheat.
</p>

<p>The primary operating mechanism for these systems is the decoupling of the heating or cooling load from ventilation. The following technologies operate using such systems.</p>
<br>

<ul>
    <li><b>Zone cooling and heating coils (ZC):</b> The system has a single tempered supply air stream, and zone heating and cooling coils or a zone level heat pump located in the supply air ductwork to the lab provide the primary heating and cooling. The temperature of the tempered air stream will be adjusted to minimize or eliminate the requirement for any zone reheat, typically 55 to 72&#8457;.</li>
    <li><b>Ventilation air with local fan coils (FC):</b> Similar to zone cooling and heating coils except that heating and cooling occurs with fan coil units instead of being directly attached to the ventilation stream. If the fan-coil is properly implemented there will be no mixing of air between any air-zones.</li>
    <li><b>Ventilation air with radiant cooling (RC) or chilled beams:</b> This system uses a tempered supply air stream for ventilation. Radiant panels or chilled beams provide space cooling. Zone heating coils located in the supply air stream provide space heating. The chilled beams decouples space conditioning load from ventilation load by relying on a cold water piping system that circulates water through integral cooling coils. Care should be taken to ensure the chilled beams are maintained a couple degrees above the space dewpoint to avoid any chance of condensation.</li>
    <li><b>Dual-duct with terminal heating (DDTH):</b>Two separate variable volume supply air streams. Ones with tempered air, and one with cool air, typically around 55&#8457;. A mixing box just upstream of a lab’s supply diffusers will adjust airflows from these two air streams based on the space temperature. More cold air will be used as the cooling load in the space increases. DDTH system can be more expensive than other system options and therefore are seldom used.</li>
</ul>
<p>More information can be found in the document Minimizing Reheat Energy Use is Laboratories.</p>
