<div class="myh2">Energy Efficiency Measures</div>

<p>The key components of AHU design are fans, coils and filters. Decisions made upfront regarding their design can significantly influence the overall energy use of the
  AHU during its operation. Low pressure drop design is crucial especially for AHUs with long run hours like labs. Refer to the Labs 21 report on
  <a class="doctitle" href="http://www.i2sl.org/documents/toolkit/bp_lowpressure_508.pdf" target="_blank" >‘Low pressure HVAC design for laboratories’</a> for more details. </p>

<p><span class="myh3">Fans</span>
    <br>
The fan should be able to meet the required airflow/pressure while adhering to design constraints of space and acoustic requirement. A <a class="doctitle"
   href="http://apps1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf" target="_blank">study by Lawrence Berkeley National
    Laboratory (LBNL) and U.S. Department of Energy (DOE)</a> estimated the parasitic energy consumption (i.e. energy required to distribute heating and cooling inside a building, heat rejection and ventilation) in commercial buildings to be 1.5 quads. Out of total parasitic load, <b>supply fans consumed 50% of the energy</b>. Thus AHU fan selection can have
      major impact on overall energy consumption. Details of efficient fan selection are elaborated in the fan category.</p>
<img class="transimg" src="img/ahu_pie.png" alt="Pie chart showing parasitic primary energy consumption per equipment. Supply and return fans are 50%, chilled water pumps are 2%, condenser water pumps are 2%, heating water pumps are 5%, cooling tower fans are 1%, condenser fans are 5%, and fan powered terminal boxes are 2%, and exhaust fans are 33%.">
<p class="imgtitle">Parasitic primary energy consumption per equipment (Source: Energy Consumption Characteristics of Commercial Building HVAC Systems, LBNL/ U.S. DOE report)</p>
<hr>
<p><span class="myh3">Coils</span>
<br> Cooling and heating coil capacity is generally measured in MBH. Air side and water side pressure drop are the important parameters which need to be evaluating while sizing the coil to meet the required load.</p>

<p>Low delta-T at the chiller is one of the major reasons of inefficient overall energy performance. Cooling coil design at the AHU influences the delta-T at the chiller. Larger delta-T offers a variety of advantages such as lower flow, lower pump energy and better chiller capacity. For more information about design and operational techniques to achieve larger delta T, refer the article <a class="doctitle"
  href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Symposium_AC-02-6-1_Degrading_Delta-T-Taylor.pdf" target="_blank">‘Degrading Chilled Water Plant Delta-T: Causes and Mitigation’.</a> </p>

<p>
  Coil design also includes aspects such as header orientation/material, coil hand, material, fins per inch and face velocity. For typical ranges used in the inductry for designing each parameter, refer <thead>
    article on <a class="doctitle" href="http://www.dac-hvac.com/custom-air-handling-units-coil-selection-guidelines/" target="_blank" >'Coil Selection Guidelines’ </a></p>

<hr>
<p><span class="myh3">Filters</span> 
<br> The first step in an efficient filter design is to understand the indoor air quality requirements of the space. If it is a critical application such as a surgery room or if it is an owner requirement, high efficiency HEPA filters maybe used. Pre-filters are recommended in order to increase the life span of the main high efficiency filter. Location of the job-site also needs to be considered while selecting filters. Pressure drop associated with the filter assembly should be closely evaluated at start-up and also at intermediate loading.</p>
