<style>
    #rttypes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rtcodes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #ahu_back {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 70% 240%;
        transition: all 1.7s ease-in-out;
    }

</style>

<span class="myh2">Air Handling Units: Types</span>

<p><span class="myh3">Fan Coil Units </span>
    <br>A fan coil unit (FCU) is an assembly of a fan, heating/cooling coil, and sometimes a filter. It typically serves single zones but can serve multiple zones in some
    special systems such as the variable refrigerant flow system. FCUs can be served by refrigerant or water. Direct expansion (DX)-type FCUs are installed in electrical rooms
    where water is not allowed. FCUs are also used in residential buildings.</p>

<p><span class="myh3">Packaged Air Handling Unit</span>
    <br>Packaged air handling units (AHUs) are also called rooftop units (RTUs). The components include a fan, DX cooling system, gas/electric heat source, and filters.
    Because they are stand-alone units, they are easy to install and maintain compared to an AHU that serves by a central plant. The DX system can be air- or water-cooled.</p>

<p><span class="myh3">Modular Air Handling Unit </span>
    <br>A modular AHU allows the user to customize and choose individual AHU components depending on project requirements. These AHUs are useful at sites that have design
    constraints such as space limitations or a corrosive environment.</p>

<p> <span class="myh3">Custom Air Handling Unit</span>
    <br>A custom AHU is similar to a modular AHU, except that they offer greater flexibility in the design of individual components. They are more expensive compared to the other three AHU types.
</p>
