<style>
    #rtcodes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }
      #ahu-back{
     fill: #00A3E0 !important;
  stroke: #444444 !important;
  }

  #svg {
    transform: scale(1.2, 1.2);
    transform-origin: 70% 240%;
      transition: all 1.7s ease-in-out;
  }

</style>


<span class="myh2">Air Handling Units: Performance Ratings</span>

<p class="myh3">Air Leakage</p>

<aside class="pquote">
    <blockquote>“Lowering cabinet air leakage from 5% to 1.5% of system air flow would result in an overall reduction in energy use for space conditioning of about 5% and a reduction of 5% or more energy use for peak heating and cooling loads.”</blockquote>
    <p class="source"><a href="http://energy.gov/sites/prod/files/2014/12/f19/ba_innovations_2014_hvac_airleakage.pdf " target="_blank">HVAC Cabinet Air Leakage Test Method</a>, U.S. Department of Energy</p>
</aside>

<p>
    Air leakage in an air handling unit (AHU) leads to energy waste and indoor air quality problems because the AHU is generally located in a mechanical room with no air
    quality control measure. ANSI/ASHRAE Standard 193-2010 (RA 2014) outlines the test method for determining the airtightness of HVAC equipment. The scope of this testing
    methodology is applicable for equipment moving less than 3,000 cfm of air. Furnaces, coil boxes, and plenums are the main areas of leakage.
    The <a class="doctitle" href="http://consensus.fsu.edu/FBC/ECTSWG/Text_comp.pdf " target="_blank">Florida Building Code </a> Section 13-610.2.A.2.1, Factory Sealed Air
    Handling Unit Credit, allows an incentive for AHUs that have been tested and have achieved a leakage rate of 2% or less (of the total flow) at a pressure of 1 in. (water
    column) with all air inlets/ports closed.</p>
<p>
    Refer to the <a class="doctitle" href="https://buildings.lbl.gov/sites/all/files/walker-lbnl-5553e.pdf " target="_blank">Air Leakage of Furnaces and Air Handlers</a>
    report from the Lawrence Berkeley National Laboratory for an overview of methodologies used to test the airtightness of AHUs.
</p>
