<div class="myh2">Testing Standards</div>

<p class="myh3">Air Leakage</p>

<aside class="pquote">
    <blockquote>““Lowering cabinet air leakage from 5% to 1.5% of system air flow would result in an overall reduction in energy use for space conditioning of about 5% and a reduction of 5% or more energy use for peak heating and cooling loads””</blockquote>
    <br>
    <p class="source"><a href="http://energy.gov/sites/prod/files/2014/12/f19/ba_innovations_2014_hvac_airleakage.pdf " target="_blank">HVAC Cabinet Air Leakage Test Method</a> U.S. DOE</p>
 </aside>

<p>
  Air leakage in an AHU leads to energy wastage and Indoor Air Quality (IAQ) problems because the AHU is generally located in a Mechanical room which does not have
  any air quality control measure. ANSI/ASHRAE Standard 193-2010 (RA 2014) outlines the Method of test for determining airtightness of HVAC equipment. The scope of this
  testing methodology is applicable for equipment moving less than 3000 CFM of air.
  Furnaces, coil boxes and plenums are the main areas of leakage. The <a class="doctitle" href="http://consensus.fsu.edu/FBC/ECTSWG/Text_comp.pdf " target="_blank">Florida
    building code </a> Section 13-610.2.A.2.1 Factory Sealed air-handling unit credit,  allows an
  incentive for AHU’s that have been tested and achieved a leakage rate of 2% or less (of the total flow) at a pressure of 1” (water column) and with all air inlets/ports closed.
  Refer this   <a class="doctitle" href="https://buildings.lbl.gov/sites/all/files/walker-lbnl-5553e.pdf " target="_blank">report by LBNL</a> for an overview of methodologies
  used to test air tightness of Air handlers.
</p>
