<style>
  #rtbasics {
    text-decoration: none;
    background-color: #00a3e0;
    color: white !important;
    font-weight: 100;
  }

  #rtcases, #rtcodes, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes {
    background-color: #ffffff;
  }
      #ahu-back{
     fill: #00A3E0 !important;
  stroke: #444444 !important;
  }

  #svg {
    transform: scale(1.2, 1.2);
    transform-origin: 70% 240%;
      transition: all 1.7s ease-in-out;
  }
</style>

<span class="myh2">Air Handling Units: General Description and Uses</span>

<p>Air handling units (AHUs) are devices that transfer heat between water/refrigerant and air and regulate the air supply throughout a building. The hot/cold water
  coming from the central plant passes through coils. The heating/cooling can also be provided directly by the refrigerant in a direct expansion (DX) air-conditioning
  system. </p>

<p>A blow/draw through fan blows/draws air over the coils, then circulates it through the building ducts. The AHU has an opening for return air (recirculated from the
  building) and outside air (fresh air taken in for ventilation purposes). An important component of the AHU is the filter. Commonly used filters include fiberglass;
  polyester; pleated, high efficiency particulate arrestance (HEPA); and washable air filters. Filter effectiveness is rated based on the minimum energy reporting value
   (MERV). The higher the MERV rating, the more effective the filter; i.e., it can catch finer particles. Filters with higher MERV ratings have significantly greater high
   pressure drops compared to those with lower MERV ratings. </p>
<div class="whiteimg">
  <img class="myimage" src="img/ahu_daikin.jpg" alt="Drawing of an air handling unit showing the rugged cabinet enclosure, gasketed frame channel, low-leak dampers, double-sloped drain pan, frame channel disassembly, splice collar, custom modular design with variable dimensioning feature, and variable height base rails.">
</div>
<p class="imgtitle">Air handling unit, <span class="source">Source: Daikin</span></p>

<img class="transimg" src="img/NREL_AHU.jpg" alt="Photograph showing an AHU with chilled water pipes.">
<p class="imgtitle">Air handling unit, <span class="source">Photo by Dennis Schroeder/NREL 38457</span></p>

<span class="myh3">Resources</span>
<ul class="mylist">
<li><a class="doctitle"href="http://www.nrel.gov/docs/gen/fy11/50134.pdf "target="_blank">General AHU checklist</a>, by NREL </li>
<li><a class="doctitle"href="http://www.ftguide.org/disclaimer.htm"target="_blank">Functional testing and design guides  </a> </li>
</ul>