<style>
#rtprocure{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
    #ahu_back {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }
</style>

<span class="myh2">Air Handling Units: Procurement and Performance Specifications</span>

<p><span class="myh3">Air Leakage</span>
<br> Wherever possible, air leakage requirements should be specified for air handling units (AHUs). Because there is not much guidance available for acceptable ranges
 of AHU leakage rates, the requirements set by the <a class="doctitle" href= "https://consensus.fsu.edu/FBC/ECTSWG/Text_comp.pdf" target="_blank"> State of Florida </a>
 are a good starting point. Section 13-610.2.A.2.1 allows a leakage rate of 2% or less (of the total flow) at a pressure of 1 in. (water column) with all air inlets/ports closed. </p>

 <p><span class="myh3">Filters</span>
 <br>ASHRAE Standard 52.2 defines the minimum efficiency reporting value (MERV) rating, which is a widely used metric for system performance. Although filters with higher
 MERV ratings can catch finer particles, they have a greater pressure drop. In addition, it is important to pay special attention to the pressure drop when the filter is
 loaded. It is recommended that engineers specify filter pressure drop requirements in the performance specifications. </p>
