<div class="myh2">Design Guides</div>

<p>The key components of AHU design are fan, coil and filter selection and air distribution system design. </p>

<p class="myh3">Fans</p>
<p> The fan should be able to meet the required airflow/pressure while
  adhering to design constraints of space and acoustic requirement. A <a class="doctitle"
   href="http://apps1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf" target="_blank">study by Lawrence Berkeley National
    Laboratory (LBNL) and U.S. Department of Energy (DOE)</a> estimated the parasitic energy consumption (i.e. energy required to distribute heating and cooling inside a building,
    heat rejection and ventilation) in commercial buildings to be 1.5 quads. Out of total parasitic load, <b>supply fans consumed 50% of the energy</b>. Thus AHU fan selection can have
      major impact on overall energy consumption. Details of efficient fan selection are elaborated in the fan category.</p>
<img class="transimg" src="img/ahu_pie.png" alt="">
<P class="imgtitle">Parasitic primary energy consumption per equipment (Source: Energy Consumption Characteristics of Commercial Building HVAC Systems, LBNL/ U.S. DOE report)</p>

<br>
<hr>


<p class="myh3">Coils</p>
<p> Cooling and heating coil capacity is generally measured in MBH. Air side and water side pressure drop are the important parameters which need to be evaluating
  while sizing the coil to meet the required load. </p>

<p>Low delta-t at the chiller is one of the major reasons of inefficient overall energy performance. Cooling coil design at the AHU influences the delta-t at the chiller.
  Coil design also includes aspects such as header orientation/material, coil hand, material, fins per inch and face velocity. This article on <a href="http://www.dac-hvac.com/custom-air-handling-units-coil-selection-guidelines/" target="_blank" >'Coil Selection Guidelines’ </a>
   provides typical ranges used in the industry for designing each parameter. </p>

<br>
<hr>


<p class="myh3">Filters</p>
<p> The first step in an efficient filter design is to understand the indoor air quality requirements of the space. If it is a critical application such as a surgery room or
  if it is an owner requirement, high efficiency HEPA filters maybe used. Pre-filters are recommended in order to increase the life span of the main high efficiency filter.
  Location of the job-site also needs to be considered while selecting filters. Pressure drop associated with the filter assembly should be closely evaluated at start-up and
  also at intermediate loading.  </p>
