<p class="myh2">Types</p>

<p><span class="myh3">Fan coil units (FCU)</span>
<br>Fan coil unit is an assembly of a fan, heating/cooling coil and sometimes a filter. They typically serve single zones but can serve multiple zones in some special systems such as the Variable Refrigerant Flow (VRF) system. FCU can be served by refrigerant or water. DX type FCU’s are installed in electrical rooms where water is not allowed. FCU’s are also used in residential areas.</p>

<p><span class="myh3">Packaged AHU</span>
<br>Packaged AHU is also called ‘Roof Top Package Unit’ (RTU). The components include a fan, DX cooling system, gas/electric heat source and filters. Since they are standalone units, they are easy to install and maintain as compared to an air handling unit that serves off of a central plant.
The DX system can be air or water cooled.</p>

<p><span class="myh3">Modular AHU</span>
<br>Modular AHU allows the user to customize and pick individual components of the AHU depending on the project requirement. These types of AHU’s are useful in sites which have design constraints such as space limitation or corrosive environment.</p>

<p> <span class="myh3">Custom AHU</span>
<br>Custom AHU is similar to a modular AHU, except for the fact that they offer greater flexibility in design of individual components. They are more expensive compared to the other three types of AHU.
</p>
<p> <span class="myh3">Resources</span>
<br><a class="doctitle" href="http://www.csemag.com/single-article/how-to-select-an-air-handling-unit/2b3bef25d5dea7b95cbfe5369be413a0.html" target="_blank">How to select and air handling unit</a> by Rob McAtee and Evan Riley. 2012. Article published by Consulting-Specifying Engineer.</p>
