<style>
    #rtoperation {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtcodes,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #ahu_back {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.1, 1.1);
        transform-origin: 70% 240%;
        transition: all 2s ease-in-out;
    }

</style>

<span class="myh2">Air Handling Units: Lab Operation and Training Resources</span>

<p>Periodic evaluation of air handlers is recommended to identify efficiency measures. The evaluation generally consists of a combination of on-site observations and a more detailed testing of air handling unit (AHU) components. The <a class="doctitle" href="http://www.nrel.gov/docs/gen/fy11/50134.pdf" target="_blank">General Air
        Handling Unit Checklist</a> published by the National Renewable Energy Laboratory lists a number of measures to save energy in commercial buildings by improving the operational efficiency of AHUs. These measures are summarized below; refer to the <a class="doctitle" href="http://www.nrel.gov/docs/gen/fy11/50134.pdf" target="_blank">
        General Air Handling Unit Checklist</a> for more information:</p>
<ul class="mylist">
    <li> Verifying proper operation of air dampers </li>
    <li> Verifying proper operation of heating and cooling valves</li>
    <li> Checking the condition of heating and cooling coils and AHU filters</li>
    <li> Identifying and eliminating duct leakage</li>
    <li> Implementing HVAC system night setback schedule</li>
    <li> Tracking HVAC setback schedule</li>
    <li> Monitoring exhaust fan controls</li>
    <li> Operating systems at part load during unoccupied hours</li>
    <li> Converting constant volume systems to variable volume</li>
    <li> Resetting the supply air temperature.</li>
</ul>

<p>Heat transfer effectiveness of the coil is reduced due to fouling. This in turn increases the water flow rate and reduces the delta-T. Chemical treatment is recommended to control fouling.</p>

<span class="myh3">Other Resources</span>
<ul class="mylist">
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/chapters/ch5_air_handling.pdf" target="_blank">Air Handling Units Training</a></li>
</ul>
