<div class="myh2">Procurement and Performance Specifications</div>

<p><span class="myh3">Air Leakage</span>
<br> Wherever possible, air leakage requirements should be specified for AHU’s. Since there is not much guidance available for acceptable ranges of AHU leakage rate, the requirements set by the <a class="doctitle" href= "http://consensus.fsu.edu/FBC/ECTSWG/Text_comp.pdf" target="_blank"> State of Florida </a> is a good point to start. Section 13-610.2.A.2.1 allows a leakage rate of 2% or less (of the total flow) at a pressure of 1” (water column) and with all air inlets/ports closed. </p>
<hr>
 <p><span class="myh3">Filters</span>
 <br>ASHRAE Standard 52.2 defines the Minimum Efficiency Reporting Value (MERV) rating which is a widely used metric for system performance. Although filters with higher MERV ratings are able to arrest finer particles, they come with an additional pressure drop. In addition to that, it is important to pay special attention to the pressure drop when the filter is loaded. It is recommended to specify filter pressure drop requirements in the performance specifications. </p>
