<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #lab_outline,
    #disoutline,
    #cp-outline,
    #exhaustoutline
     {
        stroke: #71C5E8 !important;
    }

</style>


<div class="myh2">Building Energy Modeling</div>

<img class="transimg" src="img/energy_model_image.png" alt="Screen capture of a three story, rectangular laboratory building energy model.">
<p class="imgtitle">The Department of Energy Laboratory Prototype Building provides a baseline model for general laboratory facilities that can be edited to suit specific building geometries. <span class="source">Image by OpenStudio DOE Lab Prototype Building.</span></p>

<p>Lab spaces are subject to strict ventilation requirements and have complex HVAC systems and process loads, making it difficult to determine how various system components impact overall energy performance.  </p>

<p>Whether benchmarking an existing building to identify improvements or comparing design alternatives for new construction, building energy modeling provides helpful insight into how energy is used throughout a building. Useful metrics – both at the whole-building level and specific end-use-type level – allow lab owners, managers, and designers to visualize the effects of each component on total energy consumption. Though labs often require detailed work to accurately represent complex features in an energy model, doing so can help inform decision making to best optimize cost, safety, and performance.</p>

<p>For new construction, energy modeling for buildings early in the design stage is an important step for achieving an integrated high-performance design. Lab buildings vary greatly in terms of load, operating hours, ventilation requirements, and other conditions, making it difficult to formulate related assumptions necessary for the energy model. Furthermore, lab buildings, especially in academic settings, are often subject to change, sometimes complicating initial assumptions. However, the building energy model can be used to predict energy performance under a broad range of assumptions, allowing lab stakeholders to ensure lab building systems have the capacity to meet requirements in the event of change. </p>

<p>Refer to the resources below for additional guidance in developing lab building energy models.</p>

<p class="note">Important Note: In the context of any building type, results from building energy models should be interpreted with consideration of the degree of certainty surrounding input to the model. </p>

    <div class="myh4">FEATURED RESOURCE</div>
    <div class="featured"><a  href="pdf/openstudio-guide-energy-modeling-laboratory-buildings.pdf" target="_blank">
        <img class="featureimgsmaller" src="img/os_icon.png" alt="Logo for OpenStudio, a cube wit OS on it">
        <b>Energy Modeling Laboratory Buildings with OpenStudio</b> </a>
        <br>
OpenStudio is an open-source building energy modeling platform. This <a  href="pdf/openstudio-guide-energy-modeling-laboratory-buildings.pdf" target="_blank">guide</a> directs users in creating a laboratory prototype building from the “Create DOE Prototype Building” measure available on the <a href="https://bcl.nrel.gov/" target="blank">Building Component Library.</a> 
    </div>
    <span class="myh3">Resources</span>
<ul class="mylist">
    <li><a  href="https://openstudiocoalition.org/" target="_blank"><b>OpenStudio</b></a> </li>
    <li><a class="doctitle" href="https://www.i2sl.org/documents/resources/labbuildingenergymodelingguideline_updated.pdf" target="_blank">I<sup>2</sup>SL Best Practice Guide: Laboratory Modeling Guideline Using ASHRAE 90.1-2019 Appendix G</a></li>
    <li><a class="doctitle" href="https://doi.ccs.ornl.gov/ui/doi/339" , target="_blank">Oak Ridge National Lab: Model America Project</a></li>
</ul>
