<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Operation and Training Resources</div>

<p>Periodic boiler evaluation is required to ensure that the boiler is operating as designed. The <a class="doctitle"  href="http://www.ftguide.org/ftg/index.htm" target="_blank">functional testing guide for boilers</a> gives detailed guidance on steps to perform a functional test of boilers. It also has estimates of time required to carry out the testing and links to various checklists for boiler commissioning. </p>
<p class="myh3">Example of actions that need special attention during the testing process include</p>
<ul class="mylist">
<li>Verifying proper boiler staging under normal operation, failure and emergency modes. Proper coordination between boiler staging and load variation will save energy</li>
<li>Verifying boiler starts/stops with the time delay specified during design</li>
<li>Verifying all control loops stabilize within a reasonable time (typically 2-5 minutes) after a significant load change</li>
</ul>

<p>Refer the <a class="doctitle"  href="https://www.energystar.gov/sites/default/files/buildings/tools/BoilerTune-Up_Benefits.pdf" target="_blank">Boiler Tune-ups factsheet</a> by the EPA for a detailed list of boiler systems energy efficiency-measures.</p>

<br>
<myh2>References</myh2>
<span class="source">
    <ol>
        <li><a class="doctitle"  href="http://www.ftguide.org/ftct/boilers.htm" target="_blank">Boiler commissioning test requirements, preparations and cautions</a>Functional testing guide</li>
        <li><a class="doctitle"  href="http://www.nrel.gov/tech_deployment/pdfs/commercial_building_checklists.pdf " target="_blank">Saving energy in commercial buildings, boiler system checklist</a> by NREL</li>
        <li><a class="doctitle"  href="http://energy.gov/sites/prod/files/2013/10/f3/OM_3.pdf" target="_blank">O&amp;M Management for boilers</a></li>
</ol>
    </span>
