<style>
#rtdesign{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtcodes, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Energy efficiency measures and design guides</div>

<div class="myh3">Best practices  for boiler energy efficiency</div>


<p>
  <ul class="mylist">
<li><b>Modulate quantity of combustion air:</b> Excess or deficiency of air should be avoided by periodically checking the air to fuel ratio. Refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/check_burner_air2.pdf", target="_blank">Check burner air to fuel ratio </a> tipsheet </a></li>
<li><b>Clean scale and soot formation in the boiler:</b> Scale and soot formation act as an insulator reducing the heat transfer efficiency and increasing the flue gas exhaust temperature</li>
<li><b>Install waste heat recovery:</b> Waste heat recovery should be installed after ensuring that the boiler is cleaned and tuned</li>
<li><b>Reduce blowdown cycles and recover waste heat from blow down:</b> Determine boiler blowdown cycle by considering boiler type, operating pressure, water treatment and quality of make-up water. Consider an automatic blowdown control system. Refer to the ‘Minimize Boiler Blowdown ’ tip sheet for more details</li>
<li><b>Preheat combustion air:</b> Wherever possible, consider designing the flue exhaust gas duct such that the heat can be used to preheat the incoming combustion air. Refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/et_preheated.pdf ", target="_blank">‘Preheated combustion air’</a> tipsheet for more details</li>
</ul>
Refer Section 9.2 on Boilers in the <a class="doctitle" href="http://www.pnnl.gov/main/publications/external/technical_reports/PNNL-19634.pdf", target="_blank">Operations &amp; maintenance best practices document </a> .

</p>

<div class="myh2">Design guidance</div>
<div class="myh3">Modular boilers versus large boiler design</div>
<p>
  A challenge faced by engineers many times is in choosing a boiler configuration for the heating system. Typically, heating systems have two boilers, one to meet the heating load and the second as a back-up if the first boiler fails. Alternatively, multiple small boilers can be installed with redundancy and such a configuration is called modular boiler system.
</p>
  <table class="mytable">
    <tr>
      <th>Advantages of modular boilers</th>
      <th>Advantages of large boiler</th>
    </tr>
    <tr>
      <td>Can efficiently serve varying loads</td>
      <td>Boilers are compact in size even for large capacities and can take up less space than multiple boilers</td>
    </tr>
    <tr>
      <td>Easy to repair or replace a failed boiler without interrupting supply to the building</td>
      <td>Low initial cost in some applications</td>
    </tr>
    <tr>
      <td>Allows cold-start and eliminates standby losses. Jacket losses eliminated from standby boiler</td>
      <td></td>
    </tr><tr>
      <td>More flexible towards meeting capacity variations</td>
      <td></td>
    </tr><tr>
      <td>Can easily be transported due to smaller size, reduces installation cost</td>
      <td></td>
    </tr>
  </table>
<br>
  <table class="mytable">
    <tr>
      <th>Disdvantages of modular boilers</th>
      <th>Disadvantages of large boiler</th>
    </tr>
    <tr>
      <td>Adds complexity in piping layout and boiler control</td>
      <td>Short-cycling when a boiler is oversized. Large pre and post purge losses</td>
    </tr>
    <tr>
      <td>Overall area needed for boiler operation might be significant since each boiler needs separate clearance area</td>
      <td>Longer warm-up time and start-up losses</td>
    </tr>

  </table>
<br>
  <table class="mytable">
    <tr>
      <th>What should you consider when installing a modular or a large boiler? </th>
    </tr>
    <tr>
      <td><ul>
        <li>Is there a distinct swing in the heating load?</li>
        <li>If yes, then over what time scale is the swing occurring?</li>
        <li>If it is over a day, then modular boiler might be a better choice than a large boiler</li>
        <li>If the heating load is constant then a large boiler might be a better choice.</li>
        </ul></td>
    </tr>

  </table>
<myh2>Source</myh2>
<span class="source">
    <ol>
        <li><a class="doctitle"  href="http://www.mckenziecorp.com/boilermod.pdf" target="_blank">Modular boilers or two-boiler design, which is best? </a>by Paul Good, McKinzie company  </li>
        <li><a class="doctitle"  href="http://www.i2sl.org/documents/toolkit/bulletin_modular_boilers_508.pdf" target="_blank">Modular boiler systems for laboratory facilities </a>Labs 21 technical bulletin</li>
      </ol>
    </span>

<br>
<myh2>Other references</myh2>
<span class="source">
    <ol>
        <li><a class="doctitle"  href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam4_boiler_efficiency.pdf" target="_blank">Improve your boiler’s combustion efficiency </a>DOE tip sheet</li>
        <li><a class="doctitle"  href="http://energy.gov/sites/prod/files/2014/05/f16/install_waste_heat_process_htgts8.pdf " target="_blank">Install waste heat recovery systems for fuel-fired furnaces </a>DOE tip sheet</li>
        <li><a class="doctitle"  href="http://www.nrel.gov/docs/fy04osti/33470.pdf " target="_blank">Upgrade boilers with energy-efficient burners </a>DOE tip sheet</li>
        <li><a class="doctitle"  href="http://energy.gov/sites/prod/files/2014/05/f16/steam8_boiler.pdf" target="_blank">Return condensate to boiler </a>DOE tip sheet</li>
</ol>
    </span>
