<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
        #boiler {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Boiler: Performance Ratings</div>

<p>
The efficiency of a boiler is measured by the annual fuel utilization efficiency (AFUE), which is the ratio of useful energy output to the energy input. This metric is similar to the seasonal energy efficiency rating (SEER) for air conditioners in the sense that it does not represent efficiency at a single point but rather measures efficiency during a season. Minimum AFUE levels are outlined in the ANSI/ASHRAE Standard 90.1 2016 for different boiler/fuel types of different sizes. </p>

<p>Refer to the “efficiency requirements” section in the <a class="doctitle"  href="https://hvacresourcemap.net/#/boiler/procure" target="_blank">Boiler Procurement and Performance </a>tab of this resource for more details. </p>
