<style>
    #rtcases {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }
        #boiler {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }
</style>

<span class="myh2">Boiler: Case Studies</span>

<p><a class="doctitle" href="https://www1.eere.energy.gov/buildings/publications/pdfs/alliances/hea_boilers_fs.pdf" target="_blank">Duke Raleigh Hospital,</a> Raleigh North Carolina<br>
    Duke Raleigh Hospital is a 260,782 ft<sup>2</sup> hospital that opened in 1978. With a goal to save water and energy, the hospital installed three high-efficiency boilers. The payback was about 13 months, which translated into a saving of ~$10,000 per month compared to the previous system.</p>
