<style>
    #rtcodes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #boiler {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.7, 1.7);
        transform-origin: 0% 10%;
        transition: all 1s ease-in-out;
    }

</style>

<span class="myh2">Boiler: Design Calculators and Tools</span>
<ul class="mylist">
    <li><a class="doctitle" href="http://energy.gov/eere/femp/energy-cost-savings-calculator-commercial-boilers-closed-loop-space-heating-applications " target="_blank">Energy cost savings calculator for commercial boilers</a> This is a cost analysis tool that estimates lifetime energy cost savings at different efficiencies.</li>
</ul>
