<style>
    #rtprocure {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtcodes,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

</style>

<span class="myh2">Procurement and Performance</span>

<p class="myh3">General</p>
<p>
    The purpose of this document is to help owners understand the key aspects of boiler energy efficiency and enable them to include appropriate language in the
    RFP to facilitate procurement of boilers with the desired features and efficiency levels while staying within their budget. The RFP format can also be used to
    engage in discussions with engineering design firms to help select a firm that will provide design documents for appropriate high-efficiency boiler systems.</p>
<p>The efficiency requirements section compares boiler efficiencies across different references and lists good and best performance for boilers.</p>

<p class="myh3">Questions to ask during evaluation and selection process:</p>
<ol class="mylist">
    <li>Why do you want to do a boiler replacement?</li>
    <ul>
        <li>Is the problem at the boiler level or a system level? Answering this question will help you understand the bigger picture of your hot water or steam system and possibly avoid a like-for-like replacement. A like-for-like replacement is not beneficial, as the system might have been sized incorrectly and be inefficient in meeting the current load.</li>
    </ul>

    <li>What is the return water temperature of the hot water system and the delta T (temperature difference) across the boiler?</li>
    <ul>
        <li>Efficiency of a commercial boiler is closely tied to the return water temperature. If you are considering using condensing boilers, the return water temperature needs to be lower than 130°F. If the return water temperature is higher than 130°F, flue gases will not condense and the condensing boiler will not perform as expected. </li>
    </ul>
    <ul>
        <li>If return water temperature is higher than 130°F, consider system evaluation to determine if modifications could be made to lower the water temperature required by the system. Alternately, a hybrid combination of condensing and non-condensing boilers could be used, with the condensing boiler heating return water up to 130°F and conventional boiler heating supply water up to the required higher temperature. </li>
    </ul>

    <li>Does the boiler system have supply water temperature reset?</li>
    <ul>
        <li>Supply water temperature reset helps meet the required load by reducing the boiler supply water temperature to the lowest possible. This is typically applicable when the boiler system is used for building heat and reset based on outside air temperature. Supply water temperature reset function can improve energy efficiency by about 5%, while modulating the firing rate can improve fuel efficiency by 3%. (Source:<a class="doctitle" href="https://library.cee1.org/content/cee-2015-commercial-boiler-systems-program-summary/" target="_blank"> Consortium for Energy Efficiency [CEE]</a>)</li>
    </ul>

    <li>Is your application suited for a large boiler design or multiple modular units? </li>
    <ul>
        <li>Is there a distinct swing in the heating load? If there is, then over what timescale is the swing occurring? If it is over a day, then modular boilers might be a better choice than a large boiler. Work with the designer/vendor to get a price comparison between modular boilers and a large boiler. </li>
    </ul>

    <li>What incentives are available in your area for improving boiler system efficiency? </li>
    <ul>
        <li>Some utilities offer various financial incentives to promote efficiency in boiler systems. These incentives might help offset additional upfront cost for high efficiency equipment. Refer to the <a class="doctitle" href="https://library.cee1.org/sites/default/files/library/7543/CEE_ComBoilerSystems_InitiativeDescription_2015_FINAL.pdf " target="_blank">CEE 2016 Commercial Boiler Systems Program Summary</a> for more details. </li>
    </ul>

    <li>Has a heat load calculation been performed for the system? </li>
    <ul>
        <li>Oversized boilers are a major concern for hot water systems. Although redundancy and future expansion needs to be taken into account when sizing the boiler, an oversized boiler designed completely on “rules of thumb” can lead to short-cycling and a loss of efficiency in the range of 10%–15%. Requesting a heat load calculation in your RFP (without increasing paperwork) will ensure that boiler systems are designed within a reasonable factor of safety (ASHRAE 90.1 allows a 1.25 safety factor for heating and 1.15 for cooling). (Source:<a class="doctitle" href="http://aceee.org/files/proceedings/2012/data/papers/0193-000128.pdf" , target="_blank">Donnell 2012</a>) </li>
    </ul>

    <li>Will the manufacturer or supplier provide operations training and tune up the system?</li>
    <ul>
        <li>Building operators/facility management staff need to understand the different features of the equipment and know how to operate it. Disregarding this
            critical piece of training can nullify the expected energy savings because the system will not be operated the way it was designed to be. The tune-up is
            another important step to ensure the equipment is operating as it was designed to.</li>
    </ul>
    <ul>
        <li>Refer to the <a class="doctitle" href="https://hvacresourcemap.net/#/boiler/operation" , target="_blank">operation and training</a> section of the central plant resource map for more details about the tune-up. Requesting operations training and a tune-up from the manufacturer in the RFP can help reduce post-installation inefficiencies due to poor operation.</li>
    </ul>

    <li>Is redundancy in heating systems desired? </li>
    <ul>
        <li>Due to potential damage caused by heating system downtime, consider selecting a boiler system that includes redundant components. This can also improve performance, if, for example, there are two (2) boilers, each of which is sized at 60% capacity. Loss of one boiler would allow the remaining system to maintain temperatures above critical levels. This also helps avoid oversizing a single boiler.</li>
    </ul>

    <li>Does the boiler system generate steam?</li>
    <ul>
        <li>For steam boiler systems, an important criterion in addition to capacity is the steam pressure required by the heating system, humidification system, or process. Typically, heating systems require low pressure steam (less than 15 psig).</li>
    </ul>

    <li>Will the entire heating distribution system be assessed as part of a boiler replacement?</li>
    <ul>
        <li>Consideration should be given to the heat distribution system. Efficiency gains and cost savings can be made by modifications to the distribution system. With hydronic systems, pumping energy can be reduced by adding adjustable speed pumping systems with appropriate controls. Conversion from three-way valves with bypass to two-way valves will allow variable flow to maximize cost savings.</li>
    </ul>
</ol>

<div class="myh3">Sample RFP Language </div>
<table>
    <tr>
        <th>RFP for typical procurement</th>
        <th>RFP for energy-efficient procurement</th>
    </tr>
    <tr>
        <td> One-for-one boiler replacement</td>
        <td> Assess entire heating system to confirm heating load requirements and optimize boiler sizing</td>
    </tr>
    <tr>
        <td>Boiler system designed with typical 180°F supply water temperature </td>
        <td>System review to determine if lower supply and return water temperature or condensing boilers can be used to improve efficiency</td>
    </tr>
    <tr>
        <td>Single boiler to match existing footprint </td>
        <td>Review alternative boiler configurations including modular systems to improve efficiency and increase redundancy</td>
    </tr>
    <tr>
        <td>Stand-alone boiler control with constant supply water temperature</td>
        <td>Boiler control integrated with building automation system to allow remote monitoring and supply water temperature reset based on system load or outdoor air temperature.</td>
    </tr>
    <tr>
        <td>Boiler selection based on lowest first cost</td>
        <td>Boiler selection based on lowest life cycle cost including energy and operating cost; added boiler features can increase first cost but save ongoing costs</td>
    </tr>
    <tr>
        <td>No start-up optimization or commissioning </td>
        <td>Start-up service along with system commissioning provided to ensure actual operation meets specified performance</td>
    </tr>
    <tr>
        <td>No system metering</td>
        <td>Metering is included on incoming energy source and outgoing heating system to confirm boiler and system efficiency and allow continuous verification of performance</td>
    </tr>
    <tr>
        <td>Boiler replacement selection by boiler manufacturer representative</td>
        <td>Boiler system assessment and system design performed by independent engineer reviewing all options for performance improvement and competitive bids from multiple boiler manufacturers</td>
</table>

<div class="myh3">Efficiency Requirements</div>
<p>
    The references widely cited for boiler efficiency levels are the U.S. Department of Energy (DOE) Federal Energy Management Program (FEMP) efficiency requirements, ASHRAE Standard 90.1, and ASHRAE Standard 189.1. As a preliminary reference, the table below gives a comparison of boiler efficiencies across these three references. The minimum efficiencies required by FEMP are the most stringent, followed by ASHRAE Standard 189.1 and ASHRAE Standard 90.1.</p>
</p>

<table>
    <tr>
        <th></th>
        <th></th>
        <th><a class="doctitle" href="http://energy.gov/eere/femp/purchasing-energy-efficient-commercial-boilers" target="_blank">FEMP</a></th>
        <th>ASHRAE 90.1- 2016</th>
        <th>ASHRAE 189.1- 2011</th>
    </tr>
    <tr>
    <td rowspan="2"><b>Hot water, gas-fired, packaged boiler</b></td>
    <td> ≥300,000 Btu/h <br> and <br> ≤2,500,000 Btu/h</td>
    <td> ≥95% E<sub>T</sub></td>
    <td> 80% E<sub>T</sub></td>
    <td> 89% E<sub>T</sub></td>
    </tr>
    <tr>

        <td> >2,500,000 Btu/h</td>
        <td> ≥94% E<sub>T</sub></td>
        <td> 82% E<sub>C</sub></td>
        <td> 91% E<sub>T</sub></td>
    </tr>
    <tr>
        <td rowspan="2"><b>Steam, gas-fired, natural draft, packaged boiler</b></td>
        <td> ≥300,000 Btu/h <br> and <br> ≤2,500,000 Btu/h</td>
        <td> ≥81% E<sub>T</sub></td>
        <td> 79% E<sub>T</sub></td>
        <td> 77% E<sub>T</sub></td>
    </tr>
    <tr>
        <td> >2,500,000 Btu/h</td>
        <td> ≥83% E<sub>T</sub></td>
        <td> 79% E<sub>T</sub></td>
        <td> 77% E<sub>T</sub></td>
    </tr>
</table>

<li>E<sub>T – Thermal efficiency (ratio of gross energy output to energy input)</li>
<li>E<sub>C – Combustion efficiency (ratio of the difference between Input and stack loss [flue gas outlet], to the input) </li>

<p>
    The figure below shows the inventory of commercial boilers by sector to help understand the boiler size range mentioned in the table.
</p>

<div class="whiteimg">
    <img class="myimage" src="img/avg_boiler_sector.png" alt="Average boiler size per sector.">
</div>
<p class="imgtitle">Average size of commercial boilers by sector <span class="source">(Data Source: <a href="https://www1.eere.energy.gov/manufacturing/distributedenergy/pdfs/characterization_industrial_commerical_boiler_population.pdf " target="_blank"> DOE )</a></span></p>

<p>
    Although FEMP, ASHRAE 189.1, and 90.1 are widely used, the Consortium for Energy Efficiency (CEE) efficiency tiers are more closely aligned with utility incentives. Per a <a class="doctitle" href="https://library.cee1.org/content/cee-2015-commercial-boiler-systems-program-summary/ " target="_blank">survey done by CEE</a>, there were about 60 voluntary programs in the United States promoting efficient boiler systems in 2015.</p>
<p>Boilers shall meet or exceed the efficiency levels of <a class="doctitle" href="https://library.cee1.org/sites/default/files/library/7543/CEE_ComBoilerSystems_InitiativeDescription_2015_FINAL.pdf " target="_blank">CEE Tier 0 performance specification.</a> The boilers must be tested to BTS-2000 standards in the United States.</p>

<table>
    <tr>
        <th>Parameter</th>
        <th>Good performance <br>(TIER 0)</th>
        <th>Best performance <br> (TIER 1)</th>
    </tr>
    <tr>
        <td><b>Thermal efficiency</b><br>
            Ratio of the heat energy output to the heat energy input; does not include jacket losses</td>
        <td> Gas-fired hot water/steam: >85%</td>
        <td> Gas-fired hot water/steam: >90%</td>
    </tr>
    <tr>
        <td><b>Turndown ratio</b><br>
            Ratio of the full boiler output to the output when operating at partial load
        </td>
        <td>Minimum 4:1</td>
        <td>Minimum 5:1<sup>+</sup></td>
    </tr>
    <tr>
        <td><b>Return water temperature<sup>*</sup></b></td>
        <td>
            &#60; 150°F </td> 
        <td>
                &#60; 130°F <br> For condensing boilers
        </td>
    </tr>
    <tr>
        <td><b>Pipe insulation thickness<sup>++</sup></b> </td>
        <td>Per ANSI/ASHRAE 90.1-2016 Table 6.8.3-1</td>
        <td>Per ANSI/ASHRAE 90.1-2016 Table 6.8.3-1</td>
    </tr>
    <tr>
        <td><b>Supply water temperature reset</b> </td>
        <td>Installed per manufacturer’s instructions</td>
        <td>Installed per manufacturer’s instructions</td>
    </tr>
</table>

<p> <sup>+</sup> Although turndown ratios as high as 35:1 are available, turndown ratios of more than 10:1 can cause greater losses because of the significantly increased excess air level at low firing and the lack of condensation due to small delta T (Source: <a class="doctitle" href="https://library.cee1.org/content/cee-2015-commercial-boiler-systems-program-summary/" target="_blank"> CEE</a>).</p>
<p> <sup>*</sup> Verify the return water temperature range with manufacturer’s literature.</p>
<p> <sup>++</sup> ANSI/ASHRAE/IES Standard 90.1-2016, Energy Standard for Buildings Except Low-Rise Residential Buildings, Table 6.8.3-1</p>
