<style>
    #rtdesign {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtcodes,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

</style>

<span class="myh2">Energy Efficiency Measures</span>

<p class="myh3">Best practices for boiler energy efficiency</p>


<p>
    <ul class="mylist">
        <li><b>Modulate the quantity of combustion air:</b> Excess or deficiency of air should be avoided by periodically checking the air-to-fuel ratio. Refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/check_burner_air2.pdf" , target="_blank">Check Burner Air-to-Fuel Ratio </a> tipsheet </a></li>
        <li><b>Clean scale and soot formation in the boiler:</b> Scale and soot formation act as an insulator, reducing heat transfer efficiency and increasing flue gas exhaust temperature.</li>
        <li><b>Install waste heat recovery:</b> Waste heat recovery should be installed after ensuring that the boiler is cleaned and tuned. For more details, refer to section 3.0, Waste Heat Recovery Options and Technologies, in the <a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/intensiveprocesses/pdfs/waste_heat_recovery.pdf" , target="_blank">Waste Heat Recovery: Technology and Opportunities in U.S. Industry</a> report by the U.S. Department of Energy. </li>
        <li><b>Reduce blowdown cycles and recover waste heat from blowdown:</b> Determine boiler blowdown cycle by considering boiler type, operating pressure, water treatment, and quality of make-up water. Consider an automatic blowdown control system. Refer to the <a class="doctitle" href="https://energy.gov/sites/prod/files/2014/05/f16/steam9_blowdown.pdf" , target="_blank">Minimize Boiler Blowdown <a> tip sheet for more details</li>
        <li><b>Preheat combustion air: </b> Wherever possible, consider designing the flue exhaust gas duct such that the heat can be used to preheat the incoming combustion air. Refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/et_preheated.pdf " , target="_blank">Preheated Combustion Air</a> tipsheet for more details</li>
    </ul>
    Refer to section 9.2, Boilers, in the <a class="doctitle" href="http://www.pnnl.gov/main/publications/external/technical_reports/PNNL-19634.pdf" , target="_blank">Operations &amp; Maintenance Best Practices</a> document .

</p>

<div class="myh2">Design Guidance</div>
<div class="myh3">Modular boilers versus large boiler design</div>
<p>
    A common challenge engineers face is choosing a boiler configuration for the heating system. Typically, heating systems have two boilers, one to meet the heating load and a second as a backup in case the first boiler fails. Alternatively, multiple small boilers can be installed with redundancy. Such a configuration is called modular boiler system.
</p>
<table>
    <tr>
        <th>Advantages of modular boilers</th>
        <th>Advantages of large boiler</th>
    </tr>
    <tr>
        <td>Can efficiently serve varying loads</td>
        <td>Boilers are compact in size even for large capacities and can take up less space than multiple boilers</td>
    </tr>
    <tr>
        <td>Easy to repair or replace a failed boiler without interrupting supply to the building</td>
        <td>Low initial cost in some applications</td>
    </tr>
    <tr>
        <td>Allows cold start and eliminates standby losses; eliminates jacket losses from standby boiler</td>
        <td></td>
    </tr>
    <tr>
        <td>More flexible in meeting capacity variations</td>
        <td></td>
    </tr>
    <tr>
        <td>Can easily be transported due to smaller size, reduces installation cost</td>
        <td></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th>Disadvantages of modular boilers</th>
        <th>Disadvantages of large boiler</th>
    </tr>
    <tr>
        <td>Adds complexity in piping layout and boiler control</td>
        <td>Short-cycling when a boiler is oversized; large pre- and post-purge losses</td>
    </tr>
    <tr>
        <td>Overall area needed for boiler operation might be significant because each boiler needs separate clearance area</td>
        <td>Longer warm-up time and start-up losses</td>
    </tr>

</table>
<br>
<table>
    <tr>
        <th>What should you consider when installing a modular or a large boiler? </th>
    </tr>
    <tr>
        <td>
            <ul>
                <li>Is there a distinct swing in the heating load?</li>
                <li>If yes, over what timescale is the swing occurring?</li>
                <li>If it is over a day, then a modular boiler might be a better choice than a large boiler.</li>
                <li>If the heating load is constant, then a large boiler might be a better choice.</li>
            </ul>
        </td>
    </tr>

</table>
<br>
<span class="myh3">Sources</span>
<ul class="mylist">
    <li><a class="doctitle" href="https://www.bookemon.com/flipread/409155#book/" target="_blank">Modular Boilers or Two-Boiler Design, Which is Best?</a>, Paul Good, McKinzie Company </li>
    <li><a class="doctitle" href="http://www.i2sl.org/documents/toolkit/bulletin_modular_boilers_508.pdf" target="_blank">Modular Boiler Systems for Laboratory Facilities </a>, Labs 21 Technical Bulletin</li>
</ul>
<br>
<span class="myh3">Other Resources</span>
<ul class="mylist">
    <li><a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam4_boiler_efficiency.pdf" target="_blank">Improve Your Boiler’s Combustion Efficiency </a>, U.S. Department of Energy (DOE) Tip Sheet</li>
    <li><a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/install_waste_heat_process_htgts8.pdf " target="_blank">Install Waste Heat Recovery Systems for Fuel-Fired Furnaces </a>, DOE Tip Sheet</li>
    <li><a class="doctitle" href="http://www.nrel.gov/docs/fy04osti/33470.pdf " target="_blank">Upgrade Boilers with Energy-Efficient Burners </a>, DOE Tip Sheet</li>
    <li><a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/steam8_boiler.pdf" target="_blank">Return Condensate to Boiler </a>, DOE Tip Sheet</li>
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/pnnl_sa_89222.pdf">Central Utility Plant Heating Control Guide</a> with examples of good and bad operations and how central utility plant heating can be efficiently controlled.</li>

</ul>
