<style>
    #rttypes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rtcodes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #boiler {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }

/*
    #svg {
        transform: scale(1.7, 1.7);
        transform-origin: 0% 10%;
        transition: all 2s ease-in-out;
    }
*/

</style>

<span class="myh2">Boiler: Types</span>

<p>Content will be available shortly</p>
