<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rtcodes,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

</style>

<span class="myh2">Design Calculators and Tools</span>
<ul class="mylist">
    <li><a class="doctitle" href="http://energy.gov/eere/femp/energy-cost-savings-calculator-commercial-boilers-closed-loop-space-heating-applications " target="_blank">Energy cost savings calculator for commercial boilers</a></li>
</ul>
<p> This is a cost analysis tool that estimates lifetime energy cost savings at different efficiencies.</p>
