<style>
  #hvac {
    opacity: 1;
    transition: opacity 1s linear;
  }

  #space {
    opacity: 0;
    transition: visibility 0s 1s, opacity .1s linear;
  }

    #cp-outline {
        fill: #44aa99 !important;
        opacity: .3;
    }

</style>

<div class="myh1">CENTRAL PLANT</div>

<p>Central Plants are the heart of the HVAC systems in large buildings or complex of buildings. This section provides information on chillers, boilers,
  cooling towers, pumps, water treatment systems, valves, pipes sensors, and controls. Typically, central plants supply systems with cooling loads in excess
  of 50 tons. The added components in these systems add to the complexity of operations and a higher level of operator knowledge and control oversight than that
  of standalone HVAC systems.</p>

  <img class="transimg" src="img/NREL_central_plant.jpg" alt="C.O.C=(TDS of blowdown)/(TDS of makeup water)" >
  <p class="source">Source:NREL images</p>
