<style>
    #hvac{
    opacity: 1;
  transition: opacity 1s linear;
    }
    #space{
     opacity: 0;
  transition: visibility 0s 1s, opacity .1s linear;
    }
      #chiller {
    fill: #44aa99!important;
    stroke: black !important;
    
     }

    

</style>

  <div class="myh1">CENTRAL PLANT</div>

    <body>
        
        <p>Chilled Water Central Plants typically concise of chiller(s), chiller water pump(s), condenser water pump(s), cooling tower(s), water treatment system, controls, and energy metering.  Typically chilled water central plants supply systems with cooling loads in excess of 50 tons that can range from one building to a campus of buildings.  Use of cooling towers versus air cooled condensers found in smaller stand alone HVAC systems can save energy by using wet bulb temperatures versus drive bulb temperatures to reject heat from the cooling system.  The added components in these systems adds to complexity of operations and a higher level of operator knowledge and control oversight than stand alone HVAC systems.</p>
        
    </body>


