<style>
    #rtprocure {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #rtcodes,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #chiller {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

/*    #svg {
        transform: scale(1.7, 1.7);
        transform-origin: 100% 10%;
        transition: all 1s ease-in-out;
    }*/

</style>

<span class="myh2">Chiller: Design Calculators and Tools</span>

<p><a class="doctitle" href="http://www.taylor-engineering.com/design-guides-and-tools" target="_blank">Taylor Engineering provides chiller performance calculators: The EDR Cool-Tools Water-Cooled Chiller Performance Spreadsheet v1.62.</a></p>
