<div class="myh2">Design Calculators and Tools</div>

<div class="myh3">Taylor Engineering provides two chiller performance calculators</div>

<p> Taylor Engineering provides two chiller performance calculators on their <a class="doctitle" href="http://www.taylor-engineering.com/design-guides-and-tools" target="_blank">Design Guides and Tools page.</a> Download the <a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/TE%20Chiller%20Bid%20Form%20v1.62.zip" target="_blank">EDR Cool-Tools Water-Cooled Chiller Performance Spreadsheet v1.62 (XLS)</a> and the <a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/Chiller%20Performance%20Template%20-%20Air%20Cooled.xls" target="_blank">Air-Cooled Chiller Performance Spreadsheet (XLS)</a>.</p>   
