<style>
    #hvac{
    opacity: 1;
  transition: opacity 1s linear;
    }
    #space{
     opacity: 0;
  transition: visibility 0s 1s, opacity .1s linear;
    }
      #chiller {
    fill: #44aa99!important;
    stroke: black !important;
    
  }
    

</style>

  <h1>Chiller</h1>

<div class="subflex">
    <div class="content-main">
      <div ui-view></div>
    </div>
    <div class="content-secondary">
      <a ui-sref=".basics" class="list-group-item">Basics</a>
      <a ui-sref=".design" class="list-group-item">Design Guides</a>
    </div>
</div>


