<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Performance Ratings</div>
<br>
Chiller performance is certified by the Air-Conditioning, Heating, and Refrigeration Institute (AHRI) and includes metrics for full load and part load performance. The integrated
part load value (IPLV) is a weighted average of the performance at 100%, 75%, 50%, and 25% loading and is a better indicator of annual energy consumption than full load performance
metric. This is true for chiller plants with a single chiller. In large plants, some chillers may be base loaded even in the winter months. <br>
The performance of electrically operated water cooled chillers is defined as the ratio of the rate of electricity input to the cooling output in tons of refrigeration and
expressed in kW/ton. This metric is also sometimes used for air cooled chillers, but the standard performance metric is the energy efficiency ratio (EER), which is the cooling energy
 provided divided by the energy input to the system and has units of Btu/Wh. EER is the inverse of kW/ton times 12. Lower the kW/ton values and higher EER values equate to more
 efficient performance. The performance of absorption chillers and heat recovery is expressed as coefficient of performance (COP).
<dir class="mylist2">
kW/ton = 12/EER
<br>
EER = 3.412·COP
<br>
IPLV = 0.01A + 0.42B + 0.45C + 0.12D
<br>
A = EER at 100% load
<br>
B = EER at 75% load
<br>
C = EER at 50% load
<br>
D = EER at 25% load
    </dir>


<p>Minimum efficiency levels for chillers are specified by ANSI/ASHARE Standard 90.1 or local codes. Standard 90.1 specifies minimum full load and part load efficiency levels for air cooled chillers, water cooled positive displacement, water cooled centrifugal chillers, single effect absorption chillers, and double effect absorption chillers.</p>
