<style>
    #rtdesign {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtcodes,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }
      #chiller {
        fill: #71C5E8 !important;
  stroke: #444444 !important;
  }

/*  #svg {
    transform: scale(1.7, 1.7);
    transform-origin: 100% 10%;
    transition: all 1s ease-in-out;
  }*/

</style>
<span class="myh2">Chiller: Energy Efficiency Measures</span>

<p>Per the ASHRAE equipment life expectancy chart, the typical life span of a chiller is 20–23 years. Thus, the decisions made during design and procurement have long-term impacts. Design aspects to consider include performance, capacity and number of chillers, redundancy needs, compressor type, water-cooled or air-cooled, space and weight, refrigerant, maintenance requirements, sound levels, and thermal energy storage. When specifying chiller capacity and efficiency levels, it is important to understand the annual load profile and to know that the part load performance is often more important than the full load performance because chillers generally operate at partial load. </p>

<a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/EDR_DesignGuidelines_CoolToolsChilledWater.pdf" target="_blank">The Chilled Water Plant Design Guide</a> was written by Taylor Engineering as part of the CoolTools™ project from energydesignresources. This guide provides a
complete overview of the process of setting up a chilled water plant from the design through procurement and commissioning. The guide is written for engineers who
design, redesign, or retrofit chilled water plants. The guide also provides a good introduction and overview for owners, facility managers, and operators. The guide
proposes a life cycle cost-based approach to selecting chillers. The steps include:
<ol my="mylist">
    <li>Calculating the cooling load to be met by the central plant </li>
    <li>Short listing chiller manufacturers based on experience from previous installations and local representation</li>
    <li>Requesting chiller bids based on performance specifications</li>
    <li>Incorporating first-cost impacts into the bids</li>
    <li>Estimating the energy usage of each chiller in the bid through a detailed computer model of the building/plant</li>
    <li>Evaluating maintenance cost for each manufacturer</li>
    <li>Analyzing life cycle cost </li>
    <li>Selecting the chiller with the lowest life cycle cost.</li>
</ol>

<p>For additional information on these efficiency measures, refer to <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/10/f3/OM_9.pdf#page=50" target="_blank">section 9.4.5 “Cost and Energy Efficiency” in the Operations and Maintenance Best Practices Guide</a> by the Pacific Northwest National Laboratory, published by the U.S. Department of Energy. In addition, refer to Chapter 6 in the <a class="doctitle" href="http://www.ciras.iastate.edu/publications/EnergyBP-ChemicalIndustry/EnergyBestPractices-ChemicalIndustry-Sourcebook.pdf#page=79" target="_blank">Energy-Related Best Practices</a> sourcebook published by Iowa State University.
</p>

<div class="myh3">Efficiency Measures</div>
<p>Chilled water plants are composed of several pieces of equipment, and efficient operation depends on maintaining the performance of all of the equipment as well as
    on optimal coordination of the components. Chilled water plant efficiency can be improved through the following actions:
    <ul class="mylist">
        <li>Lower chiller lift by raising the chilled water temperature set point </li>
        <li>Lower condenser water temperature, which requires that the chiller be capable of operating without triggering a low oil pressure alarm </li>
        <li>Implement an aggressive water treatment program to reduce scaling/fouling over heat transfer surfaces </li>
        <li>Maintain proper refrigerant charge</li>
        <li>Purge air trapped in condenser</li>
        <li>Clean filters on condenser water line to ensure adequate condenser water flow</li>
        <li>Install variable frequency drives on the compressor motors of centrifugal chillers and primary loop pumps.</li>

    </ul>
    <br>
    <p>Prior to implementing chiller efficiency measures, evaluate the impact on total system energy use and effectiveness. For example, raising the chilled water temperature may increase the water flow rate required and increase pumping energy use. Also, heat transfer media such as cooling coils must be designed to produce the required capacity at the higher chilled water temperature.</p>

    <p>For additional information on these efficiency measures, refer to <a class="doctitle" href="http://energy.gov/eere/femp/downloads/operations-and-maintenance-best-practices-guide" target="_blank">section 9 in the Operations and Maintenance Best Practices Guide</a> by Pacific Northwest National Laboratory, published by the U.S. Department of Energy. In addition, refer to Chapter 6 in the <a class="doctitle" href="http://www.ciras.iastate.edu/publications/EnergyBP-ChemicalIndustry/EnergyBestPractices-ChemicalIndustry-Sourcebook.pdf#page=79" target="_blank">Energy-Related Best Practices</a> sourcebook published by Iowa State University.
        The <a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/pnnl_sa_89198.pdf" target="_blank">Central Utility Plant Cooling Control Guide</a> provides examples of good and bad operations and how central utility plant cooling can be efficiently controlled.</p>
