<div class="myh2">Design Guides</div>

<p><a class="doctitle" href="http://www.taylor-engineering.com/downloads/cooltools/EDR_DesignGuidelines_CoolToolsChilledWater.pdf" target="_blank">Chilled Water Plant Design Guide </a>written by Taylor Engineering as part of the CoolTools from Energy Design Resources. This guide provides a complete overview of setting up a chilled water plant from the design process through procurement and commissioning. The guide is written for engineers who design, redesign, or retrofit chilled water plants. The guide also provides a good introduction and overview for owners, facility managers, and operators.</p>

<p class="myh3">Other Resources</p>

<p><a class="doctitle" href="http://lit.daikinapplied.com/bizlit/DocumentStorage/AirCooledChiller/ApplicationGuides/Daikin_AG_31-003_Chiller_Applicatio_Guide.pdf" target="_blank"> Chiller Application Guide</a> by Daikin</p>
<br></br>
<p><a class="doctitle" href="http://web.stanford.edu/group/narratives/classes/08-09/CEE215/ReferenceLibrary/Chillers/AbsorptionChillerGuideline.pdf" target="_blank">Absorption Chillers</a> by SoCalGas and New Buildings Institute as part of the Advanced Design Guideline Series</p>
<br></br>
<p><a class="doctitle" href="https://www.crcpress.com/HVAC-Water-Chillers-and-Cooling-Towers-Fundamentals-Application-and/Stanford-III/9781439862025" target="_blank">HVAC Water Chillers and Cooling Towers: Fundamentals, Application, and Operation</a> by Herbert W. Stanford III</p>
<br></br>
<p><a class="doctitle" href="https://energydesignresources.com/media/1681/edr_designbriefs_chillerplant.pdf?tracked=true" target="_blank">Chiller Plant Efficiency </a>by Energy Design Resources</p> 
