<style>
#rtcases{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
      #chiller {
        fill: #71C5E8 !important;
  stroke: #444444 !important;
  }
</style>

<div class="myh2">Chiller: Case Studies</div>
<p><a class="doctitle" href="https://betterbuildingssolutioncenter.energy.gov/showcase-projects/university-virginia-campbell-hall" target="_blank">University of Virginia, Campbell Hall</a><br>
Chiller plant optimization resulted in 35% energy savings and $82,000 in annual energy cost savings.
</p>

<p><a class="doctitle" href="https://betterbuildingssolutioncenter.energy.gov/showcase-projects/macys-ingram-park-mall" target="_blank">Ingram Park Mall, San Antonio, Texas </a><br>
Chiller plant replacement resulted in 43% energy savings and 35% annual energy cost savings.
</p>

<p><a class="doctitle" href="https://www.pge.com/includes/docs/pdfs/mybusiness/energysavingsrebates/incentivesbyindustry/hightech/C-1094.pdf" target="_blank">Sybase’s Headquarters Building</a><br>
The data center saved 411,000 kWh of energy by upgrading to an efficient chiller. The study reported $57,000 in annual energy cost savings, $41,000 in program incentives, and a payback of 8.5 months.</p>

<p><a class="doctitle" href="https://www.csemag.com/articles/project-profile-chiller-retrofit-at-office-building/" target="_blank">Duke Realty Corp.</a> <br>
Retrofitting existing constant speed chillers with variable frequency drives reduced annual energy costs by 30%.</p>
