<div class="myh2">Types</div>

<p class="myh3">Vapor Compression</p>
<p>Most vapor compression chillers use a mechanical compressor to move the refrigerant around the cycle and increase the pressure of the refrigerant in the vapor phase. Mechanical compressors can be categorized into dynamic (centrifugal) and positive displacement (reciprocating, rotary, and orbital).</p>
<br>
<hr>

<p class="myh3">Absorption</p>
<p>Absorption chillers work similar to a vapor compression cycle chiller except for the difference in the method used to increase the temperature and pressure of the refrigerant after it leaves the evaporator. In an absorption chiller, the compressor is replaced by an absorber and a generator.
The source of heat for an absorption chiller could be natural gas, steam or hot water. Absorption chillers are best suited in places where waste heat is generated, for example in a campus which has a cogeneration plant. Absorption chillers are less noisy compared to a vapor compression cycle based chiller.</p> 
<br>
<img class="transimg" src="img/steam14_chillers.png" alt="C.O.C=(TDS of blowdown)/(TDS of makeup water)">
<p class="source">Vapor compression and absorption cycle comparison (Source: <a href="http://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam14_chillers.pdf" target="_blank">Steam Tip Sheet #14, U.S. D.O.E</a>)</p>

<p>For additional information about using low-grade waste steam to for absorption chiller, refer to <a href="http://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam14_chillers.pdf" target="_blank">Steam Tip Sheet #14, U.S. D.O.E</a>)</p>