<style>
  #chiller {
    fill: teal !important;
    stroke: black !important;
  }
</style>
<div class="container">
  <h1>Chiller</h1>
  <div class="wrapper">
    <div class="col-sm-9">
      <div class="content-main">
        <div ui-view></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="content-secondary">
        <a ui-sref=".paragraph" class="list-group-item">Basics</a>
        <a ui-sref=".list" class="list-group-item">Design Guides</a>
      </div>
    </div>
  </div>
</div>
