<h2>Types</h2>

<h3>Vapor Compression</h3>
Most vapor compression chillers use a mechanical compressor to move the refrigerant around the cycle and increase the pressure of the refrigerant in the vapor phase. Mechanical compressors can be categorized into dynamic (centrifugal) and positive displacement (reciprocating, rotary, and orbital). 

<h3>Absorption</h3>
Absorption chillers work similar to a vapor compression cycle chiller except for the difference in the method used to increase the temperature and pressure of the refrigerant after it leaves the evaporator. In an absorption chiller, the compressor is replaced by an absorber and a generator. 
The source of heat for an absorption chiller could be natural gas, steam or hot water. Absorption chillers are best suited in places where waste heat is generated, for example in a campus which has a cogeneration plant. Absorption chillers are less noisy compared to a vapor compression cycle based chiller. 
