<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }
    #chiller {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Chiller: General Description and Uses</div>

<p>Chillers use one or more forms of energy to transfer thermal energy from one place to another. Chillers are typically the most expensive component and largest contributor to energy consumption and peak demand. There are two main categories of chillers used in buildings:
    <ul class="mylist">
        <li><b>Vapor compression chillers</b> use mechanical work with a working fluid &lpar;the refrigerant&rpar; to move thermal energy and are categorized as dynamic &lpar;centrifugal&rpar; or positive displacement &lpar;reciprocating, rotary, and orbital&rpar;.</li>
        <li><b>Absorption chillers</b> use thermal energy to drive the refrigeration cycle and have two working fluids – the sorbent and the refrigerant. </li>
    </ul>


    <p>
        Absorption chillers have a lower efficiency compared to vapor compression chillers and are best suited in places where waste heat is generated, for example in a campus
        with a cogeneration plant. For additional information about using low-grade waste steam to for absorption chiller, refer to the
        <a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam14_chillers.pdf", target="_blank">Energy Tip Sheet for Steam </a> by U.S. D.O.E </p>

    <table>
        <tr>
            <th colspan="5">Vapor Compression Chiller</th>
        </tr>
        <tr>
            <th></th>
            <th>Reciprocating</th>
            <th>Centrifugal</th>
            <th>Screw/ Rotary</th>
            <th>Scroll</th>
        </tr>
        <tr>
            <th>Types</th>
            <td>
                <ul>
                    <li>Hermitic sealed</li>
                    <li>Open construction</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Hermitic sealed</li>
                    <li>Open construction</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Single screw</li>
                    <li>Twin screw</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Single unit</li>
                    <li>Manifolded</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Advantages <sup>5,6</sup></th>
            <td>
                <ul>
                    <li>Low cost</li>
                    <li>Improved part load efficiencies</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Cost effective in larger sizes &lpar;>200 tons&rpar;</li>
                </ul>
            </td>

            <td>
                <ul>
                    <li>Few moving parts</li>
                    <li>Light weight</li>
                </ul>
            </td>

            <td>
                <ul>
                    <li>Few moving parts</li>
                    <li>Compact design</li>
                    <li>Low noise</li>
                </ul>
            </td>
        </tr>

        <tr>
            <th>Drawbacks</th>
            <td>
                <ul>
                    <li>High maintenance</li>
                    <li>Noise and vibration</li>
                    <li>Max capacity per piece</li>
                    <li>Limited models</li>
                    <li>Limited central plant application</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Costly for smaller sizes<sup>7</sup></li>
                    <li>Available mostly in water-cooled type</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Low efficiency</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Larger capacities need multiple compressors</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Application</th>
            <td>Small — medium sized buildings</td>
            <td>Central plants &lpar;district cooling&rpar;</td>
            <td>Commercial refrigeration</td>
            <td>Bulk milk cooling, truck transportation, marine containers and grocery display cases </td>
        </tr>
        <tr>
            <th>Typical capacity &lpar;tons&rpar;<sup>1,5,6,7</sup></th>
            <td>5 to ~400</td>
            <td>100 to &sim;4,000</td>
            <td>20 to &sim;1,000</td>
            <td>&lt; 40</td>
        </tr>

        <tr>
            <th>Full Load Efficiency &lpar;kW/ton&rpar;</th>
            <td>0.78 – 0.85<sup>1</sup></td>
            <td>0.45 – 0.68<sup>2</sup></td>
            <td>0.67 – 0.74<sup>4</sup></td>
            <td>0.92 – 1.25<sup>3</sup></td>
        </tr>
        <tr>

        </tr>
    </table>
    <br>

    <myh3>Sources</myh3>
    <ol class="mylist">
        <li><a class="doctitle" href="https://datacenters.lbl.gov/sites/default/files/EDR_DesignGuidelines_CoolToolsChilledWater.pdf" target="_blank">Chillers</a> </li>
        <li><a class="doctitle" href="https://www.csemag.com/articles/air-versus-water-cooled-chilled-water-plants/" target="_blank">Air- versus water-cooled chilled water plants </a>by Consulting Specifying Engineer</li>
        <li><a class="doctitle" href="https://climate.emerson.com/en-us/products/heating-and-air-conditioning/commercial-scroll-compressors" target="_blank">Scroll compressors </a> by Emerson</li>
        <li><a class="doctitle" href="https://www.pdhonline.com/courses/m119/m119content.pdf" target="_blank">PDH online.</a> Selection tips for chiller compressors.</li>
        <li><a class="doctitle" href="https://goenergylink.com/blog/how-absorption-chillers-work/" target="_blank">How Absorption Chillers Work </a>Energy Link</li>
    </ol>

    <span class="myh2">Other Chiller Resources</span>
    <p> For a list of commonly used terms refer the <a class="doctitle" href="https://www.ashrae.org/technical-resources/free-resources/ashrae-terminology" target="_blank"> ASHRAE Terminology</a></p>
    <p><a class="doctitle" href="https://betterbricks.com/resources/chillers" target="_blank">About Chillers- Resource Hub</a> by Better Bricks</p>
<p><a class="doctitle" href="https://www.cedengineering.com/userfiles/Overview%20of%20Chiller%20Compressors-R1.pdf" target="_blank">Overview of Chiller Compressors </a>by Continuing Education and Development, Inc.</p>
<p><a class="doctitle" href="https://www.epa.gov/sites/production/files/2021-02/documents/transitioning_to_low-gwp_alternatives_in_res_and_com_ac_chillers.pdf" target="_blank">Transitioning to Low-GWP Alternatives, </a>U.S. Environmental Protection Agency</p>
