<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
      #chiller {
        fill: #71C5E8 !important;
  stroke: #444444 !important;
  }

  #svg {
    transform: scale(1.7, 1.7);
    transform-origin: 100% 10%;
    transition: all 1s ease-in-out;
  }
</style>

<span class="myh2">Chiller: Operation and Training Resources</span>

<p>Proper operation of a chiller includes periodic maintenance and ongoing performance monitoring. Here are some steps to ensure efficient chiller operation.
<p class="myh3">During the annual chiller inspection, check for:</p>
<ul class="mylist">
    <li>Refrigerant and air leaks (check low-pressure systems for excess air and high-pressure systems for appropriate refrigerant levels)</li>
    <li>Compressor operating pressures</li>
    <li>Motor voltage and amps (look for increases in current draw)</li>
    <li>Issues with electrical starters, contactors, and relays</li>
    <li>Evaporator and condenser tube bundle cleanliness and integrity.</li>
    </ul>
<br>
<span class="myh3">Performance Indicators include:</span>
<ul class="mylist">
    <li>Condenser and evaporator entering and leaving water temperature and flow</li>
    <li>Chiller load profile</li>
    <li>Chiller energy performance (kW/ton)</li>
    <li>Oil level and pressure.</li>
  </ul>

<p>For additional information on these efficiency measures, refer to <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/10/f3/OM_9.pdf#page=51" target="_blank"> by Pacific Northwest National Laboratory,</a> published by the U.S. Department of Energy; ANSI/ASHRAE/ACCA Standard 180-2012, Standard Practice for Inspection and Maintenance of Commercial Building HVAC Systems; and Chapter 6 in the <a class="doctitle" href="http://www.ciras.iastate.edu/publications/EnergyBP-ChemicalIndustry/EnergyBestPractices-ChemicalIndustry-Sourcebook.pdf#page=79" target="_blank"> Energy-Related Best Practices</a> sourcebook published by Iowa State University.</p>

<br>
      <span class="myh3">Other Resources</span>
    <ul>
      <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/chapters/ch8_central_plant.pdf" target="_blank">Central Utility Plant Training: PPT presentation, slides 16-35</a></li>
        </ul>