<div class="myh2">Energy Codes and Standards</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<p><a class="doctitle" href="" target="_blank">Resource Name </a>More here.</p>

<p class="myh3">Other Resources</p>

<p><a class="doctitle" href="" target="_blank"> Title</a> by </p>
<br></br>
<p><a class="doctitle" href="" target="_blank">Title</a> by </p>
<br></br>
<p><a class="" target="_blank">Title</a> by</p>
<br></br>
<p><a class="" target="_blank">Title</a> by</p>
<br></br>
