<style>
    #hvac{
    opacity: 1;
  transition: opacity 1s linear;
    }
    #space{
     opacity: 0;
  transition: visibility 0s 1s, opacity .1s linear;
    }
      #chiller {
    fill: #44aa99!important;
    stroke: black !important;
    
     }

    

</style>

  <h1>Chiller</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="...">
          <div class="btn-group btn-group-lg" role="group" aria-label="..."><a ui-sref=".basics" data-toggle="tooltip" title="Hooray!"><i class="fa fa-info fa-3x"></i></a></div>
          <div class="btn-group btn-group-lg" role="group" aria-label="..."><a ui-sref=".types"><i class="fa fa-tasks fa-3x"></i></a></div>
          <div class="btn-group btn-group-lg" role="group" aria-label="..."><a ui-sref=".codes"><i class="fa fa-check-square fa-3x"></i></a></div>
        </div>

<div class="subflex">
      <div ui-view></div>
</div>


<!--      <a ui-sref=".basics" class="list-group-item"><i class="fa fa-info" aria-hidden="true"></i>   General Description</a>
      <a ui-sref=".types" class="list-group-item"><i class="fa fa-tasks" aria-hidden="true"></i>   Types</a>
          <a ui-sref=".codes" class="list-group-item"><i class="fa fa-check-square" aria-hidden="true"></i>   Codes & Standards</a>
        <a ui-sref=".guides" class="list-group-item"><i class="fa fa-book" aria-hidden="true"></i>   Design Guides & EEMs</a>
        <a ui-sref=".operaton" class="list-group-item"><i class="fa fa-wrench" aria-hidden="true"></i>    Operation & Training</a>
        <a ui-sref=".procure" class="list-group-item"><i class="fa fa-tachometer" aria-hidden="true"></i>    Procurement & Performance</a>
        <a ui-sref=".cases" class="list-group-item"><i class="fa fa-building" aria-hidden="true"></i>    Case Studies</a>-->