<div class="myh2">Energy Codes and Standards</div>

<p>
  <a class="doctitle" href="http://www.ahrinet.org/App_Content/ahri/files/STANDARDS/AHRI/AHRI_Standard_560_2000.pdf" target="_blank">ANSI/AHRI 560-2000: 2000 Standard for Absorption Water Chilling and Water Heating Packages</a>
</p>
<p>This standard is applicable to water-cooled single-effect steam and hot water operated chilling units, water-cooled double effect steam and hot water operated chilling and double-effect direct-fired water chilling/heating units. The working fluids is water as the refrigerant and LiBr (Lithium bromide) as the absorbent.</p>
<p>The rating requirements are classified as standard rating conditions and application rating conditions. Part load ratings (IPLV/NPLV) are calculated by measuring part-load efficiency at 100%, 75%, 50% and 25% load points. Fouling factor allowances are also calculated. Tolerances are tested and rated for capacity tons [kW], COP, MBH/ton, full load, part-load COP, IPLV and NPLV. The standard also elaborates minimum data required for published ratings. For more details about how each test is carried out and the associated calculations, refer to the <a class="doctitle" href="http://www.ahrinet.org/App_Content/ahri/files/STANDARDS/AHRI/AHRI_Standard_560_2000.pdf" target="_blank">AHRI Standard 560-2000.</a></p>
<br>
<p>
  <a class="doctitle" href="http://www.amazon.com/182-2008-Standard-Absorption-Water-Chilling-Water-Heating/dp/B00Q7S6N4Q" target="_blank">ANSI/ASHRAE 182-2008: Method of Testing Absorption Water-Chilling and Water-Heating Packages</a>
</p>
<p>This standard is intended to be used in conjunction with the ANSI/ASHRAE Standard 560. The test intends to measure net cooling capacity in MBH (kW) and the heat energy input requirement in a specific set of conditions. This is estimated by measuring the net heat removed from water as it passes through chilled/heating water loop. The standard outlines test procedures such as preparation, operation limits and calculation methods. Refer ANSI/ASHRAE 182-2008 for more details.</p>

<p class="myh3">Other Resources</p>

<p>For more details about functional testing of chillers, chiller system testing guidance and sample test forms, refer to
  <a class="doctitle" href="http://www.ftguide.org/ftg/SystemModules/Chillers/Functional_Testing_for_Chillers.htm" target="_blank">Functional Testing for Chillers.</a>
</p>
 