<div class="myh2">Case Studies</div>

<p><a class="doctitle" href="http://www.pge.com/includes/docs/pdfs/mybusiness/energysavingsrebates/incentivesbyindustry/hightech/C-1094.pdf" target="_blank">Sybase’s Headquarters Building</a>
The data center saved 411,000 kWh of energy by upgrading to an efficient chiller. The study reported $57,000 annual energy cost savings, $41,000 in program incentives, and a payback of 8.5 months.</p>  
<p><a class="doctitle" href="http://www.csemag.com/single-article/project-profile-chiller-retrofit-at-office-building/b56f0c55856d2f7ea604b8d9e5932617.html" target="_blank">Duke Realty Corp.</a> 
Retrofitting existing constant speed chillers with VFD’s reduced energy cost by 30%. </p>




