<div class="myh2">Operation and Training Resources</div>

<p>Proper operation of a chiller includes periodic maintenance and monitoring of performance. Few steps suggested to ensure efficient chiller operation are:</p>
<p class="myh3">Annual Chiller Inspection</p>
<p>Check for:</p>
<ul class="mylist">
<li>Refrigerant and air leak (Check low-pressure systems for excess air and high-pressure systems for appropriate refrigerant levels)</li>
<li>Compressor operating pressures</li>
<li>Motor voltage and amps (Look out for increases in current draw)</li>
<li>Electrical starters, contactors and relays</li>
    </ul>
<p class="myh3">Performance Indicators</p>
<ul class="mylist">
<li>Condenser and evaporator entering and leaving water temperature</li>
<li>Chiller load profile</li>
<li>Chiller energy performance (kW/Ton)</li>
<li>Oil level and pressure</li>
  </ul>

<p>For additional information on each of the above efficiency measure, refer to <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/10/f3/OM_9.pdf#page=51" target="_blank">section 9.4.6. Maintenance of Chillers in the Operations and Maintenance Best Practices</a> guide by PNNL, published by U.S. DOE. In addition refer to Chapter 6 in the <a class="doctitle" href="http://www.ciras.iastate.edu/publications/EnergyBP-ChemicalIndustry/EnergyBestPractices-ChemicalIndustry-Sourcebook.pdf#page=79" target="_blank">Energy-Related Best Practices</a> sourcebook published by Iowa State.</p>



