<style>
    #hvac {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #space {
        opacity: 0;
        transition: visibility 0s 1s, opacity .1s linear;
    }


    #svg {
        transform: scale(1.00, 1.00);
        transform-origin: 50% 270%;
        transition: all 1.7s ease-in-out;
    }

    #contributors {
        background-color: white !important;
        border-top: 4px solid #62D2FF !important;
        color: #000000 !important;
    }

    #hvachome,
    #distribution,
    #spaceloads,
    #centralplant {
        display: block;
        color: #92d1fa;
        text-align: center;
        text-decoration: none !important;
        position: relative;
    }

</style>

<div class="myh1">CONTRIBUTORS</div>
<div class="subflex">
    <div class="content-main">

        <div class="myh2">GENERAL HVAC SECTION CONTRIBUTORS</div>
        <span class="myh3">Reviewers</span>
        <ul class="mylist">
            <li> Kent Peterson, P2S Engineering</li>
            <li> Scott Williams, Williams Building Systems Engineering PC</li>
            <li> Otto VanGeet, National Renewable Energy Laboratory</li>
            <li> Anna Hoenmans, National Renewable Energy Laboratory</li>
        </ul>
        <br>

        <span class="myh3">Content Contributors</span>
        <ul class="mylist">
            <li> Michael Deru, National Renewable Energy Laboratory</li>
            <li> Anoop Honnekeri, National Renewable Energy Laboratory</li>
        </ul>
        <br>

        <span class="myh3">Schema Development</span>
        <ul class="mylist">
            <li> Marjorie Schott, National Renewable Energy Laboratory</li>
            <li> Alex Swindler, National Renewable Energy Laboratory</li>
            <li> Katherine Fleming, National Renewable Energy Laboratory</li>
        </ul>

        <div class="myh2">LABORATORIES SECTION CONTRIBUTORS</div>

        <span class="myh3">Content Contributors</span>
        <ul class="mylist">
            <li> Rachel Romero, National Renewable Energy Laboratory</li>
            <li> Otto VanGeet, National Renewable Energy Laboratory</li>
            <li> Amy Allen, National Renewable Energy Laboratory</li>
            <li> Kishor Khankari, AnSight LLC</li>
        </ul>
        <br>
        <span class="myh3">Reviewers</span>
        <ul class="mylist">
            <li> Ian Doebber, Mountain Ennergy Partnership</li>
        </ul>
        <br>

        <span class="myh3">Schema Development</span>
        <ul class="mylist">
            <li> Marjorie Schott, National Renewable Energy Laboratory</li>
            <li> Alex Swindler, National Renewable Energy Laboratory</li>
        </ul>
    </div>
</div>
