<style>
  #hvac {
    opacity: 1;
    transition: opacity 1s linear;
  }

  #space {
    opacity: 0;
    transition: visibility 0s 1s, opacity .1s linear;
  }


  #svg {
    transform: scale(1.00, 1.00);
    transform-origin: 50% 270%;
      transition: all 1.7s ease-in-out;
  }
    #contributors{
   background-color: white!important;
    color: #1d449c!important;
    font-size: 12pt;
    border-top: 4px solid #1d449c!important;
    }

#hvachome, #distribution, #spaceloads, #centralplant {
    display: block;
    color: #92d1fa;
    text-align: center;
    padding: 14px 16px;
    font-size: 12pt;
    text-decoration: none!important;
    position:relative;
}

</style>

<div class="myh1">Acknowledgements</div>
<div class="subflex">
  <div class="content-main">
  </div>
</div>

<div class="myh2">Reviewers</div>
<li> Kent Peterson, P2S Engineering</li>
<li> Steve Taylor, Taylor Engineering</li>
<li> Scott Williams, Williams Building Systems Engineering PC</li>
<li> Otto VanGeet, National Renewable Energy Laboratory</li>

<div class="myh2">Content contributors</div>
<li> Michael Deru, National Renewable Energy Laboratory</li>
<li> Anoop Honnekeri, National Renewable Energy Laboratory</li>

<div class="myh2">Schema development</div>
<li> Marjorie Schott, National Renewable Energy Laboratory</li>
<li> Alex Swindler, National Renewable Energy Laboratory</li>
<li> Katherine Fleming, National Renewable Energy Laboratory</li>
