<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #demand_control_box {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>


<div class="myh2">Demand-Controlled Ventilation</div>

<p>Demand-controlled ventilation &lpar;DCV&rpar; uses real-time information provided by sensors to vary ventilation rates to directly meet space and occupant needs at a given time. Rather than setting a single, constant ventilation rate based on information only available during system design, a dynamic, demand-based approach employs variable-air-volume &lpar;VAV&rpar; control in which a range of rates can be used, with real time values determined according to sensed operating data.</p>

<p>The range of rates for the system is determined based on standards ASHRAE Standard 62.1 and ANSI Z9.5 and a <a href="https://smartlabs.i2sl.org/assess.html#lvra" target="blank">laboratory ventilation risk assessment</a>, which characterizes risk due to hazards present in the lab space. During operation, sensors monitor real-time indoor environmental conditions, such as occupancy, temperature, and concentration of contaminants or total volatile organic compounds &lpar;TVOCs&rpar; and alert the ventilation control system of space needs. For example, if a pollutant is detected, an alert is triggered to increase the ventilation rate as needed until that pollutant is reduced below a defined concentration.</p>

<p>DCV systems provide the dynamic controls needed to maintain safe environmental conditions within dynamic laboratory environments. DCV systems can identify malfunctioning fume hoods or poor lab practices that could otherwise go undetected and can provide a record of laboratory air cleanliness for reporting purposes. Beyond ensuring safety for occupants, DCV systems improve energy efficiency by preventing unnecessary excess ventilation when no contaminants are present. Stakeholders must weigh the benefits and costs of a DCV system to determine if the superior performance and energy efficiency of the lab is worth the increased complexity and cost.</p>

<img class="transimg" src="img/demand_vent_photo_labs.jpg" alt="Photograph of four scientist in lab coats, booties, and hair nets working in front of a fume hood. Three are watching the other scientist open the lid of a container under the hood.">
<p class="imgtitle">Demand-controlled ventilation &lpar;DCV&rpar; is often connected to occupancy sensors in addition to pollutant sensors.<span class="source"></span></p>

<p>More info about demand control and other techniques for VAV systems can be found in the <a class="doctitle" href="https://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf" target="_blank">Optimizing Laboratory Ventilation Rates</a> document. Empirical results from a real-life test study completed at the University of California-Irvine can be found in the <a class="doctitle" href="https://www.i2sl.org/documents/toolkit/bulletin_demandvent_508.pdf" target="_blank"> Laboratory Centralized Demand Controlled Ventilation System Increases Energy Efficiency in Pilot Study</a> document.</p>


<p class="myh3">Resources</p>
<ul class="mylist">
    <li><a class="doctitle" href="https://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf" target="_blank">I<sup>2</sup>SL Best Practice Guide: Optimizing Laboratory Ventilation Rates</a></li>
    <li><a class="doctitle" href="https://www.i2sl.org/documents/toolkit/bulletin_demandvent_508.pdf" target="_blank">I<sup>2</sup>SL Best Practice Guide: Laboratory Centralized Demand Controlled Ventilation System Increases Energy Efficiency in Pilot Study</a></li>
</ul>
