<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

/*    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 80% 270%;
        transition: all 1.7s ease-in-out;
    }*/

    #demand_control_box {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>


<span class="myh2">Demand-Controlled Ventilation: Basics</span>

<p>Demand-controlled ventilation (DCV) uses pollutant sensors to provide real-time variable-air-volume ventilation (VAV) control. Ventilation air is provided at a minimum level according to ASHRAE Standard 62.1. If a pollutant is detected such as carbon dioxide (CO<sub>2</sub>), carbon monoxide (CO), dewpoint temperature, and total volatile organic compounds (TVOCs), an alarm is sent and the ventilation rate is increased until that pollutant is reduced below a defined concentration. DCV systems can identify malfunctioning fume hoods or poor lab practice that could otherwise go undetected. DCV can provide a record of laboratory air cleanliness for reporting purposes.</p>

<p>DCV can save energy if the minimum ventilation rate to a space is reduced when certain pollutants are below some defined threshold. DCV does not save any energy in labs where the ventilation rate is driven by the fume hood airflow needs or cooling load driven labs, but can still provide pollutant detection and alarms. Although DCV can allow for more energy efficient lab performance, it comes at the expense of having to design the correct sensor choice and placement. In order for a DCV system to be installed in a building, stakeholders must come together and decide if the superior performance and energy efficiency of the lab is worth the increased complexity and cost.</p>

<p>More info about demand control and other techniques for variable air volume systems can be found in the <a class="doctitle" href="http://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf" target="_blank">Optimizing Laboratory Ventilation Rates</a>. Empirical results from a real-life test study completed at the University of California-Irvine can be found in the <a class="doctitle" href="http://www.i2sl.org/documents/toolkit/bulletin_demandvent_508.pdf" target="_blank">Laboratory Centralized Demand Controlled Ventilation System Increases Energy Efficiency in Pilot Study</a> document.</p>
<br>

<p class="myh3">References</p>
<ul class="mylist">
    <li>Bell, G. C. (2007). Laboratories for the 21st Century: Best Practice Guide. Optimizing Laboratory Ventilation Rates. U.S Department of Energy. Retrieved from <a href="http://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf" target="_blank">http://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf </a>by Alabama Power </li>
</ul>
