<style>
#rtbasics{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>


<div class="myh2">Basics</div>

<p>Occupant comfort is a critical piece of HVAC design when it comes to ensuring occupant productivity and reducing hot/cold calls. Selecting and sizing the outlet diffusers thus
   is an important step in providing a comfortable environment for the occupants. Outlet diffusers can be selected based on architectural requirements, noise criteria, distance of
    throw, air flow etc. Location of the supply diffuser and return grille is also important. Refer <a class="doctitle" href="" target="_blank">‘Selecting air-distribution outlets: Designing for comfort’</a> article by David John
    for more details on diffuser selection and sizing.</p>

<p>Each diffuser type has a different pressure drop which also needs to be taken into account when selecting the diffuser. The table below gives a comparison between the performance parameters for commonly used diffuser types.</p>

<table class="mytable">

  <tr>
    <th></th>
    <th>Airflow (cfm)</th>
    <th>Pressure drop (inches of wc)</th>
      <th>Noise criteria</th>
      <th>Throw <sup>1</sup> </th>
  </tr>
  <tr>
    <th>Linear slot diffusers <sup>2</sup> </th>
    <td align="center"> 550 </td>
    <td align="center">0.305</td>
    <td align="center">39</td>
    <td align="center">19-24-34</td>
  </tr>

  <tr>
    <th>Ceiling and side wall diffuser <sup>3</sup> </th>
    <td align="center"> 490 </td>
    <td align="center">0.175</td>
    <td align="center">40</td>
    <td align="center">12-17-25</td>
  </tr>

  <tr>
    <th>Nozzle diffuser <sup>4</sup> </th>
    <td align="center"> 580 </td>
    <td align="center">0.48</td>
    <td align="center">29</td>
    <td align="center">41-58-82</td>
  </tr>

  <tr>
    <th>Plaque face diffuser <sup>5</sup> </th>
    <td align="center"> 550 </td>
    <td align="center">0.115</td>
    <td align="center">18</td>
    <td align="center">6-9-16</td>
  </tr>

  <tr>
    <th>Louvered face diffuser <sup>6</sup> </th>
    <td align="center"> 700 </td>
    <td align="center">0.229</td>
    <td align="center">32</td>
    <td align="center">25-30-43</td>
  </tr>

  <tr>
    <th>Swirl face diffuser <sup>7</sup> </th>
    <td align="center"> 550 </td>
    <td align="center">0.271</td>
    <td align="center">41</td>
    <td align="center">6-9-14</td>
  </tr>
</table>

<ol>
<li>Throw values are for terminal velocities of 150, 100 add 50 fpm respectively</li>
<li>2” slot width, 1-slot 12” inlet, 5ft length</li>
<li>Duct size = 14”x8”,  velocity= 700 fpm, 4 way</li>
<li>Nominal size = 12”, nozzle velocity = 2500 fpm</li>
<li>24”x24” module, 12” neck, neck velocity= 700 fpm</li>
<li>12”x12” neck, velocity= 700 fpm</li>
<li>24”x24” module, 12” dia, velocity= 700 fpm</li>
</ol>

<hr>
<br>
<span class="myh3">Other Resources</span>
    <li> <a class="doctitle"  href="http://utahashrae.org/wp-content/links/MERAD_Ash.pdf" target="_blank"> Methods for effective room air distribution</a>, by Krueger</li>
