<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #diffuser1,
    #diffuser2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 100% 150%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Diffuser: General Information</span>

<p>Selecting, sizing and locating supply air diffusers is an important step in achieving high ventilation effectiveness for laboratory air systems. Air supply should sweep the lab without creating excessive air currents near exposure control devises (ECD) such as fume hoods that would compromise containment. More specifically, cross drafts greater than 50% of the ECD face velocity can compromise containment. Diffusers should typically be located as far from ECDs as possible.</p>

<p>Laminar flow distribution systems and diffusers should be used to provide low velocity, high volume air to labs. Some examples are perforated ducts, perforated diffusers, perforated ceiling panels and high capacity radial diffusers.</p>


<br>
<span class="myh3">Other Resources</span>
<ul class="mylist">
    <li>ASHRAE Laboratory Design Guide second edition, Chapter 6 “Primary Air Systems”.</li>
</ul>
