<style>
    #d1-outline, #d2-outline {
         fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
  #svg {
    transform: scale(1.00, 1.00);
    transform-origin: 50% 270%;
      transition: all 1.7s ease-in-out;
  }
    </style>

<div class="myh1">DISTRIBUTION SYSTEM</div>
<div class="subflex">
  <div class="content-main">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
  <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>.
</p>
      </div>
    
<!--    <div class="content-secondary">
       <div id="demo">
      <div class="wrap">
        <div class="cont">
      <ul>   
        <li><a href="#/ahu/basics"> Air Handling Unit (AHU)</a></li>
        <li><a href="#/duct/basics">Ducting</a></li>
        <li><a href="#/diffuser/basics">Diffusers</a></li>
          <li><a href="#/fan/basics">Fans</a></li>
        <li><a href="#/pipe/basics">Piping</a></li>
          <li><a href="#/steam/basics">Steam Traps</a></li>
        <li><a href="#/terminal/basics">Terminal Units</a></li>
        <li><a href="#/valve/basics">Valve</a></li>
          <li><a href="#/vav/basics">VAV Boxes</a></li>
      </ul>
  </div>
          <div class="parent">COMPONENTS<i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></div>
</div>-->
        </div>
        <div id="regular">
      <span class="myh4">COMPONENTS</span>
      <nav class="rtnav">
      <ul>   
        <li><a href="#/ahu/basics"> Air Handling Unit (AHU)</a></li>
        <li><a href="#/duct/basics">Ducting</a></li>
        <li><a href="#/diffuser/basics">Diffusers</a></li>
          <li><a href="#/fan/basics">Fans</a></li>
        <li><a href="#/pipe/basics">Piping</a></li>
          <li><a href="#/steam/basics">Steam Traps</a></li>
        <li><a href="#/terminal/basics">Terminal Units</a></li>
        <li><a href="#/valve/basics">Valve</a></li>
          <li><a href="#/vav/basics">VAV Boxes</a></li>
      </ul>
        </nav>
</div>
    </div>
