<style>
    #d1-outline, #d2-outline {
        fill: #ddcc77 !important;
        opacity: .3;
    }
      #svg {
    transform: scale(1.0, 1.0);
    transform-origin: 0% 0%;
    transition: all 1s ease-in-out;
  }
    </style>

<div class="myh1">DISTRIBUTION SYSTEM</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
  <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>.
</p>
