<style>
    #d1-outline, #d2-outline {
         fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
  #svg {
    transform: scale(1.00, 1.00);
    transform-origin: 50% 270%;
      transition: all 1.7s ease-in-out;
  }
    #distribution{
   background-color: white!important;
    color: #1d449c!important;
    font-size: 12pt;
    border-top: 4px solid #1d449c!important;
    }

#hvachome, #centralplant, #spaceloads, #contributors {
    display: block;
    color: #92d1fa;
    text-align: center;
    padding: 14px 16px;
    font-size: 12pt;
    text-decoration: none!important;
    position:relative;
}
    </style>

<div class="myh1">DISTRIBUTION SYSTEM</div>
<div class="subflex">
  <div class="content-main">

<p>The HVAC distribution system is comprised of all the equipment and controls to transfer thermal energy between the central plant and the building spaces. This includes the pumps, fans, pips, ducts, valves, and air handling units. Proper design and operation are essential to maintain the desired thermal conditions in the spaces. Opportunities for energy savings include turning fans and pumps off or turning them down when not needed, reducing system leaks, optimizing controls, and using high efficiency equipment.
</p>
      </div>

    <div class="content-secondary">
        <div id="regular">
      <span class="myh4">COMPONENTS</span>
      <nav class="rtnav">
      <ul>
        <li><a href="#/ahu/basics"> Air Handling Unit (AHU)</a></li>
        <li><a href="#/duct/basics">Ducting</a></li>
        <li><a href="#/diffuser/basics">Diffusers</a></li>
          <li><a href="#/fan/basics">Fans</a></li>
        <li><a href="#/pipe/basics">Piping</a></li>
          <li><a href="#/steam/basics">Steam Traps</a></li>
        <li><a href="#/terminal/basics">Terminal Units</a></li>
        <li><a href="#/valve/basics">Valve</a></li>
          <li><a href="#/vav/basics">VAV Boxes</a></li>
      </ul>
        </nav>
</div>
    </div>
