<style>
#rtbasics{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Basics</div>

<table class="mytable">
<tr>
  <th colspan="2"> Duct material type  </th>
  <th>Application</th>
  <th>Advantage</th>
  <th>Disadvantage</th>
</tr>

<tr>
  <th rowspan="4">Metallic duct</th>
  <th>Galvanized steel</th>
  <td>Used in air handling systems- supply and return ducts</td>
  <td>Strong, rigid, durable, rust-resistant, easy to work (i.e. drill holes, weld and paint)</td>
  <td>Poor acoustics, can transmit noise due to vibration . Cannot be used in corrosive environment and in handling high temperature fluid</td>
</tr>

<tr>
  <th>Carbon steel</th>
  <td>High temperature duct systems and ducts requiring paint or special coating (Flues, stacks and hoods) </td>
  <td>Sturdy, rigid, durable, easily available, weldable and non-porus </td>
  <td>Gets corroded  quickly, heavy weight</td>
</tr>

<tr>
  <th>Aluminum</th>
  <td>Clean room, moist air, exhausts</td>
  <td>Light weight, corrosion resistant, lower static friction drop compared to galvanized steel</td>
  <td>Low strength, expensive compared to galvanized steel duct, difficult to weld </td>
</tr>

<tr>
  <th>Stainless steel </th>
  <td>Kitchen exhaust, moist air, fume exhaust </td>
  <td>Corrosion resistant, can take high polish </td>
  <td>Difficult to work (i.e. drill holes, bend), expensive compared to galvanized steel duct</td>
</tr>

<tr>
  <th rowspan="4">Non metallic duct</th>
  <th>Fibreglass reinforced plastic </th>
  <td>Chemical exhausts, scrubbers, underground duct systems</td>
  <td>Good sound attenuation, corrosion resistant</td>
  <td>High cost, weight, fabrication, code acceptance</td>
</tr>

<tr>
  <th>Polyvinyl chloride (PVC) </th>
  <td>Exhaust for chemical fumes and underground duct work  </td>
  <td>Corrosion resistant, light weight, easy to work (weld and modify)  </td>
  <td>High cost, inability to handle thermal shock  </td>
</tr>

<tr>
  <th>Polyvinyl steel (PVS)</th>
  <td>Ducts, moist air environments</td>
  <td>Corrosion resistant, light weight</td>
  <td>Inability to withstand high temperatures, prone to coating damage</td>
</tr>

<tr>
  <th>Flexible duct</th>
  <td>Run outs, used to connect supply plenum to diffuser </td>
  <td>Factory-insulated, fewer duct connection, joints</td>
  <td>Can get easily torn and crushed, high resistance to air flow</td>
</tr>

</table>

<br>

<table class="mytable">
<tr>
    <th>Duct type</th>
    <th>Application</th>
    <th>Advantage</th>
    <th>Disadvantage</th>
</tr>

<tr>
    <th>Round</th>
    <td rowspan="3">Air-distribution</td>
    <td>Smaller pressure drop per unit are, high ratio of air-carrying capacity to pressure drop, less leakage compared to rectangular duct </td>
    <td>Height cannot be adjusted unlike rectangular ducts, needs a fixed amount of clear space</td>
</tr>

<tr>
    <th>Rectangular</th>
    <td>Easy fabrication, can fit into tight spaces, provide flat surface for tap-ins</td>
    <td>Higher pressure drop, use more material compared to a round duct for same air-flow, difficult to seal</td>
</tr>

<tr>
    <th>Oval</th>
    <td>Smaller height requirement compared to a round duct</td>
    <td>Fittings are difficult to fabricate, difficult to handle and ship large sizes</td>
</tr>

</table>
<br>

<myh2>References</myh2>
        <li><a class="doctitle"  href="http://www.nrel.gov/docs/fy12osti/53352.pdf" target="_blank">Advanced Strategy Guideline: Air Distribution Basics and Duct Design </a>U.S. DOE</li>
        <li><a class="doctitle"  href="https://www.rses.org/assets/serviceapplicationmanual/630-148.pdf " target="_blank">Duct system design considerations</a></li>
        <li><a class="doctitle"  href="http://www1.eere.energy.gov/buildings/publications/pdfs/building_america/27630.pdf " target="_blank">Improving the efficiency of your duct systems</a></li>
        <li><a class="doctitle"  href="http://www.wncgbc.org/images/pdfs/HVACInstall.pdf " target="_blank">Air distribution system installation and sealing: Proper duct installation increases efficiency</a></li>
