<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }


    /*    #svg {
          transform: scale(1.2, 1.2);
    transform-origin: 0% 180%;
    transition: all 1.7s ease-in-out;
    }*/

</style>


<div class="myh2">Exposure Control Devices: General Information</div>

<p>Exposure control devices contain the hazardous chemical in the laboratory environment at the source. Fume hoods are a primary method of exposure control and are defined as “a safety device specifically designed to carry undesirable effluence away from laboratory personnel and out of the building, when connected to a properly designed laboratory system” according to the Scientific Equipment and Furniture Association &lpar;SEFA&rpar; &lpar;ASHRAE 2015&rpar;.</p>

<p>Fume hoods are typically the most visible component of a laboratory HVAC system. Knowing how to optimally use these devices with the ventilation system for proper temperature control, dilution and chemical isolation is a fundamental part of lab energy conservation. A solid knowledge of fume hoods and their features, limitations, and design and operational requirements is critical for a sound design and operation of laboratory HVAC systems.</p>

<p>Exposure control devices are divided into three general categories for specific use: chemical fumes, biological substances, and other uses.</p>

<p><b>Chemical fume hoods</b> are designed to contain general odorous, toxic and otherwise harmful chemical substances that are used in a wide range of laboratory activities pertaining to chemical research. These designs exhaust the air to outside the building without needing to purify the air.</p>

<img class="transimg" src="img/lab-hoods.jpg" alt="Photograph showing two side-by-side hoods in a laboratory.">
<p class="imgtitle">Fume hoods are the most common exposure control device and can drive energy use in chemical lab spaces. See the Energy Efficiency Measures tab for information on equipment-specific strategies for achieving energy efficiency.  <span class="source">Photo by Shames Stevens, NREL</span></p>


<p><b>Biological safety cabinets &lpar;BSC&rpar;</b> are needed to provide a more secure environment so these cabinets are designed to specifically handle organisms, infectious agents, processes, and particles that can potentially contaminate and harm other projects, personnel, and the environment. Because air needs to be purified when exiting or even entering the BSC, a HEPA filter needs to be installed at the biological safety cabinet. There are several types of BSC and the type selected has significant energy implications.</p>

<img class="transimg" src="img/biological_safety_cabinet.jpg" alt="Photograph of a safety cabinet with glass and metal framing. Inside are biohazard containers.">
<p class="imgtitle">Biological safety cabinets are specially designed to mitigate exposure to biohazardous research activities.<span class="source">Photo from Ca.garcia.s, CC BY-SA 4.0, via Wikimedia Commons</span></p>

<p>In addition to chemical fume hoods and biological safety cabinets, there are numerous other types of primary containment devices that are available to control airborne containments in laboratories, including the following:</p>

<ul>
    <li>Ventilated balance enclosures</li>
    <li>Slot hood</li>
    <li>Canopy hood and dedicated equipment exhaust</li>
    <li>Snorkels and spot exhausts</li>
    <li>Laminar flow clean air station</li>
    <li>Glove box</li>
    <li>Ventilated enclosure</li>
</ul>
<div class="myh4">FEATURED RESOURCE</div>
<a href="https://fumehoodcalculator.lbl.gov/" target="_blank"><div class="featured">
    <img class="featureimg" src="img/berkeley_lab_logo.png" alt="Logo for LBNL"><p><b><u>
        Laboratory Fume Hood Energy Modeler</b></u></p><p>Laboratory fume hoods are energy-intensive, with the typical fume hood in US climates using 3 to 5 times as much energy as a home. This calculator developed by Lawrence Berkeley National Laboratory &lpar;LBNL&rpar; estimates annual fume hood energy use and costs for user-specified climates and assumptions about operation and equipment efficiencies. </p>   
</div></a>
<br>
<span class="myh3">Resources</span>
<ul class="mylist">
    <li class="doctitle"><a href="https://smartlabs.i2sl.org/assess.html#lvra" target="_blank">Smart Labs Toolkit: Laboratory Ventilation Risk Assessment</a></li>
    <li class="doctitle"><a href="https://www.ashrae.org/technical-resources/bookstore/ashrae-laboratory-design-guide-2nd-ed" target="_blank">ASHRAE. &lpar;2015&rpar;. <b><i>ASHRAE Laboratory Design Guide:</a> Planning and operation of laboratory HVAC systems &lpar;2nd ed.&rpar;</b></i>. Atlanta. doi: 9781936504985</li>
    <li class="doctitle"><a href="https://www.sefalabs.com/assets/docs/recommended-practices/Selection%20and%20Management%20of%20ECDs%20in%20Labs.pdf" target="_blank">SEFA Selection and Management of Exposure Control Devices in Laboratories</a></li>
</ul>
