<style>
    #rtoperation {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtbasics,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline,
    #hoodtop,
    #hoodbottom {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }


    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 0% 180%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Exposure Control Devices: Operation and Training Resources</span>

<ul>
    <li>ASHRAE 110: Standard 110-2016 -- Method of Testing Performance of Laboratory Fume Hoods</li>
    <li>ANSI Z9.5</li>
    <li><a href="http://www.i2sl.org/documents/toolkit/bp_commissioning_508.pdf" target="_blank">Commissioning Ventilated Containment Systems in the Laboratory</a></li>
</ul>
