<style>
    #rtdesign {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtbasics,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline,
    #hoodtop,
    #hoodbottom {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

/*    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 0% 180%;
        transition: all 1.7s ease-in-out;
    }*/

</style>


<div class="myh2">Exposure Control Devices: Energy Efficiency Measures</div>

<p>While safety is the paramount objective of fume hoods, energy consideration should be considered a vital part of operations. Achieving both is contingent on an understanding of the different types and purposes of the fume hoods. The primary energy efficiency measure is reducing the flow rate across the face area to the lowest level that provides adequate containment, and then maximized by pairing with a variable air exhaust system. For fume hoods, limiting the face area limits the flow rate. Sash stops are the most common sash limiting device. For example, if a sash stop is installed at 15&quot; and the hood is balanced for 15&quot; the flow would be &frac12; of the fully open sash (typically 30&quot;&rpar;. </p>

<p>Fume hood retrofit kits that limit the opening also limit the flow. If the fume hood is connected to a VAV system then closing the sash is a key EEM. The best sash closing system is an educated and proactive user. If users do not typically close the sash, then automatic sash closing systems can be considered. Occupancy at the hood can be sensed and the face velocity can be reduced if occupancy is not detected, then increased when occupancy is detected.</p>

<img class="transimg" src="img/close_sash_image.jpg" alt="Image showing two stickers for the hood. One has an arrow pointing down and it says, "More Safe, Less Energy." The other has an image of the globe with a cape pointing at text that says Shut the Sash. It also says that an open fume hood wastes $1,100 in energy per year—roughly the amount needed for an entire home." ">
<p class="imgtitle">Simple stickers reminding users to shut the sash of fume hoods can greatly increase savings. Learn more how occupant engagement efforts at Harvard University &lpar;left image&rpar; and Colorado School Mines &lpar;right image&rpar; that are driving energy savings.</p>

<span class="myh3">Resources</span>
<ul class="mylist">
    <li class="doctitle"><a href="https://smartlabs.i2sl.org/cs-nrel-fume-hood.html" target="_blank">NREL Case Study: ASHRAE 110 Testing for Fume HoodsSmart Labs Toolkit: Working with Scientists – Equipment Specific Practices</a></li>
    <li class="doctitle"><a href="https://green.harvard.edu/programs/green-labs/shut-sash-program" target="_blank">Harvard University Green Labs: Shut the Sash Program</a></li>
    <li class="doctitle"><a href="https://marketplace.ucdavis.edu/C21642_ustores/web/store_cat.jsp?STOREID=12&CATID=72&SINGLESTORE=true" >Shut the Sash Stickers</a></li>
    <li><a class="doctitle" href="https://smartlabs.i2sl.org/cs-csm.html" target="_blank">Driving Energy Savings Through Occupant Engagement and Behavior Change</a> at the Colorado School of Mines</li>
</ul>
