<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rtbasics,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline,
    #hoodtop,
    #hoodbottom {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
        ;
    }


/*    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 0% 180%;
        transition: all 1.7s ease-in-out;
    }*/

</style>


<div class="myh2">Exposure Control Devices: Calculators and Tools</div>

<p>The Laboratory Fume Hood Energy Model calculator estimates annual fume hood energy use and costs for user-specified climates and assumptions about operation and equipment efficiencies.</p>

<p><a class="doctitle" href="https://fumehoodcalculator.lbl.gov/" target="_blank">https://fumehoodcalculator.lbl.gov/</a> </p>
