<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #rect4513_1_,
    #rect4513_2_ {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #energyrecoverypipe {
        stroke: #71C5E8 !important;
        stroke-width: 5px;
    }


    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 0% 70%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Exposure Control Devices: Types</span>

<p>In addition to chemical fume hoods and biological safety cabinets, there are numerous other types of primary containment devices that are available to control airborne containments in laboratories, including the following:</p>

<ul class="mylist">
    <li>Ventilated balance enclosures</li>
    <li>Slot hood</li>
    <li>Canopy hood and dedicated equipment exhaust</li>
    <li>Snorkels and spot exhausts</li>
    <li>Laminar flow clean air station</li>
    <li>Glove box</li>
    <li>Student demonstration board</li>
    <li>Ventilated enclosure</li>
</ul>
