<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #rect4513_1_,
    #rect4513_2_ {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #energyrecoverypipe {
        stroke: #71C5E8 !important;
        stroke-width: 5px;
    }


    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 0% 70%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Exposure Control Devices: Energy Efficiency Measures</span>

<p>While safety is the paramount objective of fume hoods, energy consideration should be considered a vital part of operations. Achieving both is contingent on an understanding of the different types and purposes of the fume hoods. The primary energy efficiency measure is reducing the flow rate across the face area to the lowest level that provides adequate containment, and then maximized by pairing with a variable air exhaust system. For fume hoods, limiting the face area limits the flow rate. Sash stops are the most common sash limiting device. For example, if a sash stop is installed at 15&quot; and the hood is balanced for 15&quot; the flow would be &frac12; of the fully open sash (typically 30&quot;). </p>

<p>Fume hood retrofit kits that limit the opening also limit the flow. If the fume hood is connected to a VAV system then closing the sash is a key EEM. The best sash closing system is an educated and proactive user. If users do not typically close the sash, then automatic sash closing systems can be considered. Occupancy at the hood can be sensed and the face velocity can be reduced if occupancy is not detected, then increased when occupancy is detected.</p>
