<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }


    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 0% 180%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Exposure Control Devices: General Information</span>

<p>Exposure control devices contain the hazardous chemical in the laboratory environment at the source. Fume hoods are a primary method of exposure control and are defined as “a safety device specifically designed to carry undesirable effluence away from laboratory personnel and out of the building, when connected to a properly designed laboratory system” according to the Scientific Equipment and Furniture Association (SEFA) (ASHRAE 2015).</p>

<p>Fume hoods are typically the most visible component of a laboratory HVAC system. Knowing how to optimally use these devices with the ventilation system for proper temperature control, dilution and chemical isolation is a fundamental part of lab energy conservation. A solid knowledge of fume hoods and their features, limitations, and design and operational requirements is critical for a sound design and operation of laboratory HVAC systems.</p>

<p>Exposure control devices are divided into three general categories for specific use: chemical fumes, biological substances, and other uses.</p>

<p><b>Chemical fume hoods</b> are designed to contain general odorous, toxic and otherwise harmful chemical substances that are used in a wide range of laboratory activities pertaining to chemical research. These designs exhaust the air to outside the building without needing to purify the air.</p>

<p><b>Biological safety cabinets (BSC)</b> are needed to provide a more secure environment so these cabinets are designed to specifically handle organisms, infectious agents, processes, and particles that can potentially contaminate and harm other projects, personnel, and the environment. Because air needs to be purified when exiting or even entering the BSC, a HEPA filter needs to be installed at the biological safety cabinet. There are several types of BSC and the type selected has significant energy implications</p>

<br>
<span class="myh3">References</span>
<ul class="mylist">
    <li>ASHRAE. (2015). ASHRAE Laboratory Design Guide: planning and operation of laboratory HVAC systems (2nd ed.). Atlanta. doi: 9781936504985</li>
</ul>
