<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rtbasics,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #hoodoutline,
    #hoodtop,
    #hoodbottom {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
        ;
    }


/*    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 0% 180%;
        transition: all 1.7s ease-in-out;
    }*/

</style>


<div class="myh2">Exposure Control Devices: Calculators and Tools</div>
<p>Various calculators and tools are available to guide the assessment of research hazards and identify the correct exposure control devices. </p>

<ul class="mylist">

    <li> <a class="doctitle" href="https://smartlabs.i2sl.org/docs/lvra-tool.xlsm" target="_blank">Laboratory Ventilation Risk Assessment &lpar;LVRA&rpar; Tool</a>
        <br>This tool guides users through the lab ventilation risk assessment – a systematic process for determining risk control bands, or risk levels, associated with research activities for each exposure control device and lab environment. We recommend visiting the <a class="doctitle" href="https://smartlabs.i2sl.org/assess.html" target="blank">Smart Labs Toolkit Assess Page</a> and reviewing the <a class="doctitle" href="https://smartlabs.i2sl.org/pdfs/lvra-user-guide.pdf" target="blank">LVRA User Guide</a> before starting the LVRA process. </li>

    <li><a class="doctitle" href="https://smartlabs.i2sl.org/docs/air-change-rate-calculator.xlsm" target="_blank">Air Change Rate Calculator</a>
        <br>This calculator uses risk levels assigned during the LVRA process to determine the appropriate air change rate for mitigating exposure to airborne hazards for each lab space.</li>

    <li><a class="doctitle" href="https://smartlabs.i2sl.org/docs/dilution-calculator.xlsx" target="_blank">Hazard Emissions Scenarios Dilution Calculator</a>
        <br>This calculator allows users to visualize the dilution of various chemicals in a space should an event occur that results in hazardous emissions. Using theory and conditional modeling based on characteristics for over a hundred chemical hazards, it provides a useful tool for determining how a chemical spill would affect the lab environment.</li>

    <li><a class="doctitle" href="http://fumehoodcalculator.lbl.gov/" target="_blank">Laboratory Fume Hood Energy Modeler</a>
        <br>This calculator estimates annual fume hood energy use and costs for user-specified climates and assumptions about operation and equipment efficiencies. Users can create comparative energy-use scenarios.</li>

</ul>
