<style>
    #rttune {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes,
    rtcases {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1,
    #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>

<div class="myh2">Fan: Tune-Up Measures</div>

<p class="myh3">Introduction</p>
<p>Fans are used extensively in commercial buildings and represent approximately 6% of total energy consumed by commercial buildings. The U.S. Department of Energy (DOE&rpar; estimates that fans in commercial buildings consume 158 billion kWh of electricity annually (<a href="https://openei.org/doe-opendata/dataset/buildings-energy-data-book" target="_blank">DOE, 2011 Buildings Energy Data Book</a>&rpar;. Maintaining fan systems in proper condition provides energy savings and ensures a comfortable and healthy environment. While many fan systems have significant energy savings opportunities available through improvements in fan selection, system design, and operational practices, it is not always apparent when a fan system needs maintenance or what opportunities are available for improvements. This resource is designed for facility managers and maintenance staff to provide easy-to-implement actionable guidance on fan efficiency measures for existing ducted air systems.</p> 

<p>Maintaining fan systems is described with routine operations and maintenance (O&amp;M&rpar; measures and replacement and improvement (RI&rpar; measures. The measures are divided across the entire fan system and by major components of control/motor, drive train, fan, and airflow distribution with detailed sections for each component in this document. Table 1 provides the relative evaluations for the effort required, savings potential, payback, and persistence of the efficiency measures.</p>

<p>This information is available in the document <a class="doctitle" href="https://www.nrel.gov/docs/fy18osti/70566.pdf" target="_blank">Tune-Up Your Fan Systems for Improved Performance</a> (PDF&rpar;.</p>

<p class="myh3">Table 1. Fan System Maintenance and Improvement Measure Impacts</p>

<table style="width:100%">
    <tr>
        <th></th>
        <th>Measure</th>
        <th>Effort</th>
        <th>Savings</th>
        <th>Payback</th>
        <th>Persistence</th>
    </tr>

    <tr align="center">
        <td rowspan="5"><b>Routine Maintenance&lpar;O&amp;M&rpar;</b></td>
        <td>System Level</td>
        <td>B</td>
        <td>B-C</td>
        <td>B-C</td>
        <td>A</td>
    </tr>
    <tr align="center">
        <td>Control/Motor</td>
        <td>A</td>
        <td>B-C</td>
        <td>A</td>
        <td>B-C</td>
    </tr>
    <tr align="center">
        <td>Drive Train</td>
        <td>A</td>
        <td>B-C</td>
        <td>A</td>
        <td>B</td>
    </tr>
    <tr align="center">
        <td>Fan</td>
        <td>A-B</td>
        <td>B-C</td>
        <td>A-C</td>
        <td>B</td>
    </tr>
    <tr align="center">
        <td>Airflow Distribution</td>
        <td>B</td>
        <td>B-C</td>
        <td>B-C</td>
        <td>A</td>
    </tr>

    <tr align="center">
        <td rowspan="5"><b>Replacement/Improvement<br>Energy Saving Opportunities&lpar;RI&rpar;</b></td>
        <td>System Level</td>
        <td>A-C</td>
        <td>A-B</td>
        <td>B-C</td>
        <td>A</td>
    </tr>
    <tr align="center">
        <td>Control/Motor</td>
        <td>A</td>
        <td>A</td>
        <td>A</td>
        <td>B-C</td>
    </tr>
    <tr align="center">
        <td>Drive Train</td>
        <td>B</td>
        <td>A-C</td>
        <td>A-C</td>
        <td>A</td>
    <tr align="center">
        <td>Fan</td>
        <td>B</td>
        <td>B-C</td>
        <td>B-C</td>
        <td>A</td>
    </tr>
    <tr align="center">
        <td>Airflow Distribution</td>
        <td>A-B</td>
        <td>B</td>
        <td>B</td>
        <td>A</td>
    </tr>

</table>

<table style="width:100%" class="subtable">

    <tr>
        <td><b>Effort:</b>
            <ul class="mylist">
                <li>A &ndash; low &lpar;&lt; 1 day&rpar;</li>
                <li>B &ndash; medium &lpar;1&ndash;3 days&rpar;</li>
                <li>C &ndash; high &lpar;4 or more days&rpar;</li>
            </ul>
        </td>
        <td><b>Savings:</b>
            <ul class="mylist">
                <li>A &ndash; high &lpar;&gt; 10&percnt;&rpar;</li>
                <li>B &ndash; medium &lpar;3&percnt;&ndash;10&percnt;&rpar;</li>
                <li>C &ndash; low &lpar;&lt;3&percnt;&rpar;</li>
            </ul>
        </td>
        <td><b>Payback:</b>
            <ul class="mylist">
                <li>A &ndash; fast &rpar;;&lt; 1 year&rpar;</li>
                <li>B &ndash; medium &rpar;2&ndash;5 years&rpar;</li>
                <li>C &ndash; slow &lpar;&gt;5 years&rpar;</li>
            </ul>
        </td>

    </tr>
    <tr>
        <td colspan="3">
            <ul class="mylist"><b>Persistence: </b>
                <li>A &ndash; Generally, a hardware-related installation or replacement measure (swapping a fan for a fan&rpar;. Little risk for loss of efficiency gain provided routine maintenance is performed.</li>
                <li>B &ndash; Generally, an installation of a new sensor or control, which will require periodic calibration or replacement.</li>
                <li>C &ndash; Generally, a control setting via onboard switch or a software-set schedule, threshold value, etc. and may require automated resetting via network or manual checking/resetting on a scheduled basis</li>
            </ul>
        </td>
    </tr>
</table>

<br>

<aside class="pquoteright">
    <blockquote>“Belt inspection is particularly important to the operation of large fans because of the size of the power losses. For example, in a 200-horsepower (hp&rpar; fan, a 5 percent decrease in power transmission efficiency results in a 10-hp loss, translating to $3,270 annually for a continuously operating system.”</blockquote>
    <span class="source"><a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">Improving Fan System Performance,</a>U.S. Department of Energy and Air Movement and Control Association International, Inc., Section 2:3—Basic Maintenance</span>
</aside>


<span class="myh3">Measure Descriptions</span>
<p>Inefficiencies in fan systems can be attributed to faults related to the fan equipment or the ventilation system includes the fan, motor, supply ductwork, return ductwork, etc.&rpar; as a whole. The measures listed here are classified as routine O&amp;M of each component or as potential RI to increase component or system efficiency. Each measure has a brief description on how to implement the measure. For more information and a detailed list of references, refer to the other sections of this <a href="https://hvacresourcemap.net/">HVAC Resource Map</a>. Many of the maintenance suggestions on this page were provided by ASHRAE Standard 180-2012, <i>Standard Practice for Inspection and Maintenance of Commercial Building HVAC Systems</i>.
</p>
<p><b>In applying any of the measures, safety is the foremost concern. The recommended measures should be implemented only by trained and certified professionals.</b></p>

<span class="myh3">Routine Operation and Maintenance</span>
<p>Fan performance can be compromised by component problems and can be corrected with proper maintenance. Tables O&amp;M 1-4 provide maintenance checklists for each component type. The main goals include:</p>
<ol>
    <li>Check for proper operation compared with design intent.</li>
    <li>Check for fan system failures or worn components.</li>
    <li>Prevent fan system energy cost increases due to inefficient operation.</li>
</ol>
<br>
<span class="myh4">O&amp;M 1: System Level Operation and Maintenance</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Survey occupants</b><br>
            Building occupants are valuable resources on the operation of the ventilation system. They can bring up issues that are not obvious during maintenance, such as loud fan noises or difficulty opening or shutting doors that can indicate fan system issues. Occupants can also be a source for incorrect system operation. System controls that are manually adjusted for increased comfort and not changed back can and lead to increased energy expenditure. Occupants may also block airflow paths. Consider the root cause for the occupant&apos;s action and try to reduce the chance of it reoccurring.
        </td>
        <td align="center">B</td>
        <td align="center">As Needed</td>
    </tr>
    <tr>
        <td><b>Check if ventilation system is providing sufficient airflow</b><br>
            A common issue with fan systems is providing insufficient airflow. Refer to O&amp;M manual or mechanical drawings for the design air flows (for field airflow measurement methods refer to <a href="https://webstore.ansi.org/preview-pages/AMCA/preview_amca+203-90+(R2011).pdf" target="_blank">AMCA 1990</a>&rpar;. Measure airflow to determine if it is outside the range. If it is low, check to make sure that the entire system is operating correctly then proceed through the other checklists to look for reasons the airflow is low. If it is high, it is possible that the fan is oversized or control is not providing adequate airflow reductions.
        </td>
        <td align="center">B</td>
        <td align="center">As Needed</td>
    </tr>
</table>
<br>
<span class="myh4">O&amp;M 2: Motor and Control Maintenance</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check if motor can turn off when not needed</b><br>
            Control can be based on an occupancy sensor or a timer. Avoid using “duty-cycling” approach that arbitrarily shuts down fans for short periods without taking into account the building&apos;s HVAC requirements. Evaluate building pressurization requirements before turning off fans.
        </td>
        <td align="center">A</td>
        <td align="center">Quarterly</td>
    </tr>
    <tr>
        <td><b>Check static pressure reset </b><br>
            Measure the static pressure in the duct and analyze the trends. If the set point stays constant during times when fan loads should have varied, then review damper positions to check if static pressure is too high or too low. Monitor the duct static pressure trend to determine if a reset is possible. Consider implementing a trim and respond control logic &lpar;see RI 2&rpar;
        </td>
        <td align="center">A</td>
        <td align="center">Quarterly</td>
    </tr>
    <tr>
        <td><b>Check VFD for proper operation </b><br>
            Although VFD&apos;s are robust, they may not operate as designed. As a preliminary step, check the controller for fault diagnostics, check the wiring for loose connections and identify overheated components &lpar;if any&rpar;. Compare operation to schedule and note any irregularities &lpar;such as motor off during building occupation, when it should be running&rpar;.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Check motor contactor </b><br>
            Check motor contactor for pitting or other signs of damage. This may indicate excessive heat or amperage. Repair or replace as needed.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>

    <tr>
        <td><b>Balance 3 phase loads</b><br>
            Significant energy losses and long-term damage can occur to a three phase motor that has imbalanced voltages. A well balanced system should see less than 1 percent voltage imbalance (~5 volts for 480 V motor&rpar;. Consider balancing loads if you measure imbalanced voltages with three phase motors <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_handbook_web.pdf" target="_blank">&lpar;DOE 2014&rpar;</a>.
        </td>
        <td align="center">B</td>
        <td align="center">Annual</td>
    </tr>
</table>

<br>

<span class="myh4">O&amp;M 3: Drive Train Maintenance</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check belt tension and wear</b><br>
            Proper belt tension is required to prevent noise, vibration and wear of bearings. Belt tension can be measured by deflection and tension-finding devices. Tighten or loosen the belts as needed. Power transmission efficiency reduces as belts loosen due to wear. Common indicators of belt wear are cracks and fraying. Replace worn out belts. Multiple-belt arrangements need careful evaluation to avoid over loading.
        </td>
        <td align="center">A</td>
        <td align="center">Semiannual</td>
    </tr>
    <tr>
        <td><b>Check sheaves for proper alignment and excessive wear</b><br>
            Sheave misalignment can cause premature bearing/coupling failure, seal damage, increased vibration and noise. Shaft misalignment can be of three types: vertical angularity &lpar;twist&rpar;, horizontal angularity and axial offset. Two common methods of sheave alignment are straight edge and string method.
        </td>
        <td align="center">A</td>
        <td align="center">Semiannual</td>
    </tr>
    <tr>
        <td><b>Check fan drive for proper alignment and bearing seating </b><br>
            The fit between the inner bearing ring and the motor shaft should be suitable to the application. Inspect inner and outer bearing for damage &lpar;spalling, fragment denting&rpar;.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Check bearings</b><br>
            Inadequate/over lubrication, normal fatigue and contamination are the main causes for bearing failures. Look for unusual bearing operation such as uneven running, reduced working accuracy, unusual running noises or any combination of the three. Lubrication of bearings is not always the answer, over-lubrication can further harm the bearings and self-lubricating bearings cannot be lubricated. Evaluate the cause of failure before installing new bearings.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>
</table>

<br>
<span class="myh4">O&amp;M 4: Fan Maintenance</span>

<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check fan blades and housing</b><br>
            Manually spin fan to ensure free rotation. Occasionally set screws can loosen and fan can move along the axle or even hit the housing. Look for balancing clip, if none is present on fan blades, ensure fan appears balanced. Check fan and housing for dirt/loose items and clean as necessary. Dirt on the fan blades/ in the housing may indicate a filter issue.
        </td>
        <td align="center">A</td>
        <td align="center">Semiannual</td>
    </tr>
    <tr>
        <td><b>Check fan spin direction</b><br>
            Manually spin fan to ensure free rotation. Occasionally set screws can loosen and fan can move along the axle or even hit the housing. Look for balancing clip, if none is present on fan blades, ensure fan appears balanced. Check fan and housing for dirt/loose items and clean as necessary. Dirt on the fan blades/ in the housing may indicate a filter issue. </td>
        <td align="center">A</td>
        <td align="center">As needed</td>
    </tr>
</table>

<br>

<span class="myh4">O&amp;M 5: Airflow Distribution Maintenance</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check and replace air filters</b><br>
            Dirty air filters lead to an increase in system pressure and can cause instability problems. Dirt downstream of the filter may indicate an air bypass issue, or a very dirty filter. A differential pressure sensor can be installed across the filter bank to estimate filter change out time.
        </td>
        <td align="center">A</td>
        <td align="center">Quarterly or when differential pressure reaches the maximum threshold </td>
    </tr>
    <tr>
        <td><b>Inspect and clean coils</b><br>
            Dirty coils reduce the heat transfer effectiveness, increasing the chiller, boiler, or DX expansion energy consumption. Coil cleaning can improve IAQ and HVAC system performance by &sim;6-19&percnt; &lpar;<a href="https://www.tandfonline.com/doi/abs/10.1080/10789669.1998.10391406" target="_blank">Breuker and Braun 1998</a>&rpar;.

        </td>
        <td align="center">A</td>
        <td align="center">Semiannual</td>
    </tr>
    <tr>
        <td><b>Inspect and correct damper operations, including economizers</b><br>
            Check that the outdoor damper and return dampers stroke freely with minimum play. Outdoor dampers should be able to open 100% and outdoor and return dampers should close tightly. Ensure damper assembly is clean and clear of debris. Non-functioning dampers can increase pressure across the fan and reduce airflow.
        </td>
        <td align="center">A-B</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Check terminal units and diffusers for blockage </b><br>
            Check the conditioned zones for books on ventilator cabinets, plastic or cardboard taped over diffusers, furniture covering floor and wall inlet/outlet grilles etc. Sometimes they indicate that people in that space have thermal comfort problems. Identify such problems and adjust the system as needed.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Check outdoor guards</b><br>
            Ensure that outdoor “bird guards” are correctly installed. If animals are entering from outside, they can create several issues including increased pressure drop for the airflow path. Snow and or particle guards are also available for outside airflow paths. Make sure these are being used if needed. Some outside filters are washable and can increase longevity of internal air filters if utilized correctly.
        </td>
        <td align="center">A</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Check insulation in ducts </b><br>
            Insulation often becomes loose as it ages, increasing pressure drop and allowing for moisture condensation.
        </td>
        <td align="center">B</td>
        <td align="center">Annual</td>
    </tr>
    <tr>
        <td><b>Test, adjust, and balance fan systems </b><br>
            Perform a pre-balance equipment and system check. Compare installed equipment to those mentioned on the mechanical drawings. Have equipment and system balance done by a Testing, Adjusting and Balancing certified technician &lpar;<a href="https://www.nebb.org" target="_blank">NEBB.org</a>&rpar;.
        </td>
        <td align="center">B</td>
        <td align="center">As needed</td>
    </tr>
    <tr>
        <td><b>Check and correct leakage of ducts, air system cabinet, and VAV boxes</b><br>
            Light commercial systems are shown to leak 2-3 times more than residential systems per floor area &lpar;<a href="https://www.osti.gov/biblio/589246-field-investigation-duct-system-performance-california-light-commercial-buildings" target="_blank">Delp et al. 1997</a>&rpar;. Air leakage leads to poor indoor air quality, increased energy use and thermal comfort problems. Perform leakage tests to identify locations that need to be sealed &lpar;ASHRAE, 2016&rpar;.
        </td>
        <td align="center">C</td>
        <td align="center">As needed</td>
    </tr>
    <tr>
        <td><b>Check flexible duct</b><br>
            Minimize the amount of flexible duct used. Non-metallic flexible duct can create pressure drop 2 to 10 times higher than sheet metal when compressed by 4% or more &lpar;<a href="https://www.tandfonline.com/doi/full/10.1080/10789669.2012.744218?scroll=top&needAccess=true" target="_blank">Weaver and Culp 2007</a>&rpar;. Flexible ducts should always be stretched as much as possible to reduce pressure drop.
        </td>
        <td align="center">B</td>
        <td align="center">As needed</td>
    </tr>
</table>

<br>

<aside class="pquoteright">
    <blockquote>“A U.S. Environmental Protection Agency &lpar;EPA&rpar; study found that almost 60 percent of building fan systems were oversized by at least 10 percent, with an average oversizing of 60 percent.”</blockquote>
    <span class="source"><a href="https://www.energystar.gov/sites/default/files/buildings/tools/EPA_BUM_CH8_AirDistSystems.pdf " target="_blank">Source: ENERGY STAR building manual &lpar;Chapter 8- Air distribution systems&rpar;</a></span>
</aside>

<span class="myh3">Replacement/Improvement Measures</span>
<p>There are times when replacement or improvement of components is the most appropriate option. The options below offer examples of ways to reduce energy costs and improve the operation of fan systems based on a system level &lpar;RI 1&rpar; and component levels &lpar;RI 2-5&rpar;. The overall goal for replacement/improvement is to improve performance and increase the fan system efficiency. </p>

<span class="myh4">RI 1: System Improvements</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td><b>Retrofit fan system for more efficient design</b><br>
            Detailed review of fan systems to reduce inefficiencies &lpar;called system effects&rpar; can provide significant performance improvements. Improvements may involve replacing components or implementing new controls. Corrections for system effects include rerouting ducts, removing sharp turns, replacing fittings, adding turning vanes, increasing size of fan, etc.
        </td>
        <td align="center">B-C</td>
        <td align="center"><a href="https://webstore.ansi.org/preview-pages/AMCA/preview_amca+200-95+(R2011).pdf" target="_blank">AMCA 1995</a>, <a href="https://www.amca.org/assets/resources/public/pdf/Education%20Modules/AMCA%20201-02%20(R2011).pdf" target="_blank">2002</a>, <a href="https://webstore.ansi.org/preview-pages/AMCA/preview_AMCA+202-17.pdf" target="_blank"> 2017</a>; <a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank"> DOE 2003</a></td>
    </tr>
    <tr>
        <td><b>Check facility operational requirements </b><br>
            Does the fan system meet the design intent or have facility requirements changed? If not, what design changes are needed? Are there components installed in the system which were not considered in design? If yes, then identify components that are introducing significant pressure drop.
        </td>
        <td align="center">A-B</td>
        <td align="center"><a href="https://www.ashrae.org/technical-resources/ashrae-handbook/description-2017-ashrae-handbook-fundamentals" target="_blank">ASHRAE 2017</a>, <a href="http://www.taylor-engineering.com/wp-content/uploads/2020/04/EDR_VAV_Guide.pdf" target="_blank"> EDR 2009</a></td>
    </tr>
    <tr>
        <td><b>Check if fan system is oversized</b><br>
            Fans may be oversized while trying to account for a safety factor. A common indication of an oversized fan is when inlet vanes and dampers are often closed. Accurate estimation of sizing requires detailed measurements to identify the operating point on the fan curve. An oversized impeller may be an opportunity for saving energy, but an undersized impeller could be an opportunity for efficiency improvement.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://webstore.ansi.org/preview-pages/AMCA/preview_amca+200-95+(R2011).pdf" target="_blank">AMCA 2017</a>, <a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">DOE 2003</a>, <a href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">EPA 2008</a></td>
    </tr>
    <tr>
        <td><b></b><br>

        </td>
        <td align="center"></td>
        <td align="center"></td>
    </tr>
</table>

<span class="myh4">RI 2: Control/Motor Improvement Measures </span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td><b>Implement a trim and respond logic for static pressure reset</b><br>
            With this logic, the pressure setpoint is slowly trimmed until a zone indicates that more pressure is required &lpar;i.e. damper is fully open&rpar;, in which case the controller responds by bumping up the setpoint.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://www.ashrae.org/news/esociety/new-guideline-on-standardized-advanced-sequences-of-operation-for-common-hvac-systems" target="_blank">ASHRAE 2018</a>, <a href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">EPA 2008</a>, <a href="http://www.taylor-engineering.com/wp-content/uploads/2020/04/ASHRAE_Journal_-_Trim_and_Respond.pdf" target="_blank">Taylor 2015</a></td>
    </tr>
    <tr>
        <td><b>Implement automated fault detection and diagnostics &lpar;AFDD&rpar;</b><br>
            AFDD routines continuously monitor for proper system operation and provide notification and feedback to correct faults. If AFDD is not an option, hierarchical alarm suppression can help prioritize alarms.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://www.ashrae.org/news/esociety/new-guideline-on-standardized-advanced-sequences-of-operation-for-common-hvac-systems" target="_blank">ASHRAE 2018</a>, <a href="https://www1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume3_final_report.pdf" target="_blank">Roth et al 2002</a></td>
    </tr>
    <tr>
        <td><b>Install efficient motors</b><br>
            Increasing the efficiency of a motor allows for more airflow and/or pressure with the same power input. NEMA Premium motors are a certified rating that typically increases the efficiency by 1.5-2&percnt; over a standard NEMA rating. Even higher efficiency motors may be an option such as an electronically commutated motors &lpar;ECM&rpar; or a high-rotor pole switched reluctance motor.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://www.energy.gov/sites/prod/files/2014/02/f8/Motor%20Energy%20Savings%20Potential%20Report%202013-12-4.pdf" target="_blank">DOE 2013</a>, <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_handbook_web.pdf" target="_blank">DOE 2014a</a>, <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_sourcebook_web.pdf" target="_blank">DOE 2014b</a>
        </td>
    </tr>
    <tr>
        <td><b>Install variable frequency drives &lpar;VFD&rpar;</b><br>
            Consider installing a VFD controller or other form of variable speed motor control. Control of the variable speed motor and damper position are very important to ensure proper ventilation therefore consultation is suggested when deciding about purchasing a VFD or variable speed motor. Average energy savings have been reported at 52&percnt; by installing a VFD on commercial HVAC motors.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://www.energy.gov/sites/prod/files/2014/02/f8/Motor%20Energy%20Savings%20Potential%20Report%202013-12-4.pdf" target="_blank">DOE 2013</a>, <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_handbook_web.pdf" target="_blank">DOE 2014a</a>, <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_sourcebook_web.pdf" target="_blank">DOE 2014b,</a> <a href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">EPA 2008</a>
        </td>
    </tr>
</table>
<br>

<span class="myh4">RI 3: Drive Train Improvement Measures</span>

<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td><b>Replace existing belts with direct drive-trains</b><br>
            Direct drive trains minimize losses, but this may require a significant effort to remove the belt system and adjust the motor mounts to accommodate the new motor and ensure the correct rpm range. Increased reliability and zero to low transmission losses are the benefits.
        </td>
        <td align="center">B-C</td>
        <td align="center"><a href="https://www.carrier.com/carrier/en/worldwide/news/news-article/new_carrier_white_paper_highlights_importance_of_fan_selection_in_commercial_applications.html" target="_blank">Carrier 2013</a>, <a href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_handbook_web.pdf" target="_blank">DOE 2014a</a></td>
    </tr>
    <tr>
        <td><b>Replace existing V-belts with notched or synchronous belts</b><br>
            Notched belts run cooler, have longer durability, and run with an efficiency of &sim;97&percnt; compared to a peak of 95&percnt; for V-belts. Synchronous belts operate at ~98&percnt; efficiency over a wider load range, need minimal maintenance and can operate in wet/oily environments. However, they transfer more vibrations, are sometimes noisier than V-belts and less suited for shock-load applications.
        </td>
        <td align="center">A</td>
        <td align="center"><a href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">EPA 2008</a>, <a href="https://www.nrel.gov/docs/fy14osti/61448.pdf" target="_blank"> GSA 2014</a></td>
    </tr>
</table>

<br>
<span class="myh4">RI 4: Fan Improvement Measures</span>
<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td><b>Reduce fan speed</b><br>
            If it is possible to lower the fan speed, substantial reductions in power consumption are possible. Fan power consumption has nearly a cubed relationship to fan speed. For example, reducing the fan speed by 5&percnt; equates to almost 15&percnt; reduction in fan power. The entire system needs to be analyzed to ensure that no adverse effects occur to airflow and ventilation, before attempting to lower fan speed.
        </td>
        <td align="center">A-B</td>
        <td align="center"><a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank"> DOE 2003</a>, <a href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">EPA 2008</a></td>
    </tr>
</table>
<br>
<span class="myh4">RI 5: Airflow Distribution Improvement Measures</span>

<table class="tuneTable" style="width:100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Resources</th>
    </tr>
    <tr>
        <td><b>Optimize Duct Path</b><br>
            Removing bends in ducting and improving transition ductwork all reduce pressure drop along the airflow path. If the changes are significant, a testing, adjust, and balancing test should be completed to make sure the ventilation system is adjusted for the reduction in pressure.
        </td>
        <td align="center">B</td>
        <td align="center"><a href="https://www.amca.org/assets/resources/public/pdf/Education%20Modules/AMCA%20201-02%20(R2011).pdf" target="_blank">AMCA 2002</a>, <a href="https://www.ashrae.org/technical-resources/ashrae-handbook/description-2017-ashrae-handbook-fundamentals" target="_blank">ASHRAE 2017</a>, <a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">DOE 2003</a></td>
    </tr>
    <tr>
        <td><b>Seal Ductwork</b><br>
            Duct leakage can result in significant energy waste because the conditioned airflow is not efficiently being distributed. A California study indicated that initial duct leakage of 90 cfm/ton was reduced to 16 cfm/ton by utilizing a commercially available aerosol spray for 300 light commercial buildings. Additionally, circular geometry ductwork may reduce leakage due to the lack of sharp corners.
        </td>
        <td align="center">A</td>
        <td align="center"><a href="https://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">DOE 2003</a>, <a href="https://www.researchgate.net/publication/291572887_Fixing_duct_leaks_in_commercial_buildings" target="_blank">Modera 2005</a>, <a href="https://www1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume3_final_report.pdf" target="_blank">Roth et. al. 2002</a>.</td>
    </tr>

</table>
<br>
<span class="myh3">References</span>
<p>AMCA. 1990. Publication 203-90 &lpar;R2011&rpar;, <a class="doctitle" href="https://webstore.ansi.org/preview-pages/AMCA/preview_amca+203-90+(R2011).pdf" target="_blank">Field Performance Measurement of Fan Systems</a>. West Arlington Heights, IL: Air Movement and Control Association International, Inc.</p>

<p>AMCA. 1995. Publication 200-95 &lpar;R2011&rpar;, <a class="doctitle" href="https://webstore.ansi.org/preview-pages/AMCA/preview_amca+200-95+(R2011).pdf" target="_blank">Air Systems</a>. West Arlington Heights, IL: Air Movement and Control Association International, Inc.</p>

<p>AMCA. 2002. Publication 201-02 &lpar;R2011&rpar;, <a class="doctitle" href="https://www.amca.org/assets/resources/public/pdf/Education%20Modules/AMCA%20201-02%20(R2011).pdf" target="_blank">Fans and Systems</a>. West Arlington Heights, IL: Air Movement and Control Association International, Inc.</p>

<p>AMCA. 2017. Publication 202-17, <a class="doctitle" href="https://webstore.ansi.org/preview-pages/AMCA/preview_AMCA+202-17.pdf" target="_blank">Troubleshooting</a>. West Arlington Heights, IL: Air Movement and Control Association International, Inc.</p>

<p>ASHRAE. 2012. ANSI/ASHRAE/ACCA Standard 180-2012 <a class="doctitle" href="https://www.ashrae.org/File%20Library/Technical%20Resources/Bookstore/previews_2016639_pre.pdf" target="_blank">Standard Practice for Inspection and Maintenance of Commercial Building HVAC Systems</a>. Atlanta, GA: ASHRAE.</p>

<p>ASHRAE. 2016. <i><a class="doctitle" href="https://webstore.ansi.org/Standards/ASHRAE/ansiashraesmacnastandard126-1635276" target="_blank">ANSI/ASHRAE/SMACNA Standard 126-2016 Method of Testing HVAC Air Ducts</a></i>. Atlanta, GA: ASHRAE.</p>

<p>ASHRAE. 2017. ASHRAE Handbook- <a class="doctitle" href="https://www.ashrae.org/technical-resources/ashrae-handbook/description-2017-ashrae-handbook-fundamentals" target="_blank">Fundamentals: Chapter 21 Duct Design</a>. Atlanta, GA: ASHRAE.</p>

<p>ASHRAE. 2018. exp. <a class="doctitle" href="https://www.ashrae.org/news/esociety/new-guideline-on-standardized-advanced-sequences-of-operation-for-common-hvac-systems" target="_blank">Guideline 36 High Performance Sequences of Operation for HVAC Systems</a>. Atlanta, GA: ASHRAE. </p>

<p>Breuker, M. and J. Braun. 1998. <a class="doctitle" href="https://www.tandfonline.com/doi/abs/10.1080/10789669.1998.10391406?journalCode=uhvc20" target="_blank">Common Faults and Their Impacts for Rooftop Air Conditioners</a>. HVAC&amp;R Research Vol. 4, No. 3. July 1998. Atlanta, GA: ASHRAE.</p>

<p>Carrier 2013. <i><a class="doctitle" href="https://www.carrier.com/carrier/en/worldwide/news/news-article/new_carrier_white_paper_highlights_importance_of_fan_selection_in_commercial_applications.html" target="_blank">Application of Fans in Commercial HVAC Equipment</a></i>. Syracuse, NY: Carrier Corporation.</p>

<p>Delp, W., E. N. Matson, J. D. Dickerhoff, P. M. Modera. 1997. <a class="doctitle" href="https://www.osti.gov/biblio/589246-field-investigation-duct-system-performance-california-light-commercial-buildings" target="_blank">Field Investigation of Duct System Performance in California Light Commercial Buildings</a>. LBNL-40102. Berkeley, CA: Lawrence Berkeley National Laboratory.</p>

<p>DOE 2003. <a class="doctitle" href="https://www.energy.gov/eere/amo/downloads/improving-fan-system-performance-sourcebook-industry" target="_blank">Improving Fan System Performance, a Sourcebook for Industry</a>. Washington. DC: U.S. Department of Energy.</p>

<p>DOE 2013. <a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/02/f8/Motor%20Energy%20Savings%20Potential%20Report%202013-12-4.pdf" target="_blank">Energy Savings Potential and Opportunities for High-Efficiency Electric Motors in Residential and Commercial Equipment</a>. Washington, DC: U.S. Department of Energy.</p>

<p>DOE 2014a. <a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_handbook_web.pdf" target="_blank">Premium Efficiency Motor Selection and Application Guide: A Handbook for Industry</a>. Office of Energy Efficiency and Renewable Energy, Advanced Manufacturing Office (AMO), Washington, DC: U.S. Department of Energy.</p>

<p>DOE 2014b. <a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/04/f15/amo_motors_sourcebook_web.pdf" target="_blank">Improving Motor and Drive System Performance: A Sourcebook for Industry</a>. Office of Energy Efficiency and Renewable Energy, Advanced Manufacturing Office (AMO): U.S. Department of Energy; February, 2014b.</p>

<p>EDR 2009. <a class="doctitle" href="http://www.taylor-engineering.com/wp-content/uploads/2020/04/EDR_VAV_Guide.pdf" target="_blank">Advanced Variable Air Volume VAV System Design Guide</a>. Energy Design Resources. </p>

<p>EPA. 2008. ENERGY STAR <a class="doctitle" href="https://www.energystar.gov/buildings/tools-and-resources/energy-star-building-upgrade-manual-chapter-8-air-distribution-systems" target="_blank">Building Manual Chapter 8: Air Distribution Systems</a>. Washington, DC: Environmental Protection Administration. </p>

<p>GSA 2014. <a class="doctitle" href="https://www.nrel.gov/docs/fy14osti/61448.pdf" target="_blank">Synchronous and Cogged Belt Performance Assessment</a>. GSA Proving Ground Findings. Washington, DC: General Services Administration. </p>

<p>Modera, M. 2005. <a class="doctitle" href="https://www.researchgate.net/publication/291572887_Fixing_duct_leaks_in_commercial_buildings" target="_blank">Fixing Duct Leaks in Commercial Buildings</a>. ASHRAE Journal, June 2005. Atlanta, GA: ASHRAE.</p>

<p>NREL 2015. <i><a class="doctitle" href="https://nrellibrary.nrel.gov/store/NREL/2015_fieldTestBestPractices.pdf" target="_blank">Field Test Best Practices: Air Flow.</a></i> NREL Buildings Research. Golden, CO: National Renewable Energy Laboratory</p>

<p>NREL. 2017. <a class="doctitle" href="https://hvacresourcemap.net/" target="_blank">HVAC Resource Map</a>. Golden, CO: National Renewable Energy Laboratory. </p>

<p>Taylor, S. 2015. <a class="doctitle" href="http://www.taylor-engineering.com/wp-content/uploads/2020/04/ASHRAE_Journal_-_Trim_and_Respond.pdf" target="_blank">Resetting Setpoints Using Trim &amp; Respond Logic</a>. ASHRAE Journal. November 2015. Atlanta GA: ASHRAE </p>

<p>Roth, K., D. Westphalen, J. Dieckmann, D. S. Hamilton, and W. Goetzler. 2002. <a class="doctitle" href="https://www1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume3_final_report.pdf" target="_blank">Energy Consumption Characteristics of Commercial Building HVAC Systems Volume III: Energy Savings Potential</a>. Washington, DC: U.S. Department of Energy.</p>

<p>Weaver, K. and C. Culp 2007. <a class="doctitle" href="https://www.tandfonline.com/doi/full/10.1080/10789669.2012.744218?scroll=top&needAccess=true" target="_blank">Static Pressure Losses in Nonmetallic Flexible Duct</a>. ASHRAE Transactions. July 2007. Atlanta, GA: ASHRAE.</p>

<p>Westphalen, D., and S. Koszalinski. 1999. <a class="doctitle" href="https://www1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf" target="_blank">Energy Consumption Characteristics of Commercial Building HVAC Systems Volume II: Thermal Distribution, Auxiliary Equipment, and Ventilation</a>. Washington. DC: U.S. Department of Energy. </p>
