<div class="myh2">Basics</div>

<p>Pump is a mechanical device used to move fluid. Their typical application in a central plant is to move chilled/hot water and condenser water through the loop. Booster pumps are sometimes used in individual buildings to supplement the pump at the central plant. Most commonly used pumps for central plant applications are centrifugal type. They are broadly classified as end suction and inline pumps. Further classification of both these pump types can be found in the <a class="doctitle" href="http://machining.grundfos.com/media/17423/content%20-%20pump%20handbook_low_ny.pdf" target="_blank">Pump Handbook</a> by Grundfos Industry.</p>

<p><span class="myh3">Commonly Used Terms</span></p>

<p>
  <span class="doctitle">BEP (Best Efficiency Point)</span> Best efficiency point of the pump is the point at which the pump operates at its maximum efficiency and has maximum life expectancy. ASHRAE recommends selecting the pump between 66 – 115% of flow at the BEP.
</p>
