<style>
#rtprocure{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Procurement and Performance Specifications</div>

<p>With variability in quality and performance between various HVAC equipment manufacturers, it is important to have specifications that define minimum requirements beyond basic capacity.  Specifications that include features that allow for appropriate maintenance of equipment will help operations teams sustain efficient performance.  For example, proper and easy access to clean coils, change filters, and check system operation will cut long term cost of ownership.  Easy access is not always provided by HVAC manufactures on base equipment.</p>

<p>In addition to basic specification of the HVAC equipment, these systems have options available depending on application.  Typical options that should be considered during design and specification include:
    <ul class="mylist">
<li>Humidification</li> 
<li>Dehumidification</li>
<li>High efficiency filtration</li>
<li>Air flow measuring station</li>
<li>Air side economizing</li>
<li>Advanced controls for fault detection and diagnostics (FDD)</li>
<li>Safeties and alarms</li>
<li>Energy recovery systems</li>
<li>Sound attenuation</li>
        </ul>

<p>Description of codes and standards relevant to HVAC fan selection including AMCA Standard 205 and ASHRAE 90.1.
AMCA <a class="doctitle" href="http://www.amca.org/UserFiles/file/I2SL-Fan%20Codes-Standards-2013-Fan%20Codes-Standards.pdf" target="_blank">“Fan Efficiency Codes and Standards”</a></p>

<p>Describes fan arrangements, rotation, discharge and motor position using standard industry notations.
Aerovent <a class="doctitle" href="http://www.aerovent.com/docs/fan-engineering-topics/fan-arrangements-rotation-discharge-and-motor-position---fe-3900.pdf?Status=Master" target="_blank">“Fan Engineering” FE-3900.</a></p>

<p>Description of AMCA Standard 205 for characterizing fan efficiency and how it is incorporated into ASHRAE 90.1-2013. J. Cermak, M. Ivanovich <a class="doctitle" href="http://www.amca.org/UserFiles/file/Energy%20Initiative%20Web%20Pages/024-031_cermak_WEB.PDF" target="_blank">“Fan Efficiency Requirements for Standard 90.1-2013”</a> AMCA International, ASHRAE Journal, April 2013.</p>

<p>Resources for sample fan specifications for various HVAC fan configurations and applications (Greenheck):</p>
<ul class="mylist">
<li><a class="doctitle" href="http://www.greenheck.com/media/pdf/specs/BDF_spec.rtf" target="_blank">Product Specification Guide Model BDF Belt Driven Cabinet Duct Inline Centrifugal Fan</a></li>
    
<li><a class="doctitle" href="http://www.greenheck.com/media/pdf/specs/APHDIRECTDRIVE_spec.rtf" target="_blank">Product Specification Guide Drive, Centrifugal Plenum Fan, Model APH</a></li>
    
<li><a class="doctitle" href="http://www.greenheck.com/media/pdf/specs/APHBELTDRIVE_spec.rtf" target="_blank">Product Specification Guide Belt Drive Centrifugal Plenum Fan, Model APH</a></li>
    
<li><a class="doctitle" href="http://www.greenheck.com/media/pdf/specs/BCF_spec.rtf" target="_blank">Specification Guide Direct Drive, Centrifugal Plenum Fan, Model APH</a></li>
    
    </ul>