<style>
    #rtdesign {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtcodes,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes,
    #rttune {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1,
    #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>

<div class="myh2">Fan: Energy Efficiency Measures</div>
<p class="myh3">Resources</p>

<ul class="mylist">

    <li><a class="doctitle" href="https://newbuildings.org/sites/default/files/A-11_LG_VAV_Guide_3.6.2.pdf" target="_blank">Advanced Variable Air Volume System Design Guide</a>, California Energy Commission.
        <br>In-depth discussion of variable air volume system design, best practices, and component design considerations </li>

    <li><a class="doctitle" href="https://www.yumpu.com/en/document/read/7625769/advanced-variable-air-volume-vav-system-design-guide" target="_blank">Design Brief: Advanced Variable-Air-Volume (VAV) Systems</a>, Energy Design Resources
        <br>Advanced VAV system design guidance with comparison table for common fan types</li>

    <li><a class="doctitle" href="https://www.amca.org/assets/resources/public/userfiles/file/AMCA_010-013_Brendel.pdf" target="_blank">The Role of Fan Efficiency in Reducing HVAC Energy Consumption</a> by Dr. Michael Brendel, AMCA inmotion
        <br>Description of the fan efficiency grade (FEG) for classifying fan energy efficiency potential. The FEG is incorporated into ASHRAE Standard 90.1-2013 to specify minimum fan efficiency requirements. </li>

    <li> <a class="doctitle" href="https://www.amca.org/assets/resources/public/resources/FEG_Whitepaper_single%20pages.pdf" target="_blank">Introducing Fan Efficiency Ratios</a>, Air Movement and Control Association International, Inc.
        <br>Introduction to the fan efficiency ratio, a metric for evaluating fan efficiency relative to a baseline efficiency, both of which are calculated at a single airflow and pressure point. </li>

    <li><a class="doctitle" href="https://files.danfoss.com/download/Drives/MG11BB22.pdf" target="_blank">VLT® HVAC Drive Design Guide</a>
        <br>Explains quantitative advantages of using variable frequency devices (VFD) also called variable speed devices (VSD).</li>

<!--
    <li>Fan and Air System Applications Handbook (AMCA Fan Application Manual), Air Movement and Control Association International, Inc.
        <br>Discusses the effect of inlet and outlet connections on fan performance. It includes separate axial fan factors and is targeted primarily at the designer of the air moving system. </li>-->

</ul>
