<div class="myh2">Case Studies</div>

<p>Two hypothetical case studies on variable air volume system design. 
<a href="http://energydesignresources.com/media/2651/EDR_DesignGuidelines_VAV.pdf?tracked=true" target="_blank">“Advanced Variable Air Volume VAV System Design Guide”</a> Energy Design Resources December 2009.</p> 

<p><a href="https://customer.honeywell.com/resources/techlit/TechLitDocuments/67-0000s/67-7252.pdf" target="_blank">Honeywell, added centralized web enabled building controls on a 640 acre boys home in Omaha, NB. This included VFDs with less than a 2year payback.</a></p> 

<p><a href="https://www.energystar.gov/ia/business/EPA_BUM_CH8_AirDistSystems.pdf" target="_blank">Two case studies, one on VAV retrofit to city hall in Phoenix, AZ and the other on static pressure reset retrofit on a large commercial office building.</a> ENERGY STAR Buildings Manual April 2008.</p>






