<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes,
    #rttune {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1,
    #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 60% 70%;
        transition: all 2s ease-in-out;
    }

</style>

<span class="myh2">Fan: Basics</span>


<p>Fans are the principal mechanism for moving air in buildings and play an essential role in maintaining comfortable and healthy indoor environments. Fans are also key
    components in cooling systems. Fans consume approximately 139 billion kWh of electricity annually<sup>1</sup> or approximately 25% of the HVAC electrical energy in commercial
    buildings.<sup>2</sup> Significant energy savings and performance enhancement opportunities are available through proper selection, system design, and operational
    practices. For example, adding a variable speed drive to a constant speed fan can reduce energy consumption by more than 50% in the right applications.</p>

<p>
    There are two basic types of fans—axial and centrifugal. Axial fans move air along the axis of the fan using the aerodynamic lift of the spinning fan blades. Centrifugal
    fans use centrifugal force to turn kinetic energy into pressure in the air stream. Centrifugal fans are the most common fans in HVAC systems. Propeller axial fans are good
    at moving large volumes of air at low pressures. Vaneaxial fans can provide high pressures and good flow and can be used interchangeably with centrifugal fans in some HVAC
    applications.</p>

<span class="myh3">Sources</span>
<span class="source">
    <ol class="mylist">
        <li><a href="https://www.federalregister.gov/articles/2011/06/28/2011-16134/energy-conservation-program-for-consumer-products-and-certain-commercial-and-industrial-equipment" target="_blank">Notice of Proposed Determination 2011</a>, Federal Register</li>
        <li><a href="http://apps1.eere.energy.gov/buildings/publications/pdfs/corporate/savings_potential_comm_hvac.pdf" target="_blank">Energy Savings Potential and RD&amp;D Opportunities for Commercial Building HVAC Systems</a>, Navigant Consulting for the U.S. Department of Energy, 2011</li>
    </ol>
</span>
