<style>
#rtcases{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes, #rttune{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<span class="myh2">Case Studies</span>

<p><a href="http://energydesignresources.com/media/2651/EDR_DesignGuidelines_VAV.pdf?tracked=true" target="_blank">Advanced Variable Air Volume VAV System Design Guide</a>, Energy Design Resources December 2009
<br>Two hypothetical case studies on variable air volume system design. </p>

<p><a href="https://customer.honeywell.com/resources/techlit/TechLitDocuments/67-0000s/67-7252.pdf" target="_blank">Integrating the Village of Boys Town—Making Boys Town Even Better: Efficiency and Energy Savings</a>, Honeywell
<br>Honeywell added centralized Web-enabled building controls on a 640-acre boys home in Omaha, Nebraska. This project included variable frequency drives with less than a 2-year payback.</p>

<p><a href="https://www.energystar.gov/ia/business/EPA_BUM_CH8_AirDistSystems.pdf" target="_blank">ENERGY STAR® Buildings Manual April 2008</a>, U.S. Environmental Protection Agency</p>
<ul>
<li>“Big Savings from a VAV System Retrofit,” Section 8, p. 16
A variable air volume retrofit to the Phoenix, Arizona, City Hall</li>

<li>“Air Distribution System Upgrade Saves Energy, Boosts Comfort,” Section 8, p. 19
A static pressure reset retrofit on a large commercial office building in San Diego, California</li>
<ul>
