<div class="myh2">Basics</div>
<br>

<p><span class="myh3">Purpose</span></p>

<p>This site provides a compilation of resources and best practices that can be used to guide design and procurement decisions for commercial HVAC fans and blowers.  Fan efficiency can vary between 25% and 75%, so appropriate selection of fans can improve performance, extend service life, and save significant energy.  The intended audience for this guide are facility managers and operators but good overview of information is provided for design, installation and service professionals.</p>

<p><span class="myh3">Where are fans and blowers used?</span></p>
<p></p>Fans and blowers are used in many industrial and commercial applications including HVAC systems. They comprise a substantial portion of the electricity used in HVAC systems in the US. The most common commercial HVAC systems all have one or more fans:  RTUs, CAV systems, VAV systems. In addition, fans and blowers are needed for ventilation and air quality as well as space conditioning. Fans are also used in HVAC condensers and cooling towers.</p>

<aside class="pquote">
    <blockquote>“Fans use approximately 25% of buildings HVAC electrical energy consumption.”</blockquote>
    <br>
    <p class="source"><a href="http://apps1.eere.energy.gov/buildings/publications/pdfs/corporate/savings_potential_comm_hvac.pdf" target="_blank">Energy Savings Potential and RD&amp;D Opportunities for Commercial Building HVAC Systems</a>. Navigant Consulting, 2011.</p>
 </aside>

<p>Supply and return fans use 50% of parasitic energy in commercial HVAC systems according to <a class="doctitle" href="http://apps1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf" target="_blank">“Energy Consumption Characteristics of Commercial Building HVAC Systems Volume II: Thermal Distribution, Auxiliary Equipment, and Ventilation”</a> by Detlef Westphalen, Scott Koszalinski Oct 1999.</p>

