<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rtcodes,
    #rttypes,
    #rttune {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1,
    #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>

<div class="myh2">Fan:Design Calculators and Tools</div>
<p class="myh3">Resources</p>

<ul class="mylist">

    <li> <a class="doctitle" href="https://www.energy.gov/eere/amo/articles/fan-system-assessment-tool" target="_blank">The Fan System Assessment Tool (FSAT)</a>
        <br>A free online software tool that helps industrial users quantify energy use and savings opportunities in industrial fan systems.</li>

    <li><a class="doctitle" href="https://customer.honeywell.com/en-US/support/commercial/se/vfde/Pages/default.aspx" target="_blank">Honeywell VFD Energy Savings and Payback Calculator</a>, Honeywell
        <br>A tool to calculate the energy savings and payback period based on a customer's system demand schedule and variable frequency drive horsepower.</li>

    <li><a class="doctitle" href="https://customer.honeywell.com/en-US/support/commercial/se/vfdq/Pages/default.aspx" target="_blank">Honeywell VFD Quick Savings Estimator</a>, Honeywell
        <br>A tool to calculate the estimated annual energy savings for variable frequency drives (VFDs) on HVAC applications (fans and centrifugal pumps). This worksheet compares VFD capacity control to other types of capacity control.</li>

    <li><a class="doctitle" href="https://www.carrier.com/commercial/en/us/software/hvac-system-design/building-system-optimizer/" target="_blank">Carrier Building System Optimizer (BSO)</a>, Carrier
        <br>A screening tool for the schematic design phase of projects where multiple HVAC design alternatives need to be evaluated.</li>

    <li><a class="doctitle" href="https://www.trane.com/commercial/north-america/us/en/products-systems/design-and-analysis-tools/trane-design-tools.html" target="_blank">Trane HVAC design and analysis tools</a>, Trane TRACE<sup>TM</sup>
        <br>A design tool for load analyses, air supply requirements, weather conditions, determining optimum HVAC system, piping, and duct configurations.</li>

</ul>
