<style>
    #rtcases {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes,
    #rttune {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1,
    #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>

<div class="myh2">Fan: Case Studies</div>

<p><a href="https://www.nrel.gov/docs/fy19osti/72476.pdf" target="_blank">Evaluation of High Rotor Pole Switched Reluctance Motors to Control Condenser Fans in a Commercial Refrigeration System</a> ,Grant Wheeler, Michael Deru 2019</p>

<p><a href="https://customer.honeywell.com/resources/techlit/TechLitDocuments/67-0000s/67-7252.pdf" target="_blank">Integrating the Village of Boys Town—Making Boys Town Even Better: Efficiency and Energy Savings</a>, Honeywell
    <br>Honeywell added centralized Web-enabled building controls on a 640-acre boys home in Omaha, Nebraska. This project included variable frequency drives with less than a 2-year payback.</p>

<p><a href="https://www.energystar.gov/buildings/tools-and-resources/building-upgrade-manual" target="_blank">ENERGY STAR® Buildings Upgrade Manual</a>, U.S. Environmental Protection Agency</p>
<ul>
    <li>“Big Savings from a VAV System Retrofit,” Section 8, p. 16
        A variable air volume retrofit to the Phoenix, Arizona, City Hall</li>

    <li>“Air Distribution System Upgrade Saves Energy, Boosts Comfort,” Section 8, p. 19
        A static pressure reset retrofit on a large commercial office building in San Diego, California</li>
</ul>
