<style>
#rttune{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes, rtcases{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Fan Tune-up Measures</div>

<span class="myh3">Measures Discriptions</span>

<p>Inefficiencies in fan systems can be attributed to faults related to the fan equipment or the system as a whole. The measures listed below are therefore classified as fan measures and system measures. Each measure listed below has a brief description and a link to a reference for more details.</p> 
<p>In applying any of the measures, safety is the foremost concern. The recommended measures recommended should be implemented only by trained and certified personnel.</p>

<span class="myh3">Fan Measures</span>
<p>Fan performance can be compromised by component problems and can be corrected with proper maintenance and or replacement.</p>

<span class="myh4">Fan Maintenance (ASHRAE Standard 180-2012)</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
     <tr>
        <td><b>Check belt tension and wear</b><br>
Proper belt tension is required to prevent noise, vibration and wearing of bearings. Few methods of measuring belt tension are deflection, frequency and using tension-finding devices. After checking the belt tension, tighten or loosen the belt as needed.<sup>1</sup> 
            <br><br>
Belt loses tension as it starts to wear and the power transmission efficiency goes down.<sup>2</sup> Common indicators of belt wear are cracks and fraying. Replace belts that have worn out. Multiple-belt arrangement needs careful evaluation to avoid risk of over loading one or more belts.
</td>
        <td>L</td>
        <td>Semiannually</td>
    </tr>
         <tr>
        <td><b>Check sheaves for proper alignment and excessive wear</b><br>
Sheave misalignment can cause premature bearing/coupling failure, seal damage, increased vibration and noise.<sup>3</sup> Shaft misalignment can be of three types: vertical angularity (twist), horizontal angularity and axial offset. Two most common methods of sheave alignment are straight edge and string method.Dust build up on a fan blade can reduce fan performance significantly. Dirt building up on motor housing insulates the motor and prevents it from operating at higher temperatures. Clean fan blades and motor housing periodically. Ensure power to the circuit breaker and other ancillary devices is turned off.94,5</sup> 
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
        </tr>
         <tr>
        <td><b>Check bearings</b><br>
Inadequate/over lubrication, normal fatigue and contamination are the main causes for bearing failures.<sup>7</sup> Lookout for unusual bearing operation such as uneven running, reduced working accuracy, unusual running noises or any combination of the three.8 Evaluate cause of failure before installing new bearings.
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
         <tr>
        <td><b>Check fan blades and housing</b><br>
Dust build up on a fan blade can reduce fan performance significantly. Dirt building up on motor housing insulates the motor and prevents it from operating at higher temperatures. Clean fan blades and motor housing periodically. Ensure power to the circuit breaker and other ancillary devices is turned off.<sup>9</sup>
</td>
        <td>L</td>
        <td>Semiannually</td>
    </tr>
    </tr>
         <tr>
        <td><b>Check VFD for proper operation</b><br>
Although VFD’s are robust, they can sometimes be not operating as designed. As a preliminary step, check the controller for fault diagnostics, check the wiring for loose connections and identify overheated components (if any).<sup>10</sup>
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
</table>
<br><br>
       <aside class="pquote">
       <blockquote>“Belt inspection is particularly important to the operation of large fans because of the size of the power losses. For example, 200-horsepower (hp) fan, a 5 percent decrease in power transmission efficiency results in a 10-hp loss, translating to $3,270 annually for a continuously operating system”</blockquote>
       <span class="source"><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf " target="_blank">Improving Fan System Performance</a>, by U.S. DOE and AMCA (3- Basic maintenance)</span>
    </aside>

    <span class="myh4">Resources</span>
<ol>
 <li><a href="http://hpac.com/motors-drives/ensuring-proper-fan-belt-tension" target="_blank">Enduring Proper Fan-belt Tension</a> by HPAC Engineering </li> 
 <li><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=29" target="_blank">Improving Fan System Performance</a>, by U.S. DOE and AMCA (3- Basic maintenance)</li>
    <li><a href="http://www.plantengineering.com/single-article/a-straight-line-to-proper-shaft-and-belt-alignment/d78710df68d38fc948042df97e8e31f4.html" target="_blank">A straight line to proper shaft and belt alignment</a>, by Plant Engineering</li>
    <li><a href="http://reliabilityweb.com/articles/entry/sheave_alignment_and_maintenance" target="_blank">Sheave Alignment and Maintenance</a>, on Reliability Web</li>
    <li><a href="http://www.maintenanceresources.com/referencelibrary/v-belts/simple.htm" target="_blank">Simple Techniques for Preventing Drive Belt Alignment Problems</a>, reprinted from Plant Engineering</li>
    <li><a href="http://www.nrel.gov/wind/pdfs/day1_sessioniv_03_skf_dunn_greiner.pdf" target="_blank">Main Bearing Preventive Maintenance &amp; Condition Monitoring Techniques</a>, presentation by SKF</li> 
    <li><a href="http://www.tcf.com/docs/fan-engineering-letters/fan-bearing-maintenance-troubleshooting---fe-1300.pdf?Status=Master" target="_blank">Fan Bearing Maintenance and Troubleshooting</a>, fact sheet by Twin City</li>
    <li><a href="http://www.bardenbearings.co.uk/Identifying_and_correcting_the_causes_of_bearing_failure.html" target="_blank">Identifying and correcting the causes of bearing failures</a>, online article by BARDEN Aerospace and Super Precision.</li>
    <li><a href="http://www.sfnps.org/download_product/2779/0" target="_blank">Maintenance of Nursery Equipment and Structures (Section V. Ventilation:Fans for fan blade and housing maintenance)</a>, article by San Francisco Bay Area National Parks Science and Learning.</li>
    <li><a href="http://ecmweb.com/content/troubleshooting-vfd-problems " target="_blank">Troubleshooting VFD Problems</a>, article by Electrical Construction and Maintenance.</li>
</ol>

<span class="myh4">Air distribution and Air handler Maintenance (ASHRAE Standard 180-2012)</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Survey belt driven equipment and evaluate suitability and cost effectiveness of replacing existing V-belts with notched or synchronous belts</b><br>
Notched belts run cooler, have longer durability compared to V belts and run with an efficiency of ~97%. Synchronous belts operate at ~98% efficiency over a wider load range, need minimal maintenance and can operate in wet/oily environments. However, they transfer more vibrations, are sometimes noisier than V-belts and less suited for shock-load applications.<sup>1,2,3</sup>
</td>
        <td>L</td>
        <td>Monthly</td>
    </tr>
    <tr>
        <td><b>Install VFD</b><br>
Understand AHU operation and evaluate the max load and part load profile. If the application is not constant speed, evaluate retrofitting constant speed motors with a VFD. <sup>4</sup>
</td>
        <td>M</td>
        <td>Once</td>
    </tr>
     <tr>
        <td><b>Apply measures listed in the general air handling unit checklist</b><br>
Apply measures listed in the general air unit checklist.<span>5</span> Refer the ‘air handling unit assessment guidelines’ document for a detailed procedure.<sup>6</sup>
</td>
        <td>L-M</td>
        <td>Once</td>
    </tr>
    </table>

    <p class="myh4">Resources</p>
<ol>
 <li><a href="http://www.nrel.gov/docs/fy13osti/56012.pdf" target="_blank">Replace V-belts with Notched or Synchronous Belt Drives, Motor Systems Tip Sheet #5</a> by U.S. DOE Office of Energy Efficiency and Renewable Energy (EERE) </li> 
    <li><a href="http://designcenter.gates.com/wp-content/uploads/2015/05/Gates-Energy-Saving-from-Synchronous-Belt-Drives-White-Paper.pdf" target="_blank">Energy Savings from Synchronous Belts</a> by Gates Corporation </li> 
    <li><a href="http://www.gsa.gov/portal/content/188023" target="_blank">Synchronous and Cogged Fan Belts</a>, GSA-GPG report</li> 
    <li><a href="http://www.csemag.com/single-article/vfd-motor-strategies-for-energy-efficiency/5d507c13fed1f2680da1f419b85cefa6.html" target="_blank">VFD, motor strategies for energy efficiency</a> article</li> 
    <li><a href="http://www.nrel.gov/docs/gen/fy11/50134.pdf" target="_blank">General Air Handling Unit Checklist</a>, National Renewable Energy Laboratory (2011)</li> 
    <li><a href="http://www.nrel.gov/docs/fy11osti/50113.pdf" target="_blank">Air Handling Unit Assessment Guidelines</a>, National Renewable Energy Laboratory (2003)</li> 
    
    </ol>

<span class="myh4">Evaluate Fan and Motor Size</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check if fan motor is oversized</b><br>
Fans end up being oversized while trying to account for a safety factor. A common indication of an oversized fan is when inlet vanes and dampers remain closed very often. Accurate estimation of oversizing requires detailed measurements to identify the operating point on the fan curve.<sup>1</sup> An oversized impeller might turn out to be a good thing but an undersized impeller could be an opportunity for efficiency improvement. Consider adding a VFD and verifying fan and system operation before replacing it.
</td>
        <td>M</td>
        <td>Once</td>
    </tr>
    <tr>
    </table>
<br>
       <aside class="pquote">
       <blockquote>“A U.S. Environmental Protection Agency (EPA) study found that almost 60 percent of building fan systems were oversized by at least 10 percent, with an average oversizing of 60 percent.”</blockquote>
       <span class="source"><a href="https://www.energystar.gov/sites/default/files/buildings/tools/EPA_BUM_CH8_AirDistSystems.pdf" target="_blank">Source: ENREGY STAR<sup>&reg;</sup> Building Manual (Chapter 8- Air Distribution Systems)</a></span>
    </aside>

<p class="myh4">Resources</p>
<ol>
 <li><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=37" target="_blank">Improving Fan System Performance (5- Indications of Oversized Fans)</a> by U.S. DOE's Office of Energy Efficiency and Renewable Energy (EERE) </li> 
    </ol>

<hr>
<span class="myh2">System Measures</span>
<br>
The fan system should be checked for proper operation. The following System Measures help improve fan system performance:
<br>
<span class="myh4">System Maintenance Items</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check and replace air filters</b><br>
Loaded air filters lead to significant increase in system pressure and can cause instability problem. A differential pressure sensor can be installed across the filter bank to estimate accurate filter change out time.<sup>1</sup>
</td>
        <td>L</td>
        <td>Per manufacturer’s recommendation or when differential pressure reading reaches the maximum threshold</td>
    </tr>
     <tr>
        <td><b>Inspect and clean coils</b><br>
Dirty coils reduce the heat transfer effectiveness, increasing the chiller energy consumption.<sup>2</sup> Coil cleaning was reported to improve IAQ and HVAC system performance by ~10-15%.<sup>3</sup>
</td>
        <td>L</td>
        <td>Every 6 months</td>
          <tr>
        <td><b>Inspect and correct damper operations, including economizers</b><br>
Dampers many a times get manually over-ridden and stay in the same position until inspected. Check whether outdoor damper and return dampers stroke freely with minimum play. Outdoor damper should be able to open 100% and return damper should close tightly. Ensure damper assembly is clean and clear of debris.<sup>4</sup>
</td>
        <td>L-M</td>
        <td>Annually</td>
    </tr>
    <tr>
        <td><b>Test, adjust, and balance fan systems </b><br>
Perform a pre-balance equipment and system check. Compare installed equipment to those mentioned on the mechanical drawings. Have equipment and system balance done by a Testing, Adjusting and Balancing certified technician.<sup>5</sup>
</td>
        <td>M</td>
        <td>As needed</td>
    </tr>
     <tr>
        <td><b>Check and correct leakage of ducts, air system cabinet, and VAV boxes </b><br>
Air leakage leads to poor indoor air quality, increased energy use and thermal comfort problems. Perform leakage tests to identify locations that need to be sealed.<sup>6</sup> Refer to ANSI/ASHRAE standard 193: Method of test for determining the airtightness of HVAC equipment.<sup>7</sup>
</td>
        <td>H</td>
        <td>Once</td>
    </tr>
       <tr>
        <td><b>Check terminal units and diffusers for blockage  </b><br>
Check for books on ventilator cabinets, plastic or cardboard taped over diffusers, furniture covering floor and wall inlet/outlet grilles etc. Sometimes they indicate that people in that space have thermal comfort problems. Identify such problems and adjust the system as needed.
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
    </table>
    <p class="myh4">Resources</p>
<ol>
 <li><a href="http://www.achrnews.com/articles/103657-a-guide-to-understanding-hvac-filter-maintenance " target="_blank">A Guide to Understanding HVAC Filter Maintenance</a> article</li> 
    <li><a href="http://www.seai.ie/EnergyMAP/Energy_Wizard/Action/Air_handling_unit_maintenance_strategies.html " target="_blank">Air handling unit maintenance strategies</a> article </li> 
    <li>Montgomery, Ross D., and Robert Baker. "Study verifies coil cleaning saves energy." <i>Ashrae Journal</i> 48, no. 11 (2006): 34-38.</li> 
    <li><a href="http://www.ftguide.org/ftg/index.htm" target="_blank">Functional Testing for Air Handlers (Chapter 3: Economizer and Mixed Air) </a></li> 
    <ul>
    <li><a href="http://www.ftguide.org/ftg/SystemModules/AirHandlers/AHU_ReferenceGuide/FTG_Chapters/ft_temp/TestEconEvaluation.doc" target="_blank">Economizer Evaluation Test</a>,Checklist to Evaluate Economizers for Potential Operating Problems (Microsoft Word document) </li>
        <li><a href="http://www.ftguide.org/ftg/Test_guidance/Tests/302-Pkg_RTU.doc" target="_blank">Large Packaged Rooftop DX Unit Test </a>(Microsoft Word document)</li> 
        </ul>
     <li><a href="https://www.nsf.gov/about/contracting/rfqs/support_ant/docs/facility_manuals/palmer_mcm_and_southpole/hvacairbalencingsop-711.pdf " target="_blank">Balancing Air Distribution Systems </a>document</li> 
    <li><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=41" target="_blank">Improving Fan System Performance</a>, by U.S. DOE and AMCA (Section 6-System Leaks)</li>
    <li>ANSI/ASHRAE Standard 193-2010 (RA 2014): Method of Test for Determining the Airtightness of HVAC Equipment</li> 
    </ol>


<span class="myh4">Verifying Proper Control as Designed</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check if fan can turn off when not needed</b><br>
All fan motors should have controls that can turn off the fan when not needed. Control can be done based on an occupancy sensor or a timer.<sup>1</sup> Avoid using “duty-cycling” approach that arbitrarily shuts down fans for short periods of time without taking into account the building’s HVAC requirement. Evaluate building pressurization requirements before turning off fans.<sup>3</sup>
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>
        <tr>
        <td><b>Ensure variable speed settings are properly implemented</b><br>
Fan motors greater or equal to 5HP should be provided with a VFD, and should be indicated on the mechanical plan.<sup>1</sup>
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>
            <tr>
        <td><b>Check static pressure reset</b><br>
Review duct static pressure trend to check if duct static pressure set point stays constant during times when fan load should have varied. Review damper positions to check if static pressure is too high or too low.<sup>2</sup> Have the BAS monitor the duct static pressure trend to determine if a reset is possible.
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>
    
    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a href="https://www.energycodes.gov/sites/default/files/documents/BECP_HVAC%20Controls%20Guide%20for%20Plans%20Examiners%20and%20Building%20Inspectors_Sept2011_v00_lores.pdf " target="_blank">HVAC Controls Guide for Plans Examiners and Building Inspectors</a>, U.S. DOE</li> 
    <li><a href="http://www.pnnl.gov/buildingretuning/documents/pnnl_sa_84187.pdf" target="_blank">Building Re-Tuning Training Guide: AHU Static Pressure Control</a>, PNNL</li> 
    <li><a href="http://hpac.com/ventilation-iaq/pressurization-control-large-commercial-0210" target="_blank">
Pressurization Control in Large Commercial Buildings </a>, article in <i>HPAC Engineering</i></li> 
    </ol>


<span class="myh4">Implement Optimal Control Sequences</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>Implement a supply air temperature reset logic
        </td>
        <td>M</td>
        <td>Once, but check control settings quarterly</td>
    </tr>
        <tr>
        <td>Implement a trim and respond logic for static pressure reset 
        </td>
        <td>M</td>
        <td>Once, but check control settings quarterly</td>
    </tr>
    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a href="http://energydesignresources.com/media/2651/EDR_DesignGuidelines_VAV.pdf?tracked=true " target="_blank">Advanced Variable Air Volume VAV System Design Guide</a></li> 
    <li><a href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Journal_-_Trim_and_Respond_-_Taylor.pdf" target="_blank">Trim and respond logic for dynamic resetting of setpoints</a>, PNNL</li> 
    <li>ASHRAE Guideline 36, High Performance Sequences of Operation for HVAC Systems (expected publication in 2017).</li> 
    </ol>

<span class="myh4">Evaluate System Installation</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check facility operational requirements</b><br>
Are the facility’s requirements the same? (occupancy patterns, internal loads, etc. may have changed since initial system design) Is the current system design still relevant? If not, what design changes are needed? Are there components installed in the system which were not considered in design? If yes, then identify components that are introducing significant pressure drop.<sup>1,2</sup>
</td>
        <td>L-M</td>
        <td>Upon changes in building occupants, operating schedules, or substantial equipment installation/upgrades</td>
    </tr>   
    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a href="http://www.werc.org/assets/1/workflow_staging/Publications/434.PDF" target="_blank">Facilities checklist</a></li> 
    <li><a href="https://www.wbdg.org/resources/fpe.php" target="_blank">2.	Facility Performance Evaluation (FPE)</a></li> 
    </ol>

<span class="myh4">Implement Optimal Control Sequences</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>Evaluate if the system fan/duct design an efficient design
        </td>
        <td>M-H</td>
        <td>Once</td>
    </tr>
        <tr>
        <td>Check and revise the fan discharge plenum and ducting 
        </td>
        <td>L-H</td>
        <td>Once</td>
    </tr>
    </table>

<p class="myh4">Resources</p>
<ol>
 <li>AMCA Fan and Systems Application Handbook 2012, combines AMCA 200, 201, 202 and 203. AMCA 201 has detailed information on fan system effects.
Available at  <a href="http://www.amca.org/store" target="_blank">www.amca.org/store.</a>
</a></li> 
    </ol>

<hr>

<p class="myh2">General Resources</p>
ASHRAE Guideline 36
<br>
ASHRAE Standard 90.1-2013 
<br>
ASHRAE/ACCA Standard 180-2012
<br>
U.S. Department of Energy (2003). <a href="http://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">Improving Fan System Performance, a sourcebook for industry</a>
<br>
Westphalen, Detlef, and Scott Koszalinski. "Energy consumption characteristics of commercial building HVAC systems volume II: thermal distribution, Auxiliary equipment, and ventilation." US Department of Energy (1999). <a href="http://www.amca.org/store" target="_blank" class="source">http://apps1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf</a>  
