<style>
    #rtcodes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes, #rttune {
        color: #0062A0;
        background-color: #ffffff;
    }

    #fan1, #fan2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Fan: Performance Ratings</div>

<p>Content will be available shortly</p>
