<div class="myh2">Design Calculators and Tools</div>


<p> <a class="doctitle" href="http://www.energy.gov/eere/amo/articles/fan-system-assessment-tool" target="_blank">“The Fan System Assessment Tool (FSAT)</a> is a free online software tool that helps industrial users quantify energy use and savings opportunities in industrial fan systems.” 
FSAT, DOE.</p> 

<p><a class="doctitle" href="https://customer.honeywell.com/en-US/support/commercial/se/vfde/Pages/default.aspx" target="_blank">Honeywell VFD Energy Savings and Payback Calculator</a></p> 
<p>“Calculate the energy savings and payback period based on a customer's system demand schedule and variable frequency drive horsepower.”</p>

<p><a class="doctitle" href="https://customer.honeywell.com/en-US/support/commercial/se/vfdq/Pages/default.aspx" target="_blank">Honeywell VFD Quick Savings Estimator</a></p>
<p>“Calculate the estimated annual energy savings for variable frequency drives (VFDs) on HVAC applications (fans and centrifugal pumps). This worksheet compares VFD capacity control to other types of capacity control.”</p>

<p><a class="doctitle" href="http://www.carrier.com/building-solutions/en/us/software/hvac-system-design/building-system-optimizer/" target="_blank">Carrier Building System Optimizer (BSO)</a></p> 
<p>“BSO is a screening tool for the schematic design phase of projects where multiple HVAC design alternatives need to be evaluated”.</p>

<p><a class="doctitle" href="http://www.trane.com/commercial/north-america/us/en/products-systems/design-and-analysis-tools/design-tools.html" target="_blank">Trane HVAC design and analysis tools, TRACETM</p> 
<p>“Design tool for load analyses, air supply requirements, weather conditions, determining optimum HVAC system, piping and duct configurations.”</p>
