<div class="myh2">Design Guides and Efficiency Measures (EEMs)</div>

<p>In depth discussion about variable air volume system design, best practices and component design considerations:
<a class="doctitle" href="http://energydesignresources.com/media/2651/EDR_DesignGuidelines_VAV.pdf?tracked=true" target="_blank"> “Advanced Variable Air Volume VAV System Design Guide”</a> Energy Design Resources December 2009. 

<p>Advanced VAV system design guidance with comparison table for common fan types: 
<a class="doctitle" href="http://energydesignresources.com/resources/publications/design-guidelines/design-guidelines-advanced-variable-air-volume-(vav)-systems.aspx" target="_blank">“Design Brief: Advanced Variable-Air-Volume (VAV) Systems”</a> Energy Design Resources, May 2010.</p> 

<p>Description of the Fan Efficiency Grade (FEG) for classifying fan energy efficiency potential. The FEG is incorporated into ASHRAE Standard 90.1-2013 to specify minimum fan efficiency requirements. AMCA International <a class="doctitle" href="http://www.amca.org/UserFiles/file/AMCA_Spring2010Revlores.pdf" target="_blank">“The Role of Fan Efficiency in Reducing HVAC Energy Consumption”</a> Spring 2010.</p>

<p>Introduction to the Fan Efficiency Ratio (FER) metric for evaluating fan efficiency relative to a baseline efficiency both at a single airflow and pressure. 
AMCA International <a class="doctitle" href="http://www.amca.org/resources/FER_Whitepaper_single%20pages.pdf" target="_blank">“Introducing Fan Efficiency Ratios”</a></p>

<p>Explains quantitative advantages of using variable frequency devices (VFD) also called variable speed devices (VSD). Danfoss <a class="doctitle" href="http://www.danfoss.com/nr/rdonlyres/7b7cd91b-9c60-45cb-91b8-f448e7b401a5/0/fc102_designguide_1101400kw_mg16c102.pdf" target="_blank">“VLT® HVAC Drive Design Guide”</a> Deals with VFD system design.</p> 

<p>Discusses the effect of inlet and outlet connections on fan performance. It includes separate axial fan factors and is aimed primarily at the designer of the air moving system AMCA <a class="doctitle" href="http://www.amca.org/store/item.aspx?ItemId=71" target="_blank">“Fan and Air System Applications Handbook (AMCA Fan Application Manual)”</a>.</p>


