<style>
#rttypes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rtcodes, #rttune{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Types</div>

<table class="mytable" style="width:100%">

  <tr>
    <th>Fan type</th>
    <th>Advantage</th>
    <th>Disadvantage</th>
    <th>Application</th>
    <th>Images <sup> 1</sup></th>
  </tr>

  <tr>
    <th>Centrifugal, Forward curved</th>
    <td>
        <ul class="mylist"><li>High velocity</li>
           <li>Low to medium pressure (0-5 in wg)</li>
           <li>Compact</li>
           <li>Low cost</li>
      </ul></td>
    <td><ul class="mylist"><li>Can overload motor in variable static pressure applications</li></ul></td>
    <td><ul class="mylist">
            <li>RTUs</li>
           <li>Exhaust fans</li>
           <li>Residential furnaces</li></ul></td>
    <td>
        <a href="img/Fan_Centr_Fwd_curve.jpg" target="new"> 
        <img class="transimage" ng-src="img/Fan_Centr_Fwd_curve.jpg" width="100%"></img></a> </td>

  </tr>

  <tr>
    <th>Centrifugal, Backward curved, Backward inclined</th>
    <td><ul class="mylist">
            <li>High pressure</li>
           <li>High efficiency</li>
        </ul>
    </td>
    <td><ul class="mylist">
        <li>Higher rotation speeds</li>
           <li>Heavier</li>
           <li>Larger than forward curved</li>
    </td>
    <td><ul class="mylist">
        <li>RTUs</li>
        <li>AHUs</li>
        </ul>
    </td>
    <td> <a href="img/Fan_Back_Fwd_curve.jpg" target="new">
        <img class="transimage" ng-src="img/Fan_Back_Fwd_curve.jpg" width="100px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Centrifugal, Airfoil</th>
    <td><ul class="mylist">
        <li>High pressure (5-10 in wg)</li>
           <li>High efficiency</li>
        </ul>
    </td>
    <td><ul class="mylist">
        <li>Higher rotation speeds</li>
        <li>Heavier</li>
        <li>Larger than forward curved</li>
        </ul>
      </td>
    <td><ul class="mylist">
        <li>AHUs</li>
         <li>Industrial applications</li>
        </ul>
    </td>
    <td> <a href="img/Fan_centrfgl_airfoil.jpg" target="new"> <img class="transimage" ng-src="img/Fan_centrfgl_airfoil.jpg" width="100px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Axial, Propeller</th>
    <td><ul class="mylist">
        <li>Large air flows</li>
        <li>Light</li>
        <li>Low cost</li>
        <li>Low pressure</li>
        </ul>
    </td>
    <td><ul class="mylist"><li>Very low pressure</li></ul>
    </td>
    <td><ul class="mylist">
            <li>Unducted applications</li>
	        <li>Exhaust fans</li>
            <li>Condenser fans</li>
            <li>Transfer fans</li>
        </ul>
    </td>
    <td> <a href="img/Fan_axial_propeller.jpg" target="new">
        <img class="transimage" ng-src="img/Fan_axial_propeller.jpg" width="100px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Axial, Tubeaxial</th>
    <td><ul class="mylist">
            <li>High air flow rates</li>
           <li>Medium pressure (< 5 in wg)</li>
           <li>Low rotating mass</li>
           <li>Quick response</li>
        </ul>
    </td>
    <td><ul class="mylist"><li>Poor downstream air flow distribution</li>
    </td>
    <td><ul class="mylist">
            <li>RTUs</li>
	        <li>AHUs</li>
            <li>Exhaust fans</li>
        </ul>
    </td>
    <td>  <a href="img/Fan_axial_tubeaxial.jpg" target="new">
        <img class="transimage" ng-src="img/Fan_axial_tubeaxial.jpg" width="100px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Axial, Vaneaxial</th>
    <td><ul class="mylist">
            <li>Medium air flow rates</li>
           <li>High pressure</li>
           <li>Compact</li>
           <li>Good air distribution</li>
           <li>Low rotating mass</li>
           <li>Quick response</li>
        </ul>
    </td>
    <td>
    </td>
    <td><ul class="mylist">
           <li>RTUs</li>
            <li>AHUs</li>
            <li>Exhaust fans</li>
    </td>
    <td>  <a href="img/Fan_axial_vaneaxial.jpg" target="new"><img class="transimage" ng-src="img/Fan_axial_vaneaxial.jpg" width="100px" height="100px"></img> </a></td>
  </tr>

</table>

<p> <sup>1</sup> <a class="doctitle" href="US DOE and AMCA DOE/GO-102003-1294" target="_blank" >US DOE and AMCA DOE/GO-102003-1294</a>
  <br>
  <hr>
<span class="myh3">Drives</span>
<br>Belt (indirect) driven fans are the most common and have the advantages that they are readily accessible for maintenance, require simple maintenance, easy to adjust the speed for the system design, and low stress on the motor. The main disadvantage is the efficiency loss of 3% to 5% compared to direct drive. Synchronous drive belts can improve system performance by 2%. Direct drive fans can provide higher efficiency and have a simpler design compared to belt driven fans. However, may have increased stress on the motor and bearings and most applications require a method for speed control like a variable frequency drive. Refer the <a class="doctitle" href="http://dms.hvacpartners.com/docs/1001/Public/0F/04-581070-01.pdf" target="_blank"> Applications of Fans in Commercial HVAC equipment report</a> by Carrier for more details.
<br>
<hr>
<span class="myh3">Motors</span>
<br>Most HVAC system motors are AC induction motors with single phase motors for small systems (< 5 hp) and three phase motors for larger systems. The most common single phase
  motor are permanent split capacitance and some shaded pole (smaller motors and very low performance). Speed control and improved part load efficiency can be achieved with the
  addition of variable frequency drives (VFD); however, VFDs add a 3% to 5% efficiency penalty. More efficient motor options include permanent magnet motors (e.g. electrically
  commutated [EC]) and switched reluctance motors. EC and other permanent magnet motors are widely available for small (< 1hp) motors and are starting to become more available for
   midsized motors (2-5 hp). Switched reluctance motors have the advantage of not using expensive rare earth materials and recent advances are overcoming speed and vibration control
    challenges.</p>
<hr>
<p class="myh3">Sources</p>
<span class="source">
<ul class="mylist">
<li><a class="doctitle" href="http://www.tcf.com/docs/fan-engineering-letters/integral-ac-motor-selection-and-application-guide-for-fans---fe-800.pdf?Status=Master" target="_blank">Integral AC Motor Selection and Application Guide For Fans</a></li>
<li><a class="doctitle" href="http://www.greenheck.com/library/articles/33" target="_blank">Motor Application Guide for Ventilation Products FA 113-01</a><br>Provides an overview of motor considerations for ventilation systems including enclosure options, fan type compatibility and electric motor characteristics</li>
<li><a class="doctitle" href="http://www.lorencook.com/PDFs/Catalogs/Cookbook_Catalog.pdf" target="_blank">Engineering Cookbook, A Handbook for the Mechanical Engineer </a>2nd Ed, 1999. Loren Cook Company, Springfield, MO
<br>Overview of fan types and characteristics, selection criteria and system design principles </li>
<li><a class="doctitle" href="http://www.esource.com/members/iv-tech-answer-171/what-are-most-common-fan-types-hvac-applications" target="_blank" >What are the most common fan types for HVAC applications?</a>
<br>Overview of fan types and where they are typically used in HVAC systems</li>
<li><a class="doctitle" href="http://www.amca.org/store/item.aspx?ItemId=95" target="_blank" >Energy Efficiency Classification for Fans </a> ANSI/AMCA Standard 205-12
<br>Quantitative comparison of fan efficiency </li>
</span>
