<div class="myh2">Types</div>

<p>For an overview of fan types and characteristics, selection criteria and system design principles refer to 
<a class="doctitle" href="http://www.lorencook.com/PDFs/Catalogs/Cookbook_Catalog.pdf" target="_blank">“Engineering Cookbook, A Handbook for the Mechanical Engineer” 2nd Ed, 1999.</a> Loren Cook Company, Springfield, MO.</p> 

<p>An overview of fan types, characteristics, system design and general considerations as well as performance improvement opportunities and how to implement them can be found in <a class="doctitle" href="http://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">  
“Improving Fan System Performance”</a> U.S. DOE and AMCA DOE/GO-102003-1294.</p>

<p>Overview of fan types and where they are typically used in HVAC systems is addressed in <a class="doctitle" href="http://www.esource.com/members/iv-tech-answer-171/what-are-most-common-fan-types-hvac-applications" target="_blank"> “What are the most common fan types for HVAC applications?”</a> E Source. 
-	Quantitative comparison of fan efficiency “Energy Efficiency Classification for Fans” ANSI/AMCA Standard 205-12.</p> 
<br>

<p class="myh3">Centrifugal</p>
<p>Centrifugal fans can be compact, higher pressure, and are cheap to make. Blade curvature: forward, backward, radial, airfoil. See <a class="doctitle" href="http://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">  “Improving Fan System Performance”</a>.  Typical applications include RTUs, commercial AHUs, exhaust fans, built up fan systems, and residential furnaces.</p> 
    
<p>For an overview of attributes of forward curved vs airfoil centrifugal fans as well as housing and drive considerations and a good description of fan overloading for forward curved fans is provided in <a class="doctitle" href="http://dms.hvacpartners.com/docs/1001/Public/0F/04-581070-01.pdf" target="_blank">“Application of Fans in Commercial HVAC Equipment”</a> Carrier Corporation Syracuse, NY May 2013.</p> 
<br>
<p class="myh3">Axial</p>
<p>Azial fans are more efficient than centrifugal at lower pressures, tend to be larger. See <a class="doctitle" href="http://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">  “Improving Fan System Performance”</a>. These are often used in unducted ventilation applications and condenser cooling.</p>
<p>An overview of many types of axial as well as other fans, typical characteristics and use cases:</p>
<p><a class="doctitle" href="http://www.pdhcenter.com/courses/m213/m213content.pdf" target="_blank">“Characteristics and Selection Parameters of Fans and Blower Systems”</a> PDH Online 2012.</p>
<br>
<p class="myh3">Motors</p>	
<p>Although energy codes dictate minimum efficiency requirements for motors, there are typically motor selections available above minimum requirements that can save significant energy over the life of the motor.  Variable frequency drives are commonly available in many HVAC applications to reduce energy use, provide soft starting, and aid air volume control.</p>  

<p></p>The following reference provides a description of electronically commutated (EC) motors, applications and efficiency. Typically EC motors are used on fans requiring less horsepower, such as small exhaust fans, room cooling units, 
A. Hauer <a class="doctitle" href="http://ctashrae.org/downloads/ashrae_2010_12_09_1.pdf" target="_blank">“EC fans: efficient, programmable, intelligent”</a> Connecticut Chapter of ASHRAE</p>

<p>An AC motor selection guide for fans can be found in
Twin City Fans &amp; Blowers <a class="doctitle" href="http://www.tcf.com/docs/fan-engineering-letters/integral-ac-motor-selection-and-application-guide-for-fans---fe-800.pdf?Status=Master" target="_blank">“Integral AC Motor Selection and Application Guide For Fans”</a></p>

<p>The <a class="doctitle" href="http://www.greenheck.com/library/articles/33" target="_blank">Motor Application Guide for Ventilation Products FA 113-01</a> provides an overview of motor considerations for ventilation systems including enclosure options, fan type compatibility and electric motor characteristics.</p>

