<style>
#rttune{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes, rtcases{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Fan Tune-Up Measures</div>

<span class="myh3">Measure Descriptions</span>

<aside class="pquote">
<blockquote>“Belt inspection is particularly important to the operation of large fans because of the size of the power losses. For example, in a 200-horsepower (hp) fan, a 5 percent decrease in power transmission efficiency results in a 10-hp loss, translating to $3,270 annually for a continuously operating system.”</blockquote>
<span class="source"><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf " target="_blank">Improving Fan System Performance,</a>U.S. Department of Energy and Air Movement and Control Association International, Inc., Section 2:3—Basic Maintenance</span>
</aside>

<p>Inefficiencies in fan systems can be attributed to faults related to the fan equipment or the system as a whole. The measures listed below are therefore classified as fan measures and system measures. Each measure listed below has a brief description and a link to a reference for more details.</p>
<p>In applying any of the measures, safety is the foremost concern. The recommended measures should be implemented only by trained and certified personnel.</p>

<br><br><br><br>

<span class="myh3">Fan Measures</span>
<p>Fan performance can be compromised by component problems and can be corrected with proper maintenance and or replacement.</p>

<span class="myh4">FM-1: Fan Maintenance (ASHRAE Standard 180-2012)</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
     <tr>
        <td><b>Check belt tension and wear</b><br>
Proper belt tension is required to prevent noise, vibration, and bearing wear. A few ways to ensure correct belt tension include checking deflection, establishing a maintenance schedule, and using tension-finding devices. After checking the belt tension, tighten or loosen the belt as needed.<sup>1</sup>
            <br>
A belt loses tension as it wears, reducing power transmission efficiency.<sup>2</sup> Common indicators of belt wear are cracks and fraying. Replace belts that have worn out. Multiple-belt arrangements need careful evaluation to avoid the risk of overloading one or more belts.
</td>
        <td>L</td>
        <td>Semiannually</td>
    </tr>
         <tr>
        <td><b>Check sheaves for proper alignment and excessive wear</b><br>
Sheave misalignment can cause premature bearing/coupling failure, seal damage, increased vibration, and noise.<sup>3</sup> Shaft misalignment can be of three types: vertical angularity (twist), horizontal angularity, and axial offset. The two most common methods of sheave alignment are straight edge and string method.
<br> Dust build up on a fan blade can reduce fan performance significantly. Dirt building up on a motor housing insulates the motor and prevents it from operating at higher temperatures. Clean fan blades and motor housing periodically. Ensure power to the circuit breaker and other ancillary devices is turned off during maintenance activities <sup>9,4,5</sup>
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
        </tr>
         <tr>
        <td><b>Check bearings</b><br>
Inadequate/over lubrication, normal fatigue, and contamination are the main causes of bearing failures.<sup>7</sup> Look for unusual bearing operation such as uneven running, reduced working accuracy, unusual running noises, or any combination of the three.<sup>8</sup> Evaluate cause of failure before installing new bearings.
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
         <tr>
        <td><b>Check fan blades and housing</b><br>
Dust build up on a fan blade can reduce fan performance significantly. Dirt building up on motor housing insulates the motor and prevents it from operating at higher temperatures. Clean fan blades and motor housing periodically. Ensure power to the circuit breaker and other ancillary devices is turned off during maintenance activities.<sup>9</sup>
</td>
        <td>L</td>
        <td>Semiannually</td>
    </tr>
    </tr>
         <tr>
        <td><b>Check variable frequency drives for proper operation</b><br>
Although variable frequency drives are robust, check that they are operating as designed. As a preliminary step, check the controller for fault diagnostics, check the wiring for loose connections, and identify overheated components (if any).<sup>10</sup>
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
</table>
<br>

<span class="myh4">Resources</span>
<ol>
 <li><a href="http://hpac.com/motors-drives/ensuring-proper-fan-belt-tension" target="_blank" class="doctitle">Ensuring Proper Fan-Belt Tension</a>, HPAC Engineering </li>
 <li><a href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=29" target="_blank" class="doctitle">Improving Fan System Performance</a>, U.S. Department of Energy and Air Movement and Control Association International, Inc., Section 2:3—Basic Maintenance</li>
 <li><a class="doctitle" href="http://www.plantengineering.com/single-article/a-straight-line-to-proper-shaft-and-belt-alignment/d78710df68d38fc948042df97e8e31f4.html" target="_blank">A straight line to proper shaft and belt alignment</a>, by Plant Engineering</li>
 <li><a href="http://reliabilityweb.com/articles/entry/sheave_alignment_and_maintenance" target="_blank" class="doctitle">Sheave Alignment and Maintenance</a>, Reliability Web</li>
 <li><a href="http://www.maintenanceresources.com/referencelibrary/v-belts/simple.htm" target="_blank" class="doctitle">Simple Techniques for Preventing Drive Belt Alignment Problems</a>, by Dan Parsons, reprinted from Plant Engineering</li>
 <li><a href="https://www.slideshare.net/balghari7/day1-sessioniv-03skfdunngreiner" target="_blank" class="doctitle">Main Bearing Preventive Maintenance &amp; Condition Monitoring Techniques</a>, presentation by Korey Greiner and Mark Dunn, SKF</li>
 <li><a href="http://www.tcf.com/docs/fan-engineering-letters/fan-bearing-maintenance-troubleshooting---fe-1300.pdf?Status=Master" target="_blank" class="doctitle">Fan Bearing Maintenance and Troubleshooting</a>, Fan Engineering, Twin City Fan &amp; Blower</li>
 <li><a href="http://www.bardenbearings.co.uk/Identifying_and_correcting_the_causes_of_bearing_failure.html" target="_blank" class="doctitle">Identifying and correcting the causes of bearing failures</a>, online article by BARDEN Aerospace and Super Precision</li>
 <li><a href="http://www.sfnps.org/download_product/2779/0" target="_blank" class="doctitle">Maintenance of Nursery Equipment and Structures (Section V. Ventilation: Fans)</a>, article by Ed McCullough, San Francisco Bay Area National Parks Science and Learning.</li>
 <li><a href="http://ecmweb.com/content/troubleshooting-vfd-problems " target="_blank" class="doctitle">Troubleshooting VFD Problems</a>, article by Paul Frank, Electrical Construction and Maintenance</li>
</ol>

<br>
<span class="myh4">FM-2: Air Distribution and Air Handler Maintenance (ASHRAE Standard 180-2012)</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Survey belt-driven equipment and evaluate suitability and cost-effectiveness of replacing existing V-belts with notched or synchronous belts</b><br>
Notched belts run cooler, have longer durability compared to V belts, and run with an efficiency of ~97%. Synchronous belts operate at ~98% efficiency over a wider load range, need minimal maintenance, and can operate in wet/oily environments. However, they transfer more vibrations, are sometimes noisier than V-belts, and are less suited for shock-load applications.<sup>1,2,3</sup>
</td>
        <td>L</td>
        <td>3-6 months</td>
    </tr>
    <tr>
        <td><b>Install variable speed drives</b><br>
Understand air handling unit operation and evaluate the max load and part load profile. If the application is not constant speed, evaluate retrofitting constant speed motors with a variable speed drive. <sup>4</sup>
</td>
        <td>M</td>
        <td>Once</td>
    </tr>
     <tr>
        <td><b>Apply measures listed in the general air handling unit checklist</b><br>
Apply measures listed in the general air unit checklist.<sup>5</sup> Refer to <a href="http://www.nrel.gov/docs/fy11osti/50113.pdf" target="_blank" class="doctitle" >Air Handling Unit Assessment Guidelines</a> for a detailed procedure.<sup>6</sup>
</td>
        <td>L-M</td>
        <td>Once</td>
    </tr>
    </table>

    <p class="myh4">Resources</p>
<ol>
 <li><a class="doctitle" href="http://www.nrel.gov/docs/fy13osti/56012.pdf" target="_blank">Replace V-belts with Notched or Synchronous Belt Drives</a>, Motor Systems Tip Sheet #5, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy </li>
 <li><a class="doctitle" href="http://designcenter.gates.com/wp-content/uploads/2015/05/Gates-Energy-Saving-from-Synchronous-Belt-Drives-White-Paper.pdf" target="_blank">Energy Savings from Synchronous Belts</a>, Gates Corporation </li>
 <li><a class="doctitle" href="http://www.gsa.gov/portal/content/188023" target="_blank">Synchronous and Cogged Fan Belts</a>, U.S. General Services Administration, Green Proving Ground (GPG) program report</li>
 <li><a class="doctitle" href="http://www.csemag.com/single-article/vfd-motor-strategies-for-energy-efficiency/5d507c13fed1f2680da1f419b85cefa6.html" target="_blank">VFD, motor strategies for energy efficiency</a>, Consulting-Specifying Engineer</li>
    <li><a class="doctitle" href="http://www.nrel.gov/docs/gen/fy11/50134.pdf" target="_blank">General Air Handling Unit Checklist</a>, National Renewable Energy Laboratory, 2011</li>
    <li><a class="doctitle" href="http://www.nrel.gov/docs/fy11osti/50113.pdf" target="_blank">Air Handling Unit Assessment Guidelines</a>, National Renewable Energy Laboratory, 2003</li>

    </ol>

<br>
<span class="myh4">FM-3: Evaluate Fan and Motor Size</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check fan motor for oversizing</b><br>
Fans are often oversized in an effort to include a safety factor. A common indication of an oversized fan is that inlet vanes and dampers are often closed. Accurate estimation of oversizing requires detailed measurements to identify the operating point on the fan curve.<sup>1</sup> An oversized impeller might turn out to be a good thing, but an undersized impeller could be an opportunity for efficiency improvement. Consider adding a variable frequency drive and verifying fan and system operation before replacing it.
</td>
        <td>M</td>
        <td>Once</td>
    </tr>
    <tr>
    </table>

<p class="myh4">Resource</p>
<ol>
 <li><a class="doctitle"href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=37" target="_blank">Improving Fan System Performance</a>, Section 2:5—Indications of Oversized Fans, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy</li>
    </ol>
<br>


<hr>
<p class="myh2">System Measures</p>
The fan system should be checked for proper operation. The following system measures help improve fan system performance.
<br>
<span class="myh4">SM-1: System Maintenance Items</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check and replace air filters</b><br>
Loaded air filters lead to a significant increase in system pressure and can cause instability problems. A differential pressure sensor can be installed across the filter bank to estimate accurate filter change out time.<sup>1</sup>
</td>
        <td>L</td>
        <td>Per manufacturer’s recommendation or when differential pressure reading reaches the maximum threshold</td>
    </tr>
     <tr>
        <td><b>Inspect and clean coils</b><br>
Dirty coils reduce heat transfer effectiveness, increasing chiller energy consumption.<sup>2</sup> Coil cleaning was reported to improve indoor air quality and HVAC system performance by ~10%–15%.<sup>3</sup>
</td>
        <td>L</td>
        <td>Every 6 months</td>
          <tr>
        <td><b>Inspect and correct damper operations, including economizers</b><br>
Dampers can be manually overridden and can remain in the same position until inspected. Check that outdoor dampers and return dampers stroke freely with minimum play. Outdoor dampers should open 100% and return damper should close tightly. Ensure damper assembly is clean and clear of debris.<sup>4</sup>
</td>
        <td>L-M</td>
        <td>Annually</td>
    </tr>
    <tr>
        <td><b>Test, adjust, and balance fan systems </b><br>
Perform a pre-balance equipment and system check. Compare installed equipment to those mentioned on the mechanical drawings. Have equipment and system balance done by a Testing, Adjusting and Balancing certified technician.<sup>5</sup>
</td>
        <td>M</td>
        <td>As needed</td>
    </tr>
     <tr>
        <td><b>Check and correct leakage of ducts, air system cabinet, and variable air volume  boxes </b><br>
Air leakage leads to poor indoor air quality, increased energy use, and thermal comfort problems. Perform leakage tests to identify locations that need to be sealed.<sup>6</sup> Refer to ANSI/ASHRAE standard 193: Method of Test for Determining the Airtightness of HVAC Equipment.<sup>7</sup>
</td>
        <td>H</td>
        <td>Once</td>
    </tr>
       <tr>
        <td><b>Check terminal units and diffusers for blockage  </b><br>
Check for books on ventilator cabinets, plastic or cardboard taped over diffusers, furniture covering floor and wall inlet/outlet grilles, etc. Sometimes they indicate that people in that space have thermal comfort problems. Identify such problems and adjust the system as needed.
</td>
        <td>L</td>
        <td>Annually</td>
    </tr>
    </table>
    <p class="myh4">Resources</p>
<ol>
 <li><a class="doctitle" href="http://www.achrnews.com/articles/103657-a-guide-to-understanding-hvac-filter-maintenance " target="_blank">A Guide to Understanding HVAC Filter Maintenance</a>, ACHR News </li>
    <li><a href="http://www.seai.ie/EnergyMAP/Energy_Wizard/Action/Air_handling_unit_maintenance_strategies.html " target="_blank">Air handling unit maintenance strategies</a>, Sustainable Energy Authority of Ireland (SEAI) article </li>
    <li>Study verifies coil cleaning saves energy; Montgomery, Ross D., and Robert B.; <i>Ashrae Journal</i>, 48, no. 11, November 2006, 34–38</li>
    <li><a class="doctitle" href="http://www.ftguide.org/ftg/index.htm" target="_blank">Functional Testing for Air Handler</a>, Chapter 3: Economizer and Mixed Air </li>
    <ul>
    <li><a href="http://www.ftguide.org/ftg/SystemModules/AirHandlers/AHU_ReferenceGuide/FTG_Chapters/ft_temp/TestEconEvaluation.doc" target="_blank">Economizer Evaluation Test</a>,Checklist to Evaluate Economizers for Potential Operating Problems (Microsoft Word document) </li>
        <li><a class="doctitle" href="http://www.ftguide.org/ftg/Test_guidance/Tests/302-Pkg_RTU.doc" target="_blank">Large Packaged Rooftop DX Unit Test </a>(Microsoft Word document)</li>
        </ul>
    <li><a class="doctitle" href="http://www.nrel.gov/docs/fy03osti/29166.pdf#page=41" target="_blank">Improving Fan System Performance</a>, U.S. Department of Energy and Air Movement and Control Association International, Inc., Section 2:6—System Leaks</li>
    <li class="doctitle">ANSI/ASHRAE Standard 193-2010 (RA 2014): Method of Test for Determining the Airtightness of HVAC Equipment</li>
    </ol>

<br>
<span class="myh4">SM-2: Verifying Proper Control as Designed</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check that fan can turn off when not needed</b><br>
All fan motors should have controls that can turn off the fan when not needed. Control can be done based on an occupancy sensor or a timer.<sup>1</sup> Avoid using “duty-cycling” approach that arbitrarily shuts down fans for short periods of time without taking into account the building’s HVAC requirement. Evaluate building pressurization requirements before turning off fans.<sup>3</sup>
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>
        <tr>
        <td><b>Ensure variable speed settings are properly implemented</b><br>
Fan motors greater or equal to 5-hp should be provided with a variable frequency drive, and should be indicated on the mechanical plan.<sup>1</sup>
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>
            <tr>
        <td><b>Check static pressure reset</b><br>
Review duct static pressure trend to check whether the duct static pressure set point stays constant during times when fan load should have varied. Review damper positions to check whether static pressure is too high or too low.<sup>2</sup> Have the BAS monitor the duct static pressure trend to determine if a reset is possible.
</td>
        <td>L</td>
        <td>Quarterly</td>
    </tr>

    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a class="doctitle" href="https://www.energycodes.gov/sites/default/files/documents/BECP_HVAC%20Controls%20Guide%20for%20Plans%20Examiners%20and%20Building%20Inspectors_Sept2011_v00_lores.pdf " target="_blank">HVAC Controls Guide for Plans Examiners and Building Inspectors</a>, 2011, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy</li>
 <li><a class="doctitle" href="http://www.pnnl.gov/buildingretuning/documents/pnnl_sa_84187.pdf" target="_blank">Building Re-Tuning Training Guide: AHU Static Pressure Control</a>, Pacific Northwest National Laboratory</li>
 <li><a class="doctitle" href="http://hpac.com/ventilation-iaq/pressurization-control-large-commercial-0210" target="_blank">
Pressurization Control in Large Commercial Buildings </a>, by Dave Moser, HPAC Engineering</i></li>
    </ol>

<br>
<span class="myh4">SM-3: Implement Optimal Control Sequences</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>Implement a supply air temperature reset logic
        </td>
        <td>M</td>
        <td>Once, but check control settings quarterly</td>
    </tr>
        <tr>
        <td>Implement a trim and respond logic for static pressure reset
        </td>
        <td>M</td>
        <td>Once, but check control settings quarterly</td>
    </tr>
    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a class="doctitle" href="http://energydesignresources.com/media/2651/EDR_DesignGuidelines_VAV.pdf?tracked=true " target="_blank">Advanced Variable Air Volume VAV System Design Guide</a>, Energy Design Resources</li>
    <li><a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Journal_-_Trim_and_Respond_-_Taylor.pdf" target="_blank">Resetting Setpoints Using Trim &amp; Respond Logic</a>, by Steven T. Taylor, ASHRAE Journal, November 2015</li>
    <li>ASHRAE Guideline 36, High Performance Sequences of Operation for HVAC Systems (expected publication in 2017)</li>
    </ol>

<br>
<span class="myh4">SM-4: Evaluate System Installation</span>
<table class="tuneTable" style="width=100%">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td><b>Check facility operational requirements</b><br>
Are the facility’s requirements the same (occupancy patterns, internal loads, etc. may have changed since the initial system design)? Is the current system design still relevant? If not, what design changes are needed? Are there components installed in the system that were not considered in the design? If yes, then identify components that are introducing significant pressure drop.<sup>1,2</sup>
</td>
        <td>L-M</td>
        <td>When there are changes to building occupancy or operating schedules or substantial equipment installation/upgrades</td>
    </tr>
    </table>

<p class="myh4">Resources</p>
<ol>
 <li><a class="doctitle" href="http://www.werc.org/assets/1/workflow_staging/Publications/434.PDF" target="_blank">Facilities Checklist</a>, Gross &amp; Associates</li>
    <li><a class="doctitle" href="https://www.wbdg.org/resources/fpe.php" target="_blank">Facility Performance Evaluation</a>, Whole Building Design Guide, National Institute of Building Sciences</li>
    </ol>

<br>
<span class="myh4">SM-5: Implement Optimal Control Sequences</span>
<table class="tuneTable">
    <tr>
        <th>Measure</th>
        <th>Level of Effort</th>
        <th>Frequency</th>
    </tr>
    <tr>
        <td>Evaluate whether the system fan/duct design is efficient
        </td>
        <td>M-H</td>
        <td>Once</td>
    </tr>
        <tr>
        <td>Evaluate fan and duct design for “system effects"
        </td>
        <td>L-H</td>
        <td>Once</td>
    </tr>
    </table>

<p class="myh4">Resource</p>
<ol>
 <li>AMCA [Air Movement and Control Association International, Inc.], “Fans and Systems,” part of the AMCA Fan and Air System Applications Handbook, 2012, combines AMCA 200, 201, 202, and 203. AMCA 201 has detailed information on fan system effects. Available at  <a class="doctitle" href="http://www.amca.org/store" target="_blank">www.amca.org/store.</a>
</a></li>
    </ol>

<hr>

<p class="myh2">General Resources</p>
<ul>
<li> ASHRAE Guideline 36</li>
<li> ASHRAE Standard 90.1-2013</li>
<li> ASHRAE/ACCA Standard 180-2012</li>
<li> <a class="doctitle" href="http://www.nrel.gov/docs/fy03osti/29166.pdf" target="_blank">Improving Fan System Performance, a sourcebook for industry</a>, U.S. Department of Energy, Air Movement and Control Association International, Inc. 2003 </li>
<li> <a href="http://apps1.eere.energy.gov/buildings/publications/pdfs/commercial_initiative/hvac_volume2_final_report.pdf" target="_blank">Energy Consumption Characteristics of Commercial Building HVAC Systems, Volume II: Thermal Distribution, Auxiliary Equipment, and Ventilation</a>; Westphalen, Detlef, and Scott Koszalinski. 1999 U.S. Department of Energy 
   	</li>
    </ul>
