<style>
  #hvac {
    opacity: 1;
    transition: opacity 1s linear;
  }

  #space {
    opacity: 0;
    transition: visibility 0s 1s, opacity .1s linear;
  }

  #svg {
    transform: scale(1.0, 1.0);
    transform-origin: 0% 0%;
    transition: all 1s ease-in-out;
  }


</style>




<div class="myh1">What is this resource?</div>
<p> Hot and cold water distribution to the site from a central plant is a widely adopted form of district heating/cooling. Overall efficiency of the
central plant and the distribution system is as equally important as the end use building energy efficiencies.</p>

<p>The Central Plant Resource Map is a collection of quality resources, presented as an interactive web interface. The goal is to equip engineers and owners with
resources that can enable them to make energy-efficient design decisions. The focus of the content is mainly on design as well as operation and maintenance best practices. </p>

<p>The primary targeted stakeholders include design engineers and central plant site operation staff who are looking for resources to improve central plant and distribution
 efficiency. Site operations teams (plant managers, maintenance staff) and design engineers often lack a go-to resource to get access to quality information on best practices.
 A lot of articles and online material have been published on overall central plant efficiency and also on individual component efficiency. These articles have primarily been
 authored by practicing engineers, researchers and manufacturing firms. However, they are scattered and not readily available for reference. The Central Plant Resource map is
 an effort to streamline these resources. The content has been reviewed by a group of industry experts and the interface has been designed for easy navigation. </p>

 <br>
 <hr>
 <br>

 <div class="myh1">What this resource is not</div>
 <p> Since the focus of this Resource Map is on design and operational best practices, it is NOT a repetition of guidance provided in codes and standards.
    Also, it may NOT to be used in lieu of professional engineering services.</p>

 <br>
 <hr>
 <br>

 <div class="myh1">Explore HVAC Resources</div>
 <p>Use the navigation on the left or the interactive diagram to dive into resources on different HVAC components.

 </p>The resources listed on this site have been carefully selected to help narrow your search for helpful information.</p>

 <br>
 <hr>
 <br>
