<style>
  #hvac {
    opacity: 1;
    transition: opacity 1s linear;
  }

  #space {
    opacity: 0;
    transition: visibility 0s 1s, opacity .1s linear;
  }

  #svg {
    transform: scale(1.0, 1.0);
    transform-origin: 0% 0%;
    transition: all 1s ease-in-out;
  }


</style>

<div class="myh1">Explore HVAC Resources</div>
<p>Use the navigation on the left or the interactive diagram to dive into resources on different HVAC components.
  
</p>The resources listed on this site have been carefully selected to help narrow your search for helpful information.</p>
