<style>
  #hvac {
    opacity: 1;
    transition: opacity 1s linear;
  }

  #space {
    opacity: 0;
    transition: visibility 0s 1s, opacity .1s linear;
  }

  /*.infocontainer {
    display: none;
    position: absolute;
    width: 200px;
    height: 400px;
    background: #eeeeee;
    top: 20px;
    right: 0;
    opacity: 1;
    transition: opacity 1s linear;
  }*/


</style>

<div class="myh1">Explore Resource</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
  <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>.
</p>
