<style>
#rtbasics{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Basics</div>

<p>Thermal energy storage is a method of storing heating or cooling thermal energy by running equipment at off-peak hours. Ice, water, and phase change material
  are some commonly used storage media. Cool storage systems are most suitable for applications in which:
   <ul>
   <li>Peak total cooling load of the facility is significantly higher than the average load</li>
   <li>Utility’s electric rate structure has high demand charges, ratchet charges, or a significant difference between on-peak and off-peak rates </li>
   <li>Facility is considering expanding cooling capacity  </li>
   <li>An existing storage tank is available </li>
   <li>Redundancy in cooling systems is needed to make up for short-term cooling requirement.</li>
  </ul>

Refer to <a class="doctitle" href="" target="_blank">Thermal Energy Storage Strategies for Commercial HVAC Systems</a> from the Pacific Gas and Electric Company for further information.</p>

<br>
<hr>
