<ul>
  <li class="leftnavtcp">CENTRAL PLANT</li>
  <li class="leftnavcp"><a href="/">Air Compressor</a></li>
  <li class="leftnavcp" id="boil"><a href="#/boiler/basics">Boiler</a></li>
  <li class="leftnavcp" id="chill"><a href="#/chiller/basics">Chiller</a></li>
  <li class="leftnavcp"><a href="/">Pump</a></li>
  <li class="leftnavcp"><a href="/">Cooling Tower</a></li>
  <li class="leftnavcp"><a href="/">Fan</a></li>
  <li class="leftnavtd">DISTRIBUTION</li>
  <li class="leftnavd"><a href="/">Air Handing Unit</a></li>
  <li class="leftnavd"><a href="/">Fan</a></li>
  <li class="leftnavd"><a href="/">Ducts</a></li>
  <li class="leftnavsd">Zones</li>
  <li class="leftnavd"><a href="/">VAV Boxes</a></li>
  <li class="leftnavd"><a href="/">Terminal Units</a></li>
  <li class="leftnavd"><a href="/">Diffusers</a></li>
</ul>
