<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #vav_systems-outline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>


<div class="myh2">Variable Air Volume Systems</div>

<p>Constant air volume &lpar;CAV&rpar; systems maintain constant ventilation rates regardless of the conditions in the lab. CAV systems can cause excess airflow and therefore energy usage resulting in suboptimal performance. Variable Air Volume &lpar;VAV&rpar; systems can solve this issue. VAV systems work by placing an actuatable damper inside the duct system. When sensors detect the need for a change in volumetric flow rates, a control signal will be sent to modulate the damper to adjust the air flow rate to meet the comfort and ventilation needs of the space.</p>

<p>The dampers are within VAV boxes, which are just upstream of diffusers into the space. The boxes adjust the damper, changing the airflow to the space based on the space temperature and, depending on controls, other parameters like humidity and CO<sub>2</sub>. For lab spaces, the airflow can also be adjusted based on measurements of hazardous chemicals. See Demand Control Ventilation.</p>

<p>The supply fan in the air handling unit then adjusts its speed to maintain a discharge pressure setting down the ductwork. This pressure sensor is typically &frac13; of the way down the main duct line, before any of the branches start. The fan will increase or decrease speed in order to meet the airflow needs of all the VAV boxes downstream, based on their unified behavior represented by the pressure measured at that sensor location.</p>

<p>VAV systems are more energy efficient and are more effective at optimizing interior air quality than constant rate alternatives because VAV systems change the amount of air ventilated in proportion to current needs. As a result, slightly more complex control systems will need to be used to operate VAV systems. These controls are responsible for maintaining safety and consistency of operation for both peak and off-peak conditions. The need for proper controls is critical in VAV systems where the quantity of exhaust air changes are based on fume hood sash positions or required room airflow. In combination with a detailed control specification, a well-defined Test, Adjust and Balance &lpar;TAB&rpar; plan must be developed and executed to ensure all the ventilation airflow rates and pressurization requirements are met for all the spaces throughout the building. In particularly, laboratory VAV system must control the exhaust and supply air systems together.</p>


<span class="myh3">Resources</span>
<ul class="mylist">
    <li><a href="https://www.i2sl.org/documents/toolkit/bp_opt_vent_508.pdf" target="_blank">I<sup>2</sup>SL Best Practice Guide: Optimizing Ventilation Rates</a></li>
</ul>
