<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #lab_outline {
        stroke: #71C5E8 !important;
        stroke-width: 3pt !important;
    }

</style>


<div class="myh2">Energy Benchmarking for Labs</div>

<p>Benchmarking uses metrics to allow building owners to compare their laboratory performance to others or the building itself over time. Important for understanding how the complicated systems in a lab are performing, benchmarking can assist owners in making improvements in energy consumption and show success from projects. Building owners and managers start by selecting the metrics to benchmark, typically whole building use, and end loads like plug loads and HVAC energy; then, identify and collect data for each metric to be tracked. After data is collected, owners can compare the metrics to the best available data.</p>
<p>The Laboratory Benchmarking Tool can be used to compare the energy use of your lab buildings with that of similar facilities in the United States. The tool is specifically set up to look at comparative labs based on climate, lab type, &percnt; lab area, and more. The tool's peer-group database contains owner-submitted data from an ever-growing number of lab facilities. Users also have the opportunity to add their data to the tool to help build a more robust database.</p>
<p>The metrics determined through benchmarking can be used to develop goals for improvements. Benchmarking should be re-visited annually or more to confirm the building is performing as expected.  </p>


<div class="whiteimg">
<img class="transimg" src="img/lab_benchmarking-image.png" alt="Screen capture of the Laboratory Benchmarking Tool showing a scatter plot with lab area plotted against source EUI. There are drop downs to adjust what is being charted. Filters on the right allow you to look for similar labs. ">
</div>
<p class="imgtitle">I<sup>2</sup>SL Laboratory Benchmarking Tool <span class="source">Photo from lbt.i2sl.org/buildings/charts</span></p>

<div class="myh4">FEATURED RESOURCE</div>
<a href="https://lbt.i2sl.org/" target="_blank"><div class="featured">
    <img class="featureimgsmaller" src="img/lab_benchmarking_tool_icon.png" alt="Image of the Laboratory Benchmarking Tool banner"><p>Use the Laboratory Benchmarking Tool &lpar;LBT&rpar; to compare the energy use of your lab buildings with that of similar facilities in the US. The tool's peer-group database contains owner-submitted data from an ever-growing number of lab facilities.</p>   
</div></a>


<p class="myh3">Resources</p>
<ul class="mylist">

        <li class="doctitle"><a href="https://www.i2sl.org/working/benchmarking.html#lbt-overview" target="_blank">I<sup>2</sup>SL Laboratory Benchmarking Working Group</a>
        </li>
        <li class="doctitle"><a href="https://www.i2sl.org/documents/toolkit/bp_benchmarking_2020.pdf" target="_blank">I<sup>2</sup>SL Best Practices Guide: Benchmarking Energy Efficiency in Laboratories</a>
        </li>
</ul>
