<style>
    #hvac {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #space {
        opacity: 0;
        transition: visibility 0s 1s, opacity .1s linear;
    }


    #svg {
        transform: scale(1.00, 1.00);
        transform-origin: 50% 270%;
        transition: all 1.7s ease-in-out;
    }

    #laboratories {
        background-color: white !important;
        border-top: 4px solid #62D2FF !important;
        color: #000000 !important;
    }

    #hvachome,
    #distribution,
    #spaceloads,
    #contributors {
        display: block;
        color: #62D2FF;
        text-align: center;
        text-decoration: none !important;
        position: relative;
    }

</style>


<div class="myh1"><a href="https://hvacresourcemap.net/#/laboratories/" target="_self">LABORATORIES</div>
<div class="subflex">
    <div class="content-main">
        <div ui-view>
            <p><span class="largertx">Central plants are the heart of the HVAC systems in large buildings or complexes of buildings. This section provides information on boilers, chillers, cooling towers, energy storage, pumps, water treatment systems, valves, pipes, sensors, and controls.</span></p>
            <p>Typically, central plants supply systems with cooling loads in excess
                of 50 tons. The added components in these systems increase the complexity of operations and require a higher level of operator knowledge and control oversight than
                stand-alone HVAC systems.</p>

            <img class="transimg" src="img/NREL_central_plant.jpg" alt="Photo of central plant with green pipes and pumps.">
            <p class="imgtitle">Central plant<span class="source"> Photo by Dennis Schroeder/NREL 38444</span></p>
        </div>
    </div>

    <div class="content-secondary" ng-switch="state.current.nav">
        <div ng-switch-default>
            <span class="myh4">COMPONENTS</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".boiler_basics">Boiler</a></li>
                    <li><a ui-sref=".chiller_basics">Chiller</a></li>
                    <li><a ui-sref=".tower_basics">Cooling Tower</a></li>
                    <li><a ui-sref=".cool_thermal_basics">Cool Thermal Energy Storage</a></li>
                    <li><a ui-sref=".hot_thermal_basics">Hot Thermal Energy Storage</a></li>
                    <li><a ui-sref=".pump_basics">Pump</a></li>
                    <li><a ui-sref=".sensors_controls_basics">Sensors &amp; Controls</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="boiler">
            <span class="myh4">BOILER RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".boiler_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                    <li><a ui-sref=".codes" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Performance Ratings </a></li>
                    <li><a ui-sref=".design" id="rtdesign"><i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>Energy Efficiency Measures </a></li>
                    <li><a ui-sref=".tools" id="rttools"><i class="fa fa-calculator fa-1x fa-fw" aria-hidden="true"></i> Calculators &amp; Tools</a></li>
                    <li><a ui-sref=".operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li>
                    <li><a ui-sref=".procure" id="rtprocure"><i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i> Procurement &amp; Performance</a></li>
                    <li><a ui-sref=".cases" id="rtcases"><i class="fa fa-building fa-1x fa-fw" aria-hidden="true"></i> Case Studies</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="chiller">
            <span class="myh4">CHILLER RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".chiller_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                    <li><a ui-sref=".chiller_codes" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Performance Ratings </a></li>
                    <li><a ui-sref=".chiller_design" id="rtdesign"><i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>Energy Efficiency Measures </a></li>
                    <li><a ui-sref=".chiller_tools" id="rttools"><i class="fa fa-calculator fa-1x fa-fw" aria-hidden="true"></i> Calculators &amp; Tools</a></li>
                    <li><a ui-sref=".chiller_operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li>
                    <li><a ui-sref=".chiller_procure" id="rtprocure"><i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i> Procurement &amp; Performance</a></li>
                    <li><a ui-sref=".chiller_cases" id="rtcases"><i class="fa fa-building fa-1x fa-fw" aria-hidden="true"></i> Case Studies</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="tower">
            <span class="myh4">COOLING TOWER RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".tower_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                    <li><a ui-sref=".tower_types" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Types</a></li>
                    <li><a ui-sref=".tower_codes" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Performance Ratings </a></li>
                    <li><a ui-sref=".tower_design" id="rtdesign"><i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>Energy Efficiency Measures </a></li>
                    <li><a ui-sref=".tower_tools" id="rttools"><i class="fa fa-calculator fa-1x fa-fw" aria-hidden="true"></i> Calculators &amp; Tools</a></li>
                    <li><a ui-sref=".tower_operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li>
                    <li><a ui-sref=".tower_procure" id="rtprocure"><i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i> Procurement &amp; Performance</a></li>
                    <li><a ui-sref=".tower_cases" id="rtcases"><i class="fa fa-building fa-1x fa-fw" aria-hidden="true"></i> Case Studies</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="pump">
            <span class="myh4">PUMP RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".pump_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                    <li><a ui-sref=".pump_codes" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Performance Ratings </a></li>
                    <li><a ui-sref=".pump_design" id="rtdesign"><i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i>Design Guides &amp; EEMs </a></li>
                    <li><a ui-sref=".pump_tools" id="rttools"><i class="fa fa-calculator fa-1x fa-fw" aria-hidden="true"></i> Calculators &amp; Tools</a></li>
                    <li><a ui-sref=".pump_operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li>
                    <li><a ui-sref=".pump_procure" id="rtprocure"><i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i> Procurement &amp; Performance</a></li>
                    <li><a ui-sref=".pump_cases" id="rtcases"><i class="fa fa-building fa-1x fa-fw" aria-hidden="true"></i> Case Studies</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="cool">
            <span class="myh4">COOL STORAGE RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".cool_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="hot">
            <span class="myh4">HOT STORAGE RESOURCES</span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".hot_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                </ul>
            </nav>
        </div>
        <div ng-switch-when="sensor">
            <span class="myh4">SENSORS &amp; CONTROLS RESOURCES </span>
            <nav class="rtnav">
                <ul>
                    <li><a ui-sref=".sensor_basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
                    <li><a ui-sref=".sensor_operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li>

                </ul>
            </nav>
        </div>
    </div>
</div>
