<style>
    #hvac {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #space {
        opacity: 0;
        transition: visibility 0s 1s, opacity .1s linear;
    }

    #cp-outline {
        fill: #62D2FF !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.00, 1.00);
        transform-origin: 50% 270%;
        transition: all 1.7s ease-in-out;
    }

    #laboratories {
        background-color: white !important;
        border-top: 4px solid #62D2FF !important;
        color: #000000 !important;
    }

    #hvachome,
    #distribution,
    #spaceloads,
    #contributors {
        display: block;
        color: #62D2FF;
        text-align: center;
        text-decoration: none !important;
        position: relative;
    }

</style>


<div class="myh1">LABORATORIES</div>
<div class="subflex">
    <div class="content-main">

        <p><span class="largertx">Central plants are the heart of the HVAC systems in large buildings or complexes of buildings. This section provides information on boilers, chillers, cooling towers, energy storage, pumps, water treatment systems, valves, pipes, sensors, and controls.</span></p>
        <p>Typically, central plants supply systems with cooling loads in excess
            of 50 tons. The added components in these systems increase the complexity of operations and require a higher level of operator knowledge and control oversight than
            stand-alone HVAC systems.</p>

        <img class="transimg" src="img/NREL_central_plant.jpg" alt="Photo of central plant with green pipes and pumps.">
        <p class="imgtitle">Central plant<span class="source"> Photo by Dennis Schroeder/NREL 38444</span></p>

    </div>

    <div class="content-secondary">
        <div>
            <span class="myh4">COMPONENTS</span>
            <nav class="rtnav">
                <ul>
                    <li><a href="#/laboratories/boiler_basics"> Boiler</a></li>
                    <li><a href="#/chiller/basics">Chiller</a></li>
                    <li><a href="#/tower/basics">Cooling Tower</a></li>
                    <li><a href="#/cool_thermal/basics">Cool Thermal Energy Storage</a></li>
                    <li><a href="#/hot_thermal/basics">Hot Thermal Energy Storage</a></li>
                    <li><a href="#/pump/basics">Pump</a></li>
                    <li><a href="#/sensors_controls/basics">Sensors &amp; Controls</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
