<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #rtprocure,
    #rttools,
    #rttypes {
        background-color: #ffffff;
    }

    #exhaustoutline, #disoutline, #lab_outline {
        fill: #00A3E0 !important;
        stroke: #444444 !important;
    }


</style>

<div class="myh2">Low Pressure Drop Design</div>

<p>In an effort to maintain a safe lab environment, ventilation design typically trends towards high-flow exhaust systems, which must be matched by the supply system. High airflows are accompanied by pressure drops, the largest contributor to fan energy in the laboratory facility. Implementing low pressure drop design strategies in a laboratory’s ventilation system offers a savings potential of up to 65%, greatly lowering energy costs over the life of the HVAC system. Pressure drop should be addressed throughout the system—both on the supply and exhaust sides. The following are general strategies for low-pressure drop design. </p>
<div class="myh3">Establishing a System Pressure Requirement</div>
<p>Minimizing pressure drop starts by establishing a system pressure requirement based on fan system efficiency, airflow, and fan system pressure drop.</p>
<table style="width=100%">
    <tr>
        <th>Parameter</th>
        <th>Savings Potential</th>
        <th>Description</th>
    </tr>
    <tr>
        <th>Fan System Efficiency</th>
        <td style="text-align: center; vertical-align: middle;">5&percnt; – 15&percnt;</td>
        <td style="padding-left: 1em;">Minimal savings potential.</td>
    </tr>
    <tr>
        <th>Airflow</th>
        <td style="text-align: center; vertical-align: middle;">0&percnt; – 60&percnt;</td>
        <td style="padding-left: 1em;">Variable air volume &lpar;VAV&rpar; supply and exhaust systems provide large savings potential in fan and conditioning energy when compared with constant volume systems.</td>
    </tr>
    <tr>
        <th>System Pressure Drop</th>
        <td style="text-align: center; vertical-align: middle;">30&percnt; – 65&percnt;</td>
        <td style="padding-left: 1em;">Traditional design results in energy-intensive laboratory systems; large reductions are possible in numerous areas.</td>
    </tr>
</table>
<div class="source">Values are cited directly from Table 1 of the I<sup>2</sup>SL Best Practice Guide for Low Pressure Drop Design</div>

<p class="myh3">Equipment Selection</p>
<span>Mindful equipment selection with system pressure drop is important for each component of the ventilation system. Specific equipment considerations include: </span>
<ul>
    <li>Supply air handlers with low face velocity cooling coils</li>
    <li>Filters based on space use needs &lpar;in some cases, elimination of filters is possible&rpar;</li>
    <li>Energy recovery device selection to balance energy recovery and pressure drop</li>
    <li>VAV control devices to ensure proper balance between supply and exhaust</li>
    <li>Zone temperature control devices for zone reheat in fume-hood-intensive spaces. </li>
</ul>
<p>Refer to the <a href="" target="blank">I<sup>2</sup>SL Best Practice Guide on Low-Pressure-Drop HVAC Design for Laboratories</a> for strategies to minimize pressure drop in each component of the air distribution system.</p>

<p class="myh3">Proper Layout of Supply and Exhaust Ductwork</p>
<span>Thoughtful layout of supply and exhaust ductwork can greatly reduce pressure drop by minimizing friction and turbulence. This includes:</span>
    <ul>
        <li>Sizing ductwork to reduce friction rates</li>
        <li>Minimizing the use of fittings that introduce turbulence and pressure drops in the duct system</li>
        <li>Avoiding system effect – a phenomenon that occurs when the ventilation system underperforms from the manufacturer’s rate performance</li>
        <li>Reducing exhaust fan speed through demand-controlled exhaust.</li>
    </ul>
    <p>A detailed design process for sizing ductwork is included on page 6 of the <a href="https://www.i2sl.org/documents/toolkit/bp_lowpressure_hvacdesign_2020.pdf#page=6" target="blank">I<sup>2</sup>SL Best Practice Guide on Low-Pressure-Drop HVAC Design for Laboratories</a>.</p>
<span class="myh3">Resources</span>
<ul class="mylist">
    <li class="doctitle"><a href="https://www.i2sl.org/documents/toolkit/bp_lowpressure_hvacdesign_2020.pdf" target="blank">I<sup>2</sup>SL Best Practice Guide on Low-Pressure-Drop HVAC Design for Laboratories</a></li>
    <li><b><i>Advanced Variable Air Volume System Design Guide</i></b>, published by the California Energy Commission &lpar;Hydeman et al., 2003&rpar;, </li>
</ul>
