<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #occ_sensor_back {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 100% 150%;
        transition: all 1.7s ease-in-out;
    }

</style>


<span class="myh2">Occupancy Sensors: General Information</span>

<p>Labs are designed to keep occupants in a safe and comfortable space. However, the presence or lack thereof of occupants within an environment will alter what lighting and ventilation would result in such optimal conditions. If no occupants are present, then lights can be shut off and the ventilation air through the air handling unit reduced, resulting in energy savings. This is often accomplished using occupancy sensors.</p>

<p>There are numerous types of <a href="#/laboratories/sensor_basics">sensors</a> which can be employed for monitoring occupancy.</p>


<br>
<span class="myh3">Other Resources</span>
<ul class="mylist">
    <li>ASHRAE Laboratory Design Guide second edition, Chapter 6 “Primary Air Systems”.</li>
</ul>
