<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>


<span class="myh2">Performance Ratings</span>

<p>The ASME B31 piping code applies to different piping installations. The owner is responsible for selecting and applying the appropriate B31 section. Refer to the <a class="doctitle" href="https://cstools.asme.org/csconnect/FileUpload.cfm?View=yes&ID=22855" target="_blank">Selecting Applicable B31 Piping Code Section </a> document for detailed guidance.</p>
<p>Some key sections include:</p>
    <ul class="mylist">
<li>B31.1-Power generating plants and industrial facility</li>
<li>B31.5-Refrigeration piping</li>
<li>B31.9-Building services piping.</li>
        </ul>

<p>B31 code specifications include:</p>
    <ul class="mylist">
<li>Welding</li>
<li>Brazing</li>
<li>Heat treating</li>
<li>Assembly of flanged and threaded connections</li>
<li>Branch connection design</li>
<li>Visual examination</li>
<li>Nondestructive examination</li>
<li>Pressure testing.</li>
</ul>

<p>Other piping codes include:</p>
<ul class="mylist">
<li>NFPA Fire Protection Standards</li>
<li>NFPA 99 Health Care Facilities</li>
<li>NFPA 85 Boiler and Combustion Systems Hazards</li>
<li>Building and Plumbing codes.</li>
</ul>

<p class="myh3">Other Resources</p>
<ul class="mylist">

<li>This <a class="doctitle" href="https://www.ashrae.org/resources--publications/free-resources/asme-b31-piping-codes-an-engineer-s-guide " target="_blank">video by the National Certified Pipe Welding Bureau </a> explains the benefits of ASME B31 code</li>

</ul>
