<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<span class="myh2">Operation and Training Resources</span>


<p>Critical piping system failures can be prevented by inspecting and repairing damaged pipe insulation. Pipe maintenance should be included in the facility’s preventive maintenance program.</p>

<span class="myh3">Other Resources</span>

<ul class="mylist">
  <li><a class="doctitle" href="https://energy.gov/eere/femp/best-management-practice-3-distribution-system-audits-leak-detection-and-repair" target="_blank">Distribution System Audits, Leak Detection, and Repair</a>, Federal Energy Management Program</li>
</ul>
