<style>
#rtbasics{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>


<span class="myh2">Basics</span>

<p>The piping network is one of the important and expensive components in a centralized cold/hot water or steam distribution system. These pipes are generally buried
  underground and need to supply the working fluid to the individual buildings at the appropriate pressure and temperature. Pipe failures can critically affect the
  building operation at the facility. Pipe materials commonly used for chilled and hot water applications are shown in the table below:</p>

<table>

  <tr>
    <th>Pipe Material</th>
    <th>Service</th>
  </tr>

    <tr>
    <td>Carbon steel</td>
    <td>CHW, HHW</td>
    </tr>

    <tr>
    <td>Type K copper</td>
    <td>CHW, HHW</td>
    </tr>

    <tr>
    <td>Ductile iron</td>
    <td>CHW, HHW</td>
    </tr>

    <tr>
    <td>PVC</td>
    <td>CHW</td>
    </tr>

    <tr>
    <td>HDPE</td>
    <td>CHW</td>
    </tr>
</table>
<p>CHW= chilled water, HHW= heating hot water</p>

<br>

<span class="myh3">Sources</span>
    <ol class="mylist">
        <li><a class="doctitle"  href="https://studylib.net/doc/18571689/underground-piping-systems" target="_blank">Underground Piping Systems</a>, Kent Peterson, ASHRAE Journal, 2014 </li>
    </ol>

