<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rtcodes, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #pipes {
        stroke: #71C5E8 !important;
        fill: #71C5E8 !important;
        stroke-width: 3px;

    }
</style>

<div class="myh2">Piping: Design Calculators and Tools</div>

    <ul class="mylist">
        <li><a class="doctitle" href="https://www.tlv.com/global/TI/calculator/water-pipe-sizing-velocity.html" target="_blank">TLV Calculator </a></li>
        <li><a class="doctitle" href="https://www.uponor-usa.com/calculator/" target="_blank">Uponor Pipe Sizing Calculator   </a></li>
        <li><a class="doctitle" href="https://www.pipeflowcalculations.com/flowrate/calculator.xhtml" target="_blank">Pipe Diameter Calculator </a></li>
</ul>
