<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>


<div class="myh2">Performance Ratings</div>

<p>ASME B31 Piping code applies to different piping installations. The owner is responsible in selecting and applying the appropriate B31 section. Some key sections are listed below. Refer to the <a class="doctitle" href="https://cstools.asme.org/csconnect/FileUpload.cfm?View=yes&ID=22855" target="_blank">‘Selecting Applicable B31 Piping Code Section’</a> document for detailed guidance.</p>
<li>B31.1- Power generating plants and industrial facility</li>
<li>B31.5- Refrigeration piping</li>
<li>B31.9- Building services piping</li>

<p>B31 code specifications include:
<li>Welding</li>
<li>Brazing</li>
<li>Heat treating</li>
<li>Assembly of flanged and threaded connections</li>
<li>Branch connection design</li>
<li>Visual examination</li>
<li>Nondestructive examination</li>
<li>Pressure testing</li>
</p>

<p>Other piping codes include:
<li>NFPA Fire Protection Standards</li>
<li>NFPA 99 Health Care Facilities</li>
<li>NFPA 85 Boiler and Combustion Systems Hazards</li>
<li>Building and Plumbing codes</li>
</p>

<p class="myh3">Other Resources</p>
<ul class="mylist">

<li><a class="doctitle" href="https://www.ashrae.org/resources--publications/free-resources/asme-b31-piping-codes-an-engineer-s-guide " target="_blank">Video by National Certified Pipe Welding Bureau </a>, explains the benefits of ASME B31 code</li>

</ul>
