<style>
    #rttypes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rtcodes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #pipes {
        stroke: #71C5E8 !important;
        fill: #71C5E8 !important;
        stroke-width: 3px;

    }

    #svg {
        transform: scale(1.2, 1.2);
        transform-origin: 70% 30%;
        transition: all 2s ease-in-out;
    }

</style>

<span class="myh2">Types</span>


<p>Content will be available shortly</p>
