<style>
#rttools{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rtcodes, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
      #pipes{
    stroke: #71C5E8 !important;
    fill: #71C5E8 !important;
    stroke-width: 3px;

  }

  #svg {
    transform: scale(1.2, 1.2);
    transform-origin: 70% 30%;
      transition: all 2s ease-in-out;
  }
</style>

<span class="myh2">Piping: Design Calculators and Tools</span>

    <ul class="mylist">
        <li><a class="doctitle" href="http://www.tlv.com/global/TI/calculator/water-pipe-sizing-velocity.html" target="_blank">TLV Calculator </a></li>
        <li><a class="doctitle" href="http://www.uponorpro.com/calculator/" target="_blank">Uponor Pipe Sizing Calculator   </a></li>
        <li><a class="doctitle" href="http://www.pipeflowcalculations.net/pipediameter.xhtml" target="_blank">Pipe Diameter Calculator </a></li>
</ul>
