<div class="myh2">Operation and Training Resources</div>

<p class="myh3">Pump maintenance</p>

<p>If the pump is not operating near its Best Efficiency Point (BEP), the power consumed will be high and disproportionate to the flow rate. Monitoring is recommended
  to identify such inefficiencies.</p>

<span class="myh3">Pump maintenance measures?</span>
<ul>
<li>Preventive action measures: Measures which are taken to prevent a pump from failing. It consists of coupling alignment, lubrication and seal maintenance and replacement.</li>
<pli>Predictive action measures: Measures that help cover for unexpected equipment outage. Vibration analysis, motor current signature analysis, lubrication oil analysis, periodic efficiency testing are methods suggested under predictive actions.</li>
<li>Periodic maintenance checklist: Consists of checking for leakage from packing and mechanical seals; monitoring condition of bearings, evaluating motor/pump alignment and checking motor condition.</li>
</ul>
<br>
<span class="myh3">For more details refer:</span>
<ul class="mylist">
<li><a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf" target="_blank">Energy tips- Pumping system:</a> Maintain pumping systems effectively spreadsheet.</li>
<li><a class="doctitle" href="http://www.peerlesspump.com/shared_docs/improving_performance.pdf " target="_blank">Basic pump maintenance chapter</a> (page 33) of the Improving pumping system performance sourcebook.</li>
</ul>
<hr>
<span class="myh3">Training resources</span>
<br>
<p> <span class="myh4">Pumping System Assessment Tool (PSAT)</span>
    <br>
PSAT is a free online pump assessment tool designed for plant managers and personnel to identify potential opportunities to improve pump energy efficiency.
<ul class="mylist">
<li> <a class="doctitle" href="http://www.energy.gov/sites/prod/files/2014/04/f15/psat_fs.pdf" target="_blank">PSAT Fact Sheet</a></li>
<li><a class="doctitle" href="http://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool" target="_blank">PSAT Webpage</a></li>
<li><a class="doctitle" href="http://energy.gov/eere/amo/articles/training-pumping-systems" target="_blank">Online webcast for PSAT training</a></li>
</ul>
</p>
