<style>
#rtprocure{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
        #cp-pump {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #d-pump1,
    #d-pump2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 110% 0%;
        transition: all 2s ease-in-out;
    }
</style>

<span class="myh2">Pump: Procurement and Performance Specifications</span>


<p>A life cycle cost-based approach is recommended for pump procurement, with particular attention paid to right-sizing the pump(s). Another important pump procurement
  parameter is the pump motor and its
  <a class="doctitle" href="https://www.nema.org/Products/Documents/nema-enclosure-types.pdf" target="_blank" >National Electrical Manufacturers Association Enclosure Type</a>.
</p>
