<style>
    #rttypes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rtcodes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-pump {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #d-pump1,
    #d-pump2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Pump: Types</div>


Pumps are broadly classified as end suction and inline pumps. For further classification of both these pump types refer the
<a class="doctitle" href="http://machining.grundfos.com/media/17423/content%20-%20pump%20handbook_low_ny.pdf" target="_blank">Pump Handbook</a> by Grundfos Industry.

<div class="whiteimg">
    <img class="myimage" src="img/pump_types.png" alt="">
</div>
<p class="caption">End suction pump classification (Image courtesy of <a href="https://www.grundfos.com/" target="_blank">Grundfos</a>)</p>

<br>
<br>
<div class="whiteimg">
    <img class="myimage" src="img/pumps_inline.jpg" alt="">
</div>
<p class="caption">Inline pump classification (Image courtesy of <a href="https://www.grundfos.com/" target="_blank">Grundfos</a>)</p>
