<style>
#rtprocure{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Procurement and Performance Specifications</div>


<p>Life Cycle Cost based approach is recommended for pump procurement. Careful attention should be given to oversizing factor. Another important paramters to pay attention to
  while procuring is the pump motors and its <a class="doctitle" href="https://www.nema.org/Products/Documents/nema-enclosure-types.pdf" target="_blank" >NEMA Enclosure Types</a>
</p>
