<div class="myh2">Design Guides</div>

<p>The key opportunities for improving efficiency of pump operation are during design, retrofit and replacement. Design and replacement approach is similar since a new pump is being designed and installed. Retrofit opportunities are when efforts are made to improve efficiency of existing system. Oversized pumps, inefficient motor, constant speed pumps in application with variable load are some common design problems. A study published by the State Government of Victoria lists 7 steps to improve efficiency of existing system:</p>
<div class="mylist">
<p>1.	Assessing existing pumping system</p>
<p>2.	Prioritizing opportunities</p>
<p>3.	Reducing unnecessary demand</p>
<p>4.	Reviewing pump</p>
<p>5.	Reviewing flow rate controls</p>
<p>6.	Optimizing piping configuration</p> 
<p>7.	Reviewing motor</p>
</div>

<div class="mylist">
<p class="myh3">The same study identifies 5 areas to think about while designing a new system</p>
<p>1.	Assessing production requirements and minimizing pumping needs</p>
<p>2.	Designing with a whole-system approach</p>
<p>3.	Designing efficient pump stations</p>
<p>4.	Selecting efficient pumping components</p>
<p>5.	Improving design through iterations</p>
</div>

<p>For a detailed explanation of each step, refer to <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/pumplcc_1001.pdf" target="_blank">Energy Efficiency Best Practice Guide Pumping Systems</a> published by the State of Victoria.</p>

<p>Selecting an energy efficient centrifugal pump needs a careful evaluation of the performance curve. In order to minimize pump energy consumption, it is recommended to select a pump such that the system curve intersects the pump curve within 20% of its BEP. For a more detailed explanation and example of pump selection refer to  <a class="doctitle" href="http://www.publicpower.org/files/pdfs/pumpingsystemsselectenergyefficientcentrifugalpump.pdf" target="_blank">U.S. DOE Pumping Systems Tip Sheet #3</a>.</p>

<p>Another key strategy widely used to make pumps run efficiently is installing variable speed drives to ramp down the pump speed at low loads. Typically, pumps operate at 60% load for almost 80% of the operating hours. Since the power is proportional to the cube of the shaft speed, a small reduction in speed has a significant reduction in power. Reducing the volume from a constant 100% to 60% reduces power required by almost 50%.</p> 

For more information consult this reference: <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/pumplcc_1001.pdf" target="_blank">Variable speed pumping: A guide to successful applications- Executive summary</a>.
 
