<div class="myh2">Operation and Training Resources</div>

<p class="myh3">Pump maintenance</p>
<p>Periodic pump maintenance is important in order to ensure that the pump is operating as designed. If the pump is not operating near its BEP, the power consumed will be
  disproportionate to the flow rate. Monitoring is recommended to identify such inefficiencies. The US DOE pumping systems tip sheet #5 gives an outline of pumping systems
  which includes preventive and predictive actions. It also outlines a checklist for periodic efficiency testing.
Preventive action measures consist of coupling alignment, lubrication and seal maintenance and replacement. Predictive action measures are those that help cover for unexpected
equipment outage. Vibration analysis, motor current signature analysis, lubrication oil analysis and periodic efficiency testing are methods suggested under predictive actions.
The periodic maintenance checklist consists of checking for leakage from packing and mechanical seals, monitoring condition of bearings, evaluating motor/pump alignment and
checking motor condition. For more details refer the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf" target="_blank"
>Energy tips- Pumping system: Maintain pumping systems effectively spreadsheet </a> and Basic pump maintenance chapter of the
<a class="doctitle" href="http://www.peerlesspump.com/shared_docs/improving_performance.pdf " >Improving pumping system performance sourcebook.</a>
</p>
<br>
<hr>

<p class="myh3">Training resource</p>
<p class="doctitle">Pumping System Assessment Tool (PSAT)</p>
<p>PSAT is a free online pump assessment tool designed for plant managers and personnel to identify potential opportunities to improve pump energy efficiency.</p>
<div class="mylist">
<p>	&middot; <a class="doctitle" href="http://www.energy.gov/sites/prod/files/2014/04/f15/psat_fs.pdf" target="_blank">PSAT Fact Sheet</a></p>
<p>	&middot; <a class="doctitle" href="http://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool" target="_blank">PSAT Webpage</a></p>
<p>	&middot; <a class="doctitle" href="http://energy.gov/eere/amo/articles/training-pumping-systems" target="_blank">Online webcast for PSAT training</a></p>
</div>

<br>
<hr>
<br>
