<style>
    #rtcases {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-pump {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #d-pump1,
    #d-pump2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #svg {
        transform: scale(1.8, 1.8);
        transform-origin: 110% 0%;
        transition: all 2s ease-in-out;
    }

</style>

<span class="myh2">Pump: Case Study</span>

<p><a class="doctitle" href="http://energy.gov/eere/amo/downloads/new-water-booster-pump-system-reduces-energy-consumption-80-percent-and-increases" target="_blank">General Motors Pontiac Operations Complex in Pontiac, Michigan</a>
    <br>
    The facility replaced five 60- to 100-horsepower pumps with three 15-horsepower variable frequency drive pumps. This resulted in a 80% reduction in pumping energy consumption and an annual saving of &dollar;11,225 with a payback of 4 years.
</p>
