<div class="myh2">Testing Standards</div>

<p> Pump performance testing is done to ensure that a pump is operating per the design intent in a new building. For existing buildings, the goal is to identify opportunities
  and improve operations. The key components monitored during testing are power, pump status, speed, and differential pressure across the pump.  </p>

<p>For detailed outline of the steps for testing, precautions and data analysis, refer to the <a class="doctitle" href="http://www.ftguide.org/ftg/SystemModules/Pumping/Functional_Testing_for_Pumping_Systems.htm " target="_blank">Functional Testing for Pumping Systems.</a>
 This resource includes testing guidance sheets and sample test forms from multiple organizations.</p>

 <br>
 <hr>
 <br>
