<style>
#rtdesign{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtcodes, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
        #cp-pump {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #d-pump1,
    #d-pump2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
 </style>

<span class="myh2">Pump: Energy Efficiency Measures</span>

<p class="myh3"> Key opportunities for improving the efficiency of pump systems? </p>
<p> Oversized pumps, inefficient motors, and constant speed pumps in applications with variable loads are some common design problems.
  A <a class="doctitle" href="https://www.researchgate.net/publication/222151413_Sustainability_Victoria_Influencing_resource_use_towards_zero_waste_and_sustainable_production_and_consumption"
  target="_blank">study published by the Victoria (Australia) State Government </a>suggests seven steps to improve the efficiency of existing systems and also identifies five areas to think about when designing a new system.</p>

<p> Energy Savings for Simple Retrofit Measures Source :
  <a href="https://www.researchgate.net/publication/222151413_Sustainability_Victoria_Influencing_resource_use_towards_zero_waste_and_sustainable_production_and_consumption" target="_blank">Sustainability Victoria, Victoria State Government</a></p>
  
<table width="80%">

    <tr>
      <th>Energy Efficiency Measure</th>
      <th>Savings</th>
    </tr>

    <tr>
      <td>Replace throttling valves with speed controls</td>
      <td>10%-60% </td>
    </tr>

    <tr>
      <td>Reduce speed for fixed load</td>
      <td>5%-40% </td>
    </tr>

    <tr>
      <td>Install parallel system for highly variable loads</td>
      <td>10%-30% </td>
    </tr>

    <tr>
      <td>Replace motor with a more efficient model</td>
      <td>1%-3% </td>
    </tr>

    <tr>
      <td>Replace pump with a more efficient model</td>
      <td>1%-2%</td>
    </tr>

  </table>
  <br>


<span class="myh4">Efficient Centrifugal Pump Selection </span>
<p>
Selecting an energy-efficient centrifugal pump requires careful evaluation of the pump and system curves. In order to minimize pump energy consumption, it is best
to select a pump such that the system curve intersects the pump curve within 20% of its best efficiency point. For a more detailed explanation and examples of pump
selection, refer to the
<a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/efficient_centrifug_pumps.pdf " target="_blank">Pumping Systems Tip Sheet #3, Select an Energy-Efficient Centrifugal Pump</a>, from the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, Industrial Technologies Program.
</p>
<span class="myh4">Variable Speed Drives on pumps</span>
<p>
Existing hydronic systems often have three-way control valves that can be replaced with two-way control valves or have the bypass leg closed to allow reduced flow at
 reduced loads. It should be noted that this does not work on pneumatic control valves because it disables the ability of the valve actuator to handle any close-off
 pressure. In addition, some three-way valves may not function properly with the bypass leg closed if the open leg wasn’t designed to close against higher pressure.
 Typically, pumps operate at less than 60% load for almost 80% of their operating hours. Because the power is proportional to the cube of the shaft speed (affinity
 laws), a small reduction in speed results in a significant reduction in power. (Source: <a class= "doctitle" href="https://www.plantservices.com/articles/2009/090/" target="_blank"
   >Pump Energy Savings with VFDs</a>, by Mark Gmitro, Baldor Electric Company).
</p>
   <aside class="pquote">
       <blockquote>“Reducing the volume from a constant 100% to 60% reduces power required by almost 80%”</blockquote>
       <span class="source"><a href="https://www.baldor.com/" target="_blank">Baldor Electric Company </a></span>
    </aside>

<p>Adding VFD to an existing motor requires:</p>
<ul class="mylist">
<li>Using an inverter duty motor for high voltage applications </li>
<li>Evaluating peak flow demand and annual load profile when comparing different pumping systems. </li>
For further information on these topics, refer to the<a class="doctitle" href="http://energy.gov/eere/amo/downloads/variable-speed-pumping-guide-successful-applications-executive-summary " target="_blank">Variable Speed Pumping: A Guide to Successful Applications—Executive Summary</a> from the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy. </li>
</ul>
<br>
<span class="myh4">Life Cycle Cost Analysis of Pumps </span>
<p>For information on life cycle cost (LCC) analysis of pumps and developing a business case, refer to <a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/pumplcc_1001.pdf" target="_blank">Pump Life Cycle Costs: A Guide to LCC Analysis for Pumping Systems, Executive Summary</a>.
</p>
<span class="myh4">Future Pump Capacity Increase Planning</span>
<p>
To avoid running the equipment at part load, the design should be such that it can be upgraded easily. Planning space for such additions is strongly recommended.
For more details about planning for future capacity increases, refer to section 7.3.3., Plan for Future Capacity Increases, in Chapter 7, Pumps and Motors of
 <a class="doctitle" href="https://pdfslide.net/documents/energy-related-best-practices-a-sourcebook-for-the-chemical-.html" target="_blank">Energy-Related Best Practices: A Sourcebook for the Chemical Industry</a> from Iowa State University.
</p>