<div class="myh2">Energy Efficiency Measures</div>

<b> Key opportunities for improving the efficiency of pump systems? </b>
<p> Oversized pumps, inefficient motors, constant speed pumps in application with variable load are some common design problems.
  A <a class="doctitle" href="http://www.sustainability.vic.gov.au/services-and-advice/business/energy-and-materials-efficiency-for-business/resources-and-tools/energy-efficiency/energy-efficiency-best-practice-guidelines "
  target="_blank">study published by the State Government of Victoria </a> lists 7 steps to improve efficiency of existing system and also identifies 5 areas to think about while designing a new system.</p>

<p> Energy savings for simple retrofit measures. (Source :
  <a class="doctitle" href="http://www.sustainability.vic.gov.au/services-and-advice/business/energy-and-materials-efficiency-for-business/resources-and-tools/energy-efficiency/energy-efficiency-best-practice-guidelines "
  target="_blank">Sustainability Victoria, Victoria State Govt</a>) </p>
  <table width="80%">

    <tr>
      <th>Energy Efficiency Measure</th>
      <th>Savings</th>
    </tr>

    <tr>
      <td>Replace throttling valves with speed controls</td>
      <td>10-60% </td>
    </tr>

    <tr>
      <td>Reduce speed for fixed load</td>
      <td>5-40% </td>
    </tr>

    <tr>
      <td>Install parallel system for highly variable loads</td>
      <td>10-30% </td>
    </tr>

    <tr>
      <td>Replace motor with a more efficient model</td>
      <td>1-3% </td>
    </tr>

    <tr>
      <td>Replace pump with a more efficient model</td>
      <td>1-2%</td>
    </tr>

  </table>
  <br>
  <br>


<b> Efficient centrifugal pump selection</b>
<p>Selecting an energy efficient centrifugal pump requires a careful evaluation of the pump and system curves. In order to minimize pump energy consumption, it is
  recommended to select a pump such that the system curve intersects the pump curve within 20% of its BEP. For a more detailed explanation and example of pump selection
  refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/efficient_centrifug_pumps.pdf " target="_blank"> U.S. DOE pumping systems tip sheet #3.</a></p>
<br>

<b>Variable Speed Drives on pumps</b>
<p>Existing hydronic systems often have 3 way control valves that will need to be replaced with 2 way control valves or have the bypass leg closed to allow reduced flow at
  reduced loads.  Some 3 way valves may not function properly with bypass leg closed if open leg wasn’t designed to close against higher pressure.  Typically, pumps operate at
   less than 60% load for almost 80% of the operating hours. Since the power is proportional to the cube of the shaft speed (affinity laws), a small reduction in speed has a
   significant reduction in power. (Source: <a class= "doctitle" href="http://www.sustainableplant.com/assets/Baldor/Baldor-0411-Pump-Energy-Savings-with-VFDs.pdf" target="_blank"
   > Pump energy savings with VFD </a>, article by Baldor electric company).</p>
<br>
   <aside class="pquote">
       <blockquote>“Reducing the volume from a constant 100% to 60% reduces power required by almost 80%”</blockquote>
       <br>
       <p class="source"><a href="http://www.sustainableplant.com/assets/Baldor/Baldor-0411-Pump-Energy-Savings-with-VFDs.pdf " target="_blank">Baldor electric company </a></p>
    </aside>

<b> Retrofitting VFD to an existing motor</b>
<p> &middot; requirement of an inverter duty motor for high voltage applications. </p>
<p> &middot; peak flow demand and annual load profile also need to be evaluated while comparing different pumping systems. </p>
<p>  For further information on these topics, refer the <a class="doctitle" href="http://energy.gov/eere/amo/downloads/variable-speed-pumping-guide-successful-applications-executive-summary " target="_blank">Variable speed pumping:</a> A guide to successful applications- Executive summary. </p>

<br>
<br>
<b>Life Cycle Cost (LCC) analysis of pumps</b>
<p>For information on Life Cycle Cost (LCC) Analysis of pumps and putting together a business case refer to <a class="doctitle" href="http://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool" target="_blank">Pump life cycle costs:</a> A guide to LCC analysis for pumping systems,
  Executive summary.</p>

<br>
<b>Future pump capacity increase planning </b>
<p>To avoid running the equipment at part load, the design should be such that it can be upgraded easily. Planning space for such additions is strongly recommended. For more
   details about planning for future capacity increases, refer to section ‘7.3.3. Plan for future capacity increases section’<a class="doctitle" href="http://www.ciras.iastate.edu/publications/EnergyBP-ChemicalIndustry/Sourcebook_Chapter7.pdf" target="_blank"> Pump and Motor document.</a></p>
