<div class="myh2">Basics</div>

<p>A pump is a mechanical device used to move a working fluid. Their typical application in a central plant is to move chilled/hot water and condenser water through
  corresponding loops. Booster pumps are sometimes used in individual buildings to supplement the pump at the central plant. The most commonly used pumps for central
  plant applications are centrifugal type. </p>
<br>
<hr>
<br>
<p><span class="myh3">Commonly Used Terms</span></p>

<p class="doctitle">NPSH</span></p>
<p>Net Positive Suction Head (NPSH) is the minimum pressure needed to avoid cavitation. NPSHA is the Net Positive Suction Head Available and NPSHR is the Net Positive Suction Head Required. NPSHA should be greater than vapor pressure of operating fluid. NPSHR is the specified by the pump manufacturer. NPSHA should be greater than NPSHR. NPSH analysis is important especially when sizing condensate pump. For more details about calculating NPSH, refer to this article <a class="doctitle" href="http://websupport.completewatersystems.com/entries/23623978--NPSH-A-Critical-Consideration-When-Selecting-Condensate-Transfer-Pumps" target="_blank">NPSH: A Critical Consideration When Selecting Condensate Transfer Pumps.</a></p>
<br>
<br>
<p class="doctitle">BEP (Best Efficiency Point)</p>
<p>Best efficiency point of the pump is the point at which the pump operates at its maximum efficiency and has maximum life expectancy. ASHRAE recommends selecting the pump preferably between 85 – 105% of the flow at BEP.
</p>
<div class="whiteimg">
<img class="myimage" ng-src="img/pump_curve.png" alt=""></img>
</div>
<p class="caption">Pump selection curve (Source: <a href="http://www.ashrae.org/resources--publications/handbook/2016-ashrae-handbook-hvac-systems-and-equipment" target="_blank">ASHRAE Handbook-HVAC Systems and Equipment</a>)</p>
<br>
<br>
<p class="doctitle">Total pump head pressure</p>
<p>Total pump head pressure is the aggregate of lift, column friction, surface requirements and injection head. </p>
<br>
<hr>
<p>Refer to <a class="doctitle" href="https://www.ashrae.org/resources--publications/free-resources/ashrae-terminology" target="_blank">ASHRAE Terminology webpage</a> for a comprehensive list of terminologies. </p>

<br>
<hr>
<br>
<p class="myh3">Other Resources</p>
<div class="mylist">
<p>	&middot;<a class="doctitle" href="http://www.peerlesspump.com/shared_docs/improving_performance.pdf" target="_blank">Improving Pumping System Performance. A Sourcebook for Industry</a></p>
<p>&middot;<a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/pumplcc_1001.pdf" target="_blank">Pump Life Cycle Costs: A Guide to LCC Analysis for Pumping Systems, Executive Summary</a></p>
<p>&middot;<a class="doctitle" href="http://energy.gov/eere/amo/pump-systems" target="_blank">U.S. Department of Energy's Pump Systems Website</a></p>
<p>&middot;<a class="doctitle" href="http://energy.gov/sites/prod/files/2015/12/f28/Pumps%20ECS%20Final%20Rule.pdf" target="_blank">U.S. Department of Energy's Energy Conservation Program: Energy Conservation Standards for Pumps</a></p>
<p>&middot;<a class="doctitle" href="http://www.pumps.org/uploadedFiles/Content/Membership/Membership_Benefits/Government_Affairs/Hydraulic%20Institute%20Position%20Paper%20for%20NAM%20Summit%202015.pdf" target="_blank">U.S. Department of Energy's' Pump Efficiency Regulation Update: Informing Congress & Industry Stakeholders</a></p>
<p>&middot;<a class="doctitle" href="http://www.wateronline.com/doc/tips-to-save-energy-on-pumping-systems-0001" target="_blank">Article in <em>Water Online</em> 10 Tips to Save Energy on Pumping Systems</a></p>
<p>&middot;<a class="doctitle" href="http://electrical-engineering-portal.com/14-energy-efficiency-improvement-opportunities-in-pumping-systems" target="_blank"><em>Electrical Engineer Portal</em> article titled 14 energy efficiency improvement opportunities in pumping systems</a></p>
</div>
