<div class="myh2">Procurement and Performance Specifications</div>


<p>Periodic pump maintenance is important in order to ensure that the pump is operating as designed. If the pump is not operating near its BEP, the power consumed will be disproportionate to the flow rate. Monitoring is recommended to identify such inefficiencies. The <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf " target="_blank">U.S. DOE Pumping Systems Tip Sheet #5 </a>gives an outline of pumping system which includes preventive and predictive actions. It also outlines a checklist for periodic efficiency testing.</p> 

<p>Preventive action measures consist of coupling alignment, lubrication and seal maintenance and replacement. Predictive action measures are those that help cover for unexpected equipment outage. Vibration analysis, motor current signature analysis, lubrication oil analysis, periodic efficiency testing are methods suggested under predictive actions. The periodic maintenance checklist consists checking for leakage from packing and mechanical seals; monitoring condition of bearings, evaluating motor/pump alignment and checking motor condition. For more details refer to the <a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf" target="_blank">Pumping system: Maintain Pumping Systems Effectively Tip Sheet.</a>
and 
<a class="doctitle" href="http://www.peerlesspump.com/shared_docs/improving_performance.pdf#page=37" target="_blank">Basic Pump Maintenance chapter (page 33) of the Improving Pumping System Performance Sourcebook by U.S. DOE.</a></p> 



