<div class="myh2">Types</div>


Pumps are broadly classified as end suction and inline pumps. For further classification of both these pump types refer the
<a class="doctitle" href="http://machining.grundfos.com/media/17423/content%20-%20pump%20handbook_low_ny.pdf" target="_blank">Pump Handbook</a> by Grundfos Industry.</p>

<div class="whiteimg">
<img class="myimage" ng-src="img/pump_types.png" alt=""></img>
</div>
<p class="caption">End suction pump classification (Image courtesy of <a href="http://www.grundfos.com/" target="_blank">Grundfos</a>)</p>

<br>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/pumps_inline.jpg" alt=""></img>
</div>
<p class="caption">Inline pump classification (Image courtesy of <a href="http://www.grundfos.com/" target="_blank">Grundfos</a>)</p>
<br>
<hr>
<br>
