<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<span class="myh2">Operation and Training Resources</span>

<p><span class="myh3">Pump Maintenance </span>
<p>
If the pump is not operating near its best efficiency point, the power consumed will be high and disproportionate to the flow rate. Monitoring is recommended to
identify such inefficiencies.</p>

<span class="myh3">Pump maintenance measures include:</span>
<ul class="mylist">
<li>Preventive action measures: Measures taken to prevent a pump from failing, including coupling alignment, lubrication, and seal maintenance and replacement</li>
<li>Predictive action measures: Measures that help compensate for unexpected equipment outage, including vibration analysis, motor current signature analysis, lubrication oil analysis, and periodic efficiency testing</li>
<li>Periodic maintenance checklist: Checks of packing and mechanical seals for leakage, bearings for general condition, motors/pumps for alignment, and motors for general condition.</li>
</ul>
<span class="myh3">For more details refer to:</span>
<ul class="mylist">
<li><a class="doctitle" href="http://energy.gov/sites/prod/files/2014/05/f16/maintain_pumping_systemsts5.pdf" target="_blank">Pumping System Tip Sheet #5, Maintain Pumping Systems Effectively</a>, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, Industrial Technologies Program.</li>
<li><a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/05/f16/pump.pdf#page=37 " target="_blank">Basic Pump Maintenance</a> chapter (page 33) of the <a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/05/f16/pump.pdf" target="_blank">Improving Pumping System Performance: A Sourcebook for Industry</a>.</li>
</ul>
 
<span class="myh3">Training Resources</span>
<span class="myh4">Pumping System Assessment Tool </span>

<p>The Pumping System Assessment Tool (PSAT) is a free online pump assessment tool designed for plant managers and personnel to identify opportunities to improve pump energy efficiency.</p>
<ul class="mylist">
<li> <a class="doctitle" href="http://www.energy.gov/sites/prod/files/2014/04/f15/psat_fs.pdf" target="_blank">PSAT fact sheet</a>, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, Industrial Technologies Program</li>
<li><a class="doctitle" href="http://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool" target="_blank">PSAT Web page</a></li>
<li><a class="doctitle" href="https://www.energy.gov/sites/prod/files/2014/04/f15/psat_user_manual.pdf" target="_blank">User Manual</a></li>
</ul>

