<style>
#rttools{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rtcodes, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<span class="myh2">Design Calculators and Tools</span>

<p> <a class="doctitle" href="https://rcwapp.xyleminc.com/esponline/BG-ESP-PLUS-Log-in.asp" target="_blank">ESP-Plus, Bell &amp; Gossett</a>
<br>Pump selection tool for circulator, inline, and end/top/side suction pumps. </p>

<p> <a class="doctitle" href="http://www.energy.gov/eere/amo/articles/pumping-system-assessment-tool  " target="_blank">Pumping System Assessment Tool</a>, U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy
<br>Pump selection tool for circulator, inline, and end/top/side suction pumps.</p>
