<style>
    #rtcodes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-pump {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

    #d-pump1,
    #d-pump2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<span class="myh2">Pump: Performance Ratings</span>

<p>In a new building, pump performance testing is done to ensure that the pump is operating per the design intent. For existing buildings, the goal is to identify
    opportunities to improve operations and efficiency. The key components monitored during testing are:
</p>
<ul class="mylist">
    <li>Input power </li>
    <li>Pump status </li>
    <li>Pump speed (rpm) </li>
    <li>Differential pressure across the pump </li>
</ul>

<p>For additional information on pump testing (steps, precautions, and data analysis), refer to
    <a href="http://www.ftguide.org/ftg/SystemModules/Pumping/Functional_Testing_for_Pumping_Systems.htm" target="_blank">Functional Testing for Pumping Systems.</a> This resource includes testing guidance sheets and sample test forms from multiple organizations.</p>

<p><span class="myh3">Commonly Used Terms</span></p>

<span class="myh4">NPSH</span>
<p>
    Net positive suction head (NPSH) is the minimum pressure needed to avoid cavitation. NPSHA is the net positive suction head available and NPSHR is the net positive suction head required. NPSHA should be greater than the vapor pressure of the operating fluid. NPSHR is specified by the pump manufacturer. NPSHA should be greater than NPSHR. NPSH analysis is important, especially when sizing a condensate pump. For more details about calculating NPSH, refer to <a class="doctitle" href="http://unitedstates.xylemappliedwater.com/2011/04/28/npsh-a-critical-consideration-when-selecting-condensate-transfer-pumps/" target="_blank">NPSH: A Critical Consideration When Selecting Condensate Transfer Pumps.</a>
</p>
<span class="myh4">Best Efficiency Point</span>
<p>
    Best efficiency point (BEP) of the pump is the point at which the pump operates at its maximum efficiency and has maximum life expectancy. ASHRAE recommends selecting the pump preferably between 85%–105% of the flow at BEP.
</p>
<p>View pump selection curve in <a href="https://www.ashrae.org/technical-resources/ashrae-handbook" target="_blank">ASHRAE Handbook: HVAC Systems and Equipment</a>.
</p>

<span class="myh4">Total Pump Head Pressure </span>
<p>
    Total pump head pressure is the aggregate of lift, column friction, surface requirements, and injection head.
</p>
<p>Refer to <a class="doctitle" href="https://www.ashrae.org/resources--publications/free-resources/ashrae-terminology" target="_blank">ASHRAE Terminology</a> for a comprehensive list of terms.</p>
