<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
    </style>
    
<div class="myh2">Codes and Standards</div>

Pump performance testing is done to ensure that the pump is operating per the design intent in a new building. For existing buildings, the goal is to identify
  opportunities and improve operations. The key components monitored during testing are
<ul>
<li>input power </li>
<li>pump status </li>
<li>pump speed (rpm) </li>
<li>differential pressure across the pump </li>
</ul>

<p>For additional information on pump testing (steps, precautions and data analysis), refer to the
  <a href="http://www.ftguide.org/ftg/SystemModules/Pumping/Functional_Testing_for_Pumping_Systems.htm" target="_blank">Functional Testing for Pumping Systems.</a> This
  resource includes testing guidance sheets and sample test forms from multiple organizations. </p>
 <hr>
 <p><span class="myh3">Commonly Used Terms</span></p>

 <span class="myh4">NPSH</span>
<br>
 Net Positive Suction Head (NPSH) is the minimum pressure needed to avoid cavitation. NPSHA is the Net Positive Suction Head Available and NPSHR is the Net Positive Suction Head Required. NPSHA should be greater than vapor pressure of operating fluid. NPSHR is the specified by the pump manufacturer. NPSHA should be greater than NPSHR. NPSH analysis is important especially when sizing condensate pump. For more details about calculating NPSH, refer to this article <a class="doctitle" href="http://websupport.completewatersystems.com/entries/23623978--NPSH-A-Critical-Consideration-When-Selecting-Condensate-Transfer-Pumps" target="_blank">NPSH: A Critical Consideration When Selecting Condensate Transfer Pumps.</a>
 <br>
<br>
 <span class="myh4">BEP (Best Efficiency Point)</span>
<br>
 Best efficiency point of the pump is the point at which the pump operates at its maximum efficiency and has maximum life expectancy. ASHRAE recommends selecting the pump preferably between 85 – 105% of the flow at BEP.
 <p>View pump selection curve in <a href="http://www.ashrae.org/resources--publications/handbook/2016-ashrae-handbook-hvac-systems-and-equipment" target="_blank">ASHRAE Handbook-HVAC Systems and Equipment</a>)</p>

 <span class="myh4">Total pump head pressure</span>
<br>
 Total pump head pressure is the aggregate of lift, column friction, surface requirements and injection head.
 <br>
Refer to <a class="doctitle" href="https://www.ashrae.org/resources--publications/free-resources/ashrae-terminology" target="_blank">ASHRAE Terminology</a> webpage for a comprehensive list of terminologies.

