<style>
    #rtoperation {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtcodes,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #blrcont,
    #ahucont,
    #controlcont,
    #zone1cont,
    #zone2cont,
    #zone3cont,
    #zone4cont {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>


<span class="myh2">Sensors and Controls: Operation and Training Resources</span>

<ul class="mylist">

    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/chapters/ch10_retuning_building.pdf" target="_blank">Re-Tuning Building Controls and Systems Training</a></li>
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/pnnl_sa_85194.pdf" target="_blank">Occupancy Scheduling Guide</a></li>
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/documents/pnnl_sa_85200.pdf" target="_blank">Zone Heating and Cooling Control Guide</a></li>
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/training/ddc_control_fundamentals/ddc_controls_part_1_pnwd-sa-8834.pdf" target="_blank">HVAC Control Principles</a></li>
    <li><a class="doctitle" href="https://buildingretuning.pnnl.gov/training/ddc_control_fundamentals/ddc_controls_part_2_pnwd-sa-8834.pdf" target="_blank">Control Applications, Networks, Programming, Maintenance, and Energy Savings</a></li>
</ul>
