<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #blrcont,
    #ahucont,
    #controlcont,
    #zone1cont,
    #zone2cont,
    #zone3cont,
    #zone4cont {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

/*    #svg {
        transform: scale(1.00, 1.00);
        transform-origin: 50% 270%;
        transition: all 1.7s ease-in-out;
    }*/

</style>

<span class="myh2">Sensors and Controls: Basics</span>
<br>
<br>
<span class="myh3">Sensors</span>

<p>Sensors are the backbone of control systems; they let us “see” and control large complex systems through the building automation system (BAS). A BAS may have hundreds to thousands of sensor and control points, all relying on accurate information to function optimally. Faulty sensors can lead to improper functionality and may lead to wasted energy, poor indoor environmental conditions, and even running equipment to failure. Sensors are used to measure temperature, relative humidity, CO<sub>2</sub>, water flow, airflow, pressure, levels, energy consumption, and more. All sensors need to be properly specified, installed, commissioned, and maintained in order to provide the expected accuracy of the expected measurement points.</p>

<span class="myh3">Controls</span>
<p>Automated control systems are necessary to keep building systems operating. They can be as simple as a single thermostat or as complicated as control systems for operation and optimization of large HVAC systems. The large control systems interact with a vast number of sensors and actuators to monitor systems and maintain performance. Maintaining and optimizing these control systems can be a full-time job, but the benefits are usually worth the investment. Modern control systems offer additional features such as dynamic optimization routines, automated fault detection and diagnostics, remote monitoring, automated demand response, and cloud-based analytics.</p>

<span class="myh3">Resources</span>
<ul class="mylist">
    <li><a class="doctitle" href="http://www.ddc-online.org/ " target="_blank">Direct Digital Controls</a></li>
    <li><a class="doctitle" href="http://buildingretuning.pnnl.gov/training/ddc_control_fundamentals/ddc_controls_part_1_pnwd-sa-8834.pdf" target="_blank">Control fundamentals</a>, Battelle</li>
    <li><a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/EDR_DesignGuidelines_CoolToolsChilledWater.pdf" target="_blank">CoolTools™ Chilled Water Plant Design Guide (chapter 5)</a></li>
    <li><a class="doctitle" href="https://smart-energy-analytics.org/" target="_blank">Smart Energy Analytics Campaign</a></li>
    <li><a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/RP-1455%20Advanced%20HVAC%20Control%20Sequences%20for%20Airside%20Equipment.pdf" target="_blank">RP-1455 Advanced HVAC Control Sequences for Airside Equipment</a></li>
    <li><a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Journal_-_Retrofitting_DDC_Controls.pdf" target="_blank">Successful Pneumatic to DDC System Retrofits</a></li>
    <li><a class="doctitle" href="https://www.techstreet.com/ashrae/standards/guideline-36-2018-high-performance-sequences-of-operation-for-hvac-systems?product_id=2016214" target="_blank">ASHRAE Guideline 36 High-Performance Sequences of Operation for HVAC Systems </a></li>
</ul>
