<style>
    #space {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #hvac,
    #text {
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
    }

    #spaceloads {
        background-color: white !important;
        border-top: 4px solid #62D2FF !important;
        color: #000000 !important;
    }

    #centralplant,
    #distribution,
    #hvachome,
    #contributors {
        display: block;
        color: #7cc110;
        text-align: center;
        text-decoration: none !important;
        position: relative;
    }

</style>


<div class="myh1">SPACE LOADS</div>

<div class="subflex">
    <div class="content-main">
        <p class="largertx">The primary purpose of heating, ventilating, and air-conditioning &lpar;HVAC&rpar; systems is to provide healthy and comfortable conditioning of occupied spaces in buildings. HVAC systems are designed and operated to meet the thermal loads of all the occupied spaces in buildings. </p>
        <p>It makes logical sense that minimizing and managing the space thermal loads is the first place to start when looking for energy savings. It’s important for the engineer to understand the space loads and determine whether there are opportunities to minimize loads or whether thermal conditioning requirements are underserved. Working backwards from the spaces allows engineers and operators to properly design and operate HVAC systems to meet thermal conditioning requirements with the lowest possible energy consumption.</p>
    </div>
</div>

