<style>
    #rtcases {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }
</style>

<div class="myh2">Case Studies</div>

<p><a class="doctitle" href="https://www1.eere.energy.gov/femp/pdfs/FTA_SteamTrap.pdf " target="_blank">Steam Trap Performance Assesment at Veterans Administration &lpar;VA&rpar; medical centers</a>
    <br>Three hospitals located in Providence, Rhode Island, and Brockton and West Roxbury, Massachusetts, were inspected and evaluated to estimate stream trap losses
    due to malfunctioning. Based on different steam pressures and end uses, steam losses were estimated at $5.25 per 1,000 pounds of steam at Providence and $4.25 per
    1,000 pounds of steam at Brockton and West Roxbury. The annual estimated savings was $18,695 at Providence, $70,511 at Brockton, and $3,117 at West Roxbury.
    </p>
