<style>
    #rttools {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rtcodes,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #steamtrapht,
    #steamtrap {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

/*  #svg {
    transform: scale(1.7, 1.7);
    transform-origin: 30% 20%;
    transition: all 2s ease-in-out;
  }*/

</style>

<span class="myh2">Steam Traps: Design Calculators and Tools</span>

<p> <a class="doctitle" href="http://www.tlv.com/global/US/calculator/ " target="_blank">Engineering Calculators </a>, by TLV company
    <br>Refer steam section</p>
