<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>


<div class="myh2">Operation and Training Resources</div>


<p>Steam traps need to be tested periodically for cold plugging (blocked condensate discharge or insufficient capacity) and failing in open position such that the steam is escaping into the condensate return system. The three common ways of testing steam trap failures are:
<ul class="mylist">
<li>Temperature: Works best to identify cold plugging</li>
<li>Sound: Different sound types for leaking and blocked traps; electronic/ultrasonic instruments are used for greater accuracy</li>
<li>Visual observation: Condensate not flowing or steam escaping with condensate.</li>
</ul>
</p>

<p>For more information on instrumentation and steps for identifying steam trap failures see:
<ul class="mylist">
  <li><a class="doctitle"  href="http://www.tlv.com/global/US/steam-theory/steam-trap-test.html" target="_blank">A Guide to Steam Trap Testing </a>, TLV Company </li>
  <li><a class="doctitle"  href="https://www.armstronginternational.com/files/products/traps/pdf/310.pdf " target="_blank">Steam Trap Testing Guide for Energy Conservation</a>, Armstrong</li>
  <li><a class="doctitle"  href="http://www.plantengineering.com/single-article/best-practices-for-ultrasound-testing-of-steam-traps/2c987f3802dac1c78fe600a48063bfb5.html" target="_blank">Best Practices for Ultrasound Testing of Steam Traps</a>, Plant Engineering</li>
</ul>
</p>

<hr>
<p class="myh3">Other Resources</p>
<ul class="mylist">
<li><a class="doctitle"  href="http://www.energy.gov/sites/prod/files/2014/05/f16/steam1_traps.pdf" target="_blank">Inspect and Repair Steam Traps</a>, U.S. Department of Energy (DOE) Tip Sheet </li>
<li><a class="doctitle"  href="https://energy.gov/sites/prod/files/2016/01/f28/mv_guide_4_0.pdf" target="_blank">M&amp;V Guidelines: Measurement and Verification for Performance-Based Contracts</a>, Version 4.0, 2015, Section 6.9, DOE</li>
<li><a class="doctitle"  href="http://aceee.org/files/proceedings/2015/data/papers/4-81.pdf " target="_blank">Risk Based Survey in Steam Trap Management </a>, 2015 ACEEE Summer Study on Energy Efficiency in Industry</li>

</ul>
