<style>
    #hvac, #text {
        opacity: 1;
        transition: opacity 1s linear;
    }

    #space {
        opacity: 0;
        transition: visibility 0s 1s, opacity .1s linear;
    }

    #terminal1, #terminal2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>
<div class="myh1">Terminal</div>

<div class="subflex">
  <div class="content-main">
    <div ui-view></div>
  </div>
  <div class="content-secondary">
      <span class="myh4">TERMINAL UNIT RESOURCES</span>
    <nav class="rtnav">
      <ul>
<li><a ui-sref=".basics" id="rtbasics"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i> General Info</a></li>
<!--        <li><a ui-sref=".types" id="rttypes"><i class="fa fa-tasks fa-1x fa-fw" aria-hidden="true"></i> Types</a></li> -->
<!--        <li><a ui-sref=".codes" id="rtcodes"><i class="fa fa-check-square fa-1x fa-fw" aria-hidden="true"></i> Codes &amp; Standards</a></li> -->
<!--        <li><a ui-sref=".design" id="rtdesign"><i class="fa fa-book fa-1x fa-fw" aria-hidden="true"></i> Design Guides &amp; EEMs</a></li> -->
<!--        <li><a ui-sref=".tools" id="rttools"><i class="fa fa-calculator fa-1x fa-fw" aria-hidden="true"></i> Calculators &amp; Tools</a></li> -->
<!--        <li><a ui-sref=".operation" id="rtoperation"><i class="fa fa-wrench fa-1x fa-fw" aria-hidden="true"></i> Operation &amp; Training</a></li> -->
<!--        <li><a ui-sref=".procure" id="rtprocure"><i class="fa fa-tachometer fa-1x fa-fw" aria-hidden="true"></i> Procurement &amp; Performance</a></li> -->
<!--        <li><a ui-sref=".cases" id="rtcases"><i class="fa fa-building fa-1x fa-fw" aria-hidden="true"></i> Case Studies</a></li> -->
      </ul>
    </nav>
  </div>
</div>
