<div class="myh2">Energy Efficiency Measures (EEMs)</div>

<aside class="pquote">
    <blockquote>“Reducing cooling tower fan speed to 80% of design reduces fan power by 50% while raising cooling tower leaving water temperature only by 3 °F (1.7 °C).”</blockquote>
    <br>
    <p class="source"><a href="http://www.corecontrolsdfw.com/documentation/2014Feb_034-041_Morrison.pdf " target="_blank">Saving energy with cooling towers</a>, ASHRAE article</p>
 </aside>

<p>	&middot; Operating CT with smaller approach. Year round operating systems reap maximum benefit.</p>
<p>	&middot; Install VFD on cooling tower fan. In mild climates, the chiller operates at part load for a major portion of the year.</p>
<p> &middot; Allow condenser water temperatures to drop below traditional 85 F return water to the chiller to improve chiller efficiency.  Review total system energy use to determine efficient balance of chiller energy, cooling tower fan energy and pumping energy.</p>
<p> &middot; Consider using cooling tower for “free” water side economizing if chilled water is needed year round.  Cooling tower can provide cold water to a heat exchanger to directly cool chilled water without running compressors.</p>
    </div>

<p>Consider a larger cooling tower to achieve a smaller approach and minimize fan energy. For example, the figure below shows Ton/hp variation for different cooling tower sizes
  across capacities ranging between 100 – 550 tons (size of point and color correspond to different sizes). The dotted box shows multiple cooling tower size options to meet a load
  of 230 tons. The efficiency varies from as low as 22 Ton/hp to as high as 80 Ton/hp. A payback analysis should be done to select an efficient cooling tower by
  taking into account factors associated with increased size such as - space availability, increase in operating weight and the corresponding increase in structural costs.</p>

<div class="whiteimg">
<img class="myimage" ng-src="img/Cooling_tower_efficiency.png" alt=" Cooling tower efficiency"></img>
</div>
<p class="caption">Variation of Ton/hp with size at different capacities (Data Source: <a class="doctitle" href="http://spxcooling.com/" target="_blank"> SPX )</a></p>

<br>
<hr>
<p class="myh3">Water Efficiency Measures</p>

<p class="doctitle">Sub-Metering</p>
<p>Sub-metering make-up and blowdown water lines helps to estimate if appropriate amount of water is being used to do the required task. </p>

<p class="doctitle">Increase Cycles of Concentration</p>
<p>Cooling towers typically operate at a blow-down of two to three cycles. This can be increased to upto six or more cycles depending on water quality, presence of automation
  and constant monitoring. For additional information on how to maximize C.O.C refer <a class="doctitle"
  href="http://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/198/" target="_blank">6-13 of WaterSense at Work</a> and page 42 of the <a class="doctitle"
  href="https://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf " target="_blank">Water efficiency manual.</a> </p>
<aside class="pquote">
    <blockquote>“Increasing the C.O.C from two to six can reduce makeup water consumption by 40%.”</blockquote>
    <br>
    <p class="source"><a href="http://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43" target="_blank">Water Efficiency Manual</a> by N.C. Department of Environment and Natural Resources</p>
 </aside>
    </div>

<p class="doctitle">Water Quality</p>
<p>Monitor water quality in the cooling tower periodically. Cleansing cooling tower basin, installing filters on side stream taken from cooling tower basin are examples
  of some recommended measures. Bacterial growths such as Legionella are known to have health concerns due to poor water quality. Controlling sunlight exposure inside the
   tower surface can significantly reduce biological growth. To read more about methods to improve water quality refer page <a class="doctitle"
   href="http://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/200/" target="_blank">6-14 of WaterSense at Work</a>. If there are no recommendations from the
   manufacturer regarding water quality, refer to Table 12.1: Cooling Water Quality in this <a class="doctitle"
   href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf" target="_blank">document on cooling towers </a> published by Wiley </p>

<a class="doctitle" href="http://energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">Refer FEMP Best Management Practices # 10 : Cooling Tower Management</a> for more information about Operation/maintenance and retrofit options.</p>


<p class="myh3">Design Guide</p>
The first step in designing a cooling tower is to determine the type of cooling tower for the given site and application. Once this is locked down, calculations need to be done to for condenser water flow rate to ensure the cooling tower meets the required capacity. This is done by taking into account the wet-bulb temperature, air velocity and height of the cooling tower.
General rule of thumb is 3 gpm of recirculating flow per ton of cooling at 10°F ΔT. Evaporation is estimated at 1.8 gallons/hour per ton of cooling. Follow-up calculation to estimate make-up volume, cycles of concentration and blowdown volume can be found in this article on water use in cooling tower.
Few additional things to be specified while designing a cooling tower are
<div class="mylist">
    <p>	&middot; Frame and casing</p>
    <p>	&middot; Fill material</p>
    <p>	&middot; Fill depth</p>
    <p>	&middot; Nozzles</p>
    <p>	&middot; Fans</p>
</div>
<p>For further information on tower materials refer the <a class="doctitle" href="http://kolmetz.com/pdf/EDG/ENGINEERING%20DESIGN%20GUIDELINES%20-%20Cooling%20Towers%20-%20Rev01.pdf " target="_blank">Cooling Tower Selection and Sizing</a> document by KLM Technology group.</p>

<p>Cooling tower capacity can be increased without enlarging the physical size by implementing strategies such as installing an efficient spray distribution system and
decreasing water temperature. Installing a larger fan motor and increasing fill media are some other strategies to increase cooling tower capacity.  For more details,
efer this <a class="doctitle"
href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf" target="_blank">document on cooling towers </a> published by Wiley </p>
