<style>
    #rtdesign {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtcodes,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #t-outline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>

<div class="myh2">Cooling Tower: Energy Efficiency Measures</div>

<aside class="pquote">
    <blockquote>“Reducing cooling tower fan speed to 80% of design reduces fan power by 50% while raising cooling tower leaving water temperature only by 3°F (1.7 °C).”</blockquote>
    <p class="source">Saving Energy with Cooling Towers, ASHRAE article, Frank Morrison, ASHRAE Journal, February 2014</p>
</aside>
<ul class="mylist">
    <li>Operating cooling towers with smaller approach; year-round operating systems reap maximum benefit.</li>
    <li>Install variable frequency drive on cooling tower fan. In mild climates, the chiller operates at part load for a major portion of the year.</li>
    <li>Allow condenser water temperatures to drop below traditional 85oF chiller return water temperature to improve chiller efficiency. Review total system energy use to determine efficient balance of chiller energy, cooling tower fan energy, and pumping energy.</li>
    <li>Consider using cooling tower for “free” water-side economizing if chilled water is needed year-round. Cooling tower can provide cold water to a heat exchanger to directly cool chilled water without running compressors.</li>
</ul>

<p>Consider a larger cooling tower to achieve a smaller approach and minimize fan energy. For example, the figure below shows ton/hp variation for different cooling
    tower sizes across capacities ranging between 100–550 tons (size of point and color correspond to different sizes). The dotted box shows multiple cooling tower
    size options to meet a load of 230 tons. The efficiency varies from as low as 22 ton/hp to as high as 80 ton/hp. A payback analysis should be done to select an
    efficient cooling tower by taking into account factors associated with increased size such as space availability, increase in operating weight, and the
    corresponding increase in structural costs.</p>

<div class="whiteimg">
    <img class="myimage" src="img/Cooling_tower_efficiency.png" alt="Variation of Ton/hp with size at different capacities charted in scatterplot. The dotted box shows multiple cooling tower size options to meet a load of 230 tons. The efficiency varies from as low as 22 Ton/hp to as high as 80 Ton/hp.">
</div>
<p class="imgtitle">Variation of ton/hp with size at different capacities (Data Source: <a href="http://spxcooling.com/" target="_blank"> SPX Cooling )</a></p>

<p class="myh3">Free cooling with cooling towers</p>
<p>Cooling tower water can provide water at low enough temperatures during the winter, fall, and spring seasons to turn off the chiller. The cooling requirement in
    winter is typically less than the requirement in summer except for applications in which constant cooling is required year-round. Data centers are the best
    application for free cooling. Free cooling can also be used in other applications once the winter cooling loads are determined and the tower is sized
    appropriately. Some parameters to consider when designing the cooling tower for free cooling are wind speed, ambient temperature, and presence of sufficient
    cooling requirement in winter. Although some icing on the cooling tower is typical at below-freezing temperatures, excess icing that can cause damage to the
    cooling tower should be avoided.</p>

<p class="myh3">Resources</p>
<ul class="mylist">
    <li><a class="doctitle" href="https://www.researchgate.net/publication/283597158_Saving_Energy_With_Cooling_Towers" target="_blank">Saving Energy with Cooling Towers, </a>Frank Morrison, ASHRAE Journal, February 2014</li>
    <li><a class="doctitle" href="https://ashraephilly.org/images/downloads/CTTC_Articles/1705_cttc.pdf" target="_blank">Cold Weather Operation of Cooling Towers, </a>Paul Londahl, ASHRAE Journal, March 2014</li>
    <li><a class="doctitle" href="https://hightech.lbl.gov/sites/all/files/documents/HVACWaterSystems_Waterside%20Free%20Cooling.pdf " target="_blank">HVAC Water Systems: Waterside Free Cooling, </a>Lawrence Berkeley National Laboratory</li>
    <li><a class="doctitle" href="https://www.baltimoreaircoil.com/download_api_endpoint/1198/j50_tr_freecooling_20150914.pdf" target="_blank">Minimizing energy costs with free cooling, </a>Baltimore Aircoil Company, Inc.</li>
    <li><a class="doctitle" href="https://spxcooling.com/library/application-of-cooling-towers-for-free-cooling/" target="_blank">Application of Cooling Towers for Free Cooling, </a>SPX Cooling Technologies, Inc.</li>

</ul>
<br>
<span class="myh2">Water Efficiency Measures</span>

<p><span class="myh3">Submetering </span>
    <br><br>
    Submetering make-up and blowdown water lines helps estimate whether the appropriate amount of water is being used to do the required task.</p>

<p><span class="myh3">Increase Cycles of Concentration</span></p>
<p>Alternative water treatment methods can be very effective at saving water and minimizing or eliminating water treatment chemicals. See recent case studies of four technologies that with proven performance:</p>
<ol class="mylist">
    <li><a href="https://www.nrel.gov/docs/fy19osti/73911.pdf" target="_blank">Testing and Evaluation of a Chemical-Free Cooling Tower Water Treatment Technology</li>
    <li><a href="https://www.gsa.gov/governmentwide-initiatives/climate-action-and-sustainability/emerging-building-technologies/published-findings/water/awt-electrochemical-for-cooling-towers" target="_blank">Electrochemical water treatment for Cooling Towers</a></li>
    <li><a href="https://www.gsa.gov/governmentwide-initiatives/climate-action-and-sustainability/emerging-building-technologies/published-findings/water/awt-advanced-oxidation-process-for-cooling-towers" target="_blank">Advanced Oxidation Process for Cooling Towers</a></li>
    <li><a href="https://www.gsa.gov/governmentwide-initiatives/sustainability/emerging-building-technologies/published-findings/water/awt-saltbased-chemical-inhibition-for-cooling-towers" target="_blank">Salt-Based and Chemical Inhibition for Cooling Towers</a></li>
</ol>
<br>
Cooling towers typically operate at a blowdown of two to three cycles. This can be increased to up to six or more cycles, depending on water quality, presence of
automation, and constant monitoring. For additional information on how to maximize cycles of concentration, refer to page 6-13 in the U.S. Environmental Protection
Agency’s <a class="doctitle" href="https://www.epa.gov/sites/production/files/2017-02/documents/watersense-at-work_final_508c3.pdf" target="_blank">WaterSense at Work</a> and page 42 in the <a class="doctitle" href="https://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43" target="_blank">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a> from the North Carolina Department of Environment and Natural Resources.


<aside class="pquote">
    <blockquote>“Increasing the [cycles of concentration] from two to six can reduce make-up water consumption by 40%.”</blockquote>
    <p class="source">
        <a href="https://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43" target="_blank">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a>
</aside>

<p><span class="myh3">Water Quality</span>
    <br><br>
    Monitor water quality in the cooling tower periodically. Cleansing the cooling tower basin and installing filters on the side stream taken from the cooling tower
    basin are examples of recommended measures. Poor water quality can lead to bacterial growths such as Legionella that are serious health concerns. Controlling sunlight
    exposure inside the tower surface can significantly reduce biological growth. <br><br>

    To read more about methods for improving water quality, refer to page 6-14 in
    <a class="doctitle" href="https://www.epa.gov/sites/production/files/2017-02/documents/watersense-at-work_final_508c3.pdf" target="_blank">WaterSense at Work</a>.
    If there are no recommendations from the manufacturer regarding water quality, refer to Table 12.1: Cooling Water Quality in
    <a class="doctitle" href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf#page=5" target="_blank">Applied Industrial Energy and Environmental Management,</a> published by John Wiley &amp; Sons.
</p>

<p>For more information about operations and maintenance as well as retrofit options, consult the
    <a class="doctitle" href="https://www.energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">Best Management Practice #10: Cooling Tower Management </a>from the Federal Energy Management Program.</p>



<span class="myh2">Design Guide</span>
<p>The first step is determining the type of cooling tower for the given site and application. Once this is locked down, calculate the condenser water flow rate to
    ensure the cooling tower meets the required capacity. This is done by taking into account the wet-bulb temperature, air velocity, and height of the cooling tower. A
    general rule of thumb is 3 gpm of recirculating flow per ton of cooling at 10°F delta-T. Evaporation is estimated at 1.8 gallons/hour per ton of cooling. Follow-up
    calculations to estimate make-up volume, cycles of concentration, and blowdown volume can be found in this article on water use in cooling towers. A few additional
    cooling tower design specifications include:</p>
<ul class="mylist">
    <li>Frame and casing</li>
    <li>Fill material</li>
    <li>Fill depth</li>
    <li>Nozzles</li>
    <li>Fans.</li>
</ul>
<p>For further information on tower materials refer to the
    <a class="doctitle" href="https://www.klmtechgroup.com/PDF/EDG-SYS/ENGINEERING-DESIGN-GUIDELINES-cooling-towers-Rev2.2web.pdf" target="_blank">Cooling Tower Selection and Sizing</a> document from KLM Technology Group.
</p>

<p>Cooling tower capacity can be increased without enlarging the physical size by implementing strategies such as installing an efficient spray distribution system
    and decreasing water temperature. Installing a larger fan motor and increasing fill media are some other strategies to increase cooling tower capacity. For more
    details, refer to <a class="doctitle" href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf" target="_blank">Toolbox 12 Cooling Towers </a>
    from John Wiley &amp; Sons.
</p>
