<style>
#rttools{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rtcodes, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
      #t-outline {
 fill: #71C5E8 !important;
  stroke: #444444 !important;
  }

  #svg {
    transform: scale(1.8, 1.8);
    transform-origin: 100% -10%;
    transition: all 1s ease-in-out;
  }
</style>

<span class="myh2">Cooling Tower: Design Calculators and Tools</span>

<ul class="mylist">
<li>The <a class="doctitle" href="http://www.trsinc.us/resources/cooling-tower-calculator" target="_blank">Cooling Tower Calculator</a>, from TRS Incorporated estimates make-up/bleed pipe sizing, peak evaporation, peak bleed, peak water flow rate, range, approach, and drift rate.</li>
<li><a class="doctitle" href="http://deltacooling.com/resources/selecting-sizing/" target="_blank">Tower Sizing Program,</a> from Delta Cooling Towers, Inc.</li>
<li><a class="doctitle" href="http://qtcapps.ct.spx.com/update/Login.aspx" target="_blank">Update Selection Software</li>
</ul>
