<div class="myh2">Design Guides and Efficiency Measures (EEMs)</div>

<p class="myh3">Energy Efficiency Measures</p>
<p>	&middot; Operating CT with smaller approach. Year round operating systems reap maximum benefit.</p>
<p>	&middot; Install VFD on cooling tower fan. In mild climates, the chiller operates at part load for a major portion of the year.</p>
<p>	&middot; Periodically inspect equipment down the chilled water loop such as air handler coil. Inefficient operation of AHU increases cooling load on the chiller, in turn affecting the cooling tower.</p>
<aside class="pquote">
    <blockquote>“Reducing cooling tower fan speed to 80% of design reduces fan power by 50% while raising cooling tower leaving water temperature only by 3 °F (1.7 °C).”</blockquote>
    <br>
    <p class="source"><a href="" target="_blank">Name of article</a> by organization</p>
 </aside>
    </div>
<br>
<hr>
<p class="myh3">Water Efficiency Measures</p>

<p class="doctitle">Sub-Metering</p>
<p>Sub-metering make-up and blowdown water lines helps to estimate if appropriate amount of water is being used to do the required task. </p>

<p class="doctitle">Increase Cycles of Concentration</p>
<p>Cooling towers typically operate at a blow-down of two to three cycles. This can be increased to upto six or more cycles depending on water quality, presence of automation and constant monitoring. For additional information on how to maximize C.O.C refer <a class="doctitle" href="http://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/198/" target="_blank">6-13 of WaterSense at Work</a> and page 42 Water efficiency manual. </p>
<aside class="pquote">
    <blockquote>“Increasing the C.O.C from two to six can reduce makeup water consumption by 40%.”</blockquote>
    <br>
    <p class="source"><a href="http://www.gwinnettcounty.com/static/departments/DWR/pdf/NCWaterEfficiencyManual.pdf#page=43" target="_blank">Water Efficiency Manual</a> by N.C. Department of Environment and Natural Resources</p>
 </aside>
    </div>

<p class="doctitle">Water Quality.</p>
<p>Monitor water quality in the cooling tower periodically. Cleansing cooling tower basin, installing filters on side stream taken from cooling tower basin are examples of some recommended measures. Bacterial growths such as Legionella are known to have health concerns due to poor water quality. Controlling sunlight exposure inside the tower surface can significantly reduce biological growth. To read more about methods to improve water quality refer page <a class="doctitle" href="http://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/200/" target="_blank">6-14 of WaterSense at Work</a>.</p>  


<p class="doctitle">Evaluate Alternative Non-potable Make-up Water Sources</p>
<a class="doctitle" href="http://energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">Refer FEMP Best Management Practices # 10 : Cooling Tower Management</a> for more information about Operation/maintenance and retrofit options.</p> 

    
    