<span class="myh2">Operation and Training Resources</span>
<p>Effective cooling tower operation is achieved by paying close attention to safety and operational guidelines given by the manufacturer.
  Safety aspects include providing safe access and fall protection in all areas where any personnel is expected to go during inspection or maintenance, fan motor and condenser
  pump lock out during inspection, ensuring worker protection from biological growth and avoiding re-entry of discharge air.</p>

<p>Operational aspects to consider for a cooling tower are</p>
<ul class="mylist">
<li>Clearing debris from basin</li>
<li>Filling basin to required water level with makeup water valve</li>
<li>Balancing water flow to ensure maximum wetness of fill surface area</li>
<li>Chemical treatment during startup and during operation</li>
<li>Checking if fan is rotating in proper direction</li>
<li>Setting appropriate blow down rate</li>
<li>Installing and monitoring conductivity controllers to ensure correct blow down rate</li>
<li>Keeping log of quantities of make-up and blow-down water. This helps in identifying leaks and unaccounted draw-offs</li>
</ul>

<p>For additional information about each of the above mentioned safety and operational aspects, refer to  <a class="doctitle" href="http://spxcooling.com/library/detail/trouble-free-hvac-cooling-towers-a-maintenance-guide" target="_blank">Trouble-Free HVAC Cooling Towers - A Maintenance Guide</a> by Marley and <a class="doctitle" href="http://energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">Best Management Practice #10: Cooling Tower Management fact sheet</a> by U.S. DOE.</p>

<p>A Periodic energy audit is a helpful tool to get an accurate status of the cooling tower performance. For detailed steps such as identifying the boundary for evaluation,
site inspection, equipment energy measurement, calculation and analysis refer to this <a class="doctitle"
href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf" target="_blank">document on cooling towers </a> published by Wiley </p>
<hr>
<span class="myh3">Additional Resources</span>
    <ul class="mylist">
        <li><a class="doctitle" href="https://www.ashrae.org/File%20Library/docLib/Public/20070801_Babcock.pdf" target="_blank">Because Temperature Matters, Maintaining Cooling Towers</a> ASHRAE Journal 2005 article by Glenn Babcock</li>
        <li><a class="doctitle" href="http://savewaternc.org/Documents/water-efficiency-business.pdf#page=40" target="_blank">Water Efficiency Manual for Commercial, Industrial and Institutional Facilities, Page 39, Cooling towers</li>
        <li><a class="doctitle" href="https://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/198/" target="_blank">US Environmental Protection Agency (EPA) WaterSense at Work. Chapter 6.3 Cooling Towers</a></li>
        <li><a class="doctitle" href="http://www.allianceforwaterefficiency.org/default.aspx" target="_blank">Alliance for Water Efficiency</li>
    </ul>
