<style>
#rtcases{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
      #t-outline {
 fill: #71C5E8 !important;
  stroke: #444444 !important;
  }

/*  #svg {
    transform: scale(1.8, 1.8);
    transform-origin: 100% -10%;
    transition: all 1s ease-in-out;
  }*/
</style>

<span class="myh2">Cooling Tower: Case Studies</span>

<p><a class="doctitle" href="http://www.energy.gov/sites/prod/files/2013/10/f3/epa-scesd_watercs.pdf" target="_blank">Air Handler Condensate Recovery at the Environmental Protection Agency’s Science and Ecosystem Support Division, </a>Best Management Practice Case Study #14: Alternate Water Sources, Federal Energy Management Program
    <br>An air handler condensate recovery system was installed to capture condensate, which was routed to cooling tower as make-up water. The system saved 540,000 gallons of water in 8 months.</p>

<p><a class="doctitle" href="http://www.energy.gov/sites/prod/files/2013/10/f3/nasa-msfc_watercs2_.pdf" target="_blank">NASA Marshal Space Flight Center Improves Cooling System Performance</a>, Best Management Practice Case Study #10: Cooling Towers, Federal Energy Management Program
    <br>Heat exchangers were cleaned to eliminate scaling and bio-fouling, which allowed for an increase in cycles of concentration from 2.5 to 5.7. This maintenance measure resulted in water savings of 821,300 gallons ($5,650) and electricity savings of 434,900 kWh ($27,399) in 8 months.</p>
