<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #t-outline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<span class="myh2">Cooling Tower: General Description and Uses</span>

<p>Cooling towers are heat rejection devices used to cool and condense the hot refrigerant gas from commercial HVAC chiller compressors. Cooling towers use evaporative
  cooling to provide cooling approaching the ambient wet-bulb temperature instead of the ambient dry-bulb temperature, which improves chiller performance. Cooling tower
   performance is determined by a balance of energy and water consumption of the cooling tower and the chilled water plant. Proper water maintenance is important for
   optimal performance.</p>

<img class="transimg" src="img/NREL_CT.jpg" alt="Photograph of a cooling tower for a central plant">
<p class="imgtitle">Central plant cooling tower,<span class="source"> Photo by Dennis Schroeder, NREL 38443</span></p>
 
<p>Some terms commonly used in the industry when dealing with cooling towers are provided in the list below. For a more comprehensive list, refer to
  <a class="doctitle" href="http://kolmetz.com/pdf/EDG/ENGINEERING%20DESIGN%20GUIDELINES%20-%20Cooling%20Towers%20-%20Rev01.pdf" target="_blank">Cooling Tower Selection and Sizing (Engineering Design Guideline)</a> and
  <a class="doctitle" href="http://www.ec.gc.ca/inrp-npri/default.asp?lang=En&n=2ED8CFA7-1" target="_blank">Wet Cooling Tower Guidance for Particulate Matter.</a></p>

<p><span class="myh3">Commonly Used Terms</span></p>

<p><span class="myh4">Drift:</span>
  <br>
Water lost to the atmosphere due to misting.</p>

<p><span class="myh4">Make-up water:</span>
  <br>
  Supplementary water added into the system to account for losses due to drift, evaporation, blowdown, and leakage.</span></p>

<p><span class="myh4">Total dissolved solids (TDS):</span>
  <br>
  Sum total of organic and inorganic material dissolved in the cooling water. Generally measured in ppmw or mg/L.</p>

<p><span class="myh4">Blowdown/bleed:</span>
  <br>
  Water released from the recirculating water system in order to reduce the concentration of dissolved solids.</p>

<p><span class="myh4">Drift Eliminators:</span>
  <br>
  Baffled device through which the air has to pass before leaving the cooling tower so that the water entrained in the air is collected.</p>

<p><span class="myh4">Approach:</span>
  <br>
  Difference between leaving cold water temperature and the ambient air wet-bulb temperature or entering water wet-bulb temperature.</p>

<p><span class="myh4">Cells cycle of concentration (C.O.C)</span>
  <br>
  Ratio of the concentration of total dissolved solids (TDS) in the blowdown water to the make-up water.
  <br>
  <img class="myimagesm" src="img/towercec-formula.png" alt="C.O.C=(TDS of blowdown)/(TDS of makeup water)"></p>

<span class="myh3">Other Resources</span>

<ul class="mylist">
    <li><a class="doctitle" href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf" target="_blank">Cooling Towers: Understanding Key Components of Cooling Towers and How to Improve Water Efficiency </a></li>
  <li><a class="doctitle" href="http://spxcooling.com/library/detail/cooling-tower-fundamentals" target="_blank">Cooling Tower Fundamentals,</a> SPX Cooling Technologies, Inc.</li>
  <li><a class="doctitle" href="https://www.ec.gc.ca/inrp-npri/default.asp?lang=En&n=2ED8CFA7-1" target="_blank">Wet Cooling Tower Guidance For Particulate Matter,</a> Environment and Climate Change Canada</li>
  <li><a class="doctitle" href="https://www3.epa.gov/ttnchie1/ap42/ch13/final/c13s04.pdf" target="_blank">Wet Cooling Towers,</a>U.S. Environmental Protection Agency, AP 42, Chapter 13: Miscellaneous Sources, section 13.4 </li>
  <li><a class="doctitle" href="http://kolmetz.com/pdf/EDG/ENGINEERING%20DESIGN%20GUIDELINES%20-%20Cooling%20Towers%20-%20Rev01.pdf" target="_blank">Cooling Tower Selection and Sizing (Engineering Design Guidelines),</a> KLM Technology Group</li>
  <li><a class="doctitle" href="http://www.brentwoodindustries.com/resources/learning-center-category/cooling-tower" target="_blank">Brentwood Learning Center: Cooling Towers,</a> Brentwood Industries, Inc., multiple cooling tower articles</li>
  <li><a class="doctitle" href="http://www.conservationmechsys.com/wp-content/uploads/2016/10/Open-Cooling-Tower-Design-Considerations.pdf" target="_blank">Open Cooling Tower Design Considerations,</a> Kent Peterson, ASHRAE Journal, February 2016</li>
  <li><a class="doctitle" href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf" target="_blank">Understanding Key Components of Cooling Towers and How to Improve Water Efficiency,</a> Federal Energy Management Program fact sheet with additional information sources on cooling tower systems, operations, and maintenance</li>

</ul>
