<style>
    #rtprocure {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #t-outline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Cooling Tower: Procurement and Performance Specifications</div>

<p><a class="doctitle" href="https://www.emsd.gov.hk/filemanager/sc/content_296/Prfrm_spcfctn-OnM_Clg_Twrs.pdf " target="_blank">Sample Specification for Procurement of Operation and Maintenance Services for Fresh Water Cooling Towers</a> by the Government of Hong Kong Electrical and Mechanical Services Department. </p> 



