<style>
  #rtbasics {
    text-decoration: none;
    background-color: #00a3e0;
    color: white !important;
    font-weight: 100;
  }

  #rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes {
    color: #0062A0;
    background-color: #ffffff;
  }
</style>

<div class="myh2">General Description and Uses</div>

<p>Cooling towers are heat rejection devices used to cool and condense the hot refrigerant gas from commercial HVAC chiller compressors. Cooling towers use evaporative
  cooling to provide cooling approaching the ambient wet bulb temperature instead of the ambient dry bulb temperature, which provides improved chiller performance. Cooling
  tower performance is determined by a balance of energy and water consumption of the cooling tower and the chilled water plant. Proper water maintenance is important for optimal
  performance. </p>

<img class="transimg" src="img/NREL_CT.jpg" alt="Photograph of a cooling tower for a central plant">
<p><span class="imgtitle">Central plant cooling tower.</span> <span class="source"> Photo by Dennis Schroeder, NREL 38443</span></p>

<hr>

<p>A few terms are commonly used in the industry while dealing with cooling towers. A list of such commonly used terms is given below. For a more comprehensive list refer to
  <a class="doctitle" href="http://kolmetz.com/pdf/EDG/ENGINEERING%20DESIGN%20GUIDELINES%20-%20Cooling%20Towers%20-%20Rev01.pdf" target="_blank">Cooling Tower Selection and Sizing- Engineering Design Guidelines</a> and
  <a class="doctitle" href="http://www.ec.gc.ca/inrp-npri/default.asp?lang=En&n=2ED8CFA7-1" target="_blank">Wet Cooling Tower Guidance For Particulate Matter.</a></p>
<br>

<p><span class="myh3">Commonly Used Terms</span></p>

<p><span class="myh4">Drift:</span>
  <br>
  Water lost to the atmosphere due to misting.</p>

<p><span class="myh4">Make-up water:</span>
  <br>
  Supplementary water added into the system to account for losses due to drift, evaporation, blow down and leakage.</span></p>

<p><span class="myh4">Total Dissolved Solids (TDS):</span>
  <br>
  Sum total of organic inorganic material dissolved in the cooling water. Generally measured in ppmw or mg/L.</p>

<p><span class="myh4">Blow down/bleed:</span>
  <br>
  Water released from the recirculating water system in order to reduce the concentration of dissolved solids.</p>

<p><span class="myh4">Drift Eliminators:</span>
  <br>
  Baffled device through which the air has to pass before leaving the cooling tower so that the water entrained in the air is collected.</p>

<p><span class="myh4">Approach:</span>
  <br>
  Difference between leaving cold water temperature and the ambient air wet-bulb temperature (WBT) or entering water WBT.</p>

<p><span class="myh4">Cells Cycle of concentration (C.O.C)</span>
  <br>
  Concentration of total dissolved solids (TDS) in the blow down water to the make-up water.
  <br>
  <img class="myimagesm" src="img/towercec-formula.png" alt="C.O.C=(TDS of blowdown)/(TDS of makeup water)"></p>
<br>
<hr>
<br>
<span class="myh3">Other Resources</span>

<ul class="mylist">
  <li><a class="doctitle" href="http://spxcooling.com/library/detail/cooling-tower-fundamentals" target="_blank">Cooling Tower Fundamentals</a> by Marley</li>
  <li>
    <a class="doctitle" href="https://www.ec.gc.ca/inrp-npri/default.asp?lang=En&n=2ED8CFA7-1" target="_blank">Wet Cooling Tower Guidance For Particulate Matter.</a> Environment and Climate Change Canada.
  </li>
  <li><a class="doctitle" href="https://www3.epa.gov/ttnchie1/ap42/ch13/final/c13s04.pdf" target="_blank">US EPA Wet Cooling Towers</a></li>
  <li>
    <a class="doctitle" href="http://kolmetz.com/pdf/EDG/ENGINEERING%20DESIGN%20GUIDELINES%20-%20Cooling%20Towers%20-%20Rev01.pdf" target="_blank">Cooling Tower Selection and Sizing (Engineering Design Guidelines).</a>
  </li>
  <li>For a description about various types of cooling towers:
    <a class="doctitle" href="http://www.brentwoodindustries.com/resources/learning-center-category/cooling-tower" target="_blank">Brentwood Learning Center</a></li>
  <li>For articles related to cooling tower systems, operation and maintenance refer to the FEMP factsheet
    <a class="doctitle" href="https://www1.eere.energy.gov/femp/pdfs/waterfs_coolingtowers.pdf" target="_blank">Understanding Key Components of Cooling Towers and How to Improve Water Efficiency</a>
  </li>
</ul>