<style>
    #rtoperation {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcases, #rtdesign, #rtcodes, #procure, #rttools, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #t-outline {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Cooling Tower: Operation and Training Resources</div>
<p>Effective cooling tower operation is achieved by paying close attention to the manufacturer’s safety and operational guidelines. Safety considerations include
  providing safe access and fall protection during inspection and maintenance, locking out fan motor and condenser pumps during inspection, protecting workers from
  biological growth, and avoiding re-entry of discharge air.</p>

<p>Cooling tower operational considerations include:</p>
<ul class="mylist">
<li>Clearing debris from basin</li>
<li>Filling basin to required water level with make-up water valve</li>
<li>Balancing water flow to ensure maximum wetness of fill surface area</li>
<li>Chemical treatment during startup and operation</li>
<li>Checking fan to ensure it is rotating in the proper direction</li>
<li>Setting appropriate blowdown rate</li>
<li>Installing and monitoring conductivity controllers to ensure correct blowdown rate</li>
<li>Keeping log of quantities of make-up and blowdown water to help identify leaks and unaccounted draw-offs.</li>
</ul>

<p>For additional information about each of the above-mentioned safety and operational considerations, refer to <a class="doctitle" href="https://spxcooling.com/library/trouble-free-hvac-cooling-towers-a-maintenance-guide/" target="_blank">Trouble-Free HVAC Cooling Towers—A Maintenance Guide</a> by SPX Cooling Technologies, Inc. and <a class="doctitle" href="https://www.energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">Best Management Practice #10: Cooling Tower Management</a> from the Federal Energy Management Program.</p>

<p>A periodic energy audit is a helpful tool to assess cooling tower performance. For detailed steps such as identifying the boundary for evaluation, site inspection,
  equipment energy measurement, calculation, and analysis, refer to  <a class="doctitle"
href="http://www.wiley.com/legacy/wileychi/morvayindustrial/supp/toolbox12.pdf" target="_blank">Toolbox 12: Cooling Towers</a>, from John Wiley &amp; Sons. </p>
 
<span class="myh3">Resources</span>
    <ul class="mylist">
        <li><a class="doctitle" href="https://www.techstreet.com/standards/because-temperature-matters-maintaining-cooling-towers?product_id=1712650" target="_blank">Because Temperature Matters: Maintaining Cooling Towers</a>, by Glenn Babcock, ASHRAE Journal, March 2005.</li>
        <li><a class="doctitle" href="http://savewaternc.org/Documents/water-efficiency-business.pdf#page=40" target="_blank">Water Efficiency Manual for Commercial, Industrial, and Institutional Facilities</a>, North Carolina Department of Environment and Natural Resources, page 39, Cooling Towers</li>
        <li><a class="doctitle" href="https://www.epa.gov/sites/production/files/2017-02/documents/watersense-at-work_final_508c3.pdf#/198/" target="_blank">WaterSense at Work</a>, U.S. Environmental Protection Agency, page 6.8, Cooling Towers</li>
        <li><a class="doctitle" href="https://www.allianceforwaterefficiency.org/" target="_blank">Alliance for Water Efficiency</li>
    </ul>
