<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Performance Ratings</div>

<p>Cooling tower commissioning is done according to the standard published by ASME (PTC-23) or Cooling Technology Institute (CTI-ATC 105). The test parameters
  include allowable range for flow rate, heat load, fan power, wet bulb temperature, dry bulb temperature, wind velocity, barometric pressure, oil substances,
  total dissolved solids, etc. For additional information about thermal performance testing, refer to the <a class="doctitle" href="http://spxcooling.com/services/detail/thermal-performance-test"
   target="_blank">Thermal Performance Testing</a> article on the SPX Cooling Technologies, Inc. website.</p>

<p>In critical projects, on-site commissioning of open and closed circuit cooling towers is done to ensure integration of individual components into the system level sequence of operation. Another important reason to do field commissioning is to ensure the unit meets the required capacity. For detailed information on testing sensors, actuation, and sequencing, refer to <a class="doctitle" href="http://www.ftguide.org/ftg/SystemModules/Condensers/Functional_Testing_for_Condensers.htm" target="_blank">Functional Testing for Condensers and Cooling Towers</a>.</p>
