<p class="myh2">Types</p>
<br>

<hr>
<p class="myh3">Induced draft cooling towers (Cross flow/counter flow)</p>
<p>Induced draft cooling towers pull air through the fill media with a fan mounted on top of the tower. Cross flow and counter flow are two main sub-categories of induced draft cooling towers. In cross flow, air enters in the horizontal direction while the water falls vertically through the fill media. Because of this configuration, the how water distribution basin can be gravity flow. In a counter flow cooling tower, air flow vertically upwards, opposite to the direction of the water which falls downwards. This configuration limits the use of gravity flow hot water distribution basin. Thus hot water line is pressurized and water is sprayed on the top of the fill. 
</p>
<p class="source">Source: <a href="http://marleyct.com/cooling-tower-knowledge/" target="_blank">Cooling Tower Knowledge</a></p>
<div class="transimg">
<img class="myimage" ng-src="img/tower_induced.png" alt="Image of induced draft counterflow tower with fill"></img> 
</div>
<p class="imgtitle">Above Left: Induced Draft Counterflow Tower; Above Right: Induced Draft, Double-Flow Crossflow Tower </p>
<br>
<hr>
<p class="myh3">Forced Draft Cooling Towers</p>
<p>In a forced draft cooling tower, air is pushed into the cooling tower by a fan which is located at the base. Water distribution and recirculation challenges limit the use of forced draft cooling towers.</p>
<div class="transimg">
<img class="myimagesm" ng-src="img/tower_forced.png" alt="Image of induced draft counterflow tower with fill"></img> 
</div>
<p class="imgtitle">Above: Forced Draft Cooling Tower</p>
<br>
<hr>
<p class="myh3">Natural Convection Cooling Towers</p>
<p>In a natural convection cooling tower, air is heated by the warm water flowing over the fill. The warm air rises up through convection pulling in colder air from outside. Natural convection cooling towers are significantly larger in size compared to induced or forced draft cooling towers. </p>
<div class="transimg">
<img  ng-src="img/towers_industrial.png" alt=""></img> 
</div>
<p class="imgtitle">Above left: Crossflow Cooling Tower, Above Right: Counterflow Cooling Tower</p>