<div class="myh2">Operation and Training Resources</div>

<p>
<p>	&middot;  <a class="doctitle" href="http://spxcooling.com/library/detail/trouble-free-hvac-cooling-towers-a-maintenance-guide" target="_blank">Trouble-free HVAC cooling towers, A maintenance Guide</a> by Marley, SPX Cooling Technologies, Inc.</p>

<p>	&middot;  <a class="doctitle" href="http://energy.gov/eere/femp/best-management-practice-10-cooling-tower-management" target="_blank">FEMP's Best Management Practices # 10 : Cooling Tower Management</a></p>


<p>	&middot;   <a class="doctitle" href="https://www.ashrae.org/File%20Library/docLib/Public/20070801_Babcock.pdf" target="_blank">Because Temperature Matters, Maintaining Cooling Towers</a> ASHRAE Journal 2005 article by Glenn Babcock</p>


<p>	&middot;  <a class="doctitle" href="http://savewaternc.org/Documents/water-efficiency-business.pdf#page=40" target="_blank">Water Efficiency Manual for Commercial, Industrial and Institutional Facilities, Page 39, Cooling towers</p>

 
<p>	&middot;  <a class="doctitle" href="https://www3.epa.gov/watersense/commercial/docs/watersense_at_work/#/198/" target="_blank">US Environmental Protection Agency (EPA) WaterSense at Work. Chapter 6.3 Cooling Towers</a></p>

 
<p>	&middot;  <a class="doctitle" href="http://www.allianceforwaterefficiency.org/default.aspx" target="_blank">Alliance for Water Efficiency</p>




