<div class="myh2">Design Calculators and Tools</div>

<ul class="mylist">
<li>Cooling Tower Calculator by TRS Incorporated. Estimates make-up/bleed pipe sizing, peak evaporation, bleed, peak water flow rate, range; approach and drift rate <a class="doctitle" href="http://www.trsinc.us/resources/cooling-tower-calculator" target="_blank">Cooling Tower Calculator</a></li>
<li><a class="doctitle" href="http://deltacooling.com/resources/selecting-sizing/" target="_blank">Tower Sizing Program</li>
<li><a class="doctitle" href="http://qtcapps.ct.spx.com/update/Login.aspx" target="_blank">Update Selection Software</li>
</ul>
