<div class="myh2">General Description and Uses</div>

<p>Cooling tower is a heat rejection device and is used in HVAC and industrial applications. The hot water (generally at 95 °F) is made to flow through a fill media with air blowing over it. The heat from the condenser water is absorbed by the water and is released into the atmosphere. Cooling towers are used for HVAC applications where the cooled water (generally at 85 °F) is used to cool the hot refrigerant from the chiller. A supplementary water source known as ‘make up water’ is piped into the system to account for the evaporation and drift losses.</p>

<p>A few terms are commonly used in the industry while dealing with cooling towers. A list of such commonly used terms is given below. For a more comprehensive list refer to Cooling tower selection and sizing- Engineering Design guidelines and Wet cooling tower guidance for particulate matter.</p>

