<div class="myh2">Design Calculators and Tools</div>

<div class="myh3">Subheader</div>
Cooling tower calculator by TRS incorporated. 
Estimates make-up/bleed pipe sizing; peak evaporation, bleed, peak water flow rate; range; approach and drift rate.
http://www.trsinc.us/resources/cooling-tower-calculator 
-	http://deltacooling.com/resources/selecting-sizing/ 
-	http://qtcapps.ct.spx.com/update/Login.aspx 


<p>Cooling Tower Calculator by TRS Incorporated. Estimates make-up/bleed pipe sizing; peak evaporation, bleed, peak water flow rate; range; approach and drift rate.</p> 
<div class="mylist">
<p>	&middot; <a class="doctitle" href="http://www.trsinc.us/resources/cooling-tower-calculator" target="_blank">Cooling Tower Calculator</a>  
<p>	&middot; <a class="doctitle" href="http://deltacooling.com/resources/selecting-sizing/" target="_blank">Tower Sizing Program
<p>	&middot; <a class="doctitle" href="http://qtcapps.ct.spx.com/update/Login.aspx" target="_blank">Update Selection Software
</div>

