<div class="myh2">Types</div>
<p>The <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">
DOE fundamentals handbook, Mechanical Science, Vol 2.</a>, has an elaborate module on Valves.
The valve types listed below is a summary of each section in the module. Refer the handbook for
detailed information.  </p>

<table class="mytable" style="width:100%">

  <tr>
    <th>Valve type</th>
    <th>Application</th>
      <th>Advantage</th>
      <th>Disadvantage</th>
      <th>Click on image to enlarge</th>
  </tr>
    <tr>
    <th>Gate</th>
    <td>&middot; Fully open or closed valve position</td>
    <td>&middot; Low pressure drop compared to globe</td>
    <td>&middot; Limited ability to throttle
           <br>&middot; Long stem length takes up lot of space</td>
    <td>  <a href="javascript:window.open('img/gate_valve1.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')">
        <img class="transimage" ng-src="img/gate_valve1.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>

  </tr>

  <tr>
    <th>Globe </th>
    <td>&middot; Throttling
        <br>&middot; Fully open or closed valve position</td>
    <td>&middot; Better sealing compared to gate valve</td>
      <td>&middot; Long stem length takes up lot of space</td>
      <td>  <a href="javascript:window.open('img/globe_valve.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')">
          <img class="transimage" ng-src="img/globe_valve.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>

  </tr>

  <tr>
    <th>Ball</th>
    <td>&middot;Fully open or closed valve position</td>
    <td>&middot;Inexpensive
        <br>&middot;Easy to maintain </td>
      <td>&middot;Poor throttling</td>
      <td> <a href="javascript:window.open('img/ball_valve.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')"> 
          <img class="transimage" ng-src="img/ball_valve.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Butterfly</th>
    <td> &middot;On larger pipes
      <br>&middot;Fluids/gases having low pressure and suspended solids </td>
    <td>&middot;Low weight/size
        <br>&middot;Low initial and maintenance cost </td>
      <td>&middot;Pressure difference across valve as some portion of the disk is always exposed to flow</td>
      <td> <a href="javascript:window.open('img/butterfly_valve.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')"> <img class="transimage" ng-src="img/butterfly_valve.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Plug</th>
    <td> &middot;Gas lines
      <br>&middot;Direct flow between different ports</td>
    <td>&middot;Compactness in multiport valve </td>
    <td>&middot;Poor throttling</td>
    <td> <a href="javascript:window.open('img/plug_valve.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')"> 
        <img class="transimage" ng-src="img/plug_valve.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Diaphragm</th>
    <td> &middot;Start, regulate, stop fluids that should remain contaminant free </td>
    <td>&middot;Valve not exposed to media in the pipeline </td>
    <td>&middot;Expensive</td>
      <td>  
          <a href="javascript:window.open('img/diaphragm_valve.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')"> 
          <img class="transimage" ng-src="img/diaphragm_valve.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Check</th>
    <td> &middot; Prevent reverse flow </td>
    <td>&middot;Prevents backflow <br>
      	&middot; Maintains pressure </td>
    <td>&middot;Can’t be used on pulsating flows</td>
    <td>  
        <a href="javascript:window.open('img/check_valve1.png','_blank','toolbar=no,menubar=no,resizable=yes,scrollbars=yes')"> 
        <img class="transimage" ng-src="img/check_valve1.png" alt="diagram of a gate valve" width="150px" height="100px"></img></a> </td>
  </tr>

  <tr>
    <th>Solenoid</th>
    <td> &middot;Air systems used to supply air to pneumatic valve actuators </td>
    <td>&middot;Quick action <br>
      	&middot;Compact design </td>
    <td>&middot;Signal needs to be continuously on during operation</td>
  </tr>

</table>

<p>Source for all valve images above: <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">
DOE fundamentals handbook, Mechanical Science, Vol 2.</a></p>
