<div class="myh2">Basics</div>


<p>Valves are throttling devices used to regulate the flow of liquid/gas. They are widely used in central plants to regulate the flow of
 hot/cold water. Valve types are spread over a wide range and each one has a particular functional advantage. Valves play a key role in the overall 
plant energy consumption because of the pressure drop they introduce in the flow. If valves are selected, installed and operated incorrectly, 
then they can lead to an oversized pump design with a heavy energy penalty. It is thus important for engineers and facility managers to be 
familiar with different valve types, their applications and performance parameters in order to design and operate them for optimal energy 
performance. </p>


<br>
<hr>

