<style>
#valvebasic{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
</style>

<div class="myh2">Basics</div>


<p>Valves are throttling devices used to regulate the flow of liquid/gas. They are widely used in central plants to regulate the flow of hot/cold water. </p>
<p>Valves play a key role in the overall plant energy consumption because of the pressure drop they introduce in the flow. If valves are selected, installed and operated
  incorrectly, then they can lead to an oversized pump design with a heavy energy penalty. It is thus important for engineers and facility managers to be familiar with different
  valve types, their applications and performance parameters in order to design and operate them for optimal energy performance. </p>

  <img class="transimg" src="img/NREL_valves.jpg" alt="C.O.C=(TDS of blowdown)/(TDS of makeup water)" >
  <p> Source: NREL images </p>

<br>
<hr>
<br>

<p class="myh3">Other Resources</p>
<p>  &middot; <a class="doctitle" href="https://www.dep.state.pa.us/dep/deputate/waterops/redesign/TablesNFormulas/Pages/valvebasicsandselectiontips.htm" target="_blank">Valve basics and selection tips</a></p>
<p>  &middot; <a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam17_valves_fittings.pdf " target="_blank">Install removable insulation on valves and fittings</a></p>
<p>  &middot; <span> <a class="doctitle" href="http://valveproducts.net/ " target="_blank">Valve products:</a> </span>  This website comprises of selection and maintenance guide for a wide range of valve types </p>
<p>  &middot; <a class="doctitle" href="http://www.valin.com/resources/articles/size-matters-control-valve-sizing-101  " target="_blank">Size matters: Valve sizing 101</a></p>

<br>
<hr>
<br>
