<style>
#rtoperation{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtdesign, #rtcodes, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<span class="myh2">Operation and Training Resources</span>
<p>Fault identification in control valves is difficult, because they are not always in locations that can be easily seen. It is not uncommon for someone to manually override a valve and keep it in that position indefinitely. Such incidents are diagnosed only when there is a related heating/cooling complaint.</p>

<p class="myh3">Methods to Ensure Valves are Functioning Properly <span class="source">(Source:<a href="http://www1.eere.energy.gov/femp/pdfs/OM_9.pdf " target="_blank">FEMP Operation and Maintenance Best practices </a>, Chapter 9)</span>
<ul class="mylist">
<li>Check the temperature of the heating coil on the direct digital control system. If it is receiving hot water, the value displayed will be in the expected range. Now check if the zone it is serving is calling for heating. If the zone is not calling for heating, then the valve is malfunctioning because of leakage or a manual override. The same procedure can be applied for cooling coils and for bigger systems such as hot/cold water lines from the central plant.</li>
<li>Fully open a heating/cooling valve and review the temperature reading on both sides of the coil. If the difference is more than 2&deg;– 4&deg;F, the valve or the sensor is malfunctioning.</li>
</ul>
</p>
