<style>
    #rtcodes {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics,
    #rtcases,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-valve, #cp-valve1, #cp-valve2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<div class="myh2">Valve: Performance Ratings</div>

<p>Testing standards are important for valves, mainly to understand leakage for a given valve type. Leakage allowances are more critical in the petroleum industry but are
    also important for central plants. A few standards for valve leakage testing are given below. </p>

<p> <span class="myh3">American National Standards Institute (ANSI) Fluid Controls Institute (FCI) Standard 70-2: Control Valve Seat Leakage </span></p>
    <ul class="mylist">
        <li>Defines a range of six leakage classes for control valves and their testing procedures</li>
        <li>Outlines leakage rate in ml/min and bubbles/min for a range of nominal port diameters</li>
        <li>Most commonly used standard for hot/cold valve applications.</li>
    </ul>
    <span class="source">Source: <a href="https://www.techstreet.com/standards/fci-70-2-2013?product_id=1851249" target="_blank">ANSI/FCI 70-2-2013 standard</a></span>


<p> <span class="myh3">International Organization for Standardization (ISO) Standard 5208: Industrial Valves—Pressure testing of metallic valves</span>
    <ul class="mylist">
        <li>Outlines different pressure tests and class types for valve types such as globe, plug, check, diaphragm, and butterfly.</li>
        <li>Leakage rate specified in mm3/sec and drops/sec for different rate types.</li>
    </ul>
    <span class="source">Source: <a href="https://webstore.ansi.org/Standards/ISO/ISO52082015?gclid=EAIaIQobChMIsuSc7umm8AIVSgaICR14ugGxEAAYASAAEgKcUvD_BwE" target="_blank">ISO 5208: 2008/2015 Standard</a></span>
</p>

<p><span class="myh3">American Petroleum Institute (API) Standard 598: Valve inspection and testing </span>
    <ul class="mylist">
        <li>No visible leakage permitted</li>
        <li>Allowable leakage table for liquids and gases depending on valve size</li>
    </ul>

    <span class="source">Source: <a href="https://www.api.org/products-and-services/standards" target="_blank">API Standard 598 </a></span>
</p>

<p><span class="myh3">Manufacturers Standardization Society (MSS) Standard MSS-SP-61: Pressure Testing of Valves </span>
    <ul class="mylist">
        <li>Designed mainly for fully open/closed valves, not control valves</li>
        <li>Leakage rate specified in cc/hr for different nominal pipe diameters.</li>
    </ul>
    <span class="source">Source: <a href="http://msshq.org/Store/Details.cfm?ProdID=170&category=6 " target="_blank">MSS SP-61-2013 </a></span>
</p>
