<style>
    #rtbasics {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtcases,
    #rtcodes,
    #rtdesign,
    #rtoperation,
    #procure,
    #rttools,
    #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-valve,
    #cp-valve1,
    #cp-valve2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }

</style>


<div class="myh2">Valve: General Information</div>


<p>Valves are throttling devices used to regulate the flow of liquids and gases. They are widely used in central plants to regulate the flow of hot and cold water. </p>
<p>Valves play a key role in overall plant energy consumption because of the pressure drop they introduce in the flow. If valves are selected, installed, and operated
    incorrectly, they can lead to an oversized pump design with a heavy energy penalty. It is thus important for engineers and facility managers to be familiar with different
    valve types and their applications and performance parameters in order to design and operate them for optimal energy performance.</p>

<img class="transimg" src="img/NREL_valves.jpg" alt="Gate and ball isolation valves. Vacuum (light pink), compressed air 90 psi (dark blue), lab air 45 psi (light blue), Domestic Cold Water (teal green), domestic hot water (yellow), domestic hot water return (yellow), nitrogen (pink), oxygen (dark green), natural gas(orange), deionized water supply and deionized water return (light green). Round handles-gate. Lever handles-ball.">
<p class="imgtitle">Gate and ball isolation valves.<span class="source"> Photo by Dennis Schroeder/NREL 38454</span></p>


<p class="myh3">Resources</p>
<ul class="mylist">
    <li><a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam17_valves_fittings.pdf " target="_blank">Steam Tip Sheet #17: Install Removable Insulation on Valves and Fittings.</a> January 2012. U.S. Department of Energy Office of Energy Efficiency and Renewable Energy.</li>
    <li>The <a class="doctitle" href="http://valveproducts.net/ " target="_blank">Valve Products</a> website provides a broad selection of valve information and maintenance guides for a wide range of valve types.</li>
    <li><a class="doctitle" href="https://www.valin.com/resources/articles/size-matters-control-valve-sizing-101" target="_blank">Size Matters: Valve Sizing 101</a>, Jon Monsen. August16, 2012. Valin.</li>
</ul>
