<style>
#rtcases{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
    #rtbasics, #rtcodes, #rtdesign, #rtoperation, #rtprocure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
     #cp-valve, #cp-valve1, #cp-valve2 {
    fill: #71C5E8 !important;
  stroke: #444444 !important;
  }


  #svg {
    transform: scale(1.2, 1.2);
    transform-origin: 20% 0%;
      transition: all 1.7s ease-in-out;
  }
</style>

<span class="myh2">Valve: Case Study</span>
<p>
<a class="doctitle" href="http://oaktrust.library.tamu.edu/bitstream/handle/1969.1/6753/ESL-HH-98-06-40.pdf?sequence=4&isAllowed=y " target="_blank">Central Utility Plant at Texas A&amp;M University </a>
<br>Pressure drop through valves have a significant impact on pump energy consumption. A study by Texas A&amp;M University at their central plant revealed that 30%–50% of
 primary pump head is consumed by manual and automatic valves operated in partially-opened condition. Researchers estimated that developing a pump management schedule could
 result in a 40% savings in pump energy.</p>
