<div class="myh2">Operation and Training Resources</div>


<p>Fault identification in control valves is difficult since they are not always in locations that can be easily seen. It is not uncommon for someone to
  manually override a valve and keep it in that position for time indefinite. Such incidents get diagnosed only when there is a related heating/cooling complaint.
</p>
<p>The <a class="doctitle" href="http://www1.eere.energy.gov/femp/pdfs/OM_9.pdf " target="_blank">FEMP Operation and Maintenance Best practices </a> guide
  suggests two methods using the DDC system to ensure valves are functioning as needed

<p>	&middot; Check the coil temperature of the heating coil on the DDC system. If it is receiving hot water,
  then the value displayed will be in the expected range. Now check if the zone it is serving is calling for heating.
  If the zone is not calling for heating, then the valve is malfunctioning because of leakage or a manual override.
  Same procedure can be applied for cooling coils and also for bigger systems such as the hot/cold water lines from the central plant. </p>

  <p>	&middot; Fully open a heating/cooling valve and review the temperature reading on both sides of the coil. If the difference is
    more than 2°F - 4°F, the valve or the sensor is malfunctioning. </p>

<br>
<hr>
