<div class="myh2">Types</div>
<p>The <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">
DOE fundamentals handbook, Mechanical Science, Vol 2.</a>, has an elaborate module on Valves. 
The valve types listed below is a summary of each section in the module. Refer the handbook for
detailed information.  </p>


<p class="myh3">Gate valve</p>
<p>Gate valves are used in applications where the valve needs to be fully opened or closed. 
They have a lower pressure drop compared to globe valves as the flow is linear. However, gate 
valves are limited in their ability to throttle flows. This is because as the valve opens/closes 
the flow is undergoes a highly non-linear change with the flow rate and percentage of opening. This 
causes vibration in partially open position and can also lead to disk and seat wear in low flow conditions. 
One of the main drawback of a gate valve is the stem length. The stem length is proportional to the pipe size and 
takes up a lot of space. It is difficult to install gate valves in areas where there are multiple pipes running in parallel and close to each other. </p>
<div class="whiteimg">
<img class="myimage" ng-src="img/gate_valve1.png" alt="diagram of a gate valve"></img>
</div>
<p class="caption">Gate valve isometic (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/gate_valve2.png" alt=" cross section diagram of a gate valve"></img>
</div>
<p class="caption">Gate valve cross section (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Globe valve</p>
<p>Globe valves are used in throttling applications as well as in cases where the valve needs to be fully open/closed. 
They provide better sealing compared to a gate valve as the disk and the seat meet at a right angle. The disk lowers 
or rises gradually to regulate the flow. The valve can be operated such that the disk closes in the same direction or 
opposite to that of the flow. Globe valves also have a similar drawback as gate valves because of the stem length.</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/globe_valve.png" alt=" cross section diagram of a globe valve"></img>
</div>
<p class="caption">Globe valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Ball valve</p>
<p>Ball valve consists of an actuator connected to a ball shaped disk. The ball has a hole which is used to regulate the flow by orienting at different angles. During full flow requirement, the hole is inline with the flow while at no-flow it is perpendicular. Ball valves are inexpensive compared to other valve types and easy to maintain. 
Although the balls are made of metallic body, the seats are made from elastomeric materials. Care must be taken to ensure that the fluid operating temperature can be handled by the valve.
</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/ball_valve.png" alt=" cross section diagram of a ball valve"></img>
</div>
<p class="caption">Ball valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Butterfly valve</p>
<p>Butterfly valves have a rotary disk to regulate flow. If the normal to the surface of the disk is in the same direction 
as the flow, the flow is shutoff and if it is perpendicular then the flow is fully open. Butterfly valves have several advantages 
such as low weight/ size and low initial/maintenance cost. They can handle large liquid/gas flows and can be used in fluids which 
have large quantities of suspended solids. </p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/butterfly_valve.png" alt=" diagram of a butterfly valve"></img>
</div>
<p class="caption">Butterfly valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Plug valve</p>
<p>A plug valve is similar to the spigot. It throttles the flow with a round/tapered plug port that rotates 90° between open and closed positions. 
Similar to the gate valve, it is used mostly in application where the valve operates either at fully open or fully closed position. One of the main 
advantage of a plug valve is the efficient operation and compactness when installed in a multiport valve, which is used for diverting flow. Plug valves
 are used in applications where a tight seal is needed such as on gas lines. </p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/plug_valve.png" alt=" diagram of a plug valve"></img>
</div>
<p class="caption">Plug valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/multiport_plug_valve.jpg" alt=" image of plug valve with multiple ports"></img>
</div>
<p class="caption">Multiport plug valve (Source: <a href="http://www.vikingjohnson.com/m/507ead3ae0ac0/thumb/spec/300_178_crop/Viking_Johnson_MultiPort_Plug_Valve-.jpg " target="_blank">Viking Johnson</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Diaphragm valve</p>
<p>A diaphragm valve a diaphragm to throttle, shutoff or open linear flow. These valves are used in applications where the working fluid needs to remain 
free from contamination. The working fluid remains isolated from the lubricants used in the valve. Fibrous slurries, radioactive fluids and corrosive fluids
 are some examples where diaphragm valves are best suited. They can handle high pressure and temperatures but the exact selection of diaphragm material needs
 to be evaluated on a case by case basis. For lower flows, a weir type diaphragm valve is used. </p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/diaphragm_valve.png" alt=" diagram of a diaphragm  valve"></img>
</div>
<p class="caption">Diaphragm  valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/diaphragm2_valve.png" alt=" diagram of a diaphragm  valve"></img>
</div>
<p class="caption">Straight through diaphragm valve  (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/diaphragm3_valve.png" alt=" diagram of a diaphragm  valve"></img>
</div>
<p class="caption">Weir type diaphragm valve  (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Check valve</p>
<p>Check valves are used primarily to prevent backflow. They allow uni-directional flow and prevent flow in the reverse direction by obstructing it with a 
disk or a plug. The backflow prevention is done by a combination of gravity and pressure difference or with the help of a spring. Few types of check valves 
are shown below. For detailed operation and application of each type, refer the valves section in the <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">
DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>.</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/check_valve1.png" alt=" diagram of a swing type check valve"></img>
</div>
<p class="caption">Swing type check valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/tilting_disc_check_valve.png" alt=" diagram of a Tilting disk check valve"></img>
</div>
<p class="caption">Tilting disk check valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/lift_check_valve.png" alt=" diagram of a lift check valve"></img>
</div>
<p class="caption">Lift check valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<div class="whiteimg">
<img class="myimage" ng-src="img/piston_check_valve.png" alt=" diagram of a piston check valve"></img>
</div>
<p class="caption">Piston check valve (Source: <a href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">DOE Fundamentals Handbook, Mechanical Science, Vol 2.</a>)</p>
<br>
<hr>
<br>
<p class="myh3">Pressure dependent and pressure independent valves</p>
<p>type text here</p>
<br>
<hr>
<br>