<div class="myh2">Case Studies</div>
<br>
<p>
<a class="myh3" href="http://oaktrust.library.tamu.edu/bitstream/handle/1969.1/6753/ESL-HH-98-06-40.pdf?sequence=4&isAllowed=y " target="_blank">Central utility plant at Texas A&M University</a>
</p>

<p>Pressure drop through valves have a significant impact on pump energy consumption. A study by Texas A&M University
  at their central plant revealed that 30-50% of primary pump head is consumed by manual and automatic valves operated in partially-opened condition.
   Through pump management schedule, savings of 40% pump energy was estimated.</p>

  <br>
  <hr>
