<style>
    #rtprocure {
        text-decoration: none;
        background-color: #00a3e0;
        color: white !important;
        font-weight: 100;
    }

    #rtbasics, #rtcases, #rtdesign, #rtoperation, #rtcodes, #rttools, #rttypes {
        color: #0062A0;
        background-color: #ffffff;
    }

    #cp-valve, #cp-valve1, #cp-valve2 {
        fill: #71C5E8 !important;
        stroke: #444444 !important;
    }
</style>

<span class="myh2">Valve: Procurement and Performance Specifications</span>

<p>Content will be available shortly</p>
