<style>
#rtdesign{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }

#rtbasics, #rtcases, #rtcodes, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
 </style>

<div class="myh2">Energy Efficiency Measures</div>

<span class="myh3">Valve Sizing Considerations</span>
<br>
<p>The <a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/EDR_DesignGuidelines_CoolToolsChilledWater.pdf " target="_blank">Chilled Water Plant Design Guide </a> has a detailed section on valve selection criteria. Rules of thumb play a significant role in valve design. One
  example of a rule of thumb is that if a valve is sized to operate between 60 -80% open at max flow and not less than 20% open at minimum flow, it yields
   the best flow control result
   (Souce: <a class="doctitle" href="http://www.valin.com/resources/blog/rules-thumb-techniques-and-considerations-properly-sizing-control-valves " target="_blank">Valin corporation</a>).</p>

<p> Few important valve sizing considerations from the <a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/images/guides/EDR_DesignGuidelines_CoolToolsChilledWater.pdf#page=128 " target="_blank">Chilled Water Plant Design Guide </a> are listed below. Refer section 5-14 for more details.
<ul class="mylist">
            <li>Determine <b>valve pressure drop</b> such that it is a significant portion of the overall system pressure drop. Oversized valve will cause large flow variations with small change in valve position while an undersized valve will introduce a large pressure drop.</li>
        <li>Select valve based on pressure drop and <b>valve flow coefficient (Cv)</b>.</li>
        <li>Estimate number of <b>actuation cycles</b> each valve is likely to be subjected in a year. </li>
        <li>Clearly specify <b>operational environment</b> and performance requirements of each valve.</li>
        <li>Check for <b>close-off pressure capability</b> especially for gate valves.</li>
        <li>Wherever possible, purchase <b>control valve and actuator as one unit.</b></li>
</ul>
<hr>
<span class="myh3"> Valve insulation </span>
<br>
Prevention of heat loss through valves is important on steam, hot water and cold water lines. Valves are also insulated as a safety measure on steam lines.
  Refer to the DOE tip sheet titled <a class="doctitle" href="https://www1.eere.energy.gov/manufacturing/tech_assistance/pdfs/steam17_valves_fittings.pdf  " target="_blank"></a>Installing Removable Insulation on Valves and Fittings</a>. The document includes a table which gives energy savings in Btu/hr for different
   valve sizes across operating temperature ranging from 200 °F – 600 °F.
<hr>

<span class="myh3">Other Resources</span>
<ul class="mylist">
    <li><a class="doctitle" href="http://www.documentation.emersonprocess.com/groups/public/documents/reference/d351798x012_11.pdf" target="_blank">Valve sizing calculation (traditional method).</a></li>
</ul>
