<style>
#rtcodes{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
</style>

<div class="myh2">Codes and Standards</div>

<p>Testing standards are important for valves, mainly to understand leakage amount
  of a given valve type. Leakage allowances are more critical in the petroleum industry
  but nevertheless equally important for central plants. Few standards for valve leakage
  testing are given below. </p>

 <span class="myh3">ANSI Standard FCI 70-2: Control Valve Seat Leakage by the American National Standards Institute (ANSI)</span>
  <ul class="mylist"> 
      <li>Defines a range of six leakage classes for control valves and their testing procedure.</li>
        <li>Outlines leakage rate in ml/min and bubbles/min for a range of nominal port diameters.</li>
        <li>Most commonly used standard for hot/cold valve applications.</li>
      </ul>
  <span class="source">Source: <a href="http://webstore.ansi.org/ " target="_blank">ANSI/FCI 70-2-2006 standard</a></span>

  <hr>

  <span class="myh3" >ISO standard 5208: Industrial Valves - Pressure testing of metallic valves by the International organization for standardization (ISO)</span>
<ul class="mylist"> 
  <li>Outlines different pressure tests and class types for valve types such as globe, plug, check, diaphragm and butterfly.</li>
  <li>Leakage rate specified in mm3/sec and drops/sec for different rate types.</li>
    </ul>
  <span class="source">Source: <a href="https://www.iso.org/obp/ui/#iso:std:iso:5208:ed-3:v1:en " target="_blank">ISO 5208: 2008/2015 standard</a></span>
  
    <hr>

 <span class="myh3" >API standard 598: Valve inspection and testing by the American Petroleum Institute (API)</span>
  <ul class="mylist"> 
  <li>No visible leakage permitted.</li>
  <li>Allowable leakage table for liquids and gases depending on valve size.</li>
      </ul>
   <span class="source">Source: <a href="http://www.api.org/products-and-services/standards " target="_blank">API Standard 598 </a></span>

  <hr>

  <span class="myh3" >MSS standard MSS-SP-61: Pressure testing of valves by the Manufacturer’s Standardization Society (MSS)</span>
  <ul class="mylist"> 
  <li>Designed mainly for fully open/closed valves. Not control valves.</li>
  <li>Leakage rate specified in cc/hr for difference nominal pipe diameter.</li>
      </ul>
  <span class="source">Source: <a href="http://msshq.org/Store/Details.cfm?ProdID=170&category=6 " target="_blank">MSS SP-61-2013 </a></span>
  
