<div class="myh2">Codes and Standards</div>

<p>Testing standards are important for valves, mainly to understand leakage amount
  of a given valve type. Leakage allowances are more critical in the petroleum industry
  but nevertheless equally important for central plants. Few standards for valve leakage
  testing are given below. </p>

  <br>

  <p> <span class="myh3bold" >ANSI Standard FCI 70-2: </span>  <span class="myh3">Control Valve Seat Leakage by the American National Standards Institute (ANSI)</span></p>
  <p>	&middot; Defines a range of six leakage classes for control valves and their testing procedure.
  <p>	&middot; Outlines leakage rate in ml/min and bubbles/min for a range of nominal port diameters.
  <p>	&middot; Most commonly used standard for hot/cold valve applications.
  <br>
  Source: <a class="doctitle" href="http://webstore.ansi.org/ " target="_blank">ANSI/FCI 70-2-2006 standard </a>
 </p>
  <br>
  <hr>
  <br>

  <p> <span class="myh3bold" >ISO standard 5208: </span>  <span class="myh3">Industrial valves - Pressure testing of metallic valves by the International organization for standardization (ISO)</span></p>
  <p>	&middot; Outlines different pressure tests and class types for valve types such as globe, plug, check, diaphragm and butterfly.
  <p>	&middot; Leakage rate specified in mm3/sec and drops/sec for different rate types.
  <br>
  Source: <a class="doctitle" href="https://www.iso.org/obp/ui/#iso:std:iso:5208:ed-3:v1:en " target="_blank">ISO 5208: 2008/2015 standard</a>
 </p>
  <br>
  <hr>
  <br>

  <p> <span class="myh3bold" >API standard 598: </span>  <span class="myh3">Valve inspection and testing by the American Petroleum Institute (API)</span></p>
  <p>	&middot; No visible leakage permitted.
  <p>	&middot; Allowable leakage table for liquids and gases depending on valve size.
  <br>
  Source: <a class="doctitle" href="http://www.api.org/products-and-services/standards " target="_blank">API Standard 598 </a>
  </p>
  <br>
  <hr>
  <br>

  <p> <span class="myh3bold" >MSS standard MSS-SP-61: </span>  <span class="myh3">Pressure testing of valves by the Manufacturer’s Standardization Society (MSS)</span></p>
  <p>	&middot; Designed mainly for fully open/closed valves. Not control valves.
  <p>	&middot; Leakage rate specified in cc/hr for difference nominal pipe diameter.
  <br>
  Source: <a class="doctitle" href="http://msshq.org/Store/Details.cfm?ProdID=170&category=6 " target="_blank">MSS SP-61-2013 </a>
  </p>
  <br>
  <hr>
  <br>
