<style>
  #rttypes {
    text-decoration: none;
    background-color: #00a3e0;
    color: white !important;
    font-weight: 100;
  }

  #rtbasics, #rtcases, #rtdesign, #rtoperation, #procure, #rttools, #rtcodes {
    color: #0062A0;
    background-color: #ffffff;
  }
</style>

<span class="myh2">Types</span>
<p>The <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf" target="_blank">
  DOE Fundamentals Handbook, Mechanical Science, Volume 2</a> contains an elaborate module on valves. The list below is a summary of each section in the module. Refer to the handbook for detailed information.</p>

<table style="width:100%">

  <tr>
    <th>Valve Type</th>
    <th>Application</th>
    <th>Advantage</th>
    <th>Disadvantage</th>
    <th>Click on image to enlarge</th>
  </tr>
  <tr>
    <th>Gate</th>
    <td>
      <ul>
        <li>Fully open or closed valve position</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Low pressure drop compared to globe</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Limited ability to throttle</li>
        <li>Long stem length takes up lot of space</li>
    </td>
    <td><a href="img/gate_valve1.png" target="_blank">
      <img class="transimage" src="img/gate_valve1.png" alt="diagram of a gate valve showing the handwheel on the top. The stuffing box and packing material are below the valve and attach to the stem which goes into the bonnet. The bonnet is a curved top that bolts to the body. The gasket goes between the bonnet and the body. Two more gaskets go in the areas that attach to the valve on the right and left side of the valve after the flange. A disk is in the center of the valve.  " width="150" height="100"></a></td>

  </tr>

  <tr>
    <th>Globe</th>
    <td>
      <ul>
        <li>Throttling</li>
        <li>Fully open or closed valve position</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Better sealing compared to gate valve</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Long stem length takes up lot of space</li>
      </ul>
    </td>
    <td><a href="img/globe_valve.png" target="_blank">
      <img class="transimage" src="img/globe_valve.png" alt="diagram of a globe valve with a handwheel at the top, a stem coming down from the handwheel, and the bonnet connecting with the stem. At the bas of the stem is the disc and seat" width="150" height="100"></a></td>

  </tr>

  <tr>
    <th>Ball</th>
    <td>
      <ul>
        <li>Fully open or closed valve position</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Inexpensive
        <li>Easy to maintain</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Poor throttling<sup>*</sup></li>
      </ul>
    </td>
    <td><a href="img/ball_valve.png" target="_blank">
      <img class="transimage" src="img/ball_valve.png" alt="diagram of a ball valve showing the actuator handle at the top and the packing below. A cross section from the top shows the as the actuator turns the ball rotates to open, throttled, or closed" width="150" height="100"></a></td>
  </tr>

  <tr>
    <th>Butterfly</th>
    <td>
      <ul>
        <li>On larger pipes</li>
        <li>Fluids/gases having low pressure and suspended solids</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Low weight/size</li>
        <li>Low initial and maintenance cost</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Pressure difference across valve as some portion of the disk is always exposed to flow</li>
      </ul>
    </td>
    <td><a href="img/butterfly_valve.png" target="_blank"> <img class="transimage" src="img/butterfly_valve.png" alt="diagram of a butterfly valve showing the operator handle to turn. The seat shows where internal disc valve  sits when closed. The disc rotateds to fill and close the pipe or rotates sideways to open." width="100" height="120"></a></td>
  </tr>

  <tr>
    <th>Plug</th>
    <td>
      <ul>
        <li>Gas lines</li>
        <li>Direct flow between different ports</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Compactness in multiport valve</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Poor throttling</li>
      </ul>
    </td>
    <td><a href="img/plug_valve.png" target="_blank">
      <img class="transimage" src="img/plug_valve.png" alt="diagram of a plug valve showing the handle at the top, a greased fittling below the handle, then the stem going to the plug. The plug has a port on one side so it can block, slow, or open the flow. Packing glands are on each side as well as packing around the stem. The cross section from above shows that as the handle turns the flow is closed, throttled, or open." width="150" height="100"></a></td>
  </tr>

  <tr>
    <th>Diaphragm</th>
    <td>
      <ul>
        <li>Start, regulate, stop fluids that should remain contaminant-free</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Valve not exposed to media in the pipeline</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Expensive</li>
      </ul>
    </td>
    <td>
      <a href="img/diaphragm_valve.png" target="_blank">
        <img class="transimage" src="img/diaphragm_valve.png" alt="diagram of a diaphragm valve showing the handwheel at the top, the wheel connects to the stem. The stem goes through the sleeve and outer bonnet. A compressor and diaphram are attached with bolts, a stud and sealing bead. This fits on a pipe fiting port with a weir area that raises up in the flow passage of the pipe. The end connections can be fitted onto another pipe." width="150" height="100"></a></td>
  </tr>

  <tr>
    <th>Check</th>
    <td>
      <ul>
        <li>Prevent reverse flow</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Prevents backflow <br>
        <li>Maintains pressure</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Can’t be used on pulsating flows</li>
      </ul>
    </td>
    <td>
      <a href="img/check_valve1.png" target="_blank">
        <img class="transimage" src="img/check_valve1.png" alt="diagram of a check valve showing a bonnet cover on the top, the body below with a flow inlet on the left and a flow outlet on the right. in the center is a hinge at the top of the inside of the valve, the disc is connected to the hingle and rests on the seat. The hinge can flip the disc up." width="150" height="100"></a></td>
  </tr>

  <tr>
    <th>Solenoid</th>
    <td>
      <ul>
        <li>Air systems used to supply air to pneumatic valve actuators</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Quick action <br>
        <li>Compact design</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Signal needs to be continuously on during operation</li>
      </ul>
    </td>
  </tr>

</table>

<sup>*</sup>Characterized ball valves are good equal percentage valves and are good for throttling. They also have high close-off pressure.
<p>Source for all valve images above: <a class="doctitle" href="http://energy.gov/sites/prod/files/2013/06/f2/h1018v2.pdf " target="_blank">
  DOE Fundamentals Handbook, Mechanical Science, Volume 2</a></p>
