<style>
#rtbasics{
text-decoration: none;
  background-color: #00a3e0;
  color: white !important;
  font-weight: 100;
    }
#rtcases, #rtcodes, #rtdesign, #rtoperation, #procure, #rttools, #rttypes{
  color: #0062A0;
  background-color: #ffffff;
}
/*     #svg {
  transform: scale(1.2, 1.2);
  transform-origin: 70% 240%;
  transition: all 1.7s ease-in-out;
  }*/
</style>

<span class="myh2">Basics</span>

<p>A variable air volume (VAV) box is an airflow control device at the zone level. The air coming from the air handler is distributed to the zone based on its heating or cooling load. Single duct and dual duct are the two common VAV types. Single duct VAV is widely used in single/multi-zone cooling applications. If heat is needed in the zones, it is supplied at the VAV box through reheat coils (either electric or hot water). Dual duct VAVs are used in systems that have separate hot and cold streams of air delivered to the unit. </p>

<p>The other VAV types are parallel and series fan powered VAV (with and without heating coil). Parallel fan powered VAVs are used when the space has high heating loads. The parallel fan draws in air from the return air plenum. When the fan is off, back draft dampers prevent the primary cool air from entering the return plenum. Series powered VAVs are appropriate for zones that require high minimum airflow rates such as a conference room.</p>

<p>VAV box selection is important to ensure overall efficiency of the heating/cooling system. In VAV boxes with reheat coils, this becomes even more important because the reheat coil size impacts the hot water return temperature. If the building is using condensing boilers, then the return water temperature must be below 130°F. The key parameters to consider when selecting VAV inlet size are:</p>
<ul class="mylist">
<li>Pressure drop across the box  </li>
<li>Ability to modulate precisely between the minimum and maximum airflows </li>
<li>First cost including installation and control </li>
<li>Noise  </li>
<li>Space constraint </li>
</ul>

<p>Refer to the <a class="doctitle" href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Journal_-_Sizing_VAV_Boxes.pdf" target="_blank"> 'Sizing VAV Boxes'</a> article by Steve Taylor for detailed guidance on calculating life cycle cost and determining minimum airflow set points.</p>

<span class="myh2">Other references</span>
<ul class="mylist">
        <li><a class="doctitle"  href="https://www.trane.com/Commercial/Uploads/Pdf/1096/application%20considerations_1104.pdf" target="_blank">Application Considerations </a>, TRANE</li>
        <li><a class="doctitle"  href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/HPAC_article_on_Specifying_VAV_Boxes.pdf" target="_blank">Specifying VAV Boxes </a>, Jeff Stein, Taylor Engineering</li>
        <li><a class="doctitle"  href="http://www.taylor-engineering.com/Websites/taylorengineering/articles/ASHRAE_Journal_-_VAV_Box_Duct_Design.pdf " target="_blank">VAV box duct design </a>, Steven Taylor, Taylor Engineering</li>
    </ul>
